html {
/*     background: url(launch1-b.png) black no-repeat top center; */
    background: url(launch2-b.png) black no-repeat top center;
/*     background: url(launch3-b.png) black no-repeat top center; */
    color: #aaaaaa;
    max-width: 919px;
    margin: 0 auto 0 auto;
    font: normal 9pt "Bitstream Vera Sans", sans-serif;
    text-align: justify;
    padding: 350px 0 0 0;
}

body { margin: 0; padding: 0; }

#menu { width: 0; height: 0; overflow: visible; padding: 0; }
#menu ul { list-style: none; padding: 0 20px 0 0; width: 150px; }
#menu li { margin: 0 0 5px 0; color: #aaaaaa; }
#menu li:before { content: "» "; }
#menu a { color: inherit; text-decoration: none; }
#menu a:hover { color: #ffffff; text-decoration: none; }

div.pane {
    width: 619px;
    margin: 0 auto 0 auto;
    padding: 0;
}
div.pane h1 { text-align: right; border-top: 1px solid #aaaaaa; }
div.pane h1:hover { color: #ffffff; }
div.pane h2:hover { color: #ffffff; }
div.pane a { color: #ffffff; text-decoration: none; }
div.pane a:hover { text-decoration: underline; }

#header { text-align: center; }
#header h1 { font-size: 250%; font-weight: normal; text-align: center; border: 0; color: white;}
#header h2 { font-size: 140%; font-weight: normal; text-align: center; }
