<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/analitza-4.10.3.tar.xz">analitza-4.10.3</a></td>
   <td align="right">173kB</td>
   <td><tt>d2b986516a5f9ecaa1ed4151afe9f0958b68c868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ark-4.10.3.tar.xz">ark-4.10.3</a></td>
   <td align="right">232kB</td>
   <td><tt>26437751ddf6f466a948a402f253f66bfc19660e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/audiocd-kio-4.10.3.tar.xz">audiocd-kio-4.10.3</a></td>
   <td align="right">55kB</td>
   <td><tt>5539c665dd3173493d0a45fb775c27a4a84a2b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/blinken-4.10.3.tar.xz">blinken-4.10.3</a></td>
   <td align="right">553kB</td>
   <td><tt>ff5e39fd1880dde2c11f6e3cbd89f7a8cead7154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/bomber-4.10.3.tar.xz">bomber-4.10.3</a></td>
   <td align="right">382kB</td>
   <td><tt>b2cf0a81d282424811cdc527545a132ef5d73a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/bovo-4.10.3.tar.xz">bovo-4.10.3</a></td>
   <td align="right">107kB</td>
   <td><tt>53fa8f79b8a6d048a00da0cfc703f400c6ddd178</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/cantor-4.10.3.tar.xz">cantor-4.10.3</a></td>
   <td align="right">310kB</td>
   <td><tt>ae2c9c50cc79030a3f15106d059997da5c37a886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/dragon-4.10.3.tar.xz">dragon-4.10.3</a></td>
   <td align="right">385kB</td>
   <td><tt>9ebb61b985a6054f690ff8f89e638ad8da6a483a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ffmpegthumbs-4.10.3.tar.xz">ffmpegthumbs-4.10.3</a></td>
   <td align="right">20kB</td>
   <td><tt>1b4508d3f1c74a8d1a6136f27ba233ae3fb84eda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/filelight-4.10.3.tar.xz">filelight-4.10.3</a></td>
   <td align="right">283kB</td>
   <td><tt>ebfa5a9cc39abf311208d6a9d058e5003cb4daf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/granatier-4.10.3.tar.xz">granatier-4.10.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4a135280da57cac2cadc2874c27b50fc7740bebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/gwenview-4.10.3.tar.xz">gwenview-4.10.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1b020d9689a3b401f254ae6f26bc0f1e2455e11e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/jovie-4.10.3.tar.xz">jovie-4.10.3</a></td>
   <td align="right">361kB</td>
   <td><tt>ae73088307c31f53c9ac6c2a949b3a32ffad3b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/juk-4.10.3.tar.xz">juk-4.10.3</a></td>
   <td align="right">437kB</td>
   <td><tt>d889a49e4cafef2ed10879a7e314e1d14bb09dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kaccessible-4.10.3.tar.xz">kaccessible-4.10.3</a></td>
   <td align="right">20kB</td>
   <td><tt>9db691a3a2571db88ae1ed94355797a4466928dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kactivities-4.10.3.tar.xz">kactivities-4.10.3</a></td>
   <td align="right">106kB</td>
   <td><tt>0c00782aea70ad1963e303b1eec55482265f0b37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kajongg-4.10.3.tar.xz">kajongg-4.10.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>88944b76d63e1e5e2337c9aa92d2811c88a69024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kalgebra-4.10.3.tar.xz">kalgebra-4.10.3</a></td>
   <td align="right">435kB</td>
   <td><tt>c3c237cdf891259b2bef399d2b5c75a420e21d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kalzium-4.10.3.tar.xz">kalzium-4.10.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>2711ee3b9914329d9813c24798cf57811dd7eadd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kamera-4.10.3.tar.xz">kamera-4.10.3</a></td>
   <td align="right">36kB</td>
   <td><tt>72a724c99cada0ed81c18dde1ad2e93b4907631f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kanagram-4.10.3.tar.xz">kanagram-4.10.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8aa646830e3f09162d98c9dab1650321d92ef90f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kapman-4.10.3.tar.xz">kapman-4.10.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>83fda18300857338a698fff899cb2569ec4539fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kate-4.10.3.tar.xz">kate-4.10.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6fe0e8c0cee9a21df4c4271861e10e249896d873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/katomic-4.10.3.tar.xz">katomic-4.10.3</a></td>
   <td align="right">651kB</td>
   <td><tt>69cf2cedad8575b32fbb685c1116bfd2c7090ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kblackbox-4.10.3.tar.xz">kblackbox-4.10.3</a></td>
   <td align="right">105kB</td>
   <td><tt>2953256d4659cca0a2a4b35d2c81fe1569bbb762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kblocks-4.10.3.tar.xz">kblocks-4.10.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2a43bd8f55474122b241c8993fe98cbd26d36b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kbounce-4.10.3.tar.xz">kbounce-4.10.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6c83f932c62d29432aef0403733998a4ae0ca7ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kbreakout-4.10.3.tar.xz">kbreakout-4.10.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8d8508abde6eb2d0aaf75a66ffb253e2f7a67046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kbruch-4.10.3.tar.xz">kbruch-4.10.3</a></td>
   <td align="right">887kB</td>
   <td><tt>c4effef0b1f6e54c5ca1dc4d3642398ccc180551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kcalc-4.10.3.tar.xz">kcalc-4.10.3</a></td>
   <td align="right">91kB</td>
   <td><tt>c80f91c2f41a60cca670c8cb1b5e2c395e935fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kcharselect-4.10.3.tar.xz">kcharselect-4.10.3</a></td>
   <td align="right">84kB</td>
   <td><tt>15360b8b7d1878b146cc38030e8ab59d2fa76acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kcolorchooser-4.10.3.tar.xz">kcolorchooser-4.10.3</a></td>
   <td align="right">4kB</td>
   <td><tt>5d76ce1018f9852f0de2a5f8fa2affde8021c834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdeadmin-4.10.3.tar.xz">kdeadmin-4.10.3</a></td>
   <td align="right">663kB</td>
   <td><tt>fefba9f6dc817b6c569d76efc536a7ae0c1371df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdeartwork-4.10.3.tar.xz">kdeartwork-4.10.3</a></td>
   <td align="right">137MB</td>
   <td><tt>45baac5806471aa33e976e06652f828d989e6b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-baseapps-4.10.3.tar.xz">kde-baseapps-4.10.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c9949ef6dafbc567bb3f088bf9e156c3a5a9ec08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-base-artwork-4.10.3.tar.xz">kde-base-artwork-4.10.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>fdd0f62f0534360b692916e840d23e9710659a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdegraphics-mobipocket-4.10.3.tar.xz">kdegraphics-mobipocket-4.10.3</a></td>
   <td align="right">19kB</td>
   <td><tt>fe06feea93d3f38196a29dc410ee1427cfefa382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdegraphics-strigi-analyzer-4.10.3.tar.xz">kdegraphics-strigi-analyzer-4.10.3</a></td>
   <td align="right">40kB</td>
   <td><tt>6e71181e30e003641893bbdbcfca508d1fde41a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdegraphics-thumbnailers-4.10.3.tar.xz">kdegraphics-thumbnailers-4.10.3</a></td>
   <td align="right">40kB</td>
   <td><tt>c128aef92f9bd61b18ca9f9db9a43e6652454313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdelibs-4.10.3.tar.xz">kdelibs-4.10.3</a></td>
   <td align="right">11MB</td>
   <td><tt>aa154998e227121be82f5b04442e908e7dece01b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdenetwork-4.10.3.tar.xz">kdenetwork-4.10.3</a></td>
   <td align="right">8.6MB</td>
   <td><tt>9c5e14b1ebc575777d1e6d09b593f62940a4fd1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdepim-4.10.3.tar.xz">kdepim-4.10.3</a></td>
   <td align="right">13MB</td>
   <td><tt>78ca9b822f905355ec00142a7de6c08c38b97c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdepimlibs-4.10.3.tar.xz">kdepimlibs-4.10.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7ede01b2f169c066c98f553606e99817d83f252b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdepim-runtime-4.10.3.tar.xz">kdepim-runtime-4.10.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>43a9cf46818d1d7b26253e08e8cee99a554a736a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdeplasma-addons-4.10.3.tar.xz">kdeplasma-addons-4.10.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e1d2f452e4560c4c8d13573505cc4c3538f36e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-runtime-4.10.3.tar.xz">kde-runtime-4.10.3</a></td>
   <td align="right">6.8MB</td>
   <td><tt>22869b2ee7eb4b5b341a6d596dd904c0b0b812d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdesdk-4.10.3.tar.xz">kdesdk-4.10.3</a></td>
   <td align="right">5.0MB</td>
   <td><tt>84d16fb8ecea59118c4bbe273d1b8149c6739c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdetoys-4.10.3.tar.xz">kdetoys-4.10.3</a></td>
   <td align="right">371kB</td>
   <td><tt>1272b33ff3ef669ab309c8c230d3609d597c743b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-wallpapers-4.10.3.tar.xz">kde-wallpapers-4.10.3</a></td>
   <td align="right">86MB</td>
   <td><tt>565d388b2931b8ac7ef202d3a25b0ecae3ef3f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdewebdev-4.10.3.tar.xz">kdewebdev-4.10.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ea30f3187bd40eb0b972f2a9a7275674d6cee286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-workspace-4.10.3.tar.xz">kde-workspace-4.10.3</a></td>
   <td align="right">12MB</td>
   <td><tt>3fc316e34ba10db3adad8b1a4bee61aaf8b58840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdf-4.10.3.tar.xz">kdf-4.10.3</a></td>
   <td align="right">153kB</td>
   <td><tt>a88a393714a127a5629c2b50690ee6766c6ed484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kdiamond-4.10.3.tar.xz">kdiamond-4.10.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>ba11547157b1b5d7b789fd2c854aebb3ff5b1714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kfloppy-4.10.3.tar.xz">kfloppy-4.10.3</a></td>
   <td align="right">59kB</td>
   <td><tt>25ff13f6551542eb58384c7606837c05a452fb54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kfourinline-4.10.3.tar.xz">kfourinline-4.10.3</a></td>
   <td align="right">265kB</td>
   <td><tt>d49eff3bc2198c4ebb7d14a664ed7b2271e4ca32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kgamma-4.10.3.tar.xz">kgamma-4.10.3</a></td>
   <td align="right">26kB</td>
   <td><tt>7e246704a1e639886925d794dcb4bfab7bb993ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kgeography-4.10.3.tar.xz">kgeography-4.10.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>92189b526e1cd6138e7e884d60f0a6f76bb9a7df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kgoldrunner-4.10.3.tar.xz">kgoldrunner-4.10.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3701237b7c3b15d4d4ffe17d78c8470231004d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kgpg-4.10.3.tar.xz">kgpg-4.10.3</a></td>
   <td align="right">796kB</td>
   <td><tt>ba92c6edcf6ce857fec7969aab5a8b8afce2d43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/khangman-4.10.3.tar.xz">khangman-4.10.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ee2071d89c65b47ace7fc38d0fb07c5b74883bab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kig-4.10.3.tar.xz">kig-4.10.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>aea9806a7e52f5381dc479cd72069b2bcd9e9cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kigo-4.10.3.tar.xz">kigo-4.10.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>370656ff032a8980579b5a478a7868598035c897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/killbots-4.10.3.tar.xz">killbots-4.10.3</a></td>
   <td align="right">952kB</td>
   <td><tt>9b580830f82468351fb91306f30a085519432b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kimono-4.10.3.tar.xz">kimono-4.10.3</a></td>
   <td align="right">937kB</td>
   <td><tt>6fadbe971f4db404fc30cf62fed264e9b06d3cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kiriki-4.10.3.tar.xz">kiriki-4.10.3</a></td>
   <td align="right">122kB</td>
   <td><tt>9ec35954ba2eab34d6a760d17f3ab5ebfa193a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kiten-4.10.3.tar.xz">kiten-4.10.3</a></td>
   <td align="right">11MB</td>
   <td><tt>906db6f251621983dc7c737424af0484706a1bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kjumpingcube-4.10.3.tar.xz">kjumpingcube-4.10.3</a></td>
   <td align="right">101kB</td>
   <td><tt>9c46888572703e2f1d632e09ba5330e8434c51c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/klettres-4.10.3.tar.xz">klettres-4.10.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f40332da60528898909858b9271ab04a73ceba78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/klickety-4.10.3.tar.xz">klickety-4.10.3</a></td>
   <td align="right">833kB</td>
   <td><tt>2ac5e9e52b3312bc54b9d02a5210caccc83f7f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/klines-4.10.3.tar.xz">klines-4.10.3</a></td>
   <td align="right">936kB</td>
   <td><tt>474bab91de2112f55c5286f754778cd638d0862c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kmag-4.10.3.tar.xz">kmag-4.10.3</a></td>
   <td align="right">91kB</td>
   <td><tt>3976b199ed9ee1785c97920f2454bc988523dd8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kmahjongg-4.10.3.tar.xz">kmahjongg-4.10.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8c1168da227c5be6775ae71adfaa7be39ce69a28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kmines-4.10.3.tar.xz">kmines-4.10.3</a></td>
   <td align="right">643kB</td>
   <td><tt>9f0130c4ce1276bbc0b8d89880d5db73efdc3aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kmix-4.10.3.tar.xz">kmix-4.10.3</a></td>
   <td align="right">376kB</td>
   <td><tt>09289c9bb6bd5e592d214f3f665078010e9a7dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kmousetool-4.10.3.tar.xz">kmousetool-4.10.3</a></td>
   <td align="right">42kB</td>
   <td><tt>8314f6913059a7f012896be80705893876d1eb37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kmouth-4.10.3.tar.xz">kmouth-4.10.3</a></td>
   <td align="right">314kB</td>
   <td><tt>3a9b2265592f45c3d07ae88e551aac0dceeded0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kmplot-4.10.3.tar.xz">kmplot-4.10.3</a></td>
   <td align="right">665kB</td>
   <td><tt>0579eb13e5a764afc390e11acbb3da5ee40f63aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/knavalbattle-4.10.3.tar.xz">knavalbattle-4.10.3</a></td>
   <td align="right">836kB</td>
   <td><tt>aa6e06896e93c5e33623a55c0b5d2c15cd49ea97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/knetwalk-4.10.3.tar.xz">knetwalk-4.10.3</a></td>
   <td align="right">771kB</td>
   <td><tt>13dfaa5039b53fc6b50e5c8e4998324b283806f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kolf-4.10.3.tar.xz">kolf-4.10.3</a></td>
   <td align="right">762kB</td>
   <td><tt>f35c94f3e184e8b1bcaab50e519b424e580c5665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kollision-4.10.3.tar.xz">kollision-4.10.3</a></td>
   <td align="right">208kB</td>
   <td><tt>196770d3b15a74c4399348549efea5f1b5f2808e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kolourpaint-4.10.3.tar.xz">kolourpaint-4.10.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8e1b458bd98c25bf5ab4a8dfaa883fd314ee4232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/konquest-4.10.3.tar.xz">konquest-4.10.3</a></td>
   <td align="right">408kB</td>
   <td><tt>7034913a42475d21af4adb28257b088172e771da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/konsole-4.10.3.tar.xz">konsole-4.10.3</a></td>
   <td align="right">435kB</td>
   <td><tt>fd5d00103c2d6f8c446286f997edd286a719e1e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/korundum-4.10.3.tar.xz">korundum-4.10.3</a></td>
   <td align="right">160kB</td>
   <td><tt>43d15e26ba9219874d8efc0140c5fb3eaac97792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kpat-4.10.3.tar.xz">kpat-4.10.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b2c9a9c65ab4a3760400cf51d055989f08464851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kremotecontrol-4.10.3.tar.xz">kremotecontrol-4.10.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5a3df78e08688647224c63418363940b222abe21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kreversi-4.10.3.tar.xz">kreversi-4.10.3</a></td>
   <td align="right">390kB</td>
   <td><tt>a2b35641a39706de0deda9ea4777ff0b2ebde367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kross-interpreters-4.10.3.tar.xz">kross-interpreters-4.10.3</a></td>
   <td align="right">130kB</td>
   <td><tt>ce5075da229c52ba5aab1139c843686213d23bff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kruler-4.10.3.tar.xz">kruler-4.10.3</a></td>
   <td align="right">131kB</td>
   <td><tt>fba61042b5a5f9cfac5b078238cd350f6ffa0bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ksaneplugin-4.10.3.tar.xz">ksaneplugin-4.10.3</a></td>
   <td align="right">13kB</td>
   <td><tt>5620639393632a68a30c6e726aa8925f455c2f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kscd-4.10.3.tar.xz">kscd-4.10.3</a></td>
   <td align="right">91kB</td>
   <td><tt>e2cbfef5d1cdfcc7145fae803971d799f8739c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kshisen-4.10.3.tar.xz">kshisen-4.10.3</a></td>
   <td align="right">142kB</td>
   <td><tt>36f8e99e64d9fd29e6b264c9c83fda38f5f09423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ksirk-4.10.3.tar.xz">ksirk-4.10.3</a></td>
   <td align="right">5.6MB</td>
   <td><tt>69181f4ac4338e76295cd25926b23a38bbba36dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ksnakeduel-4.10.3.tar.xz">ksnakeduel-4.10.3</a></td>
   <td align="right">314kB</td>
   <td><tt>e492edb83f0c7c284934d6b7eec53c737cbe197a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ksnapshot-4.10.3.tar.xz">ksnapshot-4.10.3</a></td>
   <td align="right">258kB</td>
   <td><tt>c0b2b72cd26b64a930d3a14c0508ab2685caed5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kspaceduel-4.10.3.tar.xz">kspaceduel-4.10.3</a></td>
   <td align="right">258kB</td>
   <td><tt>20fe3641363fc8a7a6d21bf8c2da810b4687bc76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ksquares-4.10.3.tar.xz">ksquares-4.10.3</a></td>
   <td align="right">83kB</td>
   <td><tt>1def07ebcfed0d2edc8771cb2c3c25de9ea9e0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kstars-4.10.3.tar.xz">kstars-4.10.3</a></td>
   <td align="right">11MB</td>
   <td><tt>32490b846b468dc9a8393c0a70cb0d0e805163a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ksudoku-4.10.3.tar.xz">ksudoku-4.10.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5421c4693119defc9001e59a044e5b197f1ebc91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ktimer-4.10.3.tar.xz">ktimer-4.10.3</a></td>
   <td align="right">147kB</td>
   <td><tt>c39948abf291f0ddd9e07cdc6b9d48922f62b317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ktouch-4.10.3.tar.xz">ktouch-4.10.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>076345fadaf98bdc878cb4b9f99e759bb2642b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/ktuberling-4.10.3.tar.xz">ktuberling-4.10.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>223838a37bcdc0b1b45ef04140437a1a59b1c2a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kturtle-4.10.3.tar.xz">kturtle-4.10.3</a></td>
   <td align="right">207kB</td>
   <td><tt>8df184d9647dfbf342dcd3adcc674f2c9b50af39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kubrick-4.10.3.tar.xz">kubrick-4.10.3</a></td>
   <td align="right">118kB</td>
   <td><tt>54680f556ff5678e5091fcd254c3576c11396a39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kwallet-4.10.3.tar.xz">kwallet-4.10.3</a></td>
   <td align="right">276kB</td>
   <td><tt>41a32b861ea2dcf4892c0161bce90996e9c8bd3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kwordquiz-4.10.3.tar.xz">kwordquiz-4.10.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0286f384cc3dfb9c6b7ca39badd50a18fa579f16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libkcddb-4.10.3.tar.xz">libkcddb-4.10.3</a></td>
   <td align="right">161kB</td>
   <td><tt>1ca7e92544a1d3c49e5ddf3583c3c2b976a7990b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libkcompactdisc-4.10.3.tar.xz">libkcompactdisc-4.10.3</a></td>
   <td align="right">75kB</td>
   <td><tt>cc6ad902a6c94c68a1b8d27aabdbcac1df547cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libkdcraw-4.10.3.tar.xz">libkdcraw-4.10.3</a></td>
   <td align="right">340kB</td>
   <td><tt>801770f6eefc85b0939304bc0c5acf399fa988ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libkdeedu-4.10.3.tar.xz">libkdeedu-4.10.3</a></td>
   <td align="right">207kB</td>
   <td><tt>99e781b0c6ab8907e15f9d2dff6f3a778e40c331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libkdegames-4.10.3.tar.xz">libkdegames-4.10.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>1a6385ee9bbbfc1f8d992df6efd716727e9ba3a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libkexiv2-4.10.3.tar.xz">libkexiv2-4.10.3</a></td>
   <td align="right">131kB</td>
   <td><tt>57f3d52c8ff6b58af55fb83d38d7479688bd681b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libkipi-4.10.3.tar.xz">libkipi-4.10.3</a></td>
   <td align="right">93kB</td>
   <td><tt>5b8ac6703026cd0fe1bcc29f6f3dc1e6cf724b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libkmahjongg-4.10.3.tar.xz">libkmahjongg-4.10.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d33446dcd5cbc455fdd2bf09406b5a4ce15d683b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/libksane-4.10.3.tar.xz">libksane-4.10.3</a></td>
   <td align="right">80kB</td>
   <td><tt>1b9af8bf3b0ed24211115d16937f56414222738c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/lskat-4.10.3.tar.xz">lskat-4.10.3</a></td>
   <td align="right">936kB</td>
   <td><tt>3223e7680c81d09e926d6c04b59f7b403e1b41b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/marble-4.10.3.tar.xz">marble-4.10.3</a></td>
   <td align="right">18MB</td>
   <td><tt>814fffa64d91bec647c3f7e5cb130a2027dd6815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/mplayerthumbs-4.10.3.tar.xz">mplayerthumbs-4.10.3</a></td>
   <td align="right">27kB</td>
   <td><tt>f6446375ff72ffa841c223252dea1f0f95d73939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/nepomuk-core-4.10.3.tar.xz">nepomuk-core-4.10.3</a></td>
   <td align="right">362kB</td>
   <td><tt>205cb87512c3d24f41295a534770779e41051a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/nepomuk-widgets-4.10.3.tar.xz">nepomuk-widgets-4.10.3</a></td>
   <td align="right">78kB</td>
   <td><tt>19a02e2ea861f69da51eef24ae951fef449c3bfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/okular-4.10.3.tar.xz">okular-4.10.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b9e7cd50a430b215b2d802e2f2bdd3a254bdd700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/oxygen-icons-4.10.3.tar.xz">oxygen-icons-4.10.3</a></td>
   <td align="right">276MB</td>
   <td><tt>687a306c772fadbb5dd50aa9c7a98e096cea26d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/pairs-4.10.3.tar.xz">pairs-4.10.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>7995139b4fc5604f6a71e5747f4db0de41bb666c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/palapeli-4.10.3.tar.xz">palapeli-4.10.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>251df2913548628f245516341a6c91a7edc1632c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/parley-4.10.3.tar.xz">parley-4.10.3</a></td>
   <td align="right">7.8MB</td>
   <td><tt>efcce4ba4c8a211d494c3537b1c0c2e421fa7586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/perlkde-4.10.3.tar.xz">perlkde-4.10.3</a></td>
   <td align="right">44kB</td>
   <td><tt>7db692b0a06ba421caa870fc254f03c2e3bf4e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/perlqt-4.10.3.tar.xz">perlqt-4.10.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>261e1c4d9a6a216d7b5b5e2962ba5266f0d62bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/picmi-4.10.3.tar.xz">picmi-4.10.3</a></td>
   <td align="right">719kB</td>
   <td><tt>af60a275f0b06a4ae2fe552cf7973a510e2a7f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/print-manager-4.10.3.tar.xz">print-manager-4.10.3</a></td>
   <td align="right">91kB</td>
   <td><tt>91b98fd9827e61bc9b351fc7027df8212764f817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/pykde4-4.10.3.tar.xz">pykde4-4.10.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>71dfb717cafc40331118b2b98c9b4075cd9b1c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/qtruby-4.10.3.tar.xz">qtruby-4.10.3</a></td>
   <td align="right">528kB</td>
   <td><tt>78a6fce69f751e8c4542431484d5e7fcb6362263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/qyoto-4.10.3.tar.xz">qyoto-4.10.3</a></td>
   <td align="right">516kB</td>
   <td><tt>2fa451fddf1b05fde705f16bd24a0914aa3eb0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/rocs-4.10.3.tar.xz">rocs-4.10.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>aeb9aaee1a2ec3faf410da4319d0f7a7f27c3630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/smokegen-4.10.3.tar.xz">smokegen-4.10.3</a></td>
   <td align="right">145kB</td>
   <td><tt>701e34f9dcc4e246e7361c472bfdb5a472ac31b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/smokekde-4.10.3.tar.xz">smokekde-4.10.3</a></td>
   <td align="right">38kB</td>
   <td><tt>459ce74e658f30799164aee291e57c6ad5800734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/smokeqt-4.10.3.tar.xz">smokeqt-4.10.3</a></td>
   <td align="right">31kB</td>
   <td><tt>1e30ffc4747b6e01f24a487b31d1b07623afdfba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/step-4.10.3.tar.xz">step-4.10.3</a></td>
   <td align="right">367kB</td>
   <td><tt>85a85c09deb6f04bcf90279785d099aa31ce0262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/superkaramba-4.10.3.tar.xz">superkaramba-4.10.3</a></td>
   <td align="right">381kB</td>
   <td><tt>b74241f3357a91149bbb1610ee7e944e053b25ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/svgpart-4.10.3.tar.xz">svgpart-4.10.3</a></td>
   <td align="right">9kB</td>
   <td><tt>61869d8bac977faa151356583475f324a29f9d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/sweeper-4.10.3.tar.xz">sweeper-4.10.3</a></td>
   <td align="right">82kB</td>
   <td><tt>978f599562a6c9b2792fa7383f333d7048309ab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ar-4.10.3.tar.xz">kde-l10n-ar-4.10.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>b7b64b57ebf6d2fde89e768ecfc6d235bbdf7404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-bg-4.10.3.tar.xz">kde-l10n-bg-4.10.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ad04132eda0730eb0ca85c1f8585b2104b131dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-bs-4.10.3.tar.xz">kde-l10n-bs-4.10.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ac595adb1f99301d542a085a8b244a37d209df28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ca-4.10.3.tar.xz">kde-l10n-ca-4.10.3</a></td>
   <td align="right">12MB</td>
   <td><tt>7b3997fbe423e3a3ed05e372a5ad5ddb8604f13e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ca@valencia-4.10.3.tar.xz">kde-l10n-ca@valencia-4.10.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1c0df39eae14d6f5503adfebcf9227b856398477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-cs-4.10.3.tar.xz">kde-l10n-cs-4.10.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fc09cc8a347373133323f52adac9dc420d181561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-da-4.10.3.tar.xz">kde-l10n-da-4.10.3</a></td>
   <td align="right">12MB</td>
   <td><tt>e2f3468b5de7fdba00c48cbef7c4b358791d4e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-de-4.10.3.tar.xz">kde-l10n-de-4.10.3</a></td>
   <td align="right">36MB</td>
   <td><tt>645bd32aa03b02e73cc9f02c6f53e95d0a2f2e03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-el-4.10.3.tar.xz">kde-l10n-el-4.10.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>22f7542c22fd78b865b3cc2284cff3449ecb6388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-en_GB-4.10.3.tar.xz">kde-l10n-en_GB-4.10.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>93849a8f0c71b2096c65fd3bfce22dc6c0319abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-es-4.10.3.tar.xz">kde-l10n-es-4.10.3</a></td>
   <td align="right">22MB</td>
   <td><tt>5f547dcfaafb305370ca3bbe3562ecdeea9a4cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-et-4.10.3.tar.xz">kde-l10n-et-4.10.3</a></td>
   <td align="right">7.1MB</td>
   <td><tt>e1e16b77fee010fc4c80e21279b4836d3ecea32f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-eu-4.10.3.tar.xz">kde-l10n-eu-4.10.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ddb579b8148d78b1320241d1ef6d314cb4827a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-fa-4.10.3.tar.xz">kde-l10n-fa-4.10.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8d3b2e74d96f9a309766395777c736bf5c42874a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-fi-4.10.3.tar.xz">kde-l10n-fi-4.10.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>9216ad9d18cecb473e4e91de5694c0c34147458f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-fr-4.10.3.tar.xz">kde-l10n-fr-4.10.3</a></td>
   <td align="right">42MB</td>
   <td><tt>077eec07b0416c8048492402ef5fc8a22bca429a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ga-4.10.3.tar.xz">kde-l10n-ga-4.10.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2dff34f257d5185f3af4bf3d199e89eec626a206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-gl-4.10.3.tar.xz">kde-l10n-gl-4.10.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>5a1b6ff0e7a68aabb52959d92ee132d70ba91e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-he-4.10.3.tar.xz">kde-l10n-he-4.10.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1623647c8917526ac21a3dcae11a84c2796d807f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-hi-4.10.3.tar.xz">kde-l10n-hi-4.10.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a55fb8ed5c2786583cc22c3e880726377995e836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-hr-4.10.3.tar.xz">kde-l10n-hr-4.10.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e01a8a4d84fb50e09647234d415f9f5473d1d9a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-hu-4.10.3.tar.xz">kde-l10n-hu-4.10.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>726c776402f3a3f7f2c4e5e1ea72c8178a1d97bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ia-4.10.3.tar.xz">kde-l10n-ia-4.10.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ee69750df0e2319bc785667d2d292e27f50bec9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-is-4.10.3.tar.xz">kde-l10n-is-4.10.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>be894088e96c656b3e59d3ad4720a34b410ee48f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-it-4.10.3.tar.xz">kde-l10n-it-4.10.3</a></td>
   <td align="right">10MB</td>
   <td><tt>8fbcfbc14264af3d113d0f32bbb350c18b9cfca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ja-4.10.3.tar.xz">kde-l10n-ja-4.10.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>658234735e73e8a8894d11161d85013da7a8cdbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-kk-4.10.3.tar.xz">kde-l10n-kk-4.10.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1ac322b48ec07e7c530634059ad6d463964142bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-km-4.10.3.tar.xz">kde-l10n-km-4.10.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>546e1daca1e2854ff8fa2fa1d282f892b594f977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ko-4.10.3.tar.xz">kde-l10n-ko-4.10.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c20ecfd843c48ea595af4e7502e36d59c5fe92dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-lt-4.10.3.tar.xz">kde-l10n-lt-4.10.3</a></td>
   <td align="right">12MB</td>
   <td><tt>090a6371595a98f1b51cd8337afc95529e9a1a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-lv-4.10.3.tar.xz">kde-l10n-lv-4.10.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>596c30b5630f67ada926139fb29455383250ad45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-mr-4.10.3.tar.xz">kde-l10n-mr-4.10.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1ba47bcc103fa80f17926c6e55ed1fdfd6ad3056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-nb-4.10.3.tar.xz">kde-l10n-nb-4.10.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>dbea4c274de814d11bb04a6c294456dce664b26f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-nds-4.10.3.tar.xz">kde-l10n-nds-4.10.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>ea483e0bb5902667e16ec51312ef1f0be110cffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-nl-4.10.3.tar.xz">kde-l10n-nl-4.10.3</a></td>
   <td align="right">15MB</td>
   <td><tt>ddf72ade0409b741334a7225943715eb36113126</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-nn-4.10.3.tar.xz">kde-l10n-nn-4.10.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9f2f4bda718f0ba9db36108929accdab20a89d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-pa-4.10.3.tar.xz">kde-l10n-pa-4.10.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f9fc1650b0de702cf35ab32620088eb750ae338c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-pl-4.10.3.tar.xz">kde-l10n-pl-4.10.3</a></td>
   <td align="right">16MB</td>
   <td><tt>5f0f07506465c27e1ac7d1581e6d53d4cff82ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-pt-4.10.3.tar.xz">kde-l10n-pt-4.10.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>0a9ab3afb6b75fc8ad31b0955b6bbc7843153812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-pt_BR-4.10.3.tar.xz">kde-l10n-pt_BR-4.10.3</a></td>
   <td align="right">26MB</td>
   <td><tt>43296bddeb4f43fd1c6af27cf75e4eb97020a582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ro-4.10.3.tar.xz">kde-l10n-ro-4.10.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5ee399354e4da4f2f0660d35a2cdc6910b992da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ru-4.10.3.tar.xz">kde-l10n-ru-4.10.3</a></td>
   <td align="right">22MB</td>
   <td><tt>38f3954614df4360db43f58ec9c469d85b804e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-si-4.10.3.tar.xz">kde-l10n-si-4.10.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0365de68190084baa380a5c885132e83e8fba7d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-sk-4.10.3.tar.xz">kde-l10n-sk-4.10.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>02266c3a4640d1a52551d1b3463c1430eeae7c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-sl-4.10.3.tar.xz">kde-l10n-sl-4.10.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e2214c2f7a93de38ee56839e7149b3f4cbc048fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-sr-4.10.3.tar.xz">kde-l10n-sr-4.10.3</a></td>
   <td align="right">6.3MB</td>
   <td><tt>94d032c0f3347a119db899e08b26d357c60a3d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-sv-4.10.3.tar.xz">kde-l10n-sv-4.10.3</a></td>
   <td align="right">15MB</td>
   <td><tt>d2b9bef0253a7c445f83c74fcd99e648c3354cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-tg-4.10.3.tar.xz">kde-l10n-tg-4.10.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>29deaf330bb77559690ca59c94b1c874b93a4504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-th-4.10.3.tar.xz">kde-l10n-th-4.10.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>356d0fbf35b765eaa5ae78639562f1ed6b0d253c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-tr-4.10.3.tar.xz">kde-l10n-tr-4.10.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>1226e28d4a349184a05e6400335ac7f67bff70f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-ug-4.10.3.tar.xz">kde-l10n-ug-4.10.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b279fc9b8d1ac3d7b87a987b57afa48e9536c8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-uk-4.10.3.tar.xz">kde-l10n-uk-4.10.3</a></td>
   <td align="right">26MB</td>
   <td><tt>88d013a1e865b3c32431ebf87fba6ea9839115d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-vi-4.10.3.tar.xz">kde-l10n-vi-4.10.3</a></td>
   <td align="right">918kB</td>
   <td><tt>94e97a6d90b800d4b4eae5978b4fee765b0c4f87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-wa-4.10.3.tar.xz">kde-l10n-wa-4.10.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6bffd09158b6b2e41e98f32340251afeb57e4abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-zh_CN-4.10.3.tar.xz">kde-l10n-zh_CN-4.10.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>c7fc77cd664a4b4a203cbe50d1a331a200010179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.3/src/kde-l10n/kde-l10n-zh_TW-4.10.3.tar.xz">kde-l10n-zh_TW-4.10.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>332838ef385a1f2904a09e28e5ede763efa5ea0a</tt></td>
</tr>

</table>
