
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/attica-5.88.0.tar.xz">attica-5.88.0</a></td>
   <td align="right">65kB</td>
   <td><tt>47fcb58766f630cbdac016fcaa0fe99763400ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/baloo-5.88.0.tar.xz">baloo-5.88.0</a></td>
   <td align="right">275kB</td>
   <td><tt>164aa3ea82c69a8bedc9c32e432d73e5a35ea390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/bluez-qt-5.88.0.tar.xz">bluez-qt-5.88.0</a></td>
   <td align="right">108kB</td>
   <td><tt>4e310e7e0011e5ee1dd1b7cb5a03dd5be52dbdd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/breeze-icons-5.88.0.tar.xz">breeze-icons-5.88.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>dec45681ba06e8c14b75800cccfb86db9c6c0535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/extra-cmake-modules-5.88.0.tar.xz">extra-cmake-modules-5.88.0</a></td>
   <td align="right">311kB</td>
   <td><tt>00aa41a86e864a51174b58fa09275c291c366955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/frameworkintegration-5.88.0.tar.xz">frameworkintegration-5.88.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a1042ef80a2b4525a4b60dac84bcae31f7cd24b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kactivities-5.88.0.tar.xz">kactivities-5.88.0</a></td>
   <td align="right">70kB</td>
   <td><tt>fe35fea38f7dc15afe9e4b7134cf5f8603e6a6d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kactivities-stats-5.88.0.tar.xz">kactivities-stats-5.88.0</a></td>
   <td align="right">80kB</td>
   <td><tt>06cd26f632c1c9007919c96e3cac61477606d0c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kapidox-5.88.0.tar.xz">kapidox-5.88.0</a></td>
   <td align="right">190kB</td>
   <td><tt>17287a79f5ada0b347e913d76bccdd0bee340898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/karchive-5.88.0.tar.xz">karchive-5.88.0</a></td>
   <td align="right">960kB</td>
   <td><tt>6bc8d416175f57f4d26b331fdb5e2b28a8429d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kauth-5.88.0.tar.xz">kauth-5.88.0</a></td>
   <td align="right">86kB</td>
   <td><tt>63ffd7c08c5edbbc2402f678580b09910692af20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kbookmarks-5.88.0.tar.xz">kbookmarks-5.88.0</a></td>
   <td align="right">124kB</td>
   <td><tt>01661c50f3aa3a2890012a34d3721616259bc3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kcalendarcore-5.88.0.tar.xz">kcalendarcore-5.88.0</a></td>
   <td align="right">256kB</td>
   <td><tt>5cbd98d373770eb82338bd5d10b460e9f7b95380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kcmutils-5.88.0.tar.xz">kcmutils-5.88.0</a></td>
   <td align="right">161kB</td>
   <td><tt>fe7c58e3b756bd10486afbf13ea700e569132926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kcodecs-5.88.0.tar.xz">kcodecs-5.88.0</a></td>
   <td align="right">229kB</td>
   <td><tt>b9de6e33688e7a495b0d12376ff5ba03431288da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kcompletion-5.88.0.tar.xz">kcompletion-5.88.0</a></td>
   <td align="right">120kB</td>
   <td><tt>95d2e4746d0e07f79d41935364ca0777315406fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kconfig-5.88.0.tar.xz">kconfig-5.88.0</a></td>
   <td align="right">267kB</td>
   <td><tt>3bbeff651aea86a976f8316df906883757bf0dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kconfigwidgets-5.88.0.tar.xz">kconfigwidgets-5.88.0</a></td>
   <td align="right">402kB</td>
   <td><tt>df9f4f6282a911ffdd7bb6caed6fbc3469e8e5f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kcontacts-5.88.0.tar.xz">kcontacts-5.88.0</a></td>
   <td align="right">176kB</td>
   <td><tt>1db099334364264cbec19c2babe7f4491e1ff30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kcoreaddons-5.88.0.tar.xz">kcoreaddons-5.88.0</a></td>
   <td align="right">431kB</td>
   <td><tt>5df646dd7c8c9251b5065eab8eec455dcd92a619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kcrash-5.88.0.tar.xz">kcrash-5.88.0</a></td>
   <td align="right">27kB</td>
   <td><tt>a92f76c56eafe750a0ecc2b4c0a5b8709ef4e29c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kdav-5.88.0.tar.xz">kdav-5.88.0</a></td>
   <td align="right">60kB</td>
   <td><tt>09669b903511175b30db00e6cd35f440f141bd1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kdbusaddons-5.88.0.tar.xz">kdbusaddons-5.88.0</a></td>
   <td align="right">44kB</td>
   <td><tt>1e3550ff2e149c64a00e40f652bee83d728f6eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kdeclarative-5.88.0.tar.xz">kdeclarative-5.88.0</a></td>
   <td align="right">186kB</td>
   <td><tt>b7d5b8a232c9f8eb027f43c847bf21ada5ab19f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kded-5.88.0.tar.xz">kded-5.88.0</a></td>
   <td align="right">36kB</td>
   <td><tt>2fc29de1a4d60987e58493f53903a20d1ff344e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kdesu-5.88.0.tar.xz">kdesu-5.88.0</a></td>
   <td align="right">51kB</td>
   <td><tt>372661efb47c02180e91ce7e4d093a277818806c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kdnssd-5.88.0.tar.xz">kdnssd-5.88.0</a></td>
   <td align="right">57kB</td>
   <td><tt>9d1b812985f1b76049aae94aabf06615d8a4e574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kdoctools-5.88.0.tar.xz">kdoctools-5.88.0</a></td>
   <td align="right">427kB</td>
   <td><tt>be5a095d381ad1fc58907a755c49f89aca88bb33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kemoticons-5.88.0.tar.xz">kemoticons-5.88.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>04203c9fdf457fbcf8868638d7958f815605e767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kfilemetadata-5.88.0.tar.xz">kfilemetadata-5.88.0</a></td>
   <td align="right">416kB</td>
   <td><tt>15e844effee3b998b35a5c1e413182f975c01b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kglobalaccel-5.88.0.tar.xz">kglobalaccel-5.88.0</a></td>
   <td align="right">86kB</td>
   <td><tt>72061e495f2e071f71a74f7638905b151a9e40d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kguiaddons-5.88.0.tar.xz">kguiaddons-5.88.0</a></td>
   <td align="right">59kB</td>
   <td><tt>11ecb5cf27e1a456d206be88cc2fb5b4ecf7af7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kholidays-5.88.0.tar.xz">kholidays-5.88.0</a></td>
   <td align="right">226kB</td>
   <td><tt>08f8fc12924023f10ad4a431a8af34900211ab50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/ki18n-5.88.0.tar.xz">ki18n-5.88.0</a></td>
   <td align="right">932kB</td>
   <td><tt>13a73f95dbebab51dd61127d39e2679eba13f2f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kiconthemes-5.88.0.tar.xz">kiconthemes-5.88.0</a></td>
   <td align="right">218kB</td>
   <td><tt>a1441f74c7e6f456f43fa3296d8bf6f9a3810503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kidletime-5.88.0.tar.xz">kidletime-5.88.0</a></td>
   <td align="right">25kB</td>
   <td><tt>a246e6ef331d086dc22c0271ffde336f32462ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kimageformats-5.88.0.tar.xz">kimageformats-5.88.0</a></td>
   <td align="right">577kB</td>
   <td><tt>41adb14178c33647cd0ea8dba368579d7280c81a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kinit-5.88.0.tar.xz">kinit-5.88.0</a></td>
   <td align="right">114kB</td>
   <td><tt>8d1690a9abacd2075e16eeb798d4189d9ad7df43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kio-5.88.0.tar.xz">kio-5.88.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b778d008e18215cee02605fd01e25c585f8de962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kirigami2-5.88.0.tar.xz">kirigami2-5.88.0</a></td>
   <td align="right">325kB</td>
   <td><tt>b3385f516ffdf46aef1700e8247656e64a3428f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kitemmodels-5.88.0.tar.xz">kitemmodels-5.88.0</a></td>
   <td align="right">393kB</td>
   <td><tt>55b8f7d5f7c0177924af6548ffec98459c882654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kitemviews-5.88.0.tar.xz">kitemviews-5.88.0</a></td>
   <td align="right">73kB</td>
   <td><tt>11a9561f1b026fe3ba57ad679beeeb16804f218d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kjobwidgets-5.88.0.tar.xz">kjobwidgets-5.88.0</a></td>
   <td align="right">97kB</td>
   <td><tt>af54d52f0ff6bff7ee6d0a1dfbc0a21786f0f530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/knewstuff-5.88.0.tar.xz">knewstuff-5.88.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>169754fa2d16f894c296ad1cd7e3bb435077b9b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/knotifications-5.88.0.tar.xz">knotifications-5.88.0</a></td>
   <td align="right">126kB</td>
   <td><tt>9d38e98a906ee961f0543d49fdf1b78b52d57d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/knotifyconfig-5.88.0.tar.xz">knotifyconfig-5.88.0</a></td>
   <td align="right">83kB</td>
   <td><tt>655ad8b73b88e7605537d36e426ddc6ceeb5840c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kpackage-5.88.0.tar.xz">kpackage-5.88.0</a></td>
   <td align="right">135kB</td>
   <td><tt>55249d77d838743ffdd68c8f80edbaadb66ff8f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kparts-5.88.0.tar.xz">kparts-5.88.0</a></td>
   <td align="right">189kB</td>
   <td><tt>7d2316526044e64530aefb33d121c8333dc8ca62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kpeople-5.88.0.tar.xz">kpeople-5.88.0</a></td>
   <td align="right">55kB</td>
   <td><tt>ec8348ffd80635f88a3c1749c7e15e9e801d704f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kplotting-5.88.0.tar.xz">kplotting-5.88.0</a></td>
   <td align="right">30kB</td>
   <td><tt>015abcd055d3f67f5292012a4c12337121485856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kpty-5.88.0.tar.xz">kpty-5.88.0</a></td>
   <td align="right">55kB</td>
   <td><tt>ecf052c0481e1b1ad6fde840ef8016475646dc9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kquickcharts-5.88.0.tar.xz">kquickcharts-5.88.0</a></td>
   <td align="right">105kB</td>
   <td><tt>58c759cc3a944968091d90bfe31e42e4aa0d614d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/krunner-5.88.0.tar.xz">krunner-5.88.0</a></td>
   <td align="right">81kB</td>
   <td><tt>cb5b8becf0e39a6f0fc7165c6b813bfb5372c32a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kservice-5.88.0.tar.xz">kservice-5.88.0</a></td>
   <td align="right">258kB</td>
   <td><tt>7e70ce39709496517a639695350c91618b9bb09f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/ktexteditor-5.88.0.tar.xz">ktexteditor-5.88.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c00657a26cd564e3768aac29fb8b63004c04abe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/ktextwidgets-5.88.0.tar.xz">ktextwidgets-5.88.0</a></td>
   <td align="right">319kB</td>
   <td><tt>f41cfd27c6791c3c5ff2fa57c1780c6d8d657a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kunitconversion-5.88.0.tar.xz">kunitconversion-5.88.0</a></td>
   <td align="right">868kB</td>
   <td><tt>cf37386b422c5725105e6d9060422ddaf85e1f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kwallet-5.88.0.tar.xz">kwallet-5.88.0</a></td>
   <td align="right">296kB</td>
   <td><tt>33d5b9f57711ade9494b6d668381c0be45b8f892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kwayland-5.88.0.tar.xz">kwayland-5.88.0</a></td>
   <td align="right">324kB</td>
   <td><tt>1d2d3d1b11c6967a8f422dfbfcc5ebe70bfed377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kwidgetsaddons-5.88.0.tar.xz">kwidgetsaddons-5.88.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b2df1ec2e7c5fbe46d19ef96fa5217afad1db6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kwindowsystem-5.88.0.tar.xz">kwindowsystem-5.88.0</a></td>
   <td align="right">175kB</td>
   <td><tt>a490a2997653c38a3df30e958b155bc577552dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/kxmlgui-5.88.0.tar.xz">kxmlgui-5.88.0</a></td>
   <td align="right">864kB</td>
   <td><tt>5cf0b53d04a5c8707dcae618be48a382fc9975fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/modemmanager-qt-5.88.0.tar.xz">modemmanager-qt-5.88.0</a></td>
   <td align="right">116kB</td>
   <td><tt>e71c4847fc01920a8d61ac43dace75225ab81e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/networkmanager-qt-5.88.0.tar.xz">networkmanager-qt-5.88.0</a></td>
   <td align="right">191kB</td>
   <td><tt>7a9810088c749936a5fcb08b9de8b7f044a10630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/oxygen-icons5-5.88.0.tar.xz">oxygen-icons5-5.88.0</a></td>
   <td align="right">227MB</td>
   <td><tt>91c4c62625768a856a67a2ba56cc39f4e41484d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/plasma-framework-5.88.0.tar.xz">plasma-framework-5.88.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>259d21ea98b01ef1f42475f68d6b35a25a0ac669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/prison-5.88.0.tar.xz">prison-5.88.0</a></td>
   <td align="right">46kB</td>
   <td><tt>09b2e002827109c1c1fa7627539c4f2cf8169d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/purpose-5.88.0.tar.xz">purpose-5.88.0</a></td>
   <td align="right">161kB</td>
   <td><tt>55e7cb0634054d12d2ee5a497b3b8aa28e1e1c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/qqc2-desktop-style-5.88.0.tar.xz">qqc2-desktop-style-5.88.0</a></td>
   <td align="right">61kB</td>
   <td><tt>20a1968962f61df5e20a85ac09d19338495c414e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/solid-5.88.0.tar.xz">solid-5.88.0</a></td>
   <td align="right">247kB</td>
   <td><tt>fe070207eef81d320e095bdcfbb8cacf51951fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/sonnet-5.88.0.tar.xz">sonnet-5.88.0</a></td>
   <td align="right">297kB</td>
   <td><tt>443e258fba27d1391109f9e714a6dc9a597af5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/syndication-5.88.0.tar.xz">syndication-5.88.0</a></td>
   <td align="right">496kB</td>
   <td><tt>7346ad8da6c949a1d774b4a639bc53077cc11725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/syntax-highlighting-5.88.0.tar.xz">syntax-highlighting-5.88.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fb8600f636103f72ea983c49b6b1917fe9e4c316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.88/threadweaver-5.88.0.tar.xz">threadweaver-5.88.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9fd30b5e0e66542f543c109fa921fc6bb8ac0646</tt></td>
</tr>

</table>
