<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/bluedevil-5.18.0.tar.xz">bluedevil-5.18.0</a></td>
   <td align="right">163kB</td>
   <td><tt>d2f58aeeaa113b60132f26b26ea5416ae19b78bd0465940000f994c4dc3daec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/breeze-5.18.0.tar.xz">breeze-5.18.0</a></td>
   <td align="right">20MB</td>
   <td><tt>bb6dc332a0425abbc0935de25a0229531b6285093b3129552fd92ce5407e3831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/breeze-grub-5.18.0.tar.xz">breeze-grub-5.18.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>bf69ae06751efd08ece0543c24c3a12162e2db04995a2976ab0bf0e59f2b8264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/breeze-gtk-5.18.0.tar.xz">breeze-gtk-5.18.0</a></td>
   <td align="right">41kB</td>
   <td><tt>1c4c7758b1cbedc27e63320b7010a681e095b9367a659a8ecd62ee918769218d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/breeze-plymouth-5.18.0.tar.xz">breeze-plymouth-5.18.0</a></td>
   <td align="right">103kB</td>
   <td><tt>8a6243cd8ffc5d6b25d0df74d09aca717a8551b2de1a52c52a43d3115ebb0877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/discover-5.18.0.tar.xz">discover-5.18.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>9da829ec0b25a8fb908efee3885212ed69bd8d65bad480c9f6bf5ddacf1aadea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/drkonqi-5.18.0.tar.xz">drkonqi-5.18.0</a></td>
   <td align="right">729kB</td>
   <td><tt>1a49bfc73333f0944db16ea1101037ca25ab0a61557f1ba76798d72c9a9848c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kactivitymanagerd-5.18.0.tar.xz">kactivitymanagerd-5.18.0</a></td>
   <td align="right">84kB</td>
   <td><tt>1d207fb062774579ab219c91b36c928d4941dca3d9ce9150b7cfb4cb2220818c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kde-cli-tools-5.18.0.tar.xz">kde-cli-tools-5.18.0</a></td>
   <td align="right">578kB</td>
   <td><tt>75071578b2d8fb74f7d18ef583c5cdd5c694a89d41d0dd94e1ae8c76bdf06d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kdecoration-5.18.0.tar.xz">kdecoration-5.18.0</a></td>
   <td align="right">42kB</td>
   <td><tt>204af624e57116ce92e32be0eadb070fb4ac742f082052af7c84706218803957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kde-gtk-config-5.18.0.tar.xz">kde-gtk-config-5.18.0</a></td>
   <td align="right">23kB</td>
   <td><tt>3be3c38e1b90063b8f62bd182a67e456588aa05fd1c9f773c75fd16f5f09e8a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kdeplasma-addons-5.18.0.tar.xz">kdeplasma-addons-5.18.0</a></td>
   <td align="right">600kB</td>
   <td><tt>1f6ef7025a38b818001d095d8f8b52d880507bcccd823adca70bc464eb3d9a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kgamma5-5.18.0.tar.xz">kgamma5-5.18.0</a></td>
   <td align="right">78kB</td>
   <td><tt>fb3e8abba39ba6039538390232b64f6c1aaa6ae60f88057415d79ba5bc9e4274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/khotkeys-5.18.0.tar.xz">khotkeys-5.18.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3bb5c968d10c8b28d895c5eb4e92731a7b97708cbaf8c68af232ef8efbe7f5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kinfocenter-5.18.0.tar.xz">kinfocenter-5.18.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>e99eeeea690d5badfd2fe036e6554a11281e410f1a89ce8292a163df461ddf36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kmenuedit-5.18.0.tar.xz">kmenuedit-5.18.0</a></td>
   <td align="right">795kB</td>
   <td><tt>32b25d420a6b351c5c5689ba9bdfbaaa25bb4efb4bd96155da50eeacec166af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kscreen-5.18.0.tar.xz">kscreen-5.18.0</a></td>
   <td align="right">110kB</td>
   <td><tt>0bd7faba198bb8d2b0fe867494bf22647342462f57ecb608ab98593b54a2d7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kscreenlocker-5.18.0.tar.xz">kscreenlocker-5.18.0</a></td>
   <td align="right">122kB</td>
   <td><tt>cb339ebac3870748b2199c65242e562bdfeedcb420c797f18cf125528c236d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/ksshaskpass-5.18.0.tar.xz">ksshaskpass-5.18.0</a></td>
   <td align="right">21kB</td>
   <td><tt>633480266fe54e855c5640c1c5d7580ad4dee74999b2a48eef3cbd9d7fb9a9b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/ksysguard-5.18.0.tar.xz">ksysguard-5.18.0</a></td>
   <td align="right">505kB</td>
   <td><tt>27ee54ab1beb35f9a59eafa84f97aa2adaa73f868a832b5082a98890f44b15b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kwallet-pam-5.18.0.tar.xz">kwallet-pam-5.18.0</a></td>
   <td align="right">19kB</td>
   <td><tt>044d260f5b95a3feaa1ece6c97d6aa3d4c1f1d3a4e11e2113153652312853dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kwayland-integration-5.18.0.tar.xz">kwayland-integration-5.18.0</a></td>
   <td align="right">20kB</td>
   <td><tt>77a0572a0e1176c4d1361741dccb53800a9812ec17d01f391ccee7a68d911002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kwin-5.18.0.tar.xz">kwin-5.18.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>a302cb63abccecc2b2c86b6bc2d5698fa3377009fcc8e4a006833ce22b7ad78d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/kwrited-5.18.0.tar.xz">kwrited-5.18.0</a></td>
   <td align="right">19kB</td>
   <td><tt>29c65d58efbe651e76cd31a76a532a695c30263087d4df4bfe3c048105c66d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/libkscreen-5.18.0.tar.xz">libkscreen-5.18.0</a></td>
   <td align="right">83kB</td>
   <td><tt>32daac0dd8eab3edc86d86d320a97b555758794170db3ea18ba022025cbcc2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/libksysguard-5.18.0.tar.xz">libksysguard-5.18.0</a></td>
   <td align="right">595kB</td>
   <td><tt>89a5fe24c2493cd3e130e9a3b591ed78e27841eb0dcbd5f114988a782ad4b9f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/milou-5.18.0.tar.xz">milou-5.18.0</a></td>
   <td align="right">62kB</td>
   <td><tt>c1e2020d7b636b34216463a1862f08a49ed20c3a63aebc028252232545a6a85a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/oxygen-5.18.0.tar.xz">oxygen-5.18.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b55f9c22bfb025f0a52882493966abed1f1c910ac9a667760d28e357b2363360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-browser-integration-5.18.0.tar.xz">plasma-browser-integration-5.18.0</a></td>
   <td align="right">152kB</td>
   <td><tt>56d169752b768d1f75492e118bae30c9c537f52e0c9d1a7c4556fc9923211797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-desktop-5.18.0.tar.xz">plasma-desktop-5.18.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>6c6dacd0e69b06df2b31bb40df7fcf6313de494b8aa06c13ac09616e1447a5b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-integration-5.18.0.tar.xz">plasma-integration-5.18.0</a></td>
   <td align="right">56kB</td>
   <td><tt>52991999c7182424593fc36211f7be1142fca7e2c404b3cd03b5c6aa53ffac43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-nano-5.18.0.tar.xz">plasma-nano-5.18.0</a></td>
   <td align="right">30kB</td>
   <td><tt>b0b9144eba6e4ab1f5765afaaf4c71a6e9e524d1b7e8c8f9e8a0620d9834a245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-nm-5.18.0.tar.xz">plasma-nm-5.18.0</a></td>
   <td align="right">806kB</td>
   <td><tt>526cac8d0e189d1fb0a8842b02ca2485e386d3551bd9ef7a9be094c4be9f858e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-pa-5.18.0.tar.xz">plasma-pa-5.18.0</a></td>
   <td align="right">102kB</td>
   <td><tt>5951d2aef3dcae97c8dc51f1ff672e1beb137b92fd0d33fbf51b772cf253b28e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-phone-components-5.18.0.tar.xz">plasma-phone-components-5.18.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5dd93bf315aae8557a466207f32dda90d2266fbb32aabd8ee795159028b48153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-sdk-5.18.0.tar.xz">plasma-sdk-5.18.0</a></td>
   <td align="right">256kB</td>
   <td><tt>42f0cdb550cdb8e1a4c2f45a780b127b32d2bb758f50be3635be0d8111a4c426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-tests-5.18.0.tar.xz">plasma-tests-5.18.0</a></td>
   <td align="right">1kB</td>
   <td><tt>2b085f1f2f19f776d4442c4f9b391d38fa54612d06383cd781a9d8b85774f263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-thunderbolt-5.18.0.tar.xz">plasma-thunderbolt-5.18.0</a></td>
   <td align="right">49kB</td>
   <td><tt>61c6637708e3f590382ce83207941f02c7e74bae329d43cd37732a5fed90d1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-vault-5.18.0.tar.xz">plasma-vault-5.18.0</a></td>
   <td align="right">133kB</td>
   <td><tt>f82cebc1e22e847c45a553d2b996e1f2b6161d3bcabc67b11f05018f2c12e1d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-workspace-5.18.0.tar.xz">plasma-workspace-5.18.0</a></td>
   <td align="right">5.4MB</td>
   <td><tt>4403c0c79515bc5a69450e96123869455da30efe92fc4a5b71d79e2cae1aac3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plasma-workspace-wallpapers-5.18.0.tar.xz">plasma-workspace-wallpapers-5.18.0</a></td>
   <td align="right">35MB</td>
   <td><tt>db91021bb3df99aeaf55e9d9e09b06c0b24c98f34e5adada35dc0fae613bdada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/plymouth-kcm-5.18.0.tar.xz">plymouth-kcm-5.18.0</a></td>
   <td align="right">40kB</td>
   <td><tt>01550bd54bcf25a2307302d7eb5d3afb2db6d9dea1aa33525948b27d6a891fa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/polkit-kde-agent-1-5.18.0.tar.xz">polkit-kde-agent-1-5.18.0</a></td>
   <td align="right">43kB</td>
   <td><tt>d1ea7667096a4b88d5388b20c1621a9d6ac746b017f72c81678d66c8090ac3a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/powerdevil-5.18.0.tar.xz">powerdevil-5.18.0</a></td>
   <td align="right">583kB</td>
   <td><tt>32bd9a3ae0d3836550c2101fc9cb6dadd699ab8e8935d072ccd91c3d12b58489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/sddm-kcm-5.18.0.tar.xz">sddm-kcm-5.18.0</a></td>
   <td align="right">60kB</td>
   <td><tt>56de2fdd02f87e93a91dfa5083e47ffeb7479b40cd1044bbe40fa1dbe758a24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/systemsettings-5.18.0.tar.xz">systemsettings-5.18.0</a></td>
   <td align="right">171kB</td>
   <td><tt>4b2382d6a57d67c7dd0fdc20fb69f528290e09961f9a6c598275a9b75386b707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/user-manager-5.18.0.tar.xz">user-manager-5.18.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1aac7389fd6a1d5c0914368cda9918b2eb02ce2fcdc8c2489a6fdbb08560c445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.0/xdg-desktop-portal-kde-5.18.0.tar.xz">xdg-desktop-portal-kde-5.18.0</a></td>
   <td align="right">63kB</td>
   <td><tt>70f8210c50357b6c3de06105cea0315da063b815a5d11aba0d4fa2831fabeff5</tt></td>
</tr>

</table>
