
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/attica-5.96.0.tar.xz">attica-5.96.0</a></td>
   <td align="right">68kB</td>
   <td><tt>2d8ee0b7ecd982c89ca3768b056a88325d84da08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/baloo-5.96.0.tar.xz">baloo-5.96.0</a></td>
   <td align="right">283kB</td>
   <td><tt>7732ba7003b01c85575c7bccd51ac50e92a8efc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/bluez-qt-5.96.0.tar.xz">bluez-qt-5.96.0</a></td>
   <td align="right">111kB</td>
   <td><tt>0ff423757b22559ef55c3c2044c93fb05f518f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/breeze-icons-5.96.0.tar.xz">breeze-icons-5.96.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b0baea4d76a66020b0798f9a4c42221b0e9bd36d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/extra-cmake-modules-5.96.0.tar.xz">extra-cmake-modules-5.96.0</a></td>
   <td align="right">323kB</td>
   <td><tt>5c2cebef5837d21a393fbeb56e22f73333581163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/frameworkintegration-5.96.0.tar.xz">frameworkintegration-5.96.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b54bb21e675cd256c3d2ebd91d461945ecc79adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kactivities-5.96.0.tar.xz">kactivities-5.96.0</a></td>
   <td align="right">72kB</td>
   <td><tt>a535a46ad80bf613906e4e061cf91f82cbfcc83a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kactivities-stats-5.96.0.tar.xz">kactivities-stats-5.96.0</a></td>
   <td align="right">82kB</td>
   <td><tt>05d5f79761a5dc34e3028d5a778c03a56888eafc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kapidox-5.96.0.tar.xz">kapidox-5.96.0</a></td>
   <td align="right">192kB</td>
   <td><tt>38241f3f3f04bf453f37d6f7e21604c82c7cca37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/karchive-5.96.0.tar.xz">karchive-5.96.0</a></td>
   <td align="right">963kB</td>
   <td><tt>d73b2a2325623c0c3c0bf273e10cca8808e3ca1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kauth-5.96.0.tar.xz">kauth-5.96.0</a></td>
   <td align="right">89kB</td>
   <td><tt>b500623a7587d490348ba533903816150324cc2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kbookmarks-5.96.0.tar.xz">kbookmarks-5.96.0</a></td>
   <td align="right">127kB</td>
   <td><tt>695f96e160310f6b4a647eb3f444a9aba493c680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kcalendarcore-5.96.0.tar.xz">kcalendarcore-5.96.0</a></td>
   <td align="right">259kB</td>
   <td><tt>b86ca5304573861442aaaa203d8dc9d864d19189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kcmutils-5.96.0.tar.xz">kcmutils-5.96.0</a></td>
   <td align="right">181kB</td>
   <td><tt>74d0972fecca0086d6c6381ac264d1b4f84fe523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kcodecs-5.96.0.tar.xz">kcodecs-5.96.0</a></td>
   <td align="right">231kB</td>
   <td><tt>7c42a89da1e6d669577776627b48c542786400f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kcompletion-5.96.0.tar.xz">kcompletion-5.96.0</a></td>
   <td align="right">121kB</td>
   <td><tt>00d1386d47d6676fa1dea0537cad24039242f9a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kconfig-5.96.0.tar.xz">kconfig-5.96.0</a></td>
   <td align="right">276kB</td>
   <td><tt>f0919532f9d152f5b00df16d9c7460f095a7d57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kconfigwidgets-5.96.0.tar.xz">kconfigwidgets-5.96.0</a></td>
   <td align="right">408kB</td>
   <td><tt>8ca38d905e9d5a3d0aa7333ce160323d102902f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kcontacts-5.96.0.tar.xz">kcontacts-5.96.0</a></td>
   <td align="right">189kB</td>
   <td><tt>cc3236b65c4c8a41e204f94fd94c4cf37bcf98ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kcoreaddons-5.96.0.tar.xz">kcoreaddons-5.96.0</a></td>
   <td align="right">454kB</td>
   <td><tt>f6bd8a387373357e1f91abe9c29a73ca59ef6346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kcrash-5.96.0.tar.xz">kcrash-5.96.0</a></td>
   <td align="right">27kB</td>
   <td><tt>f38325f5ae20b21217f2f52bb113f93fa7686a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kdav-5.96.0.tar.xz">kdav-5.96.0</a></td>
   <td align="right">63kB</td>
   <td><tt>fdc1b8ad10fd3b7d04cfe6cac88957d9fc53d876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kdbusaddons-5.96.0.tar.xz">kdbusaddons-5.96.0</a></td>
   <td align="right">47kB</td>
   <td><tt>9fd00971e33ab4b9d5994cb9ca678ec7db4c77c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kdeclarative-5.96.0.tar.xz">kdeclarative-5.96.0</a></td>
   <td align="right">201kB</td>
   <td><tt>0a0919d4e1a7e80b3ad8d7d1e21701325a4f58fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kded-5.96.0.tar.xz">kded-5.96.0</a></td>
   <td align="right">38kB</td>
   <td><tt>8e6fc38dd946e7c6f708d5b4e1d166818da2df97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kdesu-5.96.0.tar.xz">kdesu-5.96.0</a></td>
   <td align="right">54kB</td>
   <td><tt>86b7cf541cf4df0e604bde829c286cf19da187ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kdnssd-5.96.0.tar.xz">kdnssd-5.96.0</a></td>
   <td align="right">59kB</td>
   <td><tt>7b141d1ab0ebc894b8658e2329e7cde87567d753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kdoctools-5.96.0.tar.xz">kdoctools-5.96.0</a></td>
   <td align="right">430kB</td>
   <td><tt>6ef75fe02a8098cd262063136e0d08b4c3933480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kemoticons-5.96.0.tar.xz">kemoticons-5.96.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>83e8589da9cd68fd02e9be2fb3fbbd242b1172d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kfilemetadata-5.96.0.tar.xz">kfilemetadata-5.96.0</a></td>
   <td align="right">427kB</td>
   <td><tt>285efc00b087bb1a5f66b4cabce729902eaf20dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kglobalaccel-5.96.0.tar.xz">kglobalaccel-5.96.0</a></td>
   <td align="right">94kB</td>
   <td><tt>56e5f4bdab79221d649a77ac9f754841e394c57d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kguiaddons-5.96.0.tar.xz">kguiaddons-5.96.0</a></td>
   <td align="right">71kB</td>
   <td><tt>b8978b60403c225e576df6290cf01ebd5287649f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kholidays-5.96.0.tar.xz">kholidays-5.96.0</a></td>
   <td align="right">233kB</td>
   <td><tt>870e634c4acd148d10836a53c583d61b44e093b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/ki18n-5.96.0.tar.xz">ki18n-5.96.0</a></td>
   <td align="right">934kB</td>
   <td><tt>207786064565fca85bf2838ccb8a90759c3cedc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kiconthemes-5.96.0.tar.xz">kiconthemes-5.96.0</a></td>
   <td align="right">221kB</td>
   <td><tt>a78e033b5ad293aab1a6b7e7ee1e4e7e42b53ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kidletime-5.96.0.tar.xz">kidletime-5.96.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a48e17d192504be9a35b71250bb8ff7568d1c044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kimageformats-5.96.0.tar.xz">kimageformats-5.96.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>4d281213c9296fa4618ec895c9365f2af2234616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kinit-5.96.0.tar.xz">kinit-5.96.0</a></td>
   <td align="right">116kB</td>
   <td><tt>6ef026eb4a7982d7ed51b12183abb4fb13792d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kio-5.96.0.tar.xz">kio-5.96.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>a40f7e496c01bbf0fc54fab7600fb36eec40513e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kirigami2-5.96.0.tar.xz">kirigami2-5.96.0</a></td>
   <td align="right">351kB</td>
   <td><tt>3f4a2fbfa43f4bc7e2977c7369cfdf2ed1a7f570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kitemmodels-5.96.0.tar.xz">kitemmodels-5.96.0</a></td>
   <td align="right">397kB</td>
   <td><tt>d0cbcb9df0fab4d182ab2acce3535295dd09ae9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kitemviews-5.96.0.tar.xz">kitemviews-5.96.0</a></td>
   <td align="right">75kB</td>
   <td><tt>8be0240b5e3c81a3e46784f40727bfa655b2cf58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kjobwidgets-5.96.0.tar.xz">kjobwidgets-5.96.0</a></td>
   <td align="right">99kB</td>
   <td><tt>9d554b623dcad2e0c220e76a1464420759ee79fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/knewstuff-5.96.0.tar.xz">knewstuff-5.96.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>def43815938a2e2cf6368e9b387c12eac97bb4c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/knotifications-5.96.0.tar.xz">knotifications-5.96.0</a></td>
   <td align="right">129kB</td>
   <td><tt>6aa5694c4c57ce27b2b082d0a40ca6ab9f87f5eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/knotifyconfig-5.96.0.tar.xz">knotifyconfig-5.96.0</a></td>
   <td align="right">85kB</td>
   <td><tt>40da3002a5c6baac9a12bd14ba7f0193d3c98737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kpackage-5.96.0.tar.xz">kpackage-5.96.0</a></td>
   <td align="right">138kB</td>
   <td><tt>a8868748abba7e68f383cea9485b7cb12107ee48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kparts-5.96.0.tar.xz">kparts-5.96.0</a></td>
   <td align="right">192kB</td>
   <td><tt>eefb683513649d7045d2ce32c5db2ce6d14a6671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kpeople-5.96.0.tar.xz">kpeople-5.96.0</a></td>
   <td align="right">59kB</td>
   <td><tt>0ab2f7ad2a1bd02dde6d51124d0d6b80253b6713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kplotting-5.96.0.tar.xz">kplotting-5.96.0</a></td>
   <td align="right">32kB</td>
   <td><tt>d22dfc77083f607753dbb1a4ba8a7cf71cedbff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kpty-5.96.0.tar.xz">kpty-5.96.0</a></td>
   <td align="right">58kB</td>
   <td><tt>2480e4bd625553d9cfe4e10b15692b11c985eaba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kquickcharts-5.96.0.tar.xz">kquickcharts-5.96.0</a></td>
   <td align="right">106kB</td>
   <td><tt>8ad9e85b646734ae895e8c1afc1badc3069005d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/krunner-5.96.0.tar.xz">krunner-5.96.0</a></td>
   <td align="right">85kB</td>
   <td><tt>c6aa58642014231ca1a3886cd649c6a55ed7bad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kservice-5.96.0.tar.xz">kservice-5.96.0</a></td>
   <td align="right">262kB</td>
   <td><tt>913dcc1afada62bba2cc7a79751c6c0bbf775326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/ktexteditor-5.96.0.tar.xz">ktexteditor-5.96.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ec57326449b63e189c67f09f9c9cfb5b8919805e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/ktextwidgets-5.96.0.tar.xz">ktextwidgets-5.96.0</a></td>
   <td align="right">321kB</td>
   <td><tt>51f318c478959da661605f73a0608abf30edbfa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kunitconversion-5.96.0.tar.xz">kunitconversion-5.96.0</a></td>
   <td align="right">878kB</td>
   <td><tt>aeca8477be7b74ce31d1fc91d3d3503bf75db9bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kwallet-5.96.0.tar.xz">kwallet-5.96.0</a></td>
   <td align="right">302kB</td>
   <td><tt>6138a8320005b19a0fb747873ef281dea1ff43a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kwayland-5.96.0.tar.xz">kwayland-5.96.0</a></td>
   <td align="right">327kB</td>
   <td><tt>925539d5d81f0c399d7c5b18c786d07789865b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kwidgetsaddons-5.96.0.tar.xz">kwidgetsaddons-5.96.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0af414c6a6b14e67b9cac71c5b50e7e39130542d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kwindowsystem-5.96.0.tar.xz">kwindowsystem-5.96.0</a></td>
   <td align="right">178kB</td>
   <td><tt>e8e2f4880eac517503e497e61752a3792269e489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/kxmlgui-5.96.0.tar.xz">kxmlgui-5.96.0</a></td>
   <td align="right">878kB</td>
   <td><tt>1b36af96bea43455a8d1ba10262d6da1ea4623e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/modemmanager-qt-5.96.0.tar.xz">modemmanager-qt-5.96.0</a></td>
   <td align="right">118kB</td>
   <td><tt>1130a8e11ec670e9cefc70047ff04a03e9fc805a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/networkmanager-qt-5.96.0.tar.xz">networkmanager-qt-5.96.0</a></td>
   <td align="right">193kB</td>
   <td><tt>4c0d4bc733aab3247e51bcaa5e487a68575a42d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/oxygen-icons5-5.96.0.tar.xz">oxygen-icons5-5.96.0</a></td>
   <td align="right">227MB</td>
   <td><tt>a5ab7b932bf6dd62211b926ed0198483b3a6b0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/plasma-framework-5.96.0.tar.xz">plasma-framework-5.96.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>30b9575451b8025f18abea601918c98888891432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/prison-5.96.0.tar.xz">prison-5.96.0</a></td>
   <td align="right">54kB</td>
   <td><tt>74572e2ec40328a3146f2b475d34a2cfa57308a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/purpose-5.96.0.tar.xz">purpose-5.96.0</a></td>
   <td align="right">168kB</td>
   <td><tt>2f60efd56a17ab18388d0b32e5ba4ae0fbe24fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/qqc2-desktop-style-5.96.0.tar.xz">qqc2-desktop-style-5.96.0</a></td>
   <td align="right">63kB</td>
   <td><tt>b215ebeb300edd054af6cda7bccd08a38f815d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/solid-5.96.0.tar.xz">solid-5.96.0</a></td>
   <td align="right">253kB</td>
   <td><tt>6da2eb838fc574150685d8760bfb9e8c2bd299f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/sonnet-5.96.0.tar.xz">sonnet-5.96.0</a></td>
   <td align="right">300kB</td>
   <td><tt>5f523e1435893e8a9ff0bd6e8c816e9c3bee489f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/syndication-5.96.0.tar.xz">syndication-5.96.0</a></td>
   <td align="right">498kB</td>
   <td><tt>a4abfb281f3591304a7d965c1d38dc577be4482f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/syntax-highlighting-5.96.0.tar.xz">syntax-highlighting-5.96.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>49f533ddfbb9bd55e5d0d30241cebda7bfa1887f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.96/threadweaver-5.96.0.tar.xz">threadweaver-5.96.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5ca86d4fa5e057e3a7ecff5739489ac8201e0aaf</tt></td>
</tr>

</table>
