<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/analitza-4.9.1.tar.xz">analitza-4.9.1</a></td>
   <td align="right">139kB</td>
   <td><tt>b69134548d366f705b8854f8da222758f2d6a0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/ark-4.9.1.tar.xz">ark-4.9.1</a></td>
   <td align="right">228kB</td>
   <td><tt>2f7d32b9f99913d14801b56f0c858eda128a7b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/audiocd-kio-4.9.1.tar.xz">audiocd-kio-4.9.1</a></td>
   <td align="right">53kB</td>
   <td><tt>62049d902cc3b454ba4096e889482f341841240f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/blinken-4.9.1.tar.xz">blinken-4.9.1</a></td>
   <td align="right">551kB</td>
   <td><tt>874596bfccf8e675667c8a5ffe4d104850752c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/cantor-4.9.1.tar.xz">cantor-4.9.1</a></td>
   <td align="right">257kB</td>
   <td><tt>03e8344bdc258412550d5617424a1fcd8a762e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/dragon-4.9.1.tar.xz">dragon-4.9.1</a></td>
   <td align="right">382kB</td>
   <td><tt>4e228d66185fbbcc8846f0d69074e9509909287e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/ffmpegthumbs-4.9.1.tar.xz">ffmpegthumbs-4.9.1</a></td>
   <td align="right">19kB</td>
   <td><tt>dea7f81eba98e98d040062945a25c5f6c3651c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/filelight-4.9.1.tar.xz">filelight-4.9.1</a></td>
   <td align="right">286kB</td>
   <td><tt>498a43e08a02e41dc36f0032c8a18f7e054c6cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/gwenview-4.9.1.tar.xz">gwenview-4.9.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5bc7a7da59e17e19f7f5e52648635b5b3bf77a22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/jovie-4.9.1.tar.xz">jovie-4.9.1</a></td>
   <td align="right">357kB</td>
   <td><tt>f9edb471a3245f3d2e429d5d2140954673f97a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/juk-4.9.1.tar.xz">juk-4.9.1</a></td>
   <td align="right">429kB</td>
   <td><tt>9fa4ac409da7d2386c51e3d92a63ef1996562259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kaccessible-4.9.1.tar.xz">kaccessible-4.9.1</a></td>
   <td align="right">19kB</td>
   <td><tt>8715188d1e3c01f204409bad2bad6d0f30a3f39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kactivities-4.9.1.tar.xz">kactivities-4.9.1</a></td>
   <td align="right">81kB</td>
   <td><tt>f216d37e961f46f5830fb15d65c71a9c322cebfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kalgebra-4.9.1.tar.xz">kalgebra-4.9.1</a></td>
   <td align="right">428kB</td>
   <td><tt>15727b87d3951b95ef839dd6bb58dcf193f8fb5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kalzium-4.9.1.tar.xz">kalzium-4.9.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>7a043108edb23a2d857622e44ffb51cf3e870530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kamera-4.9.1.tar.xz">kamera-4.9.1</a></td>
   <td align="right">35kB</td>
   <td><tt>6f032fd551d68b406749e1890d8ee15993a240ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kanagram-4.9.1.tar.xz">kanagram-4.9.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>78961fcd7ee14991be5d3e79068bf0651b86ba3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kate-4.9.1.tar.xz">kate-4.9.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a3a1e0f56e22ca87d5b65768ef4874a43ce3ae71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kbruch-4.9.1.tar.xz">kbruch-4.9.1</a></td>
   <td align="right">883kB</td>
   <td><tt>a4e4ede1732838e596d1a4f2db054b21ce3bc799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kcalc-4.9.1.tar.xz">kcalc-4.9.1</a></td>
   <td align="right">84kB</td>
   <td><tt>40eacf20d6c0ba278670a6383e42ab94e78530d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kcharselect-4.9.1.tar.xz">kcharselect-4.9.1</a></td>
   <td align="right">83kB</td>
   <td><tt>1f8e70c69e63cdc9bd55b63eab5a90dcd81826ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kcolorchooser-4.9.1.tar.xz">kcolorchooser-4.9.1</a></td>
   <td align="right">4kB</td>
   <td><tt>ec7dd7928b72dee38455315fd15e569d11f3cf1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdeadmin-4.9.1.tar.xz">kdeadmin-4.9.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9c544f883c5116a928027944fce7a21715c421f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdeartwork-4.9.1.tar.xz">kdeartwork-4.9.1</a></td>
   <td align="right">132MB</td>
   <td><tt>95a6aac7e6e39a1618de1452ef5d0bb1cb8c9956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-baseapps-4.9.1.tar.xz">kde-baseapps-4.9.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9014332fd6fb18999c8290a3cbb498793d8caa2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-base-artwork-4.9.1.tar.xz">kde-base-artwork-4.9.1</a></td>
   <td align="right">15MB</td>
   <td><tt>461ce7c59513a1c6aa4345341840b9f1b12ff196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdegames-4.9.1.tar.xz">kdegames-4.9.1</a></td>
   <td align="right">53MB</td>
   <td><tt>5fc77f230cff0a9b243403affc176e4e4757a1e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdegraphics-mobipocket-4.9.1.tar.xz">kdegraphics-mobipocket-4.9.1</a></td>
   <td align="right">18kB</td>
   <td><tt>7361731d3d69acba9aeab3b9d16bb2a2e4c3a547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdegraphics-strigi-analyzer-4.9.1.tar.xz">kdegraphics-strigi-analyzer-4.9.1</a></td>
   <td align="right">38kB</td>
   <td><tt>254c64c37cc672934024475918d86184e0357895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdegraphics-thumbnailers-4.9.1.tar.xz">kdegraphics-thumbnailers-4.9.1</a></td>
   <td align="right">40kB</td>
   <td><tt>b58497a68c5524c04a25fcde2e6d3617bc50a2aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdelibs-4.9.1.tar.xz">kdelibs-4.9.1</a></td>
   <td align="right">11MB</td>
   <td><tt>33fb26ec7735122b2bb084b79f8fcffb826c58f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdenetwork-4.9.1.tar.xz">kdenetwork-4.9.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>22f8cde8b5617ba7e401d82b0669a06899b17320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdepim-4.9.1.tar.xz">kdepim-4.9.1</a></td>
   <td align="right">13MB</td>
   <td><tt>0fe7ade5d525ed60310f228570de75cbbceac46b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdepimlibs-4.9.1.tar.xz">kdepimlibs-4.9.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>28d1fdbba5136a09445cad2b83d3a31c4e05e284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdepim-runtime-4.9.1.tar.xz">kdepim-runtime-4.9.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bb39a81f9cf909c84807a003c77b1db9d3a1730b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdeplasma-addons-4.9.1.tar.xz">kdeplasma-addons-4.9.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2be00830e0e7e030240ca897ec1d9f9978fd8682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-runtime-4.9.1.tar.xz">kde-runtime-4.9.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>4b67e0f12617c478ee29546da4d98f605cd35dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdesdk-4.9.1.tar.xz">kdesdk-4.9.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>319ebe0f912626b8d3539bc22d706cc2548723af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdetoys-4.9.1.tar.xz">kdetoys-4.9.1</a></td>
   <td align="right">368kB</td>
   <td><tt>caa6a3222dccfb1b12513135e2f859904e385d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-wallpapers-4.9.1.tar.xz">kde-wallpapers-4.9.1</a></td>
   <td align="right">73MB</td>
   <td><tt>e1d92c5d8ca27f51403b7eef3a6a458dd220fbea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdewebdev-4.9.1.tar.xz">kdewebdev-4.9.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0a64286114c10c3b09c64d1829058b9ab667986b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-workspace-4.9.1.tar.xz">kde-workspace-4.9.1</a></td>
   <td align="right">21MB</td>
   <td><tt>ac1753e2264246ec6347961f44b0aae07072dbb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kdf-4.9.1.tar.xz">kdf-4.9.1</a></td>
   <td align="right">151kB</td>
   <td><tt>1466bbfe715ff6e7a2129fbb5c6a42affbc48b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kfloppy-4.9.1.tar.xz">kfloppy-4.9.1</a></td>
   <td align="right">58kB</td>
   <td><tt>9559d03483aaab1774dbf26fa7171f6b697774b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kgamma-4.9.1.tar.xz">kgamma-4.9.1</a></td>
   <td align="right">25kB</td>
   <td><tt>b38bfb571e13dc5a6db389b2980e130b85a874c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kgeography-4.9.1.tar.xz">kgeography-4.9.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>a5c817949b35f8001a2489d0fabadddcbc7646df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kgpg-4.9.1.tar.xz">kgpg-4.9.1</a></td>
   <td align="right">789kB</td>
   <td><tt>9f1e181839c88485912beb013e0908b0e59877a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/khangman-4.9.1.tar.xz">khangman-4.9.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>3b07235ff8aa419cc6971c14791e56a15c10d39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kig-4.9.1.tar.xz">kig-4.9.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ab4382d1b463569eba87efc7fbf9b12d08b236a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kimono-4.9.1.tar.xz">kimono-4.9.1</a></td>
   <td align="right">910kB</td>
   <td><tt>08b1a43eb800de1ad1ed7a0a147e6c73b3928bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kiten-4.9.1.tar.xz">kiten-4.9.1</a></td>
   <td align="right">11MB</td>
   <td><tt>0a1b4228cc05d8bf185af5a929e864c541f6e0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/klettres-4.9.1.tar.xz">klettres-4.9.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f52621b525ba2d2598fc119cb121e96780c87f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kmag-4.9.1.tar.xz">kmag-4.9.1</a></td>
   <td align="right">89kB</td>
   <td><tt>9205eba59c39f9d9e0a38c8424bdde73cb43a174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kmix-4.9.1.tar.xz">kmix-4.9.1</a></td>
   <td align="right">293kB</td>
   <td><tt>43f6e8b635c9662bc930f31680d84ad0e5c0dd6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kmousetool-4.9.1.tar.xz">kmousetool-4.9.1</a></td>
   <td align="right">41kB</td>
   <td><tt>ca977db4f5cbaa6ca99adb21ce6b16306f94de6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kmouth-4.9.1.tar.xz">kmouth-4.9.1</a></td>
   <td align="right">310kB</td>
   <td><tt>fae5e95a1d65a2e4b0a695969c159d6bb75283ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kmplot-4.9.1.tar.xz">kmplot-4.9.1</a></td>
   <td align="right">660kB</td>
   <td><tt>7118af5ce1a66c79fd0439b9aa249169ef63b2cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kolourpaint-4.9.1.tar.xz">kolourpaint-4.9.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>80d14586a889bd57e522321a863ac11b990b8982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/konsole-4.9.1.tar.xz">konsole-4.9.1</a></td>
   <td align="right">423kB</td>
   <td><tt>57af84c4fc441dfc3bcea9eef96b6283a3a8322e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/korundum-4.9.1.tar.xz">korundum-4.9.1</a></td>
   <td align="right">156kB</td>
   <td><tt>ea22f9bddd7450e15f6dcf3d7f243874f664bc71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kremotecontrol-4.9.1.tar.xz">kremotecontrol-4.9.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>046345fe3fb01c264ac3161a376f79f851cd51f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kross-interpreters-4.9.1.tar.xz">kross-interpreters-4.9.1</a></td>
   <td align="right">127kB</td>
   <td><tt>d97c6ab445ab209d41a817eeebbfa42461c2511a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kruler-4.9.1.tar.xz">kruler-4.9.1</a></td>
   <td align="right">129kB</td>
   <td><tt>37855f2bae3ac92c15c4563c85e4e70a129aeb76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/ksaneplugin-4.9.1.tar.xz">ksaneplugin-4.9.1</a></td>
   <td align="right">12kB</td>
   <td><tt>832ed50f5f858cea1984050a297fd3a9da3691aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kscd-4.9.1.tar.xz">kscd-4.9.1</a></td>
   <td align="right">90kB</td>
   <td><tt>9cd9feef981bcbbb6f55d606a80abd2ef5635294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/ksnapshot-4.9.1.tar.xz">ksnapshot-4.9.1</a></td>
   <td align="right">256kB</td>
   <td><tt>e3941822f70df00aeede53481db4123aeb27e7a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kstars-4.9.1.tar.xz">kstars-4.9.1</a></td>
   <td align="right">11MB</td>
   <td><tt>ee07f3cd1141990a1c6bd9ad655413a8d74d8df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/ktimer-4.9.1.tar.xz">ktimer-4.9.1</a></td>
   <td align="right">146kB</td>
   <td><tt>6fdcea3ce24b41d04baf9ca4a244035488b01197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/ktouch-4.9.1.tar.xz">ktouch-4.9.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a4203a226d3b02b5619efd01291816f1b4de2b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kturtle-4.9.1.tar.xz">kturtle-4.9.1</a></td>
   <td align="right">206kB</td>
   <td><tt>c3ee656a8ca0fb4b75e810453e88f5fe30466de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kwallet-4.9.1.tar.xz">kwallet-4.9.1</a></td>
   <td align="right">273kB</td>
   <td><tt>da1eef2fcb729fbcd28adeac486fedfc16175be2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kwordquiz-4.9.1.tar.xz">kwordquiz-4.9.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>66d66016c7cb708aeb436861a647716fcde39028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/libkcddb-4.9.1.tar.xz">libkcddb-4.9.1</a></td>
   <td align="right">152kB</td>
   <td><tt>7c2009bfb19a36cc5084ac450f5a2155a193da55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/libkcompactdisc-4.9.1.tar.xz">libkcompactdisc-4.9.1</a></td>
   <td align="right">73kB</td>
   <td><tt>5e35ecf40225c79e023c0a4eb28f94043e9a2a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/libkdcraw-4.9.1.tar.xz">libkdcraw-4.9.1</a></td>
   <td align="right">261kB</td>
   <td><tt>82911b0bf93a7762130e4a1aff4dc72ec48940c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/libkdeedu-4.9.1.tar.xz">libkdeedu-4.9.1</a></td>
   <td align="right">204kB</td>
   <td><tt>d472434ac86c2ca92318c9d5e24625d2a72fe654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/libkexiv2-4.9.1.tar.xz">libkexiv2-4.9.1</a></td>
   <td align="right">129kB</td>
   <td><tt>fec413daf7ad814299fb53db695c273b1c26bc3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/libkipi-4.9.1.tar.xz">libkipi-4.9.1</a></td>
   <td align="right">73kB</td>
   <td><tt>8fb561ef477b6a35c264ada783f65efa2ae1d3b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/libksane-4.9.1.tar.xz">libksane-4.9.1</a></td>
   <td align="right">77kB</td>
   <td><tt>c44eed9ec5f998d0449369f3c1b1abfc4ad2fcfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/marble-4.9.1.tar.xz">marble-4.9.1</a></td>
   <td align="right">18MB</td>
   <td><tt>5975a99ef55b418b709279c95ff9afe01cf64264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/mplayerthumbs-4.9.1.tar.xz">mplayerthumbs-4.9.1</a></td>
   <td align="right">26kB</td>
   <td><tt>f3f8b48b5c98e47bba0ed5df26f2543dacb07b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/nepomuk-core-4.9.1.tar.xz">nepomuk-core-4.9.1</a></td>
   <td align="right">365kB</td>
   <td><tt>1dbb4467b7d4ec50133e5ce86c3837b57b95794d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/okular-4.9.1.tar.xz">okular-4.9.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d192961e5990f3bab323df77c9fed92262936279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/oxygen-icons-4.9.1.tar.xz">oxygen-icons-4.9.1</a></td>
   <td align="right">265MB</td>
   <td><tt>0989cda42a9b4370815d422bcb0eaa2ee056832e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/pairs-4.9.1.tar.xz">pairs-4.9.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f109037b7960d0e14e23726e7edbbf0bf430b764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/parley-4.9.1.tar.xz">parley-4.9.1</a></td>
   <td align="right">7.8MB</td>
   <td><tt>8ca16eed35b87ce2416bb715dc392207198f802c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/perlkde-4.9.1.tar.xz">perlkde-4.9.1</a></td>
   <td align="right">39kB</td>
   <td><tt>9a4e298770152a9ed903eff22048021e19e5f257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/perlqt-4.9.1.tar.xz">perlqt-4.9.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9800056ce7e2ced8d8487776e7ecb58d3bf87370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/printer-applet-4.9.1.tar.xz">printer-applet-4.9.1</a></td>
   <td align="right">34kB</td>
   <td><tt>7a2a4f725d3c13bc15aa92e26c05aa24404e3c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/pykde4-4.9.1.tar.xz">pykde4-4.9.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b1066dc30d59ddfb16db3f7e1ee11a2f9895dfca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/qtruby-4.9.1.tar.xz">qtruby-4.9.1</a></td>
   <td align="right">517kB</td>
   <td><tt>6362e3e1e65085cda1c8b2793ba7105150ec989d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/qyoto-4.9.1.tar.xz">qyoto-4.9.1</a></td>
   <td align="right">495kB</td>
   <td><tt>a5a6b42a7c37c554fa67dcd9a9439c4d32a6c59a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/rocs-4.9.1.tar.xz">rocs-4.9.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>92547f7b3402763395bef93ce43411a381694ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/smokegen-4.9.1.tar.xz">smokegen-4.9.1</a></td>
   <td align="right">142kB</td>
   <td><tt>d73bd72550a644f073b94258591fe2c7c742360b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/smokekde-4.9.1.tar.xz">smokekde-4.9.1</a></td>
   <td align="right">35kB</td>
   <td><tt>ae611a3571306fe77fba5799ac8da4017633c84e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/smokeqt-4.9.1.tar.xz">smokeqt-4.9.1</a></td>
   <td align="right">29kB</td>
   <td><tt>db56b4a6b4380a61735a4dd5366af75ad4901475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/step-4.9.1.tar.xz">step-4.9.1</a></td>
   <td align="right">361kB</td>
   <td><tt>87667ac074e6ac924e8b7123969796f5e61ec2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/superkaramba-4.9.1.tar.xz">superkaramba-4.9.1</a></td>
   <td align="right">374kB</td>
   <td><tt>0a1f43ab28cc351ab99f2aaf6cb5061c4136daa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/svgpart-4.9.1.tar.xz">svgpart-4.9.1</a></td>
   <td align="right">8kB</td>
   <td><tt>92eecdc27174f4e9032f62ef166e09f54a81fb4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/sweeper-4.9.1.tar.xz">sweeper-4.9.1</a></td>
   <td align="right">81kB</td>
   <td><tt>e64550d8fc5d5b5615eb464d9542167f0b5e17f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ar-4.9.1.tar.xz">kde-l10n-ar-4.9.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>016dce0c7254aa6965375318d71646e05ee271a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-bg-4.9.1.tar.xz">kde-l10n-bg-4.9.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>98fc74850cfc2d743ebc5c880c08bc2bf09c4b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-bs-4.9.1.tar.xz">kde-l10n-bs-4.9.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8ef35b972fe3a61719c6de85c9f46eab78a30514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ca-4.9.1.tar.xz">kde-l10n-ca-4.9.1</a></td>
   <td align="right">10MB</td>
   <td><tt>88c3b840e35f460a52e69d6454274fd280d3731d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ca@valencia-4.9.1.tar.xz">kde-l10n-ca@valencia-4.9.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>126cc9e599e4c32d23b6b5d94b56d5e2d299368c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-cs-4.9.1.tar.xz">kde-l10n-cs-4.9.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>161b5027ff0e5f45d8ed049eccfada07ae1635bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-da-4.9.1.tar.xz">kde-l10n-da-4.9.1</a></td>
   <td align="right">12MB</td>
   <td><tt>946793a91a8e5343b1c6149e72fbb87d11152548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-de-4.9.1.tar.xz">kde-l10n-de-4.9.1</a></td>
   <td align="right">36MB</td>
   <td><tt>666a93d0ddf5bc0a4f68b787b697e903c5f60867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-el-4.9.1.tar.xz">kde-l10n-el-4.9.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>f03be34d0b477b3f21b9437374513d5f9f43e800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-en_GB-4.9.1.tar.xz">kde-l10n-en_GB-4.9.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>97ff805270fd554553cafb753a35e351cbdc7ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-es-4.9.1.tar.xz">kde-l10n-es-4.9.1</a></td>
   <td align="right">22MB</td>
   <td><tt>e56eec7006199592f6e129d2304e0b31a803ae4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-et-4.9.1.tar.xz">kde-l10n-et-4.9.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>9621eb76a782af3e9dcfc255d4c72adf2fdcdd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-eu-4.9.1.tar.xz">kde-l10n-eu-4.9.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b959a39f02d64e48dbef53adec7d7afe975f830e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-fa-4.9.1.tar.xz">kde-l10n-fa-4.9.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>62065e74e42cddf777594e069db32d658ed939c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-fi-4.9.1.tar.xz">kde-l10n-fi-4.9.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a7440cc50371bf7e7b9ee1b5d087a80558b6a12a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-fr-4.9.1.tar.xz">kde-l10n-fr-4.9.1</a></td>
   <td align="right">42MB</td>
   <td><tt>c3e7172c0146031aabfe7374835ce6710fcc6fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ga-4.9.1.tar.xz">kde-l10n-ga-4.9.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4b8342a175ff0ccf45cdc77254c9b95f20c2d6b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-gl-4.9.1.tar.xz">kde-l10n-gl-4.9.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>bf17cbadddb2f378666f41c3144dc332c574b579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-he-4.9.1.tar.xz">kde-l10n-he-4.9.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>cc8e9a59264f67b8a262da28229f9c33788455a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-hi-4.9.1.tar.xz">kde-l10n-hi-4.9.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0ab0100bcf9b7b3d6d465abb6a178ff339f13e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-hr-4.9.1.tar.xz">kde-l10n-hr-4.9.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f870134a6830d2791338cbbb5c28ffa68d175b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-hu-4.9.1.tar.xz">kde-l10n-hu-4.9.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>55f79a2fcd52a87a8d7cdb5219a3e052c3962300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ia-4.9.1.tar.xz">kde-l10n-ia-4.9.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>10731b99847a9b69285f976d6d34b9405fa0ccff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-is-4.9.1.tar.xz">kde-l10n-is-4.9.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>dfb0c8c95b3eecd3516a891e3664749068e73c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-it-4.9.1.tar.xz">kde-l10n-it-4.9.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>c6add14a9b1ff97cfdf90aec2c10d159de2cfdf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ja-4.9.1.tar.xz">kde-l10n-ja-4.9.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f4e70858fb3aca7741506af25a230d4e6a965bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-kk-4.9.1.tar.xz">kde-l10n-kk-4.9.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1162cf9916654e4cd9ab6023f5db86f2f5c56f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-km-4.9.1.tar.xz">kde-l10n-km-4.9.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>320c28fe343be0d349cd07ad7023606142566cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ko-4.9.1.tar.xz">kde-l10n-ko-4.9.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3be8b8cb1c2aaf6efc15c05e9713fb4152fe2e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-lt-4.9.1.tar.xz">kde-l10n-lt-4.9.1</a></td>
   <td align="right">10MB</td>
   <td><tt>21f16efe6e20c8d5afb72a00c5da207b4b5ffca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-lv-4.9.1.tar.xz">kde-l10n-lv-4.9.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>00caf7747887b02661d5fc8d0a9cac40a41c7dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-nb-4.9.1.tar.xz">kde-l10n-nb-4.9.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a8dab7a563493d130a816ca24fb67e6147224abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-nds-4.9.1.tar.xz">kde-l10n-nds-4.9.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0d27439d3de1b0647f28c9624fbe40d6c0be8ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-nl-4.9.1.tar.xz">kde-l10n-nl-4.9.1</a></td>
   <td align="right">15MB</td>
   <td><tt>ea824262e78992018a6d9d11759e1ddd21afeab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-nn-4.9.1.tar.xz">kde-l10n-nn-4.9.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>81d7ff8a63d7f6c481f66e58f43ed5fd1830ffb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-pa-4.9.1.tar.xz">kde-l10n-pa-4.9.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b71ff1768b591b8db2dc4b669b9374f1ebd17829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-pl-4.9.1.tar.xz">kde-l10n-pl-4.9.1</a></td>
   <td align="right">16MB</td>
   <td><tt>673999308b8a58c669dbdce47a9091e00eb869f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-pt-4.9.1.tar.xz">kde-l10n-pt-4.9.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>bd7c159f4f251f7178387615e5c8e4ded5840dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-pt_BR-4.9.1.tar.xz">kde-l10n-pt_BR-4.9.1</a></td>
   <td align="right">25MB</td>
   <td><tt>96d8b507a88514565e0d7436637d7f9d8bee5339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ro-4.9.1.tar.xz">kde-l10n-ro-4.9.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a7c97f9bdad4bb741bfd5adc31dcc2dd9c304668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ru-4.9.1.tar.xz">kde-l10n-ru-4.9.1</a></td>
   <td align="right">22MB</td>
   <td><tt>533512cfcb9b487029d432e3cbd5cfc413533ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-si-4.9.1.tar.xz">kde-l10n-si-4.9.1</a></td>
   <td align="right">1010kB</td>
   <td><tt>7d94df203327cc9668e82fd3805a6cbcabcb7512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-sk-4.9.1.tar.xz">kde-l10n-sk-4.9.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>3c6b62061db142416a22696aecafe07ff0134352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-sl-4.9.1.tar.xz">kde-l10n-sl-4.9.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>8db2bc3ca7faee209b9a872d376998e2d352ae4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-sr-4.9.1.tar.xz">kde-l10n-sr-4.9.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>6ea2d9e9c45965b4e303dd83cc7a7611520d637e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-sv-4.9.1.tar.xz">kde-l10n-sv-4.9.1</a></td>
   <td align="right">15MB</td>
   <td><tt>d73914415da09cf0b75d170377bb15a5f624269b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-tg-4.9.1.tar.xz">kde-l10n-tg-4.9.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>154a874d86692f52b7e85d05266995d55e9efd9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-th-4.9.1.tar.xz">kde-l10n-th-4.9.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3bb828b969e6706d659db2893947beb7c5e0eee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-tr-4.9.1.tar.xz">kde-l10n-tr-4.9.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>c1d757b9d221a7cf8208042fc41f95e9afa35d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-ug-4.9.1.tar.xz">kde-l10n-ug-4.9.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>277c7007670c236c964b65d299ccc69e032a9766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-uk-4.9.1.tar.xz">kde-l10n-uk-4.9.1</a></td>
   <td align="right">21MB</td>
   <td><tt>cd8a925a9b0c0ae59a8c29099ced9e729f751f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-vi-4.9.1.tar.xz">kde-l10n-vi-4.9.1</a></td>
   <td align="right">894kB</td>
   <td><tt>08738d2d8552875ffc1cd77935f543f14b10223d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-wa-4.9.1.tar.xz">kde-l10n-wa-4.9.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>34ff73c05196351d3911e99ed6c1da9b131bedfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-zh_CN-4.9.1.tar.xz">kde-l10n-zh_CN-4.9.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>b00399f23340f6d1406dfd03d477a16e2bba64de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.1/src/kde-l10n/kde-l10n-zh_TW-4.9.1.tar.xz">kde-l10n-zh_TW-4.9.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9d66225893eafa5d1390125c3f5da76e97c09daa</tt></td>
</tr>

</table>
