<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdeaccessibility-4.5.0.tar.bz2">kdeaccessibility-4.5.0</a></td><td align="right">5,2MB</td><td><tt>9be1d2394765bedea566ad0727dfac80cc37ffbd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdeadmin-4.5.0.tar.bz2">kdeadmin-4.5.0</a></td><td align="right">1,4MB</td><td><tt>4f6793277650455bacc1b960c4a5cd919c7c28cb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdeartwork-4.5.0.tar.bz2">kdeartwork-4.5.0</a></td><td align="right">106MB</td><td><tt>7093bfd01310c15114e61859d6321115ed3e6431</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdebase-4.5.0.tar.bz2">kdebase-4.5.0</a></td><td align="right">2,5MB</td><td><tt>c3c10e67708d717c9b1d741a39a266a4c96ceefd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdebase-runtime-4.5.0.tar.bz2">kdebase-runtime-4.5.0</a></td><td align="right">5,5MB</td><td><tt>4296b78ae517418cf25a385697c7476aef54f684</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdebase-workspace-4.5.0.tar.bz2">kdebase-workspace-4.5.0</a></td><td align="right">63MB</td><td><tt>86648def4f6c1791ed385b649b867d9a38db6e1c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdebindings-4.5.0.tar.bz2">kdebindings-4.5.0</a></td><td align="right">6,1MB</td><td><tt>167cdf551c3b39e4f642e3d8c6f3459a002b09be</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdeedu-4.5.0.tar.bz2">kdeedu-4.5.0</a></td><td align="right">63MB</td><td><tt>0c01ee3b3536bbca65290c1fbf46461c683c8e9e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdegames-4.5.0.tar.bz2">kdegames-4.5.0</a></td><td align="right">56MB</td><td><tt>82c3a4c03bb3e18b50d19a765ab745e68f85be93</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdegraphics-4.5.0.tar.bz2">kdegraphics-4.5.0</a></td><td align="right">4,5MB</td><td><tt>fe30125c0e04139c74a55c09b64301174fc7e8ad</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdelibs-4.5.0.tar.bz2">kdelibs-4.5.0</a></td><td align="right">14MB</td><td><tt>b1f6523d608433d4ed81c3ae7343a893942d8768</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdemultimedia-4.5.0.tar.bz2">kdemultimedia-4.5.0</a></td><td align="right">1,5MB</td><td><tt>325d270322a2140f3dd288b4f26971d63d3059bb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdenetwork-4.5.0.tar.bz2">kdenetwork-4.5.0</a></td><td align="right">7,8MB</td><td><tt>be2ac295380c79efba986d33fc0d285b9e3e565f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdepimlibs-4.5.0.tar.bz2">kdepimlibs-4.5.0</a></td><td align="right">2,6MB</td><td><tt>1759c9d1aeb01be60f89877f6cc93d8e8df95ea5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdeplasma-addons-4.5.0.tar.bz2">kdeplasma-addons-4.5.0</a></td><td align="right">1,7MB</td><td><tt>48386ebf8a049f2456bf0e88ba46fced0351cd02</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdesdk-4.5.0.tar.bz2">kdesdk-4.5.0</a></td><td align="right">5,5MB</td><td><tt>a4ff7c22b22a9f1b2b870955f077b2485b43052d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdetoys-4.5.0.tar.bz2">kdetoys-4.5.0</a></td><td align="right">396KB</td><td><tt>7f54336bbac1c5614003581567a0859ac8a28b6d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdeutils-4.5.0.tar.bz2">kdeutils-4.5.0</a></td><td align="right">3,7MB</td><td><tt>3c3cf3c7d788ccc3812431d96d42277df029c3fd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/kdewebdev-4.5.0.tar.bz2">kdewebdev-4.5.0</a></td><td align="right">2,1MB</td><td><tt>18fc93e59452d1a5a33098eb89049241a2a86cc5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.0/src/oxygen-icons-4.5.0.tar.bz2">oxygen-icons-4.5.0</a></td><td align="right">133MB</td><td><tt>d8cd25c1f6601fef65a2b4900425292ca79e8486</tt></td></tr>
</table>
