<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/analitza-4.10.2.tar.xz">analitza-4.10.2</a></td>
   <td align="right">174kB</td>
   <td><tt>e4acd6859140c3860eead695c2f20195b8df0a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ark-4.10.2.tar.xz">ark-4.10.2</a></td>
   <td align="right">232kB</td>
   <td><tt>3927eec73d2f1d1c9cd7b0d8888047df0bfb04ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/audiocd-kio-4.10.2.tar.xz">audiocd-kio-4.10.2</a></td>
   <td align="right">55kB</td>
   <td><tt>83d5f79e60b2b867047fd36f7a33af70087581d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/blinken-4.10.2.tar.xz">blinken-4.10.2</a></td>
   <td align="right">553kB</td>
   <td><tt>884c9bd072325b3fc3e06da5c875516c6ee1f728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/bomber-4.10.2.tar.xz">bomber-4.10.2</a></td>
   <td align="right">382kB</td>
   <td><tt>7f5e955127da33c7589103628cac356e6ebe4141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/bovo-4.10.2.tar.xz">bovo-4.10.2</a></td>
   <td align="right">107kB</td>
   <td><tt>9af42dbd99c552adcba59deeaa6407b2465bde87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/cantor-4.10.2.tar.xz">cantor-4.10.2</a></td>
   <td align="right">311kB</td>
   <td><tt>7611cb379889f87908931ba25a2de9072de75e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/dragon-4.10.2.tar.xz">dragon-4.10.2</a></td>
   <td align="right">386kB</td>
   <td><tt>e4abf7618516e25d8943700d4509212c43ef67a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ffmpegthumbs-4.10.2.tar.xz">ffmpegthumbs-4.10.2</a></td>
   <td align="right">20kB</td>
   <td><tt>acd089018480ae879d241968a3be1627fb2b3298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/filelight-4.10.2.tar.xz">filelight-4.10.2</a></td>
   <td align="right">283kB</td>
   <td><tt>1047e985fead8655b9eac888315b007844b34a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/granatier-4.10.2.tar.xz">granatier-4.10.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>36ac5fe97d2ea06038f0a2f7e58d0949a6d72cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/gwenview-4.10.2.tar.xz">gwenview-4.10.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6872a50b2fda3bed717e0fc1b367b02ad80550dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/jovie-4.10.2.tar.xz">jovie-4.10.2</a></td>
   <td align="right">361kB</td>
   <td><tt>3292fb9a1bbae4cfe2e37073b004f78e23936f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/juk-4.10.2.tar.xz">juk-4.10.2</a></td>
   <td align="right">436kB</td>
   <td><tt>4ffb1275369dfd645a99449705ba1651e9bd3885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kaccessible-4.10.2.tar.xz">kaccessible-4.10.2</a></td>
   <td align="right">20kB</td>
   <td><tt>453235676a1991e5f448497f8aa61d0e7ddd54f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kactivities-4.10.2.tar.xz">kactivities-4.10.2</a></td>
   <td align="right">106kB</td>
   <td><tt>bde79ed3db93d5fa72e1081a6638c5cb777f495e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kajongg-4.10.2.tar.xz">kajongg-4.10.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>efda22fb18c5cbf87975be2f96a89a7ece6a2b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kalgebra-4.10.2.tar.xz">kalgebra-4.10.2</a></td>
   <td align="right">435kB</td>
   <td><tt>f029006b89aa75e6584836a90832f5130fff49b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kalzium-4.10.2.tar.xz">kalzium-4.10.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>bf4c5b19905d83dede215b672d6b2911eb6d57cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kamera-4.10.2.tar.xz">kamera-4.10.2</a></td>
   <td align="right">36kB</td>
   <td><tt>5ee6904705c1d323c7c0d780d0ecf65f93175981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kanagram-4.10.2.tar.xz">kanagram-4.10.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2536db114e6be17baf1556293c95b70fe83aa609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kapman-4.10.2.tar.xz">kapman-4.10.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b2a8122fbebc364dee64707ccc720e62eb1af66a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kate-4.10.2.tar.xz">kate-4.10.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>117850ca1728c309310f23a5ac2d583cfdfd29c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/katomic-4.10.2.tar.xz">katomic-4.10.2</a></td>
   <td align="right">651kB</td>
   <td><tt>c7d3fc2dc10ce90092d229f1a879a0081e26cd8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kblackbox-4.10.2.tar.xz">kblackbox-4.10.2</a></td>
   <td align="right">105kB</td>
   <td><tt>3d29652827a4fba86615a424f5a5b0bcffc184b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kblocks-4.10.2.tar.xz">kblocks-4.10.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>be903b314547ccdc0eee335a34bac00bc769c3b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kbounce-4.10.2.tar.xz">kbounce-4.10.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>1f27198383237538791eccad15c7ca6da946826e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kbreakout-4.10.2.tar.xz">kbreakout-4.10.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3c93764ffcb0f1eb444b52ae7ef7c7134728178e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kbruch-4.10.2.tar.xz">kbruch-4.10.2</a></td>
   <td align="right">887kB</td>
   <td><tt>2ba86ec27e9890734dc6a74528b6082f31caa8aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kcalc-4.10.2.tar.xz">kcalc-4.10.2</a></td>
   <td align="right">91kB</td>
   <td><tt>45f2a3eb557891e3c47a00dafb9ad3bd64bde4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kcharselect-4.10.2.tar.xz">kcharselect-4.10.2</a></td>
   <td align="right">84kB</td>
   <td><tt>2e5b06c4be689097f3999ff772bc12373fa81e7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kcolorchooser-4.10.2.tar.xz">kcolorchooser-4.10.2</a></td>
   <td align="right">4kB</td>
   <td><tt>71d7e8415c4583ef72598bb4a50d8b2c7c83a8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdeadmin-4.10.2.tar.xz">kdeadmin-4.10.2</a></td>
   <td align="right">660kB</td>
   <td><tt>885f63b846e9e8d1485c9261544efb2ab0eea58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdeartwork-4.10.2.tar.xz">kdeartwork-4.10.2</a></td>
   <td align="right">136MB</td>
   <td><tt>000146f17a31d1257959e274f952e5a2f55f0a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-baseapps-4.10.2.tar.xz">kde-baseapps-4.10.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7f505292e95b35205cec3baa67e9e9b24f79b9b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-base-artwork-4.10.2.tar.xz">kde-base-artwork-4.10.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>4071b07ebe544e7ec9032cf7fc2798eaa45ee39b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdegraphics-mobipocket-4.10.2.tar.xz">kdegraphics-mobipocket-4.10.2</a></td>
   <td align="right">19kB</td>
   <td><tt>657d912c5addd8b770309f125a16d6bd852141ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdegraphics-strigi-analyzer-4.10.2.tar.xz">kdegraphics-strigi-analyzer-4.10.2</a></td>
   <td align="right">40kB</td>
   <td><tt>3d09bd886eb8f94a0492748e2500af539b5aa339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdegraphics-thumbnailers-4.10.2.tar.xz">kdegraphics-thumbnailers-4.10.2</a></td>
   <td align="right">40kB</td>
   <td><tt>7a3688aa23050967927e569f2b8d8c6841bf2401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdelibs-4.10.2.tar.xz">kdelibs-4.10.2</a></td>
   <td align="right">11MB</td>
   <td><tt>2f1f455c39fa33cc133db7ec6b3d2dbbabe03c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdenetwork-4.10.2.tar.xz">kdenetwork-4.10.2</a></td>
   <td align="right">8.6MB</td>
   <td><tt>972526be8275a8adcb6e4fa51188a5dad83a0b14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdepim-4.10.2.tar.xz">kdepim-4.10.2</a></td>
   <td align="right">13MB</td>
   <td><tt>61b74cb3bf541040e09252d4dcfaea8a876a2859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdepimlibs-4.10.2.tar.xz">kdepimlibs-4.10.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ab163597d36b5457f9bcb0328f21c35777fffc34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdepim-runtime-4.10.2.tar.xz">kdepim-runtime-4.10.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>110715ca80a67b8fce7566379fe7a058fdca100d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdeplasma-addons-4.10.2.tar.xz">kdeplasma-addons-4.10.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>26c59eb5738f9efbb94c7109b108ec09d7008ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-runtime-4.10.2.tar.xz">kde-runtime-4.10.2</a></td>
   <td align="right">6.8MB</td>
   <td><tt>b7f3c3907b8f19dcd975b1724b8ae01c4cae638b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdesdk-4.10.2.tar.xz">kdesdk-4.10.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>0cedb222c469f7e465486ac744806e52f762b413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdetoys-4.10.2.tar.xz">kdetoys-4.10.2</a></td>
   <td align="right">370kB</td>
   <td><tt>3fa4fc9b9ec04e9967b9a326d9dc26c3055b5e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-wallpapers-4.10.2.tar.xz">kde-wallpapers-4.10.2</a></td>
   <td align="right">86MB</td>
   <td><tt>5919c022631560f32fb660d2ac6cb4ea2017389a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdewebdev-4.10.2.tar.xz">kdewebdev-4.10.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3ab68cf5fefbfe09826e659a097d21821771a5b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-workspace-4.10.2.tar.xz">kde-workspace-4.10.2</a></td>
   <td align="right">12MB</td>
   <td><tt>12b10e8bea44f3aafa0c8d776eadfee14d71c3f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdf-4.10.2.tar.xz">kdf-4.10.2</a></td>
   <td align="right">153kB</td>
   <td><tt>e7f230d14188c45c226513e110ee664a4ad89cb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kdiamond-4.10.2.tar.xz">kdiamond-4.10.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>57b6525cd17fa69e99d596441aa10c626766846b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kfloppy-4.10.2.tar.xz">kfloppy-4.10.2</a></td>
   <td align="right">60kB</td>
   <td><tt>c79e9660ebea09aea2caffb8424e3621f30d3346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kfourinline-4.10.2.tar.xz">kfourinline-4.10.2</a></td>
   <td align="right">265kB</td>
   <td><tt>b587f56bf5f095ec44da271e04b325f6dcc5c5f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kgamma-4.10.2.tar.xz">kgamma-4.10.2</a></td>
   <td align="right">26kB</td>
   <td><tt>4f6e5269500800da897643246363b9c18ce36843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kgeography-4.10.2.tar.xz">kgeography-4.10.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>14cd9d3d788a9f0068af3e10f26f0375b5c7251a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kgoldrunner-4.10.2.tar.xz">kgoldrunner-4.10.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8c44b9992239d379d64c7979c1cd4ec56c5aa80f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kgpg-4.10.2.tar.xz">kgpg-4.10.2</a></td>
   <td align="right">795kB</td>
   <td><tt>fbe8df63cbfbff616493267253b03e153e2bbc40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/khangman-4.10.2.tar.xz">khangman-4.10.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>2795c1ada9898854fe3a8ffd8a92c8ad5cd3eb04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kig-4.10.2.tar.xz">kig-4.10.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0066e645cd11d239678aa90ede938daf4dd0942d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kigo-4.10.2.tar.xz">kigo-4.10.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>229b2631b89b31bb1661a10c6de2770842c48e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/killbots-4.10.2.tar.xz">killbots-4.10.2</a></td>
   <td align="right">952kB</td>
   <td><tt>87100f1fcb1e3547939406d6d4a4b8b2582831c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kimono-4.10.2.tar.xz">kimono-4.10.2</a></td>
   <td align="right">937kB</td>
   <td><tt>b5ada2536a4f59b4016fc4e71d91da029ced8103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kiriki-4.10.2.tar.xz">kiriki-4.10.2</a></td>
   <td align="right">122kB</td>
   <td><tt>f3ec86d168cc21fe22adb610121df62a6280ff1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kiten-4.10.2.tar.xz">kiten-4.10.2</a></td>
   <td align="right">11MB</td>
   <td><tt>7aa2d6889c932639ded77eac33b9ae09ed7bbc45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kjumpingcube-4.10.2.tar.xz">kjumpingcube-4.10.2</a></td>
   <td align="right">102kB</td>
   <td><tt>c81585d2e46ec0783d58e6d0068b75fd82ddd382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/klettres-4.10.2.tar.xz">klettres-4.10.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>101cd33b6e099174358d1ac754747cdf17cf6ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/klickety-4.10.2.tar.xz">klickety-4.10.2</a></td>
   <td align="right">834kB</td>
   <td><tt>54548dd1ebad1481ecda5a50df7e72a43a6a8cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/klines-4.10.2.tar.xz">klines-4.10.2</a></td>
   <td align="right">936kB</td>
   <td><tt>e8bb9a43ca3207f961bcae60312af37f226d7ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kmag-4.10.2.tar.xz">kmag-4.10.2</a></td>
   <td align="right">91kB</td>
   <td><tt>4bcb0153663ab67eafba4cb450b62891133b4ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kmahjongg-4.10.2.tar.xz">kmahjongg-4.10.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c54467341866d975a25529b70033bb0f45920d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kmines-4.10.2.tar.xz">kmines-4.10.2</a></td>
   <td align="right">644kB</td>
   <td><tt>5b0775fb30fe59c017651d80658cc59f1358b7a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kmix-4.10.2.tar.xz">kmix-4.10.2</a></td>
   <td align="right">376kB</td>
   <td><tt>26617eeac172e3375cd097c8350ebdb32412e9fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kmousetool-4.10.2.tar.xz">kmousetool-4.10.2</a></td>
   <td align="right">42kB</td>
   <td><tt>d6778d9393b0a1cfa597565bc77771b78d98422f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kmouth-4.10.2.tar.xz">kmouth-4.10.2</a></td>
   <td align="right">314kB</td>
   <td><tt>3ed90ae8a113264ef9b8c176c905f3d365443766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kmplot-4.10.2.tar.xz">kmplot-4.10.2</a></td>
   <td align="right">665kB</td>
   <td><tt>938f0888702e3d294aba8084b4268d883fd7514e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/knavalbattle-4.10.2.tar.xz">knavalbattle-4.10.2</a></td>
   <td align="right">837kB</td>
   <td><tt>668a3b98bd5d64ff1d35dc1f46ec2f4a5aa188fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/knetwalk-4.10.2.tar.xz">knetwalk-4.10.2</a></td>
   <td align="right">772kB</td>
   <td><tt>6b5a992d5a6ca4ddb41561bdf9d2b83be0091962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kolf-4.10.2.tar.xz">kolf-4.10.2</a></td>
   <td align="right">761kB</td>
   <td><tt>148fe1a39763b97daaa3e4257b1f0e80e34cc723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kollision-4.10.2.tar.xz">kollision-4.10.2</a></td>
   <td align="right">208kB</td>
   <td><tt>19f085adcf6477e4b69f554721e5a82a3754d8de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kolourpaint-4.10.2.tar.xz">kolourpaint-4.10.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>54c0999d3ce68ff4a28c879ac3743d22c76b0937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/konquest-4.10.2.tar.xz">konquest-4.10.2</a></td>
   <td align="right">408kB</td>
   <td><tt>acb21acfab00f8a5a03105fad6100cec513958ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/konsole-4.10.2.tar.xz">konsole-4.10.2</a></td>
   <td align="right">437kB</td>
   <td><tt>171824f4d06c66a4373274da01cad84853bec821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/korundum-4.10.2.tar.xz">korundum-4.10.2</a></td>
   <td align="right">161kB</td>
   <td><tt>147bb8aacf8805ccde57f1d3d96e67633f317202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kpat-4.10.2.tar.xz">kpat-4.10.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9a4309cbadd8214cb2dd8ab1cd8bae4c20194cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kremotecontrol-4.10.2.tar.xz">kremotecontrol-4.10.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e74d4724afef6fdfb5b4a95e35672b3e3d8e9b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kreversi-4.10.2.tar.xz">kreversi-4.10.2</a></td>
   <td align="right">389kB</td>
   <td><tt>a79e1b20849e419037c28febad0422a634a0585b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kross-interpreters-4.10.2.tar.xz">kross-interpreters-4.10.2</a></td>
   <td align="right">130kB</td>
   <td><tt>70726de496531b50010156b224bc807b72f85441</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kruler-4.10.2.tar.xz">kruler-4.10.2</a></td>
   <td align="right">131kB</td>
   <td><tt>9424591fe16cd1930f0a6bf89fcf7b56c0560227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ksaneplugin-4.10.2.tar.xz">ksaneplugin-4.10.2</a></td>
   <td align="right">13kB</td>
   <td><tt>076c7ed01024c91bc690fe07e495e37444dbcdd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kscd-4.10.2.tar.xz">kscd-4.10.2</a></td>
   <td align="right">92kB</td>
   <td><tt>10b7d920fc70b4001e6f7d20e643eb2b09a42dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kshisen-4.10.2.tar.xz">kshisen-4.10.2</a></td>
   <td align="right">142kB</td>
   <td><tt>df41aac7d3048ccfdbd55b62872643c7325b9722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ksirk-4.10.2.tar.xz">ksirk-4.10.2</a></td>
   <td align="right">5.7MB</td>
   <td><tt>d64786e76fa87f8f99962a3676c82ae48f3e7841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ksnakeduel-4.10.2.tar.xz">ksnakeduel-4.10.2</a></td>
   <td align="right">314kB</td>
   <td><tt>b359a1bfdcba0fdd872c27d0d94ddbd4e1726676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ksnapshot-4.10.2.tar.xz">ksnapshot-4.10.2</a></td>
   <td align="right">258kB</td>
   <td><tt>4f3167a98d300a56abe91fb56785afc350439cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kspaceduel-4.10.2.tar.xz">kspaceduel-4.10.2</a></td>
   <td align="right">258kB</td>
   <td><tt>2f1cbca7dea4e70d923bef72a2c57ad733712998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ksquares-4.10.2.tar.xz">ksquares-4.10.2</a></td>
   <td align="right">83kB</td>
   <td><tt>76651a698b03488cec1af125fb27bcf2d509c30a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kstars-4.10.2.tar.xz">kstars-4.10.2</a></td>
   <td align="right">11MB</td>
   <td><tt>ce99c18862505eac3da729e666315d0b27daec1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ksudoku-4.10.2.tar.xz">ksudoku-4.10.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>91fcb7a9daa58340a2e73131add8e78e3121ae9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ktimer-4.10.2.tar.xz">ktimer-4.10.2</a></td>
   <td align="right">147kB</td>
   <td><tt>2348d09267f173201b1ce426f0831e444602545d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ktouch-4.10.2.tar.xz">ktouch-4.10.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>7a7c44b1bf64fdc5109be9d1b6d1481db6a1848f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/ktuberling-4.10.2.tar.xz">ktuberling-4.10.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>e2431b70470c37b9f46514fc62932ac7f225f6b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kturtle-4.10.2.tar.xz">kturtle-4.10.2</a></td>
   <td align="right">207kB</td>
   <td><tt>c14cb19822fc101100938e4fcde0d50b16216cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kubrick-4.10.2.tar.xz">kubrick-4.10.2</a></td>
   <td align="right">118kB</td>
   <td><tt>a112aa326c024e7bf224ecdcfe79122e9605d988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kwallet-4.10.2.tar.xz">kwallet-4.10.2</a></td>
   <td align="right">275kB</td>
   <td><tt>2a566c85aec79e8d08afe996224029714cd38b6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kwordquiz-4.10.2.tar.xz">kwordquiz-4.10.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e21947d795f1025ee7766ac9c47bbe879b5d1a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libkcddb-4.10.2.tar.xz">libkcddb-4.10.2</a></td>
   <td align="right">161kB</td>
   <td><tt>c9e8d93ecf9f238bf12d98d27fc20421af5ae240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libkcompactdisc-4.10.2.tar.xz">libkcompactdisc-4.10.2</a></td>
   <td align="right">75kB</td>
   <td><tt>dcd95e3b197a871a21cd50f70edc5039b7835ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libkdcraw-4.10.2.tar.xz">libkdcraw-4.10.2</a></td>
   <td align="right">341kB</td>
   <td><tt>639bf3bf9a872cccbb39e5d16188dfa1d895463a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libkdeedu-4.10.2.tar.xz">libkdeedu-4.10.2</a></td>
   <td align="right">208kB</td>
   <td><tt>2c0f6ebfc1e51919da0313b0a93d149dfd1d0be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libkdegames-4.10.2.tar.xz">libkdegames-4.10.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>3a08bf0f98c00a02363da1a61beea61ad1e01b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libkexiv2-4.10.2.tar.xz">libkexiv2-4.10.2</a></td>
   <td align="right">131kB</td>
   <td><tt>02dce6eaf48c14f134f220eeed494d74d41f7226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libkipi-4.10.2.tar.xz">libkipi-4.10.2</a></td>
   <td align="right">93kB</td>
   <td><tt>3098759c56c8fa89bc087de60d8709c7f76dc7a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libkmahjongg-4.10.2.tar.xz">libkmahjongg-4.10.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>58a8d3deb165cf9041c5b606a67275b3e276c428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/libksane-4.10.2.tar.xz">libksane-4.10.2</a></td>
   <td align="right">80kB</td>
   <td><tt>3b9b83974dd2cdabe0cbe5fd3904ced1413a756b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/lskat-4.10.2.tar.xz">lskat-4.10.2</a></td>
   <td align="right">936kB</td>
   <td><tt>a3f3450e446b365d7171552ddd00ab84f589b943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/marble-4.10.2.tar.xz">marble-4.10.2</a></td>
   <td align="right">18MB</td>
   <td><tt>e4ba6aaaa5f861f715a7c4881dd78ed1deb03a36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/mplayerthumbs-4.10.2.tar.xz">mplayerthumbs-4.10.2</a></td>
   <td align="right">27kB</td>
   <td><tt>80f35eb2e30382984cb3529c4226f911f5e2c30a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/nepomuk-core-4.10.2.tar.xz">nepomuk-core-4.10.2</a></td>
   <td align="right">362kB</td>
   <td><tt>e17ca2b7eb3b1745806be7576d6340777f4ce0d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/nepomuk-widgets-4.10.2.tar.xz">nepomuk-widgets-4.10.2</a></td>
   <td align="right">78kB</td>
   <td><tt>2aa9eaf4709acc1f9a2acf6c6bb4b42fc0840549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/okular-4.10.2.tar.xz">okular-4.10.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>fcd0c725300c50ea04ec8e05b7d7035bf26afc79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/oxygen-icons-4.10.2.tar.xz">oxygen-icons-4.10.2</a></td>
   <td align="right">264MB</td>
   <td><tt>8fa10b765c64b52fa4b0d1f8ea6f3dad709d7d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/pairs-4.10.2.tar.xz">pairs-4.10.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>24b556965b7cf11bdafb85706d8c4e3c1c3aad1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/palapeli-4.10.2.tar.xz">palapeli-4.10.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>df69d8a792aa1283c4842b2e26d24c37c284380a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/parley-4.10.2.tar.xz">parley-4.10.2</a></td>
   <td align="right">7.8MB</td>
   <td><tt>1e9e568c2a4dce6a61a51164c43b3930efe99664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/perlkde-4.10.2.tar.xz">perlkde-4.10.2</a></td>
   <td align="right">43kB</td>
   <td><tt>b57da1f88e147ff8ec25527ab7ff0ccad64ca7db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/perlqt-4.10.2.tar.xz">perlqt-4.10.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>808aa907b5953ad2c2abb4015da5ddc01d1e2afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/picmi-4.10.2.tar.xz">picmi-4.10.2</a></td>
   <td align="right">719kB</td>
   <td><tt>04a01a90bce152759c8f638b780df22fe6266c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/print-manager-4.10.2.tar.xz">print-manager-4.10.2</a></td>
   <td align="right">90kB</td>
   <td><tt>67aaa15e157612e50547ce9cd35bcd06ce1fac22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/pykde4-4.10.2.tar.xz">pykde4-4.10.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a17d533fca8126970ec8886f55297f1005df3eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/qtruby-4.10.2.tar.xz">qtruby-4.10.2</a></td>
   <td align="right">528kB</td>
   <td><tt>5db91d696af4c9bcb784921ff7aa937bbc38ed01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/qyoto-4.10.2.tar.xz">qyoto-4.10.2</a></td>
   <td align="right">516kB</td>
   <td><tt>eaeb11ace135a0c9daceaa03067f056255d77dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/rocs-4.10.2.tar.xz">rocs-4.10.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ab7e357732fec3a7ecccce586c6de51b829267ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/smokegen-4.10.2.tar.xz">smokegen-4.10.2</a></td>
   <td align="right">146kB</td>
   <td><tt>2593b298e9b0f4f504612f42a928a2144313b4b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/smokekde-4.10.2.tar.xz">smokekde-4.10.2</a></td>
   <td align="right">38kB</td>
   <td><tt>8f99c5a53634532f6d8d02dc5f7ec0ffba194f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/smokeqt-4.10.2.tar.xz">smokeqt-4.10.2</a></td>
   <td align="right">32kB</td>
   <td><tt>6a5743917aec02e6044c711c63acd229c67eff7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/step-4.10.2.tar.xz">step-4.10.2</a></td>
   <td align="right">367kB</td>
   <td><tt>ff5fccd47113b598b688b87226b23072047bf990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/superkaramba-4.10.2.tar.xz">superkaramba-4.10.2</a></td>
   <td align="right">381kB</td>
   <td><tt>5c701c7d95cef873fd0767726a6042d02844c0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/svgpart-4.10.2.tar.xz">svgpart-4.10.2</a></td>
   <td align="right">8kB</td>
   <td><tt>a361a8361fb123cb4b6498dba3b2d88293d88344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/sweeper-4.10.2.tar.xz">sweeper-4.10.2</a></td>
   <td align="right">82kB</td>
   <td><tt>b817768cbf7c47ba8d0f61c714849e9074cebc43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ar-4.10.2.tar.xz">kde-l10n-ar-4.10.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>30b6f871c515218917116a2254a603546410c296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-bg-4.10.2.tar.xz">kde-l10n-bg-4.10.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>892d115a014021049ab9cca9847a11813b6461f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-bs-4.10.2.tar.xz">kde-l10n-bs-4.10.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>572f0b347577ed702d4fc4acc2eaac9b19e7b3d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ca-4.10.2.tar.xz">kde-l10n-ca-4.10.2</a></td>
   <td align="right">12MB</td>
   <td><tt>19215a158ec2b98d47d60113d97f66053051ac62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ca@valencia-4.10.2.tar.xz">kde-l10n-ca@valencia-4.10.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3e2b1a20b0d608b99461ec0ffde6ff3b1d043444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-cs-4.10.2.tar.xz">kde-l10n-cs-4.10.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4161145947ee6721a27f4f46699d5304a70b26f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-da-4.10.2.tar.xz">kde-l10n-da-4.10.2</a></td>
   <td align="right">12MB</td>
   <td><tt>f0af6a830a7f7b8d739abe29908afd1271f31e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-de-4.10.2.tar.xz">kde-l10n-de-4.10.2</a></td>
   <td align="right">36MB</td>
   <td><tt>4b776eb307c3993352beea784054c96d0ce68d85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-el-4.10.2.tar.xz">kde-l10n-el-4.10.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>cd91e9caa76634a7e57178269b7cda92dd746cc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-en_GB-4.10.2.tar.xz">kde-l10n-en_GB-4.10.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>00cfe50d5ce60ae2ac17a5bf58aee61a83dbb039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-es-4.10.2.tar.xz">kde-l10n-es-4.10.2</a></td>
   <td align="right">22MB</td>
   <td><tt>bcf54cec10da8b96a6db5d118215163695a2795b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-et-4.10.2.tar.xz">kde-l10n-et-4.10.2</a></td>
   <td align="right">7.1MB</td>
   <td><tt>75b763cf2d3803bf0c0a9cdfb19b825f05027705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-eu-4.10.2.tar.xz">kde-l10n-eu-4.10.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9d1cd7127a7aa36b4aa7c27267cccd2a1e4efbe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-fa-4.10.2.tar.xz">kde-l10n-fa-4.10.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>800780529706cff6c95b8910db652ecc88df14f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-fi-4.10.2.tar.xz">kde-l10n-fi-4.10.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>88d2a21a2ee7f93293cb2f04ef0fd0bfc494ee2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-fr-4.10.2.tar.xz">kde-l10n-fr-4.10.2</a></td>
   <td align="right">42MB</td>
   <td><tt>90d5c2e2a9147b157769923726417b482e3bc613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ga-4.10.2.tar.xz">kde-l10n-ga-4.10.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>f843d307eb5d12aab783e620d67ab4870e5582ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-gl-4.10.2.tar.xz">kde-l10n-gl-4.10.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>4c2693f40d43c4110622b003d9658063b61a1760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-he-4.10.2.tar.xz">kde-l10n-he-4.10.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a82b82050def365a359dee9d945496261d69ec24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-hi-4.10.2.tar.xz">kde-l10n-hi-4.10.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>673d290ac76bf7a757b9441d79926504bf16865b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-hr-4.10.2.tar.xz">kde-l10n-hr-4.10.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>dbeb1a14b2ea2d55a84f612e46a7fcb944ea2fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-hu-4.10.2.tar.xz">kde-l10n-hu-4.10.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>1382ad5aa04b99e188e39e3bb33adf3e993764fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ia-4.10.2.tar.xz">kde-l10n-ia-4.10.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f8459baf8e61c9627a7efa0a40c70337ab24455d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-is-4.10.2.tar.xz">kde-l10n-is-4.10.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>30219b24465deeb7e86b499a4761695e282a155a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-it-4.10.2.tar.xz">kde-l10n-it-4.10.2</a></td>
   <td align="right">10MB</td>
   <td><tt>46b91e83098edccafafad28d1c3d63ce0e642f03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ja-4.10.2.tar.xz">kde-l10n-ja-4.10.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c2a846fbdebc436aff9f8131d0b3ee77049cd873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-kk-4.10.2.tar.xz">kde-l10n-kk-4.10.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d435be4020241cb0ecc034f4c26cc928391f84ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-km-4.10.2.tar.xz">kde-l10n-km-4.10.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>59ec9def9bd68d84ce25f469ef3e2ae4379578cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ko-4.10.2.tar.xz">kde-l10n-ko-4.10.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ff81fa02c8884249a52805806185a57e288c09da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-lt-4.10.2.tar.xz">kde-l10n-lt-4.10.2</a></td>
   <td align="right">12MB</td>
   <td><tt>0f08de2146faaa3a7810d2107e9ba83bee7c8dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-lv-4.10.2.tar.xz">kde-l10n-lv-4.10.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b3a40e2adf3666391fe35a76d756dbfbc46960e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-mr-4.10.2.tar.xz">kde-l10n-mr-4.10.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3ab5e85d20722fc26a18e7e1410866e7accfb5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-nb-4.10.2.tar.xz">kde-l10n-nb-4.10.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2e18e08d1194171449fecfc01427a0b62ff10d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-nds-4.10.2.tar.xz">kde-l10n-nds-4.10.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9f28f88ca10d7cf9598aea4d27196744d7a7e8ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-nl-4.10.2.tar.xz">kde-l10n-nl-4.10.2</a></td>
   <td align="right">15MB</td>
   <td><tt>6f9471bacce740b7216ccb35f4d7f3c14c42bef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-nn-4.10.2.tar.xz">kde-l10n-nn-4.10.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>390f934ff80626cca0cd3c2c73f447d251be1625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-pa-4.10.2.tar.xz">kde-l10n-pa-4.10.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>59818bb999de4efb70d8a1fcd203beb542299ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-pl-4.10.2.tar.xz">kde-l10n-pl-4.10.2</a></td>
   <td align="right">16MB</td>
   <td><tt>9c80fe230ce714d2961049236b25eb2c3ff9e7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-pt-4.10.2.tar.xz">kde-l10n-pt-4.10.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>6348ef58dd05eb9365258403e40650e454fd6fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-pt_BR-4.10.2.tar.xz">kde-l10n-pt_BR-4.10.2</a></td>
   <td align="right">26MB</td>
   <td><tt>637d34b811bc9be1c2bed0cabdc43263461fea85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ro-4.10.2.tar.xz">kde-l10n-ro-4.10.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5fec50c2675c719f0b814f095ab750301c2d12be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ru-4.10.2.tar.xz">kde-l10n-ru-4.10.2</a></td>
   <td align="right">22MB</td>
   <td><tt>8b6427277ab825aef9aaf144e436e6fdd70202e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-si-4.10.2.tar.xz">kde-l10n-si-4.10.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8c6258ec1fb86a68705631e3f3edc8ed8a0feee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-sk-4.10.2.tar.xz">kde-l10n-sk-4.10.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>944f3e93396900f32da8af2f472a41e31ab82068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-sl-4.10.2.tar.xz">kde-l10n-sl-4.10.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>9bd195eca75f2d64ca8dc428e2b51536951681a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-sr-4.10.2.tar.xz">kde-l10n-sr-4.10.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>56346b4810f38d1ba7a56e916475ca270fea4d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-sv-4.10.2.tar.xz">kde-l10n-sv-4.10.2</a></td>
   <td align="right">15MB</td>
   <td><tt>bf33ebef7934e699a52fb5735c9af73c430ebfd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-tg-4.10.2.tar.xz">kde-l10n-tg-4.10.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d84e3c15d76a0593a6d8890edc37ad347bac7cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-th-4.10.2.tar.xz">kde-l10n-th-4.10.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>74187663d61f86d0d44ff42d3256fb2e0a540f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-tr-4.10.2.tar.xz">kde-l10n-tr-4.10.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>bb3b1c56e294138098e043ee1313979b858ab80c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-ug-4.10.2.tar.xz">kde-l10n-ug-4.10.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f12052214e39cf78db96b1491c244160fc8f2bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-uk-4.10.2.tar.xz">kde-l10n-uk-4.10.2</a></td>
   <td align="right">26MB</td>
   <td><tt>2e6153b1390e979c4ad6ebb88e589d7cc922e7d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-vi-4.10.2.tar.xz">kde-l10n-vi-4.10.2</a></td>
   <td align="right">919kB</td>
   <td><tt>432acfc264f19e4d6a5f9dff260507e8a2d4ecfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-wa-4.10.2.tar.xz">kde-l10n-wa-4.10.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c57b66992f86478adcef57fb9be45350b7f3df2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-zh_CN-4.10.2.tar.xz">kde-l10n-zh_CN-4.10.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>77a601392efc52deab08c756c0b8249357d77527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.2/src/kde-l10n/kde-l10n-zh_TW-4.10.2.tar.xz">kde-l10n-zh_TW-4.10.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2247859f09e3f0b1a99961c5fcdf0fcb4afc84a2</tt></td>
</tr>

</table>
