
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/attica-5.43.0.tar.xz">attica-5.43.0</a></td>
   <td align="right">59kB</td>
   <td><tt>8ca83fa358086a9faf7df994e239ff81609c13ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/baloo-5.43.0.tar.xz">baloo-5.43.0</a></td>
   <td align="right">202kB</td>
   <td><tt>ecd08241d067dea70c1df724fc87a06445868928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/bluez-qt-5.43.0.tar.xz">bluez-qt-5.43.0</a></td>
   <td align="right">73kB</td>
   <td><tt>1ae34f903dc4dd8bd5492748b9d3e8f06b629058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/breeze-icons-5.43.0.tar.xz">breeze-icons-5.43.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c873a69ccbe3b150ee1cbbbb0fca2302b132b75d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/extra-cmake-modules-5.43.0.tar.xz">extra-cmake-modules-5.43.0</a></td>
   <td align="right">306kB</td>
   <td><tt>7968ac2bc0cd7830c48f17cfc731a8a22c0c2d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/frameworkintegration-5.43.0.tar.xz">frameworkintegration-5.43.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1a040792b1248dfaadbead15bb7f402b2b5a1128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kactivities-5.43.0.tar.xz">kactivities-5.43.0</a></td>
   <td align="right">59kB</td>
   <td><tt>eaf66d68944b7a11c1704951193dc705900142e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kactivities-stats-5.43.0.tar.xz">kactivities-stats-5.43.0</a></td>
   <td align="right">59kB</td>
   <td><tt>f3b1e1e61164e4c445cb99909fbae660fb6afba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kapidox-5.43.0.tar.xz">kapidox-5.43.0</a></td>
   <td align="right">386kB</td>
   <td><tt>407cf51e45859bf32ad5b8ccd5939d6e4fe310bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/karchive-5.43.0.tar.xz">karchive-5.43.0</a></td>
   <td align="right">110kB</td>
   <td><tt>dca30e214c0116891ccf9db75619e25490ef20ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kauth-5.43.0.tar.xz">kauth-5.43.0</a></td>
   <td align="right">82kB</td>
   <td><tt>c3ef0063c1feee548ad29d7185f67f0f1b7d60a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kbookmarks-5.43.0.tar.xz">kbookmarks-5.43.0</a></td>
   <td align="right">115kB</td>
   <td><tt>b44251d43bf9ab9fd094ce8ed86357f62d881601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kcmutils-5.43.0.tar.xz">kcmutils-5.43.0</a></td>
   <td align="right">231kB</td>
   <td><tt>f8b414756571cfe3f159a74c35bc1dcdc48560dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kcodecs-5.43.0.tar.xz">kcodecs-5.43.0</a></td>
   <td align="right">214kB</td>
   <td><tt>84b42075cb7fb55dbf1e28c336a3e70ea41b5f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kcompletion-5.43.0.tar.xz">kcompletion-5.43.0</a></td>
   <td align="right">116kB</td>
   <td><tt>832d8a077cd23b58f92b7ae02e6868a15890396f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kconfig-5.43.0.tar.xz">kconfig-5.43.0</a></td>
   <td align="right">230kB</td>
   <td><tt>da5354335b342aa29b1b18c4ef6dda8a2a959b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kconfigwidgets-5.43.0.tar.xz">kconfigwidgets-5.43.0</a></td>
   <td align="right">366kB</td>
   <td><tt>a6abab070bb8e30c090a911b699d687c0b914e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kcoreaddons-5.43.0.tar.xz">kcoreaddons-5.43.0</a></td>
   <td align="right">347kB</td>
   <td><tt>c151a3c8373d1f09bf2d7353ca8c77407dfbc05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kcrash-5.43.0.tar.xz">kcrash-5.43.0</a></td>
   <td align="right">21kB</td>
   <td><tt>448e1852cbf34479b6e1741fd01e157e942973f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kdbusaddons-5.43.0.tar.xz">kdbusaddons-5.43.0</a></td>
   <td align="right">36kB</td>
   <td><tt>29a02090901711d65b9dc6f4df279b8c866e3c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kdeclarative-5.43.0.tar.xz">kdeclarative-5.43.0</a></td>
   <td align="right">167kB</td>
   <td><tt>66c9f8e79dadc90970935dbe04faa2c295863a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kded-5.43.0.tar.xz">kded-5.43.0</a></td>
   <td align="right">36kB</td>
   <td><tt>ba8a330a3e72b2545cb1a57e573f1f33f4a6958d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kdesignerplugin-5.43.0.tar.xz">kdesignerplugin-5.43.0</a></td>
   <td align="right">88kB</td>
   <td><tt>cb0050547a531ee7e595ddb8b630c10811147a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kdesu-5.43.0.tar.xz">kdesu-5.43.0</a></td>
   <td align="right">43kB</td>
   <td><tt>01978bc5e47c0ccedd91eaa8fb7c20143e79e622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kdewebkit-5.43.0.tar.xz">kdewebkit-5.43.0</a></td>
   <td align="right">28kB</td>
   <td><tt>cd78c27c3ef3c86ff0cb56ea72075b175387d261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kdnssd-5.43.0.tar.xz">kdnssd-5.43.0</a></td>
   <td align="right">55kB</td>
   <td><tt>25344d44e2d85db7c9790f88f1f7ec911454a538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kdoctools-5.43.0.tar.xz">kdoctools-5.43.0</a></td>
   <td align="right">412kB</td>
   <td><tt>333c34d6d66ef0d600cd7898d25cb2dc02be474f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kemoticons-5.43.0.tar.xz">kemoticons-5.43.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2cc960915972ebcc5dee48faa391a5e07f2f3054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kfilemetadata-5.43.0.tar.xz">kfilemetadata-5.43.0</a></td>
   <td align="right">214kB</td>
   <td><tt>1a1d271c9f3f1d93c18940bb13a6416fa71ad093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kglobalaccel-5.43.0.tar.xz">kglobalaccel-5.43.0</a></td>
   <td align="right">81kB</td>
   <td><tt>8e31582135109a62b3f458fe99907fb911fd0d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kguiaddons-5.43.0.tar.xz">kguiaddons-5.43.0</a></td>
   <td align="right">39kB</td>
   <td><tt>100f555d9f7bd90c33c5e2a4ea3167e601e8fd24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kholidays-5.43.0.tar.xz">kholidays-5.43.0</a></td>
   <td align="right">192kB</td>
   <td><tt>a8485928970c94421b67e6b671166e358ad37a32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/ki18n-5.43.0.tar.xz">ki18n-5.43.0</a></td>
   <td align="right">573kB</td>
   <td><tt>938efcc084e44956a97527157c45b44d24af49c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kiconthemes-5.43.0.tar.xz">kiconthemes-5.43.0</a></td>
   <td align="right">200kB</td>
   <td><tt>ef600a692a41b4038014e945e45d32f0f03d3f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kidletime-5.43.0.tar.xz">kidletime-5.43.0</a></td>
   <td align="right">25kB</td>
   <td><tt>4d195eb30fa892ba1cd8726d1739160f077b6fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kimageformats-5.43.0.tar.xz">kimageformats-5.43.0</a></td>
   <td align="right">199kB</td>
   <td><tt>cdae8ed1adc58e280dec98c70f1452244cf2cfac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kinit-5.43.0.tar.xz">kinit-5.43.0</a></td>
   <td align="right">117kB</td>
   <td><tt>0918efcc2c74208658afbba041fdbfab650536d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kio-5.43.0.tar.xz">kio-5.43.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6768813fc674334b666d80312b416f11de528a91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kirigami2-5.43.0.tar.xz">kirigami2-5.43.0</a></td>
   <td align="right">292kB</td>
   <td><tt>228adfa77baabadc45614503aa516335f7942c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kitemmodels-5.43.0.tar.xz">kitemmodels-5.43.0</a></td>
   <td align="right">380kB</td>
   <td><tt>44aff2dff5565798ec57f10617fc37d19eb69b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kitemviews-5.43.0.tar.xz">kitemviews-5.43.0</a></td>
   <td align="right">73kB</td>
   <td><tt>514e0fb5125cf15a7b253cd039ff7b41af36682f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kjobwidgets-5.43.0.tar.xz">kjobwidgets-5.43.0</a></td>
   <td align="right">85kB</td>
   <td><tt>a4a3e65bdc5339efad170ad883ddaf77d08669ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/knewstuff-5.43.0.tar.xz">knewstuff-5.43.0</a></td>
   <td align="right">894kB</td>
   <td><tt>979b9406a1f7eec8dcf775f38b4f8a03fe0f3b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/knotifications-5.43.0.tar.xz">knotifications-5.43.0</a></td>
   <td align="right">98kB</td>
   <td><tt>f31bd335db20cf99b319b1cd2a54c508518fb5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/knotifyconfig-5.43.0.tar.xz">knotifyconfig-5.43.0</a></td>
   <td align="right">81kB</td>
   <td><tt>0ff7c70dcea6f8cb7dfcb1d6dc60f458a1a398ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kpackage-5.43.0.tar.xz">kpackage-5.43.0</a></td>
   <td align="right">128kB</td>
   <td><tt>8e630dc52fe15ef57ff3cdff42fa53258ff389bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kparts-5.43.0.tar.xz">kparts-5.43.0</a></td>
   <td align="right">171kB</td>
   <td><tt>92e5d4e3f050e76828e90bc72d7f0694605bec15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kpeople-5.43.0.tar.xz">kpeople-5.43.0</a></td>
   <td align="right">58kB</td>
   <td><tt>8de95e8ee5f5f166ac681088362e7d1d7d131ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kplotting-5.43.0.tar.xz">kplotting-5.43.0</a></td>
   <td align="right">28kB</td>
   <td><tt>b65decdd2f884f0685082a4e9a01f9afa2690635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kpty-5.43.0.tar.xz">kpty-5.43.0</a></td>
   <td align="right">56kB</td>
   <td><tt>a076c05acc98ba9a0c029d71073f38b9e649f8e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/krunner-5.43.0.tar.xz">krunner-5.43.0</a></td>
   <td align="right">58kB</td>
   <td><tt>db1eb61ac41c8aa720fee674d5be9ca2a2c29a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kservice-5.43.0.tar.xz">kservice-5.43.0</a></td>
   <td align="right">244kB</td>
   <td><tt>74c8c95fda346f539be72eb3b1d82740c17130f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/ktexteditor-5.43.0.tar.xz">ktexteditor-5.43.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1f4a43673353e4ffca23064d045d0be29c7ca08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/ktextwidgets-5.43.0.tar.xz">ktextwidgets-5.43.0</a></td>
   <td align="right">301kB</td>
   <td><tt>c4f24303a6d85ef269adef4d66b9720122b2f816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kunitconversion-5.43.0.tar.xz">kunitconversion-5.43.0</a></td>
   <td align="right">752kB</td>
   <td><tt>26010aecd5bae44aee71f4f5fe63985f635dddbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kwallet-5.43.0.tar.xz">kwallet-5.43.0</a></td>
   <td align="right">299kB</td>
   <td><tt>6b08f992550b2400607d6c5c0f4dccdb30e6966c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kwayland-5.43.0.tar.xz">kwayland-5.43.0</a></td>
   <td align="right">290kB</td>
   <td><tt>1c8ca776321b8c1b223ffd4a98e52d9125f517af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kwidgetsaddons-5.43.0.tar.xz">kwidgetsaddons-5.43.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5571d14ae46d80389e543bcf5410d8e7a0590453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kwindowsystem-5.43.0.tar.xz">kwindowsystem-5.43.0</a></td>
   <td align="right">165kB</td>
   <td><tt>f3777841e3c5eaaf58957a88f77c255c1a0197cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kxmlgui-5.43.0.tar.xz">kxmlgui-5.43.0</a></td>
   <td align="right">863kB</td>
   <td><tt>1c23baf880039f5327dcfbace6e2e687bc0272bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/kxmlrpcclient-5.43.0.tar.xz">kxmlrpcclient-5.43.0</a></td>
   <td align="right">28kB</td>
   <td><tt>33590916c09145507c7bb96cedfc11ffad83908f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/modemmanager-qt-5.43.0.tar.xz">modemmanager-qt-5.43.0</a></td>
   <td align="right">95kB</td>
   <td><tt>8beb1177524e50e5bf5a38a55942a93b8e5973aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/networkmanager-qt-5.43.0.tar.xz">networkmanager-qt-5.43.0</a></td>
   <td align="right">159kB</td>
   <td><tt>72d857eef6e6d6386f61a9a0f25d227de35f6194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/oxygen-icons5-5.43.0.tar.xz">oxygen-icons5-5.43.0</a></td>
   <td align="right">223MB</td>
   <td><tt>6ab633b99d1d911c3200b4202f6bbaaf2f826be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/plasma-framework-5.43.0.tar.xz">plasma-framework-5.43.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>0bf69d6be9f8ff6833d6baee4ef35cd9a86ed58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/prison-5.43.0.tar.xz">prison-5.43.0</a></td>
   <td align="right">36kB</td>
   <td><tt>9f09c1564481764cba19c558428625c57a23f352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/purpose-5.43.0.tar.xz">purpose-5.43.0</a></td>
   <td align="right">114kB</td>
   <td><tt>b3f53345c7acc9cc63acc421969aa5eb6782d118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/qqc2-desktop-style-5.43.0.tar.xz">qqc2-desktop-style-5.43.0</a></td>
   <td align="right">36kB</td>
   <td><tt>e5f0a30c6997bea3d838787851fdd8d778d457a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/solid-5.43.0.tar.xz">solid-5.43.0</a></td>
   <td align="right">243kB</td>
   <td><tt>1ab9e3f5139f07c20a1d1609c8a6c75981bc1cf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/sonnet-5.43.0.tar.xz">sonnet-5.43.0</a></td>
   <td align="right">279kB</td>
   <td><tt>9bf76c0c71abfba63466715cd4cb346167206101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/syntax-highlighting-5.43.0.tar.xz">syntax-highlighting-5.43.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3a8f99e33017acef83e5ca40ca5549b1913aac28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.43/threadweaver-5.43.0.tar.xz">threadweaver-5.43.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>19567d4235d8538dc6dda6f9843e218ad8e691bb</tt></td>
</tr>

</table>
