<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/amor-4.14.0.tar.xz">amor-4.14.0</a></td>
   <td align="right">170kB</td>
   <td><tt>8b60c18cd24c16f0676cb6a47b562f90e314b31d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/analitza-4.14.0.tar.xz">analitza-4.14.0</a></td>
   <td align="right">195kB</td>
   <td><tt>1540dcecabe1272113c409c5b20b3bc0df48aa3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ark-4.14.0.tar.xz">ark-4.14.0</a></td>
   <td align="right">229kB</td>
   <td><tt>fc5d388ccedddfa1e68254b4de00186e93930669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/artikulate-4.14.0.tar.xz">artikulate-4.14.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>279646440d25b1c09f68f6a7553f1bfb4940d132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/audiocd-kio-4.14.0.tar.xz">audiocd-kio-4.14.0</a></td>
   <td align="right">50kB</td>
   <td><tt>884a3ae83c5775c79f95ab5ca36876e0f83310e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/baloo-4.14.0.tar.xz">baloo-4.14.0</a></td>
   <td align="right">142kB</td>
   <td><tt>6aa998d62f9f92c08a3eedc72b050fdb00e7bad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/baloo-widgets-4.14.0.tar.xz">baloo-widgets-4.14.0</a></td>
   <td align="right">36kB</td>
   <td><tt>da412f5f9c812d42fa658eb5723b0bebc7b42960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/blinken-4.14.0.tar.xz">blinken-4.14.0</a></td>
   <td align="right">552kB</td>
   <td><tt>2e5964cfd4ca25e6239043d9f2e112365fc07f64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/bomber-4.14.0.tar.xz">bomber-4.14.0</a></td>
   <td align="right">376kB</td>
   <td><tt>ceb81ae36df4d58d53d0f689a28201dfd2219433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/bovo-4.14.0.tar.xz">bovo-4.14.0</a></td>
   <td align="right">98kB</td>
   <td><tt>755dfd03e5abaf6278fe1fc5359c71a9a260bb11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/cantor-4.14.0.tar.xz">cantor-4.14.0</a></td>
   <td align="right">333kB</td>
   <td><tt>d199d894c441fa2c0d93bbc57c5cbfd97d3d1488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/cervisia-4.14.0.tar.xz">cervisia-4.14.0</a></td>
   <td align="right">359kB</td>
   <td><tt>2c9f159f14df13bbc506dbc329ed0827ddba2498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/dolphin-plugins-4.14.0.tar.xz">dolphin-plugins-4.14.0</a></td>
   <td align="right">56kB</td>
   <td><tt>4f8cc97f10e25550abab8eea8b5c7cb96d543b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/dragon-4.14.0.tar.xz">dragon-4.14.0</a></td>
   <td align="right">381kB</td>
   <td><tt>114fe11158b697ce91f06c21eaed176c964172f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ffmpegthumbs-4.14.0.tar.xz">ffmpegthumbs-4.14.0</a></td>
   <td align="right">19kB</td>
   <td><tt>b8f40eb658628375b0974ec5a5876e99a6d27935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/filelight-4.14.0.tar.xz">filelight-4.14.0</a></td>
   <td align="right">280kB</td>
   <td><tt>800e572fdca38219c77ffbc95a9ecc1e57a01984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/granatier-4.14.0.tar.xz">granatier-4.14.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>411b2a20a4469df92ee646b1407d830e23beef8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/gwenview-4.14.0.tar.xz">gwenview-4.14.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c601a0949b541c7cc71f6171ba704554a2eba46e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/jovie-4.14.0.tar.xz">jovie-4.14.0</a></td>
   <td align="right">371kB</td>
   <td><tt>67bb4e40993595b49dbf20b3ee0c6e2f94599675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/juk-4.14.0.tar.xz">juk-4.14.0</a></td>
   <td align="right">427kB</td>
   <td><tt>aea9336f699d5ad0f7c4d2b8dcdaeee934b21f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kaccessible-4.14.0.tar.xz">kaccessible-4.14.0</a></td>
   <td align="right">20kB</td>
   <td><tt>df66286f06816ff83f036bf169fb9fb15b2e29f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kajongg-4.14.0.tar.xz">kajongg-4.14.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cb2fd2c6b5558b33c0a16ba7ce75760be0d499f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kalgebra-4.14.0.tar.xz">kalgebra-4.14.0</a></td>
   <td align="right">267kB</td>
   <td><tt>5a621f4e707247e04af4e9c2711238ead39ca631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kalzium-4.14.0.tar.xz">kalzium-4.14.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>315f4e024905f0a59639d681194226f6bb523de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kamera-4.14.0.tar.xz">kamera-4.14.0</a></td>
   <td align="right">34kB</td>
   <td><tt>05894e9c21167f7a926c3725ffdac934c7c67994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kanagram-4.14.0.tar.xz">kanagram-4.14.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>f94ae28c612730468e6c9faa9fb613d35dac46dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kapman-4.14.0.tar.xz">kapman-4.14.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>158288ef49dc845c7db3017c97ac3c48357453bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kapptemplate-4.14.0.tar.xz">kapptemplate-4.14.0</a></td>
   <td align="right">690kB</td>
   <td><tt>bcd226c9a8293cdbf88e371c70ca8538fc5bd9e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kate-4.14.0.tar.xz">kate-4.14.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3b8bead7f5cbfa754ba31f27ddcf6f330decf4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/katomic-4.14.0.tar.xz">katomic-4.14.0</a></td>
   <td align="right">642kB</td>
   <td><tt>77fcab4b0feed231ac10842f75fa879e7ca7336a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kblackbox-4.14.0.tar.xz">kblackbox-4.14.0</a></td>
   <td align="right">251kB</td>
   <td><tt>a94b8459f3d3295fdfb5b144debdbfa9c613644a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kblocks-4.14.0.tar.xz">kblocks-4.14.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>43fc69c85f9dacf96bc3ad7b4001b5a67e07ecc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kbounce-4.14.0.tar.xz">kbounce-4.14.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>be6c2c0889ac9b8c62c72506e918c5733d23480a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kbreakout-4.14.0.tar.xz">kbreakout-4.14.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e97cd358d36b66fe6d23bb3dd0113a8bf2e04e60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kbruch-4.14.0.tar.xz">kbruch-4.14.0</a></td>
   <td align="right">881kB</td>
   <td><tt>d234665f9707bf345e77bc7a901482090d1da698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kcachegrind-4.14.0.tar.xz">kcachegrind-4.14.0</a></td>
   <td align="right">229kB</td>
   <td><tt>403f10048445b9348a985504ac5e80d70d563244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kcalc-4.14.0.tar.xz">kcalc-4.14.0</a></td>
   <td align="right">79kB</td>
   <td><tt>8f8d95e11162f9156fac16fa72eddd1f1ac3e642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kcharselect-4.14.0.tar.xz">kcharselect-4.14.0</a></td>
   <td align="right">82kB</td>
   <td><tt>a9b6e6ad6a0f6db1d13a5387031a0758279f0ae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kcolorchooser-4.14.0.tar.xz">kcolorchooser-4.14.0</a></td>
   <td align="right">4kB</td>
   <td><tt>53b2876b2691f75000c5693c89999b50cb766946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kcron-4.14.0.tar.xz">kcron-4.14.0</a></td>
   <td align="right">170kB</td>
   <td><tt>6811f552f51117360be29dc626c285cc1d96d98b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdeartwork-4.14.0.tar.xz">kdeartwork-4.14.0</a></td>
   <td align="right">134MB</td>
   <td><tt>cd1e85898fe7965c627aba6b5f9d167c7b0aa1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-baseapps-4.14.0.tar.xz">kde-baseapps-4.14.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9f0c7cda0ec0ca6fbe41696a753679f3e158fec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-base-artwork-4.14.0.tar.xz">kde-base-artwork-4.14.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>34d382dafbc83ceabaa4cc460b1217f96cd5afd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-dev-scripts-4.14.0.tar.xz">kde-dev-scripts-4.14.0</a></td>
   <td align="right">274kB</td>
   <td><tt>269ce68278e31732bead5f994cd665ef25f44695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-dev-utils-4.14.0.tar.xz">kde-dev-utils-4.14.0</a></td>
   <td align="right">50kB</td>
   <td><tt>50c4ed73cd34eb1c3081dd79ffad0b90def132a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdegraphics-mobipocket-4.14.0.tar.xz">kdegraphics-mobipocket-4.14.0</a></td>
   <td align="right">14kB</td>
   <td><tt>88f2dfc535e1fe6ef0a41b893eb1ca37fd9a37ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdegraphics-strigi-analyzer-4.14.0.tar.xz">kdegraphics-strigi-analyzer-4.14.0</a></td>
   <td align="right">39kB</td>
   <td><tt>13f13cde9ad90c5c7a9dc0897642959cc1d8df6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdegraphics-thumbnailers-4.14.0.tar.xz">kdegraphics-thumbnailers-4.14.0</a></td>
   <td align="right">40kB</td>
   <td><tt>3ecfeec5d64f638db000f707ab8defb8bb2eb548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdelibs-4.14.0.tar.xz">kdelibs-4.14.0</a></td>
   <td align="right">11MB</td>
   <td><tt>d8c56abfa101b0bd39e05ae36b7f6063d8fe360c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdenetwork-filesharing-4.14.0.tar.xz">kdenetwork-filesharing-4.14.0</a></td>
   <td align="right">26kB</td>
   <td><tt>92f99a41cacbca63e088699e379fa8cc8a77fad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdenetwork-strigi-analyzers-4.14.0.tar.xz">kdenetwork-strigi-analyzers-4.14.0</a></td>
   <td align="right">14kB</td>
   <td><tt>a26e4eb66fa976d55ea4317ce150d56ed7b9b8e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdepim-4.14.0.tar.xz">kdepim-4.14.0</a></td>
   <td align="right">13MB</td>
   <td><tt>e5f24a8892954004f4b4eada5bcd46b6c71e1bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdepimlibs-4.14.0.tar.xz">kdepimlibs-4.14.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ac6dfd4086b4728e815bec93ce2519c343babf8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdepim-runtime-4.14.0.tar.xz">kdepim-runtime-4.14.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6cb3b92d57343872ddfc6ba24b5ebdd005126fa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdeplasma-addons-4.14.0.tar.xz">kdeplasma-addons-4.14.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>25a10026e741d27595e22324d863355f8f649886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-runtime-4.14.0.tar.xz">kde-runtime-4.14.0</a></td>
   <td align="right">7.4MB</td>
   <td><tt>3847a9e6a66e4e724cff9230ff564c900243d4cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdesdk-kioslaves-4.14.0.tar.xz">kdesdk-kioslaves-4.14.0</a></td>
   <td align="right">352kB</td>
   <td><tt>932c9e1901ffa2e6ad9c3bf377564e4e5a33ffea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdesdk-strigi-analyzers-4.14.0.tar.xz">kdesdk-strigi-analyzers-4.14.0</a></td>
   <td align="right">17kB</td>
   <td><tt>e659ce2810808a0d85d78751f12d6b37a4e75cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdesdk-thumbnailers-4.14.0.tar.xz">kdesdk-thumbnailers-4.14.0</a></td>
   <td align="right">11kB</td>
   <td><tt>59797830739079e9a5e0676f425f750810b1943c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-wallpapers-4.14.0.tar.xz">kde-wallpapers-4.14.0</a></td>
   <td align="right">86MB</td>
   <td><tt>2e83770154ecc9294733c7f318324d8d023ebd21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdewebdev-4.14.0.tar.xz">kdewebdev-4.14.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f9c7c8c1ec7d59034835aeffc30c1b61a2d622ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdf-4.14.0.tar.xz">kdf-4.14.0</a></td>
   <td align="right">145kB</td>
   <td><tt>de7e806bc2cee023ee25c62397e506af058703ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kdiamond-4.14.0.tar.xz">kdiamond-4.14.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>728db7cca5b4720b648f0884868136c571687e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kfilemetadata-4.14.0.tar.xz">kfilemetadata-4.14.0</a></td>
   <td align="right">35kB</td>
   <td><tt>7acc39f6797432faef92baab1f3138d48fa3c75e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kfloppy-4.14.0.tar.xz">kfloppy-4.14.0</a></td>
   <td align="right">51kB</td>
   <td><tt>0f20ce3642ae9e4f977461b0c8f67e20d542e5eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kfourinline-4.14.0.tar.xz">kfourinline-4.14.0</a></td>
   <td align="right">275kB</td>
   <td><tt>7368b866bb55f68ffae17cd1a04605a231ebb539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kgamma-4.14.0.tar.xz">kgamma-4.14.0</a></td>
   <td align="right">22kB</td>
   <td><tt>1b9e637d732ffffb0a58e2969895bc2bdb1a7324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kgeography-4.14.0.tar.xz">kgeography-4.14.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>818f07ac49467eee784e2338da7c9f981f478788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kget-4.14.0.tar.xz">kget-4.14.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>cce8b37a786f0da6af84d64ea9ee923fa00c5e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kgoldrunner-4.14.0.tar.xz">kgoldrunner-4.14.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a5af21157156afde85ca125efb3354cc77a0d4fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kgpg-4.14.0.tar.xz">kgpg-4.14.0</a></td>
   <td align="right">787kB</td>
   <td><tt>07973b7e80baf77e4d624173408f9e7e7c422e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/khangman-4.14.0.tar.xz">khangman-4.14.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>fae655eb717d0c041c70c0fecd7b7bc637e59b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kig-4.14.0.tar.xz">kig-4.14.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c680523b01da952ce8b51cccf19283a649311dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kigo-4.14.0.tar.xz">kigo-4.14.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1199dc198e750042ec79e332f14bb9a7e3a427ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/killbots-4.14.0.tar.xz">killbots-4.14.0</a></td>
   <td align="right">938kB</td>
   <td><tt>a80a1ab9b24155a5d9ecd50335940cfd9db5b954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kimono-4.14.0.tar.xz">kimono-4.14.0</a></td>
   <td align="right">910kB</td>
   <td><tt>e94f121fb4c9b1715cf8000eeff8f91451b1bf92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kiriki-4.14.0.tar.xz">kiriki-4.14.0</a></td>
   <td align="right">115kB</td>
   <td><tt>d172f35d2acae4b72aae5718b7bf39b518388d45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kiten-4.14.0.tar.xz">kiten-4.14.0</a></td>
   <td align="right">11MB</td>
   <td><tt>14fa8363aa6bd6f09fd6c3a3edbd5d1137056204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kjumpingcube-4.14.0.tar.xz">kjumpingcube-4.14.0</a></td>
   <td align="right">160kB</td>
   <td><tt>465569715b40e6d582e55655bca5fd8c6c412ca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/klettres-4.14.0.tar.xz">klettres-4.14.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>efb4824bb86c30023a91ed6d82da0182c969e4a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/klickety-4.14.0.tar.xz">klickety-4.14.0</a></td>
   <td align="right">765kB</td>
   <td><tt>81b298f9c98edb470c33cc7680a8a99a848b418e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/klines-4.14.0.tar.xz">klines-4.14.0</a></td>
   <td align="right">926kB</td>
   <td><tt>12328b72a09765f09f68fbbf2bf5e87c5ca55bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kmag-4.14.0.tar.xz">kmag-4.14.0</a></td>
   <td align="right">84kB</td>
   <td><tt>3b68cf68c127035866d9860ce47cd453c52fdaa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kmahjongg-4.14.0.tar.xz">kmahjongg-4.14.0</a></td>
   <td align="right">982kB</td>
   <td><tt>269a78249ee0cc7878ee6341ebb7f85a17ced33a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kmines-4.14.0.tar.xz">kmines-4.14.0</a></td>
   <td align="right">613kB</td>
   <td><tt>3ad0d23a8cf3bbc805edfcde5b19bfa68e151fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kmix-4.14.0.tar.xz">kmix-4.14.0</a></td>
   <td align="right">370kB</td>
   <td><tt>c32fb4b8bbe25a81a6624576e7a51e2c347ddb52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kmousetool-4.14.0.tar.xz">kmousetool-4.14.0</a></td>
   <td align="right">35kB</td>
   <td><tt>23d61b5882dd73a5b627fedb74eee1ac628d3b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kmouth-4.14.0.tar.xz">kmouth-4.14.0</a></td>
   <td align="right">300kB</td>
   <td><tt>00541698fc5f49b36584cf9f25aadb3cdc5dd71d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kmplot-4.14.0.tar.xz">kmplot-4.14.0</a></td>
   <td align="right">643kB</td>
   <td><tt>af80db211b4ded4f537b0b0c00b31a19414cb07f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/knavalbattle-4.14.0.tar.xz">knavalbattle-4.14.0</a></td>
   <td align="right">834kB</td>
   <td><tt>03bfdcf741ef4f20a68ceb5c726f6dbd7edcf21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/knetwalk-4.14.0.tar.xz">knetwalk-4.14.0</a></td>
   <td align="right">763kB</td>
   <td><tt>a8c12218af4f966252fff1542f4633929c23388a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kolf-4.14.0.tar.xz">kolf-4.14.0</a></td>
   <td align="right">747kB</td>
   <td><tt>0ee7e169a548b60e2898c6a751eb9f40334fa642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kollision-4.14.0.tar.xz">kollision-4.14.0</a></td>
   <td align="right">202kB</td>
   <td><tt>f66fc86a7eeb1f19e1a12da8fc4df43beeb73089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kolourpaint-4.14.0.tar.xz">kolourpaint-4.14.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>893611caeed844fa7b1b57ca5e5536191f672b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kompare-4.14.0.tar.xz">kompare-4.14.0</a></td>
   <td align="right">336kB</td>
   <td><tt>1954dea23673adf4dd3c3cf452f82a673a61b2e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/konquest-4.14.0.tar.xz">konquest-4.14.0</a></td>
   <td align="right">395kB</td>
   <td><tt>267eb725a068fe0faa771302858264f4a78d7a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/konsole-4.14.0.tar.xz">konsole-4.14.0</a></td>
   <td align="right">444kB</td>
   <td><tt>8841b712acb3d63bc9d553b4dbbc90413fa277e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kopete-4.14.0.tar.xz">kopete-4.14.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>bd247af3b25650bedcdb983fc285469dcacea964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/korundum-4.14.0.tar.xz">korundum-4.14.0</a></td>
   <td align="right">156kB</td>
   <td><tt>45efc0180bb0170efdeedf5b3c35810f921bd22e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kpat-4.14.0.tar.xz">kpat-4.14.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>cbe27c856e3ebca632fdc8da04e94572b3f00060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kppp-4.14.0.tar.xz">kppp-4.14.0</a></td>
   <td align="right">680kB</td>
   <td><tt>89277176595d940e0c2846ca56a584f713b16a98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kqtquickcharts-4.14.0.tar.xz">kqtquickcharts-4.14.0</a></td>
   <td align="right">19kB</td>
   <td><tt>0465dd8468685e174fa08182c80406915b19554c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/krdc-4.14.0.tar.xz">krdc-4.14.0</a></td>
   <td align="right">388kB</td>
   <td><tt>847804fdb6fd4b851d722d06f43cf3001b1640e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kremotecontrol-4.14.0.tar.xz">kremotecontrol-4.14.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e921580e4b2c2d979710cecc12bd5ad0c8aafdcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kreversi-4.14.0.tar.xz">kreversi-4.14.0</a></td>
   <td align="right">463kB</td>
   <td><tt>4333ba353985b95a3351b8de314ca58d7c371108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/krfb-4.14.0.tar.xz">krfb-4.14.0</a></td>
   <td align="right">463kB</td>
   <td><tt>64e7670d30c8fa7f3a18fe9e6fb5e4254aa19faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kross-interpreters-4.14.0.tar.xz">kross-interpreters-4.14.0</a></td>
   <td align="right">127kB</td>
   <td><tt>3a5abca0f93923e586945b3204ae08ea41747c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kruler-4.14.0.tar.xz">kruler-4.14.0</a></td>
   <td align="right">125kB</td>
   <td><tt>dd4eddf4d9bbb25d56e5d32192006f3312fb8b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ksaneplugin-4.14.0.tar.xz">ksaneplugin-4.14.0</a></td>
   <td align="right">12kB</td>
   <td><tt>d1ab681f5c2e95866d06d83c1dfc1b077c2a14a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kscd-4.14.0.tar.xz">kscd-4.14.0</a></td>
   <td align="right">90kB</td>
   <td><tt>f163aaf69bf464fdb7baface9ea61468c30d837b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kshisen-4.14.0.tar.xz">kshisen-4.14.0</a></td>
   <td align="right">132kB</td>
   <td><tt>fbbedee7f21b86da364921f8b0567426f320d943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ksirk-4.14.0.tar.xz">ksirk-4.14.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>50817476474d8752dd051a81026d68bfc1cda3d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ksnakeduel-4.14.0.tar.xz">ksnakeduel-4.14.0</a></td>
   <td align="right">312kB</td>
   <td><tt>763c1fa8a212e7328a586140dfad1dad642bbfc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ksnapshot-4.14.0.tar.xz">ksnapshot-4.14.0</a></td>
   <td align="right">251kB</td>
   <td><tt>f6bff85913aed34f91fc22ca1cf34be9c9476342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kspaceduel-4.14.0.tar.xz">kspaceduel-4.14.0</a></td>
   <td align="right">246kB</td>
   <td><tt>6ab5dffcc2eef122db71e801c1569839b6e5b0b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ksquares-4.14.0.tar.xz">ksquares-4.14.0</a></td>
   <td align="right">77kB</td>
   <td><tt>662195e623ca6bcc7fe6089b065463c4b48dad37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kstars-4.14.0.tar.xz">kstars-4.14.0</a></td>
   <td align="right">11MB</td>
   <td><tt>4d0923ee172aa480d232946d80374eafa975a8f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ksudoku-4.14.0.tar.xz">ksudoku-4.14.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a036c6e88c4f0e171176f8201a081e4470c2b38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ksystemlog-4.14.0.tar.xz">ksystemlog-4.14.0</a></td>
   <td align="right">373kB</td>
   <td><tt>0cbf0dd1ace12433c633fe905717c830c8a7d7cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kteatime-4.14.0.tar.xz">kteatime-4.14.0</a></td>
   <td align="right">98kB</td>
   <td><tt>b7aefce842400def0d88df35b059c99c0338fbff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ktimer-4.14.0.tar.xz">ktimer-4.14.0</a></td>
   <td align="right">143kB</td>
   <td><tt>f0f32c5620b42b7122f58635362ab7d14c50a35b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ktouch-4.14.0.tar.xz">ktouch-4.14.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1e310a9f32c62ced88a353db1e99b33d401426b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ktuberling-4.14.0.tar.xz">ktuberling-4.14.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b4dde3660a15d30ec3e4ea548cbd94ee93fef17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kturtle-4.14.0.tar.xz">kturtle-4.14.0</a></td>
   <td align="right">186kB</td>
   <td><tt>46ccb36e953189bf2d8d55fe4cd1998cb37eab2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/ktux-4.14.0.tar.xz">ktux-4.14.0</a></td>
   <td align="right">106kB</td>
   <td><tt>b4332f3fbfe673bf7b58b51f4fafde681ba61748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kubrick-4.14.0.tar.xz">kubrick-4.14.0</a></td>
   <td align="right">104kB</td>
   <td><tt>5f4939285690e001045d5d4c117595ed490e23f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kuser-4.14.0.tar.xz">kuser-4.14.0</a></td>
   <td align="right">131kB</td>
   <td><tt>a4992524b2641df925309f414e2b045cb7ef70de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kwalletmanager-4.14.0.tar.xz">kwalletmanager-4.14.0</a></td>
   <td align="right">445kB</td>
   <td><tt>86d77dd6f8b295572f19d0d04444ad4bdf2c157d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kwordquiz-4.14.0.tar.xz">kwordquiz-4.14.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>788d9f3c60cfa357e9d1f5e05deb168fff97d52f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkcddb-4.14.0.tar.xz">libkcddb-4.14.0</a></td>
   <td align="right">154kB</td>
   <td><tt>dd09dc7670293a6b2fa8f77d5f028f1f75d369f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkcompactdisc-4.14.0.tar.xz">libkcompactdisc-4.14.0</a></td>
   <td align="right">73kB</td>
   <td><tt>8988416d3bf83e5ea00ad925a98c3da5694352c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkdcraw-4.14.0.tar.xz">libkdcraw-4.14.0</a></td>
   <td align="right">97kB</td>
   <td><tt>ad39c6f71072b852009cd988bf341c5baf5d7e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkdeedu-4.14.0.tar.xz">libkdeedu-4.14.0</a></td>
   <td align="right">213kB</td>
   <td><tt>b1113a70a7c3762ed26a222eb99adf531e6c76c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkdegames-4.14.0.tar.xz">libkdegames-4.14.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>f4ec57106561f92828750d6c9904112fd7b18bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkexiv2-4.14.0.tar.xz">libkexiv2-4.14.0</a></td>
   <td align="right">132kB</td>
   <td><tt>46194d6138b87396d5bab2ee4d20f404c975405f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkipi-4.14.0.tar.xz">libkipi-4.14.0</a></td>
   <td align="right">92kB</td>
   <td><tt>5dd0aa48deb772ba19e5f8c895d21efefdeecb12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkmahjongg-4.14.0.tar.xz">libkmahjongg-4.14.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9472b28aae45884fceeaeb192bece9d4d898a843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libkomparediff2-4.14.0.tar.xz">libkomparediff2-4.14.0</a></td>
   <td align="right">54kB</td>
   <td><tt>6fc809133f6e55a63bb8b0b859bdb8afde97ce00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/libksane-4.14.0.tar.xz">libksane-4.14.0</a></td>
   <td align="right">78kB</td>
   <td><tt>500a718fffe1d505cb537a16518203d394f2ea4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/lokalize-4.14.0.tar.xz">lokalize-4.14.0</a></td>
   <td align="right">826kB</td>
   <td><tt>83b14e225c584c8295677b4b2480efcbca102293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/lskat-4.14.0.tar.xz">lskat-4.14.0</a></td>
   <td align="right">907kB</td>
   <td><tt>18f7e8f6af18a0e1dba468f6aa4f9ea658b9630a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/marble-4.14.0.tar.xz">marble-4.14.0</a></td>
   <td align="right">18MB</td>
   <td><tt>a2557995c02b30efce34eb42113b24c4b6c48c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/mplayerthumbs-4.14.0.tar.xz">mplayerthumbs-4.14.0</a></td>
   <td align="right">26kB</td>
   <td><tt>65cec47ac6462acc77d2156b005a78b1eced0bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/nepomuk-core-4.14.0.tar.xz">nepomuk-core-4.14.0</a></td>
   <td align="right">374kB</td>
   <td><tt>a7e337060ee7b8925ede888faca4d73b36031a74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/nepomuk-widgets-4.14.0.tar.xz">nepomuk-widgets-4.14.0</a></td>
   <td align="right">47kB</td>
   <td><tt>a71ec6982a54f262ec8b7b7d7a5cb62fed15fe67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/okteta-4.14.0.tar.xz">okteta-4.14.0</a></td>
   <td align="right">481kB</td>
   <td><tt>54a31f0adf7f0db4f21751b813255fe0d246a062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/okular-4.14.0.tar.xz">okular-4.14.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>79db983bacb25f7a685685614277b63a9e341ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/oxygen-icons-4.14.0.tar.xz">oxygen-icons-4.14.0</a></td>
   <td align="right">219MB</td>
   <td><tt>bc3d640258504c418e0445c25760b917f5f437cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/pairs-4.14.0.tar.xz">pairs-4.14.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d6af54410cb4ece38b7bcada973a661e1e6ce141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/palapeli-4.14.0.tar.xz">palapeli-4.14.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a72892f98c14ac1b52ce0362312bfa30c6f3d8b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/parley-4.14.0.tar.xz">parley-4.14.0</a></td>
   <td align="right">7.8MB</td>
   <td><tt>331f3ecfa5465ddf1e020e1a6deafc546254351c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/perlkde-4.14.0.tar.xz">perlkde-4.14.0</a></td>
   <td align="right">39kB</td>
   <td><tt>d340b2aaf42cab0b30c23a5257020732146b2ca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/perlqt-4.14.0.tar.xz">perlqt-4.14.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9ad2690b8c87c2c7885a4963373a46a6ffeebff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/picmi-4.14.0.tar.xz">picmi-4.14.0</a></td>
   <td align="right">714kB</td>
   <td><tt>485666ec02357f640af0c1536d3a2a3a7ba74265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/poxml-4.14.0.tar.xz">poxml-4.14.0</a></td>
   <td align="right">30kB</td>
   <td><tt>9e214925ca3dadbcc9333682b7c7baed38e3d530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/print-manager-4.14.0.tar.xz">print-manager-4.14.0</a></td>
   <td align="right">90kB</td>
   <td><tt>978648e8f721de623e20551264347e29c28b219c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/pykde4-4.14.0.tar.xz">pykde4-4.14.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e57d42ca4d6889877e56a24596d892f5b74a316e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/qtruby-4.14.0.tar.xz">qtruby-4.14.0</a></td>
   <td align="right">517kB</td>
   <td><tt>eb3e2d2b589d756999d25758ea3d77db3fc758bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/qyoto-4.14.0.tar.xz">qyoto-4.14.0</a></td>
   <td align="right">495kB</td>
   <td><tt>7d9e1a814110603f7c9361251ba105a727b3f818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/rocs-4.14.0.tar.xz">rocs-4.14.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>94c6b5ab6eecce0a26d18fbdd6837a938b54109e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/smokegen-4.14.0.tar.xz">smokegen-4.14.0</a></td>
   <td align="right">143kB</td>
   <td><tt>1a1ba4b092e4f16cde8d048d4c13db59b51e6e0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/smokekde-4.14.0.tar.xz">smokekde-4.14.0</a></td>
   <td align="right">36kB</td>
   <td><tt>890d14358d182e35384e3854a6cb82101889381f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/smokeqt-4.14.0.tar.xz">smokeqt-4.14.0</a></td>
   <td align="right">29kB</td>
   <td><tt>8a80669d3516bd2dd789db43556bc1072afd2b3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/step-4.14.0.tar.xz">step-4.14.0</a></td>
   <td align="right">367kB</td>
   <td><tt>f1538a0ba99c4ffbee4e5d1a62f1500652dbdfaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/superkaramba-4.14.0.tar.xz">superkaramba-4.14.0</a></td>
   <td align="right">372kB</td>
   <td><tt>e0a10a404ca655462dfa59f1da9774c751b2f964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/svgpart-4.14.0.tar.xz">svgpart-4.14.0</a></td>
   <td align="right">8kB</td>
   <td><tt>d579e353a709f49f815349c402fab7dd97e944ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/sweeper-4.14.0.tar.xz">sweeper-4.14.0</a></td>
   <td align="right">80kB</td>
   <td><tt>3ddcd1b7afba1600bb053f08bd7099eaddf764ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/umbrello-4.14.0.tar.xz">umbrello-4.14.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>69e755b8604d671f79993e61eb9a12e785eeabfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/zeroconf-ioslave-4.14.0.tar.xz">zeroconf-ioslave-4.14.0</a></td>
   <td align="right">25kB</td>
   <td><tt>3eeb1cbe6ec17d123c727c7f26d241ad50b53743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ar-4.14.0.tar.xz">kde-l10n-ar-4.14.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e2ae7d823f8eeb213cfa6c660d232aaec3696f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-bg-4.14.0.tar.xz">kde-l10n-bg-4.14.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3f6af3e921c3096a9df4df2f45f156550cbe91d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-bs-4.14.0.tar.xz">kde-l10n-bs-4.14.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>630d9932f87ea78b3114263510eeb68af76f5b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ca-4.14.0.tar.xz">kde-l10n-ca-4.14.0</a></td>
   <td align="right">11MB</td>
   <td><tt>f71278de1e11501d09c9f83ced6c2a3f59159d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ca@valencia-4.14.0.tar.xz">kde-l10n-ca@valencia-4.14.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>42da8abbc99fde03f2bfe251923dde1cf833177e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-cs-4.14.0.tar.xz">kde-l10n-cs-4.14.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>97701cbb51569d5c498b92ff7d24211decaf5690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-da-4.14.0.tar.xz">kde-l10n-da-4.14.0</a></td>
   <td align="right">12MB</td>
   <td><tt>396a0825afcd8f0a7455ca76a25e88d939ae59ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-de-4.14.0.tar.xz">kde-l10n-de-4.14.0</a></td>
   <td align="right">34MB</td>
   <td><tt>11ba070b38a1df6ee9a0781ad7511b84504f19ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-el-4.14.0.tar.xz">kde-l10n-el-4.14.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>e9b5b634ec896281725ccadc0e545a8c61ca619f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-en_GB-4.14.0.tar.xz">kde-l10n-en_GB-4.14.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>f331767b499da9a50f40abdd08674897552e1e87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-es-4.14.0.tar.xz">kde-l10n-es-4.14.0</a></td>
   <td align="right">20MB</td>
   <td><tt>ae23169fd41f3cf1656ca99d14b95b5ae96190eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-et-4.14.0.tar.xz">kde-l10n-et-4.14.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>0642c4e18f717e8e0674feee278955ca0ed339f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-eu-4.14.0.tar.xz">kde-l10n-eu-4.14.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>dfcb4bce3131982bd2b486f67c54a298bfe0f3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-fa-4.14.0.tar.xz">kde-l10n-fa-4.14.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3a743dce7b1045cee167bcda8fd4856b3b223372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-fi-4.14.0.tar.xz">kde-l10n-fi-4.14.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ab9f55f6fbadb23136c65ad514697c4218df056e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-fr-4.14.0.tar.xz">kde-l10n-fr-4.14.0</a></td>
   <td align="right">44MB</td>
   <td><tt>04be78d9f1f0d7189ab860c142f522f24dcfdf3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ga-4.14.0.tar.xz">kde-l10n-ga-4.14.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>a48f7680ce248c39933d48c2f9babdc8c1894615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-gl-4.14.0.tar.xz">kde-l10n-gl-4.14.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>23802ae7ee9de9920667b9ea6982cd1e9e2a5187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-he-4.14.0.tar.xz">kde-l10n-he-4.14.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0fcca4185f3e51853702c870c78464d375020c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-hi-4.14.0.tar.xz">kde-l10n-hi-4.14.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>17fc089b80b396aecd725fe05e31ce212339ad7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-hr-4.14.0.tar.xz">kde-l10n-hr-4.14.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>30e8be2fa045d079933a7e63b753aa902e7b4f3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-hu-4.14.0.tar.xz">kde-l10n-hu-4.14.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>aec1398bf63f56dc9b60fc06b3bb9d607371d583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ia-4.14.0.tar.xz">kde-l10n-ia-4.14.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a782664440c9ab699d11df12a0a3d93f5e2419bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-id-4.14.0.tar.xz">kde-l10n-id-4.14.0</a></td>
   <td align="right">517kB</td>
   <td><tt>3c676dfd84c7b9b6c2440bb33a1de5c8a4c7ef2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-is-4.14.0.tar.xz">kde-l10n-is-4.14.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>daf50dbe9beb6e5f9bbeaf6fb7cdd18f696d92e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-it-4.14.0.tar.xz">kde-l10n-it-4.14.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>498925f3331c09f26dda768cfe82d4e841807b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ja-4.14.0.tar.xz">kde-l10n-ja-4.14.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dd40905a3392ac01dd344cef9e9866d835378134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-kk-4.14.0.tar.xz">kde-l10n-kk-4.14.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>0f667c9ede9cdf041925a71875ea26b11cb6fba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-km-4.14.0.tar.xz">kde-l10n-km-4.14.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8f07ab01f91ad2942d050173ee1c7409e1b36fe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ko-4.14.0.tar.xz">kde-l10n-ko-4.14.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>52105f51b9387415c33be5b11454593af3ba5162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-lt-4.14.0.tar.xz">kde-l10n-lt-4.14.0</a></td>
   <td align="right">12MB</td>
   <td><tt>5a94f020e9b52aa4ee6efc247beacb859d9fbd0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-lv-4.14.0.tar.xz">kde-l10n-lv-4.14.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8af2c7b5ee0d7e255125f5d56b723bd521a399f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-mr-4.14.0.tar.xz">kde-l10n-mr-4.14.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cef13f447e3e185f69e91a2d4aae816ab7a13ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-nb-4.14.0.tar.xz">kde-l10n-nb-4.14.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d633f4658b0475e047fd31aebac361238289234d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-nds-4.14.0.tar.xz">kde-l10n-nds-4.14.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>038037dc1cb3afa4b236d2234cb9444350e2265a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-nl-4.14.0.tar.xz">kde-l10n-nl-4.14.0</a></td>
   <td align="right">13MB</td>
   <td><tt>0900464004ba76b965c4383a0fc8dfd933e53e56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-nn-4.14.0.tar.xz">kde-l10n-nn-4.14.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8e9f716957c6c3bda377fa14f52d1c46c6cbc500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-pa-4.14.0.tar.xz">kde-l10n-pa-4.14.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d2cefa57e101191e66fc4973827473f1a484b53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-pl-4.14.0.tar.xz">kde-l10n-pl-4.14.0</a></td>
   <td align="right">18MB</td>
   <td><tt>039697953f54f5bbd4e3ba30b7ee3ac8208dda56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-pt-4.14.0.tar.xz">kde-l10n-pt-4.14.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>729949cf1d0d1c32a987582fb865f96dd4e94421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-pt_BR-4.14.0.tar.xz">kde-l10n-pt_BR-4.14.0</a></td>
   <td align="right">23MB</td>
   <td><tt>449e3c3384f48c7e127ae6cf17a8892024ce9d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ro-4.14.0.tar.xz">kde-l10n-ro-4.14.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>abad465232454c5887986873d44d01171bb0165f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ru-4.14.0.tar.xz">kde-l10n-ru-4.14.0</a></td>
   <td align="right">22MB</td>
   <td><tt>0091ea4f2d8b2696d21abcd6251a520fe79ed744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-sk-4.14.0.tar.xz">kde-l10n-sk-4.14.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>98971e128f343e0f8e2a4dd2901934e69763aaa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-sl-4.14.0.tar.xz">kde-l10n-sl-4.14.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>4632dc79e312565fe1ffae11837b8d793891ec6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-sr-4.14.0.tar.xz">kde-l10n-sr-4.14.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>3b1aa8405597c0f58a8953e01f1469bb4478fb0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-sv-4.14.0.tar.xz">kde-l10n-sv-4.14.0</a></td>
   <td align="right">14MB</td>
   <td><tt>6bd608aa91452e26f970308950ebcae7ed32cabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-tr-4.14.0.tar.xz">kde-l10n-tr-4.14.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>ed85b1452d82f2f502d5c52ba9dea7f09fd3d555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-ug-4.14.0.tar.xz">kde-l10n-ug-4.14.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e080ae34aa250a255a3dfcb737b5e81d54d5c1b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-uk-4.14.0.tar.xz">kde-l10n-uk-4.14.0</a></td>
   <td align="right">25MB</td>
   <td><tt>593152d70049c28868c41c7b269c0ccc192d8ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-wa-4.14.0.tar.xz">kde-l10n-wa-4.14.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7d2c57bded39204bbb60633b0194108da1f34e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-zh_CN-4.14.0.tar.xz">kde-l10n-zh_CN-4.14.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>9d9865f1f6c0237c5165922af8c872fb97d4095e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.14.0/src/kde-l10n/kde-l10n-zh_TW-4.14.0.tar.xz">kde-l10n-zh_TW-4.14.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a2b7f77c2df5d55b2bcc48d98daf92e4dbad9cfe</tt></td>
</tr>

</table>
