<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/bluedevil-5.20.90.tar.xz">bluedevil-5.20.90</a></td>
   <td align="right">157kB</td>
   <td><tt>fdc56ecff065989f8820e1269a6316cd117797cc37a3c55354781a63dee4163b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/breeze-5.20.90.tar.xz">breeze-5.20.90</a></td>
   <td align="right">25MB</td>
   <td><tt>f7dea4b6f00e7b86da471226d26ad06c4e58c2d54b25c65e8eec7e0f0e9d24b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/breeze-grub-5.20.90.tar.xz">breeze-grub-5.20.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e8058d20d45b3052cf892a6e59aef9b16aa8ded9a19523db7e206bb80a11c4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/breeze-gtk-5.20.90.tar.xz">breeze-gtk-5.20.90</a></td>
   <td align="right">46kB</td>
   <td><tt>c330344cda1806906c47d51c558bf5ffcb34acb9f5f61b68f024c8731f7e7092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/breeze-plymouth-5.20.90.tar.xz">breeze-plymouth-5.20.90</a></td>
   <td align="right">106kB</td>
   <td><tt>19c9e0c91e002754593f5e871b21dcc4d75cc81a695e0b48f8bd8dca2bddbe64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/discover-5.20.90.tar.xz">discover-5.20.90</a></td>
   <td align="right">8.0MB</td>
   <td><tt>45d823f3b13018774b813557bfcee5be5d8b8d94648c3944e71f9a39a9ed5705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/drkonqi-5.20.90.tar.xz">drkonqi-5.20.90</a></td>
   <td align="right">747kB</td>
   <td><tt>fc19c2617a060a052b0a561bee2100e2ed098ee2f389223e38b8ab71cd0f5f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kactivitymanagerd-5.20.90.tar.xz">kactivitymanagerd-5.20.90</a></td>
   <td align="right">97kB</td>
   <td><tt>9a00b65fde6d4a09fa86b5852f0c50587f872ed65c41ff745debc9f2c3a9a701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kde-cli-tools-5.20.90.tar.xz">kde-cli-tools-5.20.90</a></td>
   <td align="right">596kB</td>
   <td><tt>db9287ccba29f09329d7298e77ef7c761d190e9786a48ee11a0cfa19c900d8eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kdecoration-5.20.90.tar.xz">kdecoration-5.20.90</a></td>
   <td align="right">44kB</td>
   <td><tt>cb6721ce69c19ad5da1696a7b3fbd5055ca550707fd433d7b5e3af6f905f9c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kde-gtk-config-5.20.90.tar.xz">kde-gtk-config-5.20.90</a></td>
   <td align="right">66kB</td>
   <td><tt>523f900aaa6b927435ddbcf1827d9dcc9cae7500fd50c4d0dddab41c534356e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kdeplasma-addons-5.20.90.tar.xz">kdeplasma-addons-5.20.90</a></td>
   <td align="right">612kB</td>
   <td><tt>d1c33181d19963343e9cdcff4e0b062b6fbf64fb84fed5f2df2f4e07ca015c6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kgamma5-5.20.90.tar.xz">kgamma5-5.20.90</a></td>
   <td align="right">80kB</td>
   <td><tt>a8326900ba71c21543c61e04b5b731eef5f53cb318053803e7ccff4e0179c000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/khotkeys-5.20.90.tar.xz">khotkeys-5.20.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d8b995d536db3e05639a6efa3783c946ef5e657d4a342b7f47bf4720f35f8bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kinfocenter-5.20.90.tar.xz">kinfocenter-5.20.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>252cf13c3924231b2bbb344c6fdb8afb614b734f0c2422e2ace501a3a24299cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kmenuedit-5.20.90.tar.xz">kmenuedit-5.20.90</a></td>
   <td align="right">878kB</td>
   <td><tt>ae7252825287ed88eeb3b688922fefafefa7f4d0dae6728c6287bc5ba584094b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kscreen-5.20.90.tar.xz">kscreen-5.20.90</a></td>
   <td align="right">111kB</td>
   <td><tt>6ae4bdda3c84d570557e7649d31ef107a524732c1f637a6378420f4f7d7f9be6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kscreenlocker-5.20.90.tar.xz">kscreenlocker-5.20.90</a></td>
   <td align="right">114kB</td>
   <td><tt>5011f110811c06f230ad69562a24856b773ed5e68a53a4b8c1efa0e702a4b4c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/ksshaskpass-5.20.90.tar.xz">ksshaskpass-5.20.90</a></td>
   <td align="right">23kB</td>
   <td><tt>010b3bd2af6bd0c08216520469b5bd116e361a1aaa7142d3d9995511251a2afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/ksysguard-5.20.90.tar.xz">ksysguard-5.20.90</a></td>
   <td align="right">588kB</td>
   <td><tt>18c5d9fe20f115a063c0cfb81faec3c78e56b390992fd28d9bcb15851d8eba1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kwallet-pam-5.20.90.tar.xz">kwallet-pam-5.20.90</a></td>
   <td align="right">19kB</td>
   <td><tt>53b424fca26c3347de21f4e6be2878ff2810da2785ec504446c72bc488cc8cfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kwayland-integration-5.20.90.tar.xz">kwayland-integration-5.20.90</a></td>
   <td align="right">22kB</td>
   <td><tt>4e435986f568a98156871f865ead0e7a4fdde46f8ac25fdd8b39fccd4b04855a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kwayland-server-5.20.90.tar.xz">kwayland-server-5.20.90</a></td>
   <td align="right">214kB</td>
   <td><tt>38ef9541b8add3931019f2c74683ea478df9c8ad550fa03b14135b564665b93a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kwin-5.20.90.tar.xz">kwin-5.20.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6ada880a3dddab83878c2ce4b3e244929a203bd2930ec77844f85a24c3efc05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/kwrited-5.20.90.tar.xz">kwrited-5.20.90</a></td>
   <td align="right">20kB</td>
   <td><tt>178313ffd9f674d17206b617b260dc6effb87df9b86bbe612ef8227956142569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/libkscreen-5.20.90.tar.xz">libkscreen-5.20.90</a></td>
   <td align="right">82kB</td>
   <td><tt>868c2d7184fb952ab0a78fe3cd3b48b645e218f824cc935bd68b7a5a9462ee1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/libksysguard-5.20.90.tar.xz">libksysguard-5.20.90</a></td>
   <td align="right">688kB</td>
   <td><tt>d43424d2c28f1902f01055a60a0c2e3d2aaae4349ad197b58af44a8946c8ab36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/milou-5.20.90.tar.xz">milou-5.20.90</a></td>
   <td align="right">42kB</td>
   <td><tt>506e6c178ae62daba1fec747813578ba6395531772b9a537c003941206f152d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/oxygen-5.20.90.tar.xz">oxygen-5.20.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6c46031cefd68ed2f6124ac122e9289ceb2012f0f4d37bc6b9c500127693768b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-browser-integration-5.20.90.tar.xz">plasma-browser-integration-5.20.90</a></td>
   <td align="right">197kB</td>
   <td><tt>a1fd28c92b813c5b7b9ba4c5572d053b11138e359c029d2f44690db40c800d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-desktop-5.20.90.tar.xz">plasma-desktop-5.20.90</a></td>
   <td align="right">15MB</td>
   <td><tt>613c56e9ade683144552a12c1de6b2f78b019bcba80a8b8ccd9f903283f8a3a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-disks-5.20.90.tar.xz">plasma-disks-5.20.90</a></td>
   <td align="right">68kB</td>
   <td><tt>aaecf9cf7cce536bf2c0746ffb7cf3f705ceb173251adbfe503ec6f030777452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-firewall-5.20.90.tar.xz">plasma-firewall-5.20.90</a></td>
   <td align="right">320kB</td>
   <td><tt>b3cafaf22ce0add35d460b111ce1df8bb673fccbc10cfe079cf12bd3ae72e527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-integration-5.20.90.tar.xz">plasma-integration-5.20.90</a></td>
   <td align="right">63kB</td>
   <td><tt>5dd760226680c908af35bc0d095789ef28da7002a477e18d3cb5781767f8a8f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-nano-5.20.90.tar.xz">plasma-nano-5.20.90</a></td>
   <td align="right">64kB</td>
   <td><tt>017930be34f73a7de009c2f0f938666ec728f785ab65149118847fe132cc1291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-nm-5.20.90.tar.xz">plasma-nm-5.20.90</a></td>
   <td align="right">870kB</td>
   <td><tt>e74b8aee4bc317d408f61dad5d81ba4104720d047030a156efe61df71954f255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-pa-5.20.90.tar.xz">plasma-pa-5.20.90</a></td>
   <td align="right">110kB</td>
   <td><tt>54fdcb82b1a82bc2bae8651f40fc7b2b647ea3b24f26a78614cb2753a0d6ec12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-phone-components-5.20.90.tar.xz">plasma-phone-components-5.20.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5a893906e9074004b6ec7eb59ad81d69f5f2f760685ce5f3d2afda9af5f6cb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-sdk-5.20.90.tar.xz">plasma-sdk-5.20.90</a></td>
   <td align="right">262kB</td>
   <td><tt>207cfb88966b190304e9cad6d2e5cece62c6a4a81a26d1a716697032f30c51c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-systemmonitor-5.20.90.tar.xz">plasma-systemmonitor-5.20.90</a></td>
   <td align="right">118kB</td>
   <td><tt>c34a5a64108cdb237d5e32e57608c83f364525740d2cdb1edba1f375a7aa7483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-tests-5.20.90.tar.xz">plasma-tests-5.20.90</a></td>
   <td align="right">1kB</td>
   <td><tt>ffc36b33975c8dc0bfc8408db97aa1b57bd1ef4f96bc09ce991992b5708107dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-thunderbolt-5.20.90.tar.xz">plasma-thunderbolt-5.20.90</a></td>
   <td align="right">55kB</td>
   <td><tt>41ffc6aee23c0bcf2cd57c6f6364d94f7df2bb8c583ccd40b45f1532057ecb4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-vault-5.20.90.tar.xz">plasma-vault-5.20.90</a></td>
   <td align="right">155kB</td>
   <td><tt>78a2313ed4ff91b505348fcc0bb75afcd95e6e8032ef4a49bf45497e5dfeec78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-workspace-5.20.90.tar.xz">plasma-workspace-5.20.90</a></td>
   <td align="right">9.2MB</td>
   <td><tt>0b46115919a225b000819928b4ff363ddd48b7014b497de0d689e72d83a39818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plasma-workspace-wallpapers-5.20.90.tar.xz">plasma-workspace-wallpapers-5.20.90</a></td>
   <td align="right">45MB</td>
   <td><tt>644232ba1001764758829f7656d13898cb9411a8a147f8f053f6fe906963329c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/plymouth-kcm-5.20.90.tar.xz">plymouth-kcm-5.20.90</a></td>
   <td align="right">42kB</td>
   <td><tt>36dd4ad23b77e8a036ec0f0c330d7dbcf94040d64b4b530f0b20951aa6e047aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/polkit-kde-agent-1-5.20.90.tar.xz">polkit-kde-agent-1-5.20.90</a></td>
   <td align="right">44kB</td>
   <td><tt>2d7900984bc949cd5afe1a34447fe89ca53e26d93720eed29ec858f546f08f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/powerdevil-5.20.90.tar.xz">powerdevil-5.20.90</a></td>
   <td align="right">599kB</td>
   <td><tt>9878327893f144fea93946da60d065286bbeea2992a3512df7947d8f8d653036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/qqc2-breeze-style-5.20.90.tar.xz">qqc2-breeze-style-5.20.90</a></td>
   <td align="right">59kB</td>
   <td><tt>f6902d9ead1268c589bcd82b80608e20187819fee7ec09e8708740587865a97e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/sddm-kcm-5.20.90.tar.xz">sddm-kcm-5.20.90</a></td>
   <td align="right">60kB</td>
   <td><tt>b9478de46840e4d588859c29e02172729a03f682ee7523d75ed522ced5349511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/systemsettings-5.20.90.tar.xz">systemsettings-5.20.90</a></td>
   <td align="right">192kB</td>
   <td><tt>27438290c7a9db7b77544bcf74df21501d61a943469c511a61771a989b225ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.20.90/xdg-desktop-portal-kde-5.20.90.tar.xz">xdg-desktop-portal-kde-5.20.90</a></td>
   <td align="right">80kB</td>
   <td><tt>40c930212311645ac6218b803ddbf6eb57199e71965c2742cada675638bc3bd0</tt></td>
</tr>

</table>
