<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/akonadi-16.08.2.tar.xz">akonadi-16.08.2</a></td>
   <td align="right">997kB</td>
   <td><tt>8814e450a025597e8809fa1604c818fc5a130bfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/akonadi-calendar-16.08.2.tar.xz">akonadi-calendar-16.08.2</a></td>
   <td align="right">112kB</td>
   <td><tt>6eb17a18319041106e25c8716ffefb9b65b4e4ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/akonadi-contacts-16.08.2.tar.xz">akonadi-contacts-16.08.2</a></td>
   <td align="right">145kB</td>
   <td><tt>3eb9ececf2445ef61ba48eabe36e0339358c0b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/akonadi-mime-16.08.2.tar.xz">akonadi-mime-16.08.2</a></td>
   <td align="right">54kB</td>
   <td><tt>e0d430f19549ffa05c45c357957d4eb9d5766f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/akonadi-notes-16.08.2.tar.xz">akonadi-notes-16.08.2</a></td>
   <td align="right">18kB</td>
   <td><tt>4d674f1010762de33daf15731f59df5ba554248a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/akonadi-search-16.08.2.tar.xz">akonadi-search-16.08.2</a></td>
   <td align="right">69kB</td>
   <td><tt>857daf2175201931097c7114a523a472e74cb50e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/analitza-16.08.2.tar.xz">analitza-16.08.2</a></td>
   <td align="right">229kB</td>
   <td><tt>28d5e238a4c111377939842ced04f9560d7ba307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ark-16.08.2.tar.xz">ark-16.08.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d90bd2459b226bf100801de9e0d0030d5198b614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/artikulate-16.08.2.tar.xz">artikulate-16.08.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>5b24fcb3d2cee2d1b65d7599eb417531340a261e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/audiocd-kio-16.08.2.tar.xz">audiocd-kio-16.08.2</a></td>
   <td align="right">50kB</td>
   <td><tt>390c308fb4c21c6b18805b1f6d67aacb24ee2489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/baloo-widgets-16.08.2.tar.xz">baloo-widgets-16.08.2</a></td>
   <td align="right">55kB</td>
   <td><tt>e06d02d2ceaf3e34be8914c3205c45715ef54b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/blinken-16.08.2.tar.xz">blinken-16.08.2</a></td>
   <td align="right">549kB</td>
   <td><tt>5e9e416d0d5314e8a2b4caf729132398f68e5ad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/bomber-16.08.2.tar.xz">bomber-16.08.2</a></td>
   <td align="right">698kB</td>
   <td><tt>1e4517d41a2d75dee851ba999b6c971ac1d1b975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/bovo-16.08.2.tar.xz">bovo-16.08.2</a></td>
   <td align="right">135kB</td>
   <td><tt>3ad1a2d394b263a190dc7f55123312f1387a12cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/calendarsupport-16.08.2.tar.xz">calendarsupport-16.08.2</a></td>
   <td align="right">98kB</td>
   <td><tt>4436fea8e9336c945f02c2f5b7fdc16350eca245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/cantor-16.08.2.tar.xz">cantor-16.08.2</a></td>
   <td align="right">352kB</td>
   <td><tt>019e74937580350b3da470aa7b635b52065533e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/cervisia-16.08.2.tar.xz">cervisia-16.08.2</a></td>
   <td align="right">449kB</td>
   <td><tt>5a54ee9882af4ca1184b817a35dacfa5d36cd57f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/dolphin-16.08.2.tar.xz">dolphin-16.08.2</a></td>
   <td align="right">659kB</td>
   <td><tt>ca67872f2191a8569802e57083fd912af6417c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/dolphin-plugins-16.08.2.tar.xz">dolphin-plugins-16.08.2</a></td>
   <td align="right">59kB</td>
   <td><tt>987a3536b894e8de1d323246e512525873a5777a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/dragon-16.08.2.tar.xz">dragon-16.08.2</a></td>
   <td align="right">467kB</td>
   <td><tt>8ede39a07d27f4abff86f00c57e6d7f29621463c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/eventviews-16.08.2.tar.xz">eventviews-16.08.2</a></td>
   <td align="right">143kB</td>
   <td><tt>5affa24312724695edaf3866e79231337a7a346d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ffmpegthumbs-16.08.2.tar.xz">ffmpegthumbs-16.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>d891b3b3e5c7604ad018b38d99c010c1fd054c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/filelight-16.08.2.tar.xz">filelight-16.08.2</a></td>
   <td align="right">207kB</td>
   <td><tt>d4d12051ed7fddb59f8d586d9cc77f49c9125460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/gpgmepp-16.08.2.tar.xz">gpgmepp-16.08.2</a></td>
   <td align="right">66kB</td>
   <td><tt>d531635b79b931600d5ba4a1a3baaab7511f8a67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/granatier-16.08.2.tar.xz">granatier-16.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d61d8eb0e2c1d0d1a28d82a233f7fec0c747262c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/grantleetheme-16.08.2.tar.xz">grantleetheme-16.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>30b03cf13ed4180ac27d32d0d55df57ba4f5e910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/gwenview-16.08.2.tar.xz">gwenview-16.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>a9fa790687b7fbd2ab43733815ed0c11bc64fb1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/incidenceeditor-16.08.2.tar.xz">incidenceeditor-16.08.2</a></td>
   <td align="right">118kB</td>
   <td><tt>67a5ca463e0042ff9d01256d3abb892a4f2638cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/jovie-16.08.2.tar.xz">jovie-16.08.2</a></td>
   <td align="right">384kB</td>
   <td><tt>535cfab5ffe13c14c8e3b65a029ee893c8a2e69a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/juk-16.08.2.tar.xz">juk-16.08.2</a></td>
   <td align="right">435kB</td>
   <td><tt>5046fff57a1996c8454caf266ef60d38b9826c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kaccessible-16.08.2.tar.xz">kaccessible-16.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>31ccab8f46027c75627c0b532aa2c877af32bb3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kaccounts-integration-16.08.2.tar.xz">kaccounts-integration-16.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>6bc8afdf3efc13113c76a2f53a01b79aaea81c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kaccounts-providers-16.08.2.tar.xz">kaccounts-providers-16.08.2</a></td>
   <td align="right">16kB</td>
   <td><tt>91f66233712a76275d46339b3761463e6dd58ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kajongg-16.08.2.tar.xz">kajongg-16.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e6eeaecfb642edfcd87e6950908bc87294732dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kalarmcal-16.08.2.tar.xz">kalarmcal-16.08.2</a></td>
   <td align="right">85kB</td>
   <td><tt>4df31d05264fe90ebd61c39aaedf05a5746be517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kalgebra-16.08.2.tar.xz">kalgebra-16.08.2</a></td>
   <td align="right">316kB</td>
   <td><tt>5a5bc748a161d11283832491590fc5a119b3e174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kalzium-16.08.2.tar.xz">kalzium-16.08.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>7309a0d1966e9d42d5be798864f60812ed255a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kamera-16.08.2.tar.xz">kamera-16.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>2b7b7dc5191abd7b67d6759c0d165ed3c0eef180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kanagram-16.08.2.tar.xz">kanagram-16.08.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>b1ca438d1fefa1429e55f6fab7fbab01c06edeeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kapman-16.08.2.tar.xz">kapman-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>087e81403a69527c7dcad20def485e40223b5ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kapptemplate-16.08.2.tar.xz">kapptemplate-16.08.2</a></td>
   <td align="right">390kB</td>
   <td><tt>a83c4281ceb04e92297604928a9e6ffa2ae7ec5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kate-16.08.2.tar.xz">kate-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>bad9eb10737595b94568c043acea008932d5f159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/katomic-16.08.2.tar.xz">katomic-16.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>68d05ae161418b2bcc398e1d08de03783e5e0f71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kblackbox-16.08.2.tar.xz">kblackbox-16.08.2</a></td>
   <td align="right">217kB</td>
   <td><tt>861e96832aa63f0da27c8beac7b01ccc2f714705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kblocks-16.08.2.tar.xz">kblocks-16.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>fc1fc9d9962f67bfbf60ca72efd01d04c008d4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kblog-16.08.2.tar.xz">kblog-16.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>e20115043f9b30ba08d7b561c73aeb99778f670e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kbounce-16.08.2.tar.xz">kbounce-16.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>42a1bbc8fbe9e3888144c65fe08358f9b1b7c0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kbreakout-16.08.2.tar.xz">kbreakout-16.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ec54e87849c050d24c6714bc34e83781d85e4b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kbruch-16.08.2.tar.xz">kbruch-16.08.2</a></td>
   <td align="right">700kB</td>
   <td><tt>6aa7cee88aec8ae9c9e2960014d1115502329f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kcachegrind-16.08.2.tar.xz">kcachegrind-16.08.2</a></td>
   <td align="right">233kB</td>
   <td><tt>45d24489f6c9e17c141e020af99cbce1e6c12274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kcalc-16.08.2.tar.xz">kcalc-16.08.2</a></td>
   <td align="right">81kB</td>
   <td><tt>f7447c98f8cab2943da43af00a688e54ad2eb20f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kcalcore-16.08.2.tar.xz">kcalcore-16.08.2</a></td>
   <td align="right">287kB</td>
   <td><tt>634276190547bb05cc696398d8883704ca17352d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kcalutils-16.08.2.tar.xz">kcalutils-16.08.2</a></td>
   <td align="right">92kB</td>
   <td><tt>3a0a67cd7ae996260758176ca9ed85d7a86eb6a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kcharselect-16.08.2.tar.xz">kcharselect-16.08.2</a></td>
   <td align="right">90kB</td>
   <td><tt>adbf7a9fd7d4b82b7c85a61e0af804e10d92ea24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kcolorchooser-16.08.2.tar.xz">kcolorchooser-16.08.2</a></td>
   <td align="right">4kB</td>
   <td><tt>a4f3e15d1c9a1925cb1a8f427ab8e493a8fb331f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kcontacts-16.08.2.tar.xz">kcontacts-16.08.2</a></td>
   <td align="right">141kB</td>
   <td><tt>cb9287c53e5db7993bebad9c0690a0929ed8d318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kcron-16.08.2.tar.xz">kcron-16.08.2</a></td>
   <td align="right">136kB</td>
   <td><tt>ff1cab92263cb6479e05ac9d33e6ac73a305c5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-baseapps-16.08.2.tar.xz">kde-baseapps-16.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ac72a77c9813c43194087b856a7be74820eb58e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdebugsettings-16.08.2.tar.xz">kdebugsettings-16.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>7d56e2116679a068bf090d949e2cfc3de8b3ab09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-dev-scripts-16.08.2.tar.xz">kde-dev-scripts-16.08.2</a></td>
   <td align="right">303kB</td>
   <td><tt>1688be1c0dde806bdee69307584f6299360689c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-dev-utils-16.08.2.tar.xz">kde-dev-utils-16.08.2</a></td>
   <td align="right">50kB</td>
   <td><tt>d2d804980e0e324d676ad7a2c01a332a5a71ce8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdeedu-data-16.08.2.tar.xz">kdeedu-data-16.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>0c84f3fbe8151c063130fe5be058157d7715d694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdegraphics-mobipocket-16.08.2.tar.xz">kdegraphics-mobipocket-16.08.2</a></td>
   <td align="right">14kB</td>
   <td><tt>ae7cf809474efc54c4fb327bc88ab76bf67d4b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdegraphics-thumbnailers-16.08.2.tar.xz">kdegraphics-thumbnailers-16.08.2</a></td>
   <td align="right">40kB</td>
   <td><tt>5e8c5495ee945f6e80f63ece974cc20fc3168636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdelibs-4.14.25.tar.xz">kdelibs-4.14.25</a></td>
   <td align="right">11MB</td>
   <td><tt>70758ee9bc864e3eabe9cb3a26be815d3504a784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdenetwork-filesharing-16.08.2.tar.xz">kdenetwork-filesharing-16.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>8b16c3329cd711bd2cd38b8be2fd0e2e9313b9db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdenlive-16.08.2.tar.xz">kdenlive-16.08.2</a></td>
   <td align="right">6.2MB</td>
   <td><tt>925d2a0b667cd94fdb8f0df5756a0fecc0bcdaa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdepim-16.08.2.tar.xz">kdepim-16.08.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>561c78ecbe2cb13ecd7e268a95a0d6d1f6d7f805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdepim-addons-16.08.2.tar.xz">kdepim-addons-16.08.2</a></td>
   <td align="right">279kB</td>
   <td><tt>ffa015030c2670f8eb2c8c71835a6c94d7729099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdepim-apps-libs-16.08.2.tar.xz">kdepim-apps-libs-16.08.2</a></td>
   <td align="right">37kB</td>
   <td><tt>c9f819eb016aebbab1bbd406fb0104a326572199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdepim-runtime-16.08.2.tar.xz">kdepim-runtime-16.08.2</a></td>
   <td align="right">720kB</td>
   <td><tt>6ae21252e46f8a16da75a9f11407b1f12b9d1a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-runtime-16.08.2.tar.xz">kde-runtime-16.08.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>966c5706318f6f8f09aa77332d4088a379cb1914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdesdk-kioslaves-16.08.2.tar.xz">kdesdk-kioslaves-16.08.2</a></td>
   <td align="right">353kB</td>
   <td><tt>db5e1eca5f9650af96fd945f5623508f3fb83741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdesdk-thumbnailers-16.08.2.tar.xz">kdesdk-thumbnailers-16.08.2</a></td>
   <td align="right">11kB</td>
   <td><tt>6fbff4b2dc8923f55999cf7afc26f640054c9841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdewebdev-16.08.2.tar.xz">kdewebdev-16.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7808913914ee83e6387dbed9d092356bdf7930b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdf-16.08.2.tar.xz">kdf-16.08.2</a></td>
   <td align="right">140kB</td>
   <td><tt>f03fe6a6abf3fb7d409d4cca20fd71d3da07fefd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdgantt2-16.08.2.tar.xz">kdgantt2-16.08.2</a></td>
   <td align="right">53kB</td>
   <td><tt>85610374dbbe2e27ac1a4b7b8367c71b01a87285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kdiamond-16.08.2.tar.xz">kdiamond-16.08.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b253479bba0af483dcd00f0d7a758acb9d3f199d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kfloppy-16.08.2.tar.xz">kfloppy-16.08.2</a></td>
   <td align="right">52kB</td>
   <td><tt>1af35f55822bf81a7382f1c6ea3838e6e9dcd60f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kfourinline-16.08.2.tar.xz">kfourinline-16.08.2</a></td>
   <td align="right">449kB</td>
   <td><tt>84338ad77fd3b306ca0e9578f41a1a468b85bd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kgeography-16.08.2.tar.xz">kgeography-16.08.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>c8c91a2d3755796817f1b5e5de8ebc0b5597e3d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kget-16.08.2.tar.xz">kget-16.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b64222a38fe249b78fadab1f5452ba333774f4fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kgoldrunner-16.08.2.tar.xz">kgoldrunner-16.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e30c96b22c9ca947f813d0a7f534c07f876d3e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kgpg-16.08.2.tar.xz">kgpg-16.08.2</a></td>
   <td align="right">791kB</td>
   <td><tt>4aa6046b62cff62c678c11e301cee4175ed84694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/khangman-16.08.2.tar.xz">khangman-16.08.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ae42ffdc38e08cb3047ce165ef51b1645c934e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/khelpcenter-16.08.2.tar.xz">khelpcenter-16.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5c715f5e6f0c984b1b61f0a4b7dafdc34bce20e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kholidays-16.08.2.tar.xz">kholidays-16.08.2</a></td>
   <td align="right">171kB</td>
   <td><tt>4545bea4392c81646adb34bc2fb7dd80fc232067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kidentitymanagement-16.08.2.tar.xz">kidentitymanagement-16.08.2</a></td>
   <td align="right">35kB</td>
   <td><tt>f849c464a1e0db1c69a535504b7c333a38961031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kig-16.08.2.tar.xz">kig-16.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0cc14cf9664de2a44a859faab55fbe1f20747750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kigo-16.08.2.tar.xz">kigo-16.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9330ffb3eef94edf9292bf5dfa24bb3bfbc181de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/killbots-16.08.2.tar.xz">killbots-16.08.2</a></td>
   <td align="right">940kB</td>
   <td><tt>6b9ea0a88d3fe865cc68d48ff7570a9645be37a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kimap-16.08.2.tar.xz">kimap-16.08.2</a></td>
   <td align="right">89kB</td>
   <td><tt>91e0dfcfd619102b3f6a6f3a31fd42d639f5859c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kio-extras-16.08.2.tar.xz">kio-extras-16.08.2</a></td>
   <td align="right">271kB</td>
   <td><tt>2e3a33916e4318e863fcda524efb49aa4d649ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kiriki-16.08.2.tar.xz">kiriki-16.08.2</a></td>
   <td align="right">252kB</td>
   <td><tt>1a0e1fccc63b1ce49ac56a9881cdd21e79ea8983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kiten-16.08.2.tar.xz">kiten-16.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>9d3ef4c523fd8567c7e3ddafd3a93bb4d892ecab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kjumpingcube-16.08.2.tar.xz">kjumpingcube-16.08.2</a></td>
   <td align="right">132kB</td>
   <td><tt>42cbb403c385d849eb3010360f17f9e256375f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kldap-16.08.2.tar.xz">kldap-16.08.2</a></td>
   <td align="right">58kB</td>
   <td><tt>4689033a76f45fd8afef063330c5a931caedaff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kleopatra-16.08.2.tar.xz">kleopatra-16.08.2</a></td>
   <td align="right">714kB</td>
   <td><tt>7f6127d8d87ca66a1cf3bab7614e37e16e8b03aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/klettres-16.08.2.tar.xz">klettres-16.08.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>bfd1453fe9ff61adba1c4e6d6369affab5898ce4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/klickety-16.08.2.tar.xz">klickety-16.08.2</a></td>
   <td align="right">649kB</td>
   <td><tt>449016108e09519f077b14cd9e4503b4b7eb45db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/klines-16.08.2.tar.xz">klines-16.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a841b69daabe80e2edc1652ac1c7520356b8558a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmag-16.08.2.tar.xz">kmag-16.08.2</a></td>
   <td align="right">84kB</td>
   <td><tt>2c6f3ed7bf54f5736c67db9b54c87e4f830afb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmahjongg-16.08.2.tar.xz">kmahjongg-16.08.2</a></td>
   <td align="right">988kB</td>
   <td><tt>db84504b3532ca90bb126b764c5b5c4ce606024e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmailtransport-16.08.2.tar.xz">kmailtransport-16.08.2</a></td>
   <td align="right">88kB</td>
   <td><tt>04ceca31a704328e0889f3b50c13b2a4e73a4a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmbox-16.08.2.tar.xz">kmbox-16.08.2</a></td>
   <td align="right">23kB</td>
   <td><tt>8be6c4feebee1db8eb90f46b59784db8f2a6e699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmime-16.08.2.tar.xz">kmime-16.08.2</a></td>
   <td align="right">119kB</td>
   <td><tt>4c18ee4deff46998aa000334121750af16e90d61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmines-16.08.2.tar.xz">kmines-16.08.2</a></td>
   <td align="right">646kB</td>
   <td><tt>b0f4460c40aabf31283ed31055aade302dd60316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmix-16.08.2.tar.xz">kmix-16.08.2</a></td>
   <td align="right">380kB</td>
   <td><tt>73519234c7537f4dcafa4f7eb182f3b662a6d0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmousetool-16.08.2.tar.xz">kmousetool-16.08.2</a></td>
   <td align="right">35kB</td>
   <td><tt>88bb4150ac39762073547d42f60db80f51d31e2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmouth-16.08.2.tar.xz">kmouth-16.08.2</a></td>
   <td align="right">270kB</td>
   <td><tt>8f287807fbebf5c891c66edd6c61201439277803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kmplot-16.08.2.tar.xz">kmplot-16.08.2</a></td>
   <td align="right">558kB</td>
   <td><tt>4288b55753667d8847aa4d231585d91163fd01c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/knavalbattle-16.08.2.tar.xz">knavalbattle-16.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>70bd55fa8f0373b804e21e1f67c4614dac4a200f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/knetwalk-16.08.2.tar.xz">knetwalk-16.08.2</a></td>
   <td align="right">884kB</td>
   <td><tt>b387ac220cb1d5d299e7ade7a87f495987bfdc35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kolf-16.08.2.tar.xz">kolf-16.08.2</a></td>
   <td align="right">750kB</td>
   <td><tt>9622436fd6c455f1c3e41a2811e8832309a9c7d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kollision-16.08.2.tar.xz">kollision-16.08.2</a></td>
   <td align="right">221kB</td>
   <td><tt>786aa2ed157cc6bb170b72e99783ea34184f4ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kolourpaint-16.08.2.tar.xz">kolourpaint-16.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>891facf211b39cee50e9a7ca0fe8513c3739a1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kompare-16.08.2.tar.xz">kompare-16.08.2</a></td>
   <td align="right">231kB</td>
   <td><tt>7b41c5268278342d20b2b2a761bcfea08f4e3ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/konquest-16.08.2.tar.xz">konquest-16.08.2</a></td>
   <td align="right">396kB</td>
   <td><tt>2822205ce908025abb987319184e666fd3e9d476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/konsole-16.08.2.tar.xz">konsole-16.08.2</a></td>
   <td align="right">453kB</td>
   <td><tt>54eb92f656535c22879db5c23e15625d524a5e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kontactinterface-16.08.2.tar.xz">kontactinterface-16.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>9556b684472b0a493e6d4089e53be881e7d4e199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kopete-16.08.2.tar.xz">kopete-16.08.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>efa501d3e07018ec355bbbae07136becb7ff28ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kpat-16.08.2.tar.xz">kpat-16.08.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>957236bdb2664c8f1374d89fe70a59a8b7ccc1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kpimtextedit-16.08.2.tar.xz">kpimtextedit-16.08.2</a></td>
   <td align="right">76kB</td>
   <td><tt>f7566e0254d2e472f3503f597ec11d47fefe203b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kppp-16.08.2.tar.xz">kppp-16.08.2</a></td>
   <td align="right">683kB</td>
   <td><tt>d13d45231e28981630e3834cd8edb0abc8f23e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kqtquickcharts-16.08.2.tar.xz">kqtquickcharts-16.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>086f8d7dc8b3e815ea626d6af63f7c6b4f17e0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/krdc-16.08.2.tar.xz">krdc-16.08.2</a></td>
   <td align="right">284kB</td>
   <td><tt>4327eeeff81aaf899de7960ccef4bc17f5495f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kremotecontrol-16.08.2.tar.xz">kremotecontrol-16.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>72ea978607c169eabf0f52f1ee1ebe1280b000f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kreversi-16.08.2.tar.xz">kreversi-16.08.2</a></td>
   <td align="right">464kB</td>
   <td><tt>9d282a6078853696195e798e962946dde73f5d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/krfb-16.08.2.tar.xz">krfb-16.08.2</a></td>
   <td align="right">317kB</td>
   <td><tt>157b051736ad42c997b9093e8769910e8b69d9dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kross-interpreters-16.08.2.tar.xz">kross-interpreters-16.08.2</a></td>
   <td align="right">141kB</td>
   <td><tt>22a2025f4245db24c832afc65c7ae74ff6260250</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kruler-16.08.2.tar.xz">kruler-16.08.2</a></td>
   <td align="right">120kB</td>
   <td><tt>b679b5e2c7a0f9ea6e08bd15d5b59e20c318ec27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ksaneplugin-16.08.2.tar.xz">ksaneplugin-16.08.2</a></td>
   <td align="right">12kB</td>
   <td><tt>b37337b4e6d577ab4fd9ec503da036d5c805cad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kscd-16.08.2.tar.xz">kscd-16.08.2</a></td>
   <td align="right">90kB</td>
   <td><tt>63fffb89ddd55cad7f66c5f6fddb115a87c150d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kshisen-16.08.2.tar.xz">kshisen-16.08.2</a></td>
   <td align="right">335kB</td>
   <td><tt>3ad7175e44fb637b7e55ac4eaaf6d8db4bea82eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ksirk-16.08.2.tar.xz">ksirk-16.08.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>fc099b9f0f73ab93160e653316a3b3361a259224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ksnakeduel-16.08.2.tar.xz">ksnakeduel-16.08.2</a></td>
   <td align="right">291kB</td>
   <td><tt>ac3067d7b87984a26d6ef1247c22f1b1ead6ec12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kspaceduel-16.08.2.tar.xz">kspaceduel-16.08.2</a></td>
   <td align="right">247kB</td>
   <td><tt>12dd1df4f229b7a84cc6b43c7ab5c496a93774da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ksquares-16.08.2.tar.xz">ksquares-16.08.2</a></td>
   <td align="right">133kB</td>
   <td><tt>b39c9889bfa50bb6e206b9110ff89ed8753b9d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kstars-16.08.2.tar.xz">kstars-16.08.2</a></td>
   <td align="right">16MB</td>
   <td><tt>3d720353719be23dbebb3f9cb31c892b6495afad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ksudoku-16.08.2.tar.xz">ksudoku-16.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c79590a7f16a052f491ed928e006acd28bb8f017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ksystemlog-16.08.2.tar.xz">ksystemlog-16.08.2</a></td>
   <td align="right">342kB</td>
   <td><tt>eb40b8764c50aef06c5758274dc809d72a55df70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kteatime-16.08.2.tar.xz">kteatime-16.08.2</a></td>
   <td align="right">88kB</td>
   <td><tt>f3da968de7947376fe7fa7575fc6804ff379fae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktimer-16.08.2.tar.xz">ktimer-16.08.2</a></td>
   <td align="right">157kB</td>
   <td><tt>5feb666f0b92b381adc867fc0c8ab307a2c0afce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktnef-16.08.2.tar.xz">ktnef-16.08.2</a></td>
   <td align="right">227kB</td>
   <td><tt>dbe5853685d098bfe21b88f22c47ea3bb14c3d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktouch-16.08.2.tar.xz">ktouch-16.08.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>662804fb203d4edfd5ceccd699bef4bba089f5cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-accounts-kcm-16.08.2.tar.xz">ktp-accounts-kcm-16.08.2</a></td>
   <td align="right">87kB</td>
   <td><tt>9e10549476f2473f44c692883b07956ff601b3d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-approver-16.08.2.tar.xz">ktp-approver-16.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>a7421344c0a868652780a6056243f20f1d857652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-auth-handler-16.08.2.tar.xz">ktp-auth-handler-16.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>23c34908bcf07b3d5bf91d81e777c1b999627d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-call-ui-16.08.2.tar.xz">ktp-call-ui-16.08.2</a></td>
   <td align="right">44kB</td>
   <td><tt>907ae86dcc77cd4857d5b3b097aee78cddd58c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-common-internals-16.08.2.tar.xz">ktp-common-internals-16.08.2</a></td>
   <td align="right">309kB</td>
   <td><tt>e4a49164f3806186f0a170d535e06c522b39e1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-contact-list-16.08.2.tar.xz">ktp-contact-list-16.08.2</a></td>
   <td align="right">47kB</td>
   <td><tt>8949603556497dcdc7db58a67dd8c03cbd5a3c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-contact-runner-16.08.2.tar.xz">ktp-contact-runner-16.08.2</a></td>
   <td align="right">16kB</td>
   <td><tt>bbc33c2afa5ef9ba9602754599742e210bc7a509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-desktop-applets-16.08.2.tar.xz">ktp-desktop-applets-16.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>aa9aae7387a1e8bbc31477bae647414ccc400299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-filetransfer-handler-16.08.2.tar.xz">ktp-filetransfer-handler-16.08.2</a></td>
   <td align="right">22kB</td>
   <td><tt>3b4a685458b058aaf0d41011ea7c565f2abc5a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-kded-module-16.08.2.tar.xz">ktp-kded-module-16.08.2</a></td>
   <td align="right">37kB</td>
   <td><tt>1a8808585e303d0092c00233147e91756b1b1551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-send-file-16.08.2.tar.xz">ktp-send-file-16.08.2</a></td>
   <td align="right">14kB</td>
   <td><tt>a9cc60ea8c3f98a074773bb55489723d14c9ea25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktp-text-ui-16.08.2.tar.xz">ktp-text-ui-16.08.2</a></td>
   <td align="right">287kB</td>
   <td><tt>368a5ad8b5c9df96352398a9b8314bc53868e0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/ktuberling-16.08.2.tar.xz">ktuberling-16.08.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a3a42bb17cbdad37bbcf955450e47d8087e2905c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kturtle-16.08.2.tar.xz">kturtle-16.08.2</a></td>
   <td align="right">189kB</td>
   <td><tt>5974d364494922a70a28a94683538d42d0ac4a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kubrick-16.08.2.tar.xz">kubrick-16.08.2</a></td>
   <td align="right">104kB</td>
   <td><tt>f3aef288e101cabf307f0090fb0aca5efe054ae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kuser-16.08.2.tar.xz">kuser-16.08.2</a></td>
   <td align="right">132kB</td>
   <td><tt>528299a9e0293463f36668a09abad34b69266dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kwalletmanager-16.08.2.tar.xz">kwalletmanager-16.08.2</a></td>
   <td align="right">447kB</td>
   <td><tt>f42aae0511405d0a767e830de795933638474d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kwordquiz-16.08.2.tar.xz">kwordquiz-16.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>579754568b29c47ee9b2ae14b85fcec6aecb9745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libgravatar-16.08.2.tar.xz">libgravatar-16.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>179f66332fdd33ba8b11c801627c8ded80f81f9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkcddb-16.08.2.tar.xz">libkcddb-16.08.2</a></td>
   <td align="right">154kB</td>
   <td><tt>9f4e2d97877f256ca2573b292d8ccf168d42d540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkcompactdisc-16.08.2.tar.xz">libkcompactdisc-16.08.2</a></td>
   <td align="right">74kB</td>
   <td><tt>7e1299009e7d93789159f604c703eb834be82888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkdcraw-16.08.2.tar.xz">libkdcraw-16.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>b1a72112533ab3ecd6e56c726f2b1b57e2fbad9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkdegames-16.08.2.tar.xz">libkdegames-16.08.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>0732746ffe008bac21cb8482ed2e31ca08058ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkdepim-16.08.2.tar.xz">libkdepim-16.08.2</a></td>
   <td align="right">111kB</td>
   <td><tt>26911b03832e401f3a6e5ffc6b607908803c470c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkeduvocdocument-16.08.2.tar.xz">libkeduvocdocument-16.08.2</a></td>
   <td align="right">89kB</td>
   <td><tt>b1f46df338d2fe5bfffab436c4f72b3ac735eeae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkexiv2-16.08.2.tar.xz">libkexiv2-16.08.2</a></td>
   <td align="right">63kB</td>
   <td><tt>4c1ca0a7f2c91e83588e34471009aaa42d3e4d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkface-16.08.2.tar.xz">libkface-16.08.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>5fee8d6c568f722da30a39a34b04fd91c302193d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkgeomap-16.08.2.tar.xz">libkgeomap-16.08.2</a></td>
   <td align="right">122kB</td>
   <td><tt>ad58a1c8ca3d38af175a6c66a77a997eb9dc0736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkipi-16.08.2.tar.xz">libkipi-16.08.2</a></td>
   <td align="right">101kB</td>
   <td><tt>bb27c517a8687ed9eb96974437ce8032ddf39714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkleo-16.08.2.tar.xz">libkleo-16.08.2</a></td>
   <td align="right">141kB</td>
   <td><tt>4d436c9b1947442bac4658ac9884022aefa4495c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkmahjongg-16.08.2.tar.xz">libkmahjongg-16.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>63be54c49ff55cc31701e8b4fe2963d91b321b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libkomparediff2-16.08.2.tar.xz">libkomparediff2-16.08.2</a></td>
   <td align="right">55kB</td>
   <td><tt>8e6780352c0523b8b692222d418e764f969c2b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libksane-16.08.2.tar.xz">libksane-16.08.2</a></td>
   <td align="right">79kB</td>
   <td><tt>cb77bcfa849a4576b9bf4c646b8fa802d4e62352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/libksieve-16.08.2.tar.xz">libksieve-16.08.2</a></td>
   <td align="right">163kB</td>
   <td><tt>8862cde49eb0c1ecc50c624f19fc8da10684ec9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/lokalize-16.08.2.tar.xz">lokalize-16.08.2</a></td>
   <td align="right">935kB</td>
   <td><tt>4388c3415fe8927ba0ad091ed1dce5344d1bef37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/lskat-16.08.2.tar.xz">lskat-16.08.2</a></td>
   <td align="right">906kB</td>
   <td><tt>03f440d5b915f30383bcd757d11591364d59439f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/mailcommon-16.08.2.tar.xz">mailcommon-16.08.2</a></td>
   <td align="right">183kB</td>
   <td><tt>ab80c90e2c8dd3cc056db2ea5f96f306c8a268dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/mailimporter-16.08.2.tar.xz">mailimporter-16.08.2</a></td>
   <td align="right">373kB</td>
   <td><tt>bf852ee1a0ee0c8e69aaa2189e215aa50a441287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/marble-16.08.2.tar.xz">marble-16.08.2</a></td>
   <td align="right">22MB</td>
   <td><tt>c0f0862630b186c73cdb119b435c7f787b9dab95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/messagelib-16.08.2.tar.xz">messagelib-16.08.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>61b3fc7a1deabaffc49adf4196b5df338a2c522c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/minuet-16.08.2.tar.xz">minuet-16.08.2</a></td>
   <td align="right">25MB</td>
   <td><tt>b685151c9bc114d3f021ba693d9d9a165f222c51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/okteta-16.08.2.tar.xz">okteta-16.08.2</a></td>
   <td align="right">495kB</td>
   <td><tt>38d9bd41e536db72a3c207862cd6b758123fdd44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/okular-16.08.2.tar.xz">okular-16.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cf610ee827c0d5a72d97a655667db0f6de5a17e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/palapeli-16.08.2.tar.xz">palapeli-16.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ebac4e50cdd07a50b1a249611ca5d4593f723e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/parley-16.08.2.tar.xz">parley-16.08.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>83f6516c14082973b65621266b3c86eb2b16415b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/picmi-16.08.2.tar.xz">picmi-16.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>27203583a111ebe9147b03c251c1348744027daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/pimcommon-16.08.2.tar.xz">pimcommon-16.08.2</a></td>
   <td align="right">150kB</td>
   <td><tt>abe4d2cdbb63997a0b590f75537610009e1e83b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/poxml-16.08.2.tar.xz">poxml-16.08.2</a></td>
   <td align="right">31kB</td>
   <td><tt>ccdd16492f4052db48a9abe8e22ec1a6283d3355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/print-manager-16.08.2.tar.xz">print-manager-16.08.2</a></td>
   <td align="right">91kB</td>
   <td><tt>676c7d112086d63d0c0983ab4255519f7be48a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/rocs-16.08.2.tar.xz">rocs-16.08.2</a></td>
   <td align="right">519kB</td>
   <td><tt>c97cf6954262d2baf89e3d44e631a904b152c0ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/signon-kwallet-extension-16.08.2.tar.xz">signon-kwallet-extension-16.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>229a3159038988623ec527793720f1ac2e813a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/spectacle-16.08.2.tar.xz">spectacle-16.08.2</a></td>
   <td align="right">976kB</td>
   <td><tt>b20fc691c8a3ebd4f3a2b7f6e03f5ea86a0f62cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/step-16.08.2.tar.xz">step-16.08.2</a></td>
   <td align="right">380kB</td>
   <td><tt>59ef91d92300b2f018108dc720af53079b3bbce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/svgpart-16.08.2.tar.xz">svgpart-16.08.2</a></td>
   <td align="right">8kB</td>
   <td><tt>0edb9e6413d97d9ce8d0143ce6a087c07127ce50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/sweeper-16.08.2.tar.xz">sweeper-16.08.2</a></td>
   <td align="right">80kB</td>
   <td><tt>66e2cf76f055ffdd3419f387f7a88b934c846138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/syndication-16.08.2.tar.xz">syndication-16.08.2</a></td>
   <td align="right">156kB</td>
   <td><tt>6f61de9bde23bedfc42a0721b3baa8d966e5340d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/umbrello-16.08.2.tar.xz">umbrello-16.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7b53fce7c492e345d074ae3f8a4956644e80ab12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/zeroconf-ioslave-16.08.2.tar.xz">zeroconf-ioslave-16.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>461967051b0d81099ae75c70b48b02e959faa030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ar-16.08.2.tar.xz">kde-l10n-ar-16.08.2</a></td>
   <td align="right">3.2MB</td>
   <td><tt>aa3d7601ae2532190e6734657c30f16a9d24a799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ast-16.08.2.tar.xz">kde-l10n-ast-16.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>42467cc4ef0c7670886a810edc72f84b61d724ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-bg-16.08.2.tar.xz">kde-l10n-bg-16.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5ec9bb27c4bfac4ddb924886bd3f0694d615f84a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-bs-16.08.2.tar.xz">kde-l10n-bs-16.08.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ff14fe6833e1f5069128dac2b1a5f4e5195511e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ca-16.08.2.tar.xz">kde-l10n-ca-16.08.2</a></td>
   <td align="right">18MB</td>
   <td><tt>0bbe88de0a4ba024bf39884e1153f52c2e935dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ca@valencia-16.08.2.tar.xz">kde-l10n-ca@valencia-16.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e2bd06555df73258d27d0c3e8c3c00d56a4bb697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-cs-16.08.2.tar.xz">kde-l10n-cs-16.08.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ae66241b8c583f04373e9f8d6bbcfc2f96c85d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-da-16.08.2.tar.xz">kde-l10n-da-16.08.2</a></td>
   <td align="right">12MB</td>
   <td><tt>e17f535e3435ca3ce4b00b59ae45043612956953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-de-16.08.2.tar.xz">kde-l10n-de-16.08.2</a></td>
   <td align="right">32MB</td>
   <td><tt>0d30c8db69daf0c52f229b47eee00575ed3de780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-el-16.08.2.tar.xz">kde-l10n-el-16.08.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>27f8c83c56be9efa6ec8f65890c4ccaec7e946fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-en_GB-16.08.2.tar.xz">kde-l10n-en_GB-16.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0aa2f611dfc10e52d70a88eeb2557bad9a55d7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-eo-16.08.2.tar.xz">kde-l10n-eo-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>686f1362c125f3e8fbb8745f930a67f1ab280533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-es-16.08.2.tar.xz">kde-l10n-es-16.08.2</a></td>
   <td align="right">15MB</td>
   <td><tt>a2f58fec9767095c608daedc01c705361b03442f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-et-16.08.2.tar.xz">kde-l10n-et-16.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>ca8aed6a8036e2fdfa1e02431937317a2c383c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-eu-16.08.2.tar.xz">kde-l10n-eu-16.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7dec8e77cfd6ab76cab7e75486549004dc5aaef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-fa-16.08.2.tar.xz">kde-l10n-fa-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c11fd52c3434a780f79bcc9e4fff269d8dbd1539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-fi-16.08.2.tar.xz">kde-l10n-fi-16.08.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ff1ace2a0dd3434a84bc2586abedf5dd89403335</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-fr-16.08.2.tar.xz">kde-l10n-fr-16.08.2</a></td>
   <td align="right">34MB</td>
   <td><tt>ec37c9e72e09c68bdfa1285330d8427dded6253e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ga-16.08.2.tar.xz">kde-l10n-ga-16.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>dd0e275287f469c7c4f1848d36f55471ea01204f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-gl-16.08.2.tar.xz">kde-l10n-gl-16.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>0dd2c21d88673617c07486babfc008b74302873e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-he-16.08.2.tar.xz">kde-l10n-he-16.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>92e76315ccc6522cc07d1bd80b2315797715eee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-hi-16.08.2.tar.xz">kde-l10n-hi-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2b3df5517a77bf7961f37d5b95905b9579e58cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-hr-16.08.2.tar.xz">kde-l10n-hr-16.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b5304114aa4702810470cbd69ab133270947ec3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-hu-16.08.2.tar.xz">kde-l10n-hu-16.08.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>88a528cc14badcc87841bb1293f1350434df0fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ia-16.08.2.tar.xz">kde-l10n-ia-16.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6919984b251c30941cce720848a2315ad98077a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-id-16.08.2.tar.xz">kde-l10n-id-16.08.2</a></td>
   <td align="right">548kB</td>
   <td><tt>f114a09498e73e6922725beb9e60cc451ea94be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-is-16.08.2.tar.xz">kde-l10n-is-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d79dd10db8fe30bcdbb4a715b956c973b1cf2124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-it-16.08.2.tar.xz">kde-l10n-it-16.08.2</a></td>
   <td align="right">7.8MB</td>
   <td><tt>2aa7ebcbe94dd9a284364e3f5fd7ef7be1d01cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ja-16.08.2.tar.xz">kde-l10n-ja-16.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1548cb3218495be0c8461d42cac4745594d4f361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-kk-16.08.2.tar.xz">kde-l10n-kk-16.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6fb7ca71ecda3589d998478d52d113383fda9db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-km-16.08.2.tar.xz">kde-l10n-km-16.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9a15df2368058c08fc220503d4d6f7c3c7296091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ko-16.08.2.tar.xz">kde-l10n-ko-16.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5bda7a2a4bea0a4e9bbc55c6de6cb01fecf5848f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-lt-16.08.2.tar.xz">kde-l10n-lt-16.08.2</a></td>
   <td align="right">11MB</td>
   <td><tt>585ed111f1e8cf950d3c57cf1c127e0da615de2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-lv-16.08.2.tar.xz">kde-l10n-lv-16.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>0b3beb05092e8396d203c7eb895c02665cd1e701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-mr-16.08.2.tar.xz">kde-l10n-mr-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b1f2c9a134041306dabb1a0d83fe9723e34669ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-nb-16.08.2.tar.xz">kde-l10n-nb-16.08.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>22b74fc7b729a7d9bde1989ca476d560abfa569d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-nds-16.08.2.tar.xz">kde-l10n-nds-16.08.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>084e8b827e44a158fbc36ed13a9dc8cf7356f0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-nl-16.08.2.tar.xz">kde-l10n-nl-16.08.2</a></td>
   <td align="right">12MB</td>
   <td><tt>d9789797931475f899e776dbfa6f68d357bffb22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-nn-16.08.2.tar.xz">kde-l10n-nn-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7b5dde0b2ebeb9a239ce46c7494414dedf10d313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-pa-16.08.2.tar.xz">kde-l10n-pa-16.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>67eff7f01ae0b2e9342550d5baa6284a623db02e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-pl-16.08.2.tar.xz">kde-l10n-pl-16.08.2</a></td>
   <td align="right">16MB</td>
   <td><tt>b617ccb32168213f18aa9dc2078e0451015af841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-pt-16.08.2.tar.xz">kde-l10n-pt-16.08.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>54fbbd7a8296929d7fb93053130f2541d9082bd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-pt_BR-16.08.2.tar.xz">kde-l10n-pt_BR-16.08.2</a></td>
   <td align="right">20MB</td>
   <td><tt>c8f3c8184204a965a9efdf9a227dcc93a6b22cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ro-16.08.2.tar.xz">kde-l10n-ro-16.08.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f658d45d31cada8403612b0807956545caed36ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ru-16.08.2.tar.xz">kde-l10n-ru-16.08.2</a></td>
   <td align="right">20MB</td>
   <td><tt>c8f3ec1b6a590bcefa975823519bef8e0186b224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-sk-16.08.2.tar.xz">kde-l10n-sk-16.08.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>e624bd182b7e21b9db72a283262bb54539bf66fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-sl-16.08.2.tar.xz">kde-l10n-sl-16.08.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>8b65f7d20c2217c64f1031a834d37e96801171aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-sr-16.08.2.tar.xz">kde-l10n-sr-16.08.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>1a28b638df15f549df8fbe775852382b6a2d76f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-sv-16.08.2.tar.xz">kde-l10n-sv-16.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>ab29933d35f36bc366e06c13f42a4327c9d8bec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-tr-16.08.2.tar.xz">kde-l10n-tr-16.08.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>166f1aa29faf12fab611f29aafec9b54e7b0129f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-ug-16.08.2.tar.xz">kde-l10n-ug-16.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fed5e8907319594cfd0d37a25f4917835c1c62ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-uk-16.08.2.tar.xz">kde-l10n-uk-16.08.2</a></td>
   <td align="right">24MB</td>
   <td><tt>9548c283350445a872e91ee28966f0329b232fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-wa-16.08.2.tar.xz">kde-l10n-wa-16.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6b1a28e213de1cfa406c724d000755d67066f3f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-zh_CN-16.08.2.tar.xz">kde-l10n-zh_CN-16.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>9fe39cdfcc2909d407535a87e35f955dd41b7c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.2/src/kde-l10n/kde-l10n-zh_TW-16.08.2.tar.xz">kde-l10n-zh_TW-16.08.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>47169907dada262800bc91a60b0bd5f3c93c5e03</tt></td>
</tr>

</table>
