<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/bluedevil-5.24.1.tar.xz">bluedevil-5.24.1</a></td>
   <td align="right">168kB</td>
   <td><tt>2063535af6f1dda54f78fc65457f417bb40271970cd0274a1784b61c69fae977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/breeze-5.24.1.tar.xz">breeze-5.24.1</a></td>
   <td align="right">41MB</td>
   <td><tt>5d6728b8de2a8177012d6f8d84f66c10d6a7da37b6d95abcd79f3bc1fbf8976d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/breeze-grub-5.24.1.tar.xz">breeze-grub-5.24.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>5b383b60be9a270f3b4459439a90634be1c86e690fb753342ff153ceb53f7aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/breeze-gtk-5.24.1.tar.xz">breeze-gtk-5.24.1</a></td>
   <td align="right">42kB</td>
   <td><tt>425d405df13901959ba087440f3f94892ab8ab1e0bab4880eac36405b7fa2c01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/breeze-plymouth-5.24.1.tar.xz">breeze-plymouth-5.24.1</a></td>
   <td align="right">108kB</td>
   <td><tt>d6039974edc1c9d46178d8af8c82cbfb220c09828f235c38ad6c2ba5c89e3f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/discover-5.24.1.tar.xz">discover-5.24.1</a></td>
   <td align="right">7.8MB</td>
   <td><tt>b30fede1c9fc8d80d3a871d98c7c2ed28bbbfadd865e878865fae8f9e98a41e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/drkonqi-5.24.1.tar.xz">drkonqi-5.24.1</a></td>
   <td align="right">774kB</td>
   <td><tt>aab83ea75a14a8b33e64213d22e12f5fbe445ce9815a37729af8ccaf5aa2a1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kactivitymanagerd-5.24.1.tar.xz">kactivitymanagerd-5.24.1</a></td>
   <td align="right">102kB</td>
   <td><tt>0e9f420964de1b56bb17f925a5958c89421d4842a8d6f3e52fcd236decf78dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kde-cli-tools-5.24.1.tar.xz">kde-cli-tools-5.24.1</a></td>
   <td align="right">617kB</td>
   <td><tt>7fcc7fbdd19144942f32cd97d146b8e355af9b1c65fe1a369e134a35270ce868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kdecoration-5.24.1.tar.xz">kdecoration-5.24.1</a></td>
   <td align="right">47kB</td>
   <td><tt>92d9f47364c255cdf7cf39bd229f849b0092635386b3fa62a35f984c1bdde3e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kde-gtk-config-5.24.1.tar.xz">kde-gtk-config-5.24.1</a></td>
   <td align="right">69kB</td>
   <td><tt>8184ef712f84627f58167d2d0796d757fa761956c3562ed26e3840a7ea446c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kdeplasma-addons-5.24.1.tar.xz">kdeplasma-addons-5.24.1</a></td>
   <td align="right">620kB</td>
   <td><tt>bb0ae13818825a9bc9ef0a3eed627e78dd09d6bf31b8e074fe3108e2b23e00fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kgamma5-5.24.1.tar.xz">kgamma5-5.24.1</a></td>
   <td align="right">81kB</td>
   <td><tt>bd3b6ac25068af795a6da3d126ef248f510670e5f9e4982ddcac381ec239ff7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/khotkeys-5.24.1.tar.xz">khotkeys-5.24.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5203d1cf255d5fc38b5b4e25a53a7bf48f812ed55e25279a17ce113f5dde5701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kinfocenter-5.24.1.tar.xz">kinfocenter-5.24.1</a></td>
   <td align="right">700kB</td>
   <td><tt>7959e24d98707cba2403caa68db3a6b20c23d6e5122e903233caf0656ce600c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kmenuedit-5.24.1.tar.xz">kmenuedit-5.24.1</a></td>
   <td align="right">880kB</td>
   <td><tt>483c20bd9645d8fa14a2879b1c431798887bb466e8903827c75ad0fec37b8e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kscreen-5.24.1.tar.xz">kscreen-5.24.1</a></td>
   <td align="right">131kB</td>
   <td><tt>63c28e1e0cb306428ccb427b8001c79588ebf8b28b1c43a16edcf0df4dbe30c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kscreenlocker-5.24.1.tar.xz">kscreenlocker-5.24.1</a></td>
   <td align="right">116kB</td>
   <td><tt>b8d440448f60896e423d16a8f091e9dc1b0ec1c32508f487d3d0c4159a9f3237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/ksshaskpass-5.24.1.tar.xz">ksshaskpass-5.24.1</a></td>
   <td align="right">23kB</td>
   <td><tt>308020a321423cba3339b914bc50eef34a56fb0d6736675cb237d2417fbf0181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/ksystemstats-5.24.1.tar.xz">ksystemstats-5.24.1</a></td>
   <td align="right">92kB</td>
   <td><tt>fc9d9a103f3f178b082d2c0f6d8543970d29919f6c9c9f3fea9c388e7aeb1e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kwallet-pam-5.24.1.tar.xz">kwallet-pam-5.24.1</a></td>
   <td align="right">19kB</td>
   <td><tt>7341102ecb8a892f635c6cc0da01176a3b360e67f4978bc9914bf53abf0175c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kwayland-integration-5.24.1.tar.xz">kwayland-integration-5.24.1</a></td>
   <td align="right">24kB</td>
   <td><tt>2b373e1c3b83279e5b4f90e67c1e1f6fdf8bf4e7fb769b98d7528e4450afb54c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kwayland-server-5.24.1.tar.xz">kwayland-server-5.24.1</a></td>
   <td align="right">216kB</td>
   <td><tt>78fc90e554cacff0a895b1c724b8a3651668c970b3a7818f2a4952d34912b35e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kwin-5.24.1.tar.xz">kwin-5.24.1</a></td>
   <td align="right">6.1MB</td>
   <td><tt>f2d71f786efab031f4e4709e09e460257cc65bc876e5e09b508f293f95dd07ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/kwrited-5.24.1.tar.xz">kwrited-5.24.1</a></td>
   <td align="right">20kB</td>
   <td><tt>0151f1afa0895b366b3d79878e1b3118a7630fa24c10b326560d1e0ea8daa156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/layer-shell-qt-5.24.1.tar.xz">layer-shell-qt-5.24.1</a></td>
   <td align="right">17kB</td>
   <td><tt>4499a5dd8dc5df563550f95f725461b03cb7f178efe3a8994d3c0dcd6f4200ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/libkscreen-5.24.1.tar.xz">libkscreen-5.24.1</a></td>
   <td align="right">97kB</td>
   <td><tt>bd2791709d6c09711a9a58f4639cb1ab83df98237a2b6ba133f9b1a2690f29a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/libksysguard-5.24.1.tar.xz">libksysguard-5.24.1</a></td>
   <td align="right">748kB</td>
   <td><tt>ec1b3c5a63fc990e111f582a0512459ba3cb7002423c9dd52c664abf9589165d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/milou-5.24.1.tar.xz">milou-5.24.1</a></td>
   <td align="right">47kB</td>
   <td><tt>bb5f1c4ade4b9a7533bd15141abfc1ed2f12009766ae657e859175214263c993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/oxygen-5.24.1.tar.xz">oxygen-5.24.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>c23a44485a36333d45ced6596998d5e17e29c09c8570876263bc27636d8ad26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-browser-integration-5.24.1.tar.xz">plasma-browser-integration-5.24.1</a></td>
   <td align="right">217kB</td>
   <td><tt>62007ee3a9de42fffd9dbfb3bfe6665c51aecbe859b97f28df1d4850525e09d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-desktop-5.24.1.tar.xz">plasma-desktop-5.24.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>08c45caa8d423698b349ee13ff83a6b4c8389249c594e39b64c56d26e37c5fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-disks-5.24.1.tar.xz">plasma-disks-5.24.1</a></td>
   <td align="right">85kB</td>
   <td><tt>e6364690d5abad778f3e929d3d08aa245a4cb6660e19b92fd6b0ccf1d3238626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-firewall-5.24.1.tar.xz">plasma-firewall-5.24.1</a></td>
   <td align="right">336kB</td>
   <td><tt>492bfe985bd9429efd706b02431da3efaeed94e9bb6da17223951d06f3987aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-integration-5.24.1.tar.xz">plasma-integration-5.24.1</a></td>
   <td align="right">81kB</td>
   <td><tt>2c2ca20ae54e9705468566c521c1556ec30618adbee00219f5469c67d6b8aae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-mobile-5.24.1.tar.xz">plasma-mobile-5.24.1</a></td>
   <td align="right">115kB</td>
   <td><tt>6e0d3aeac4c50835b33d2200ab9829c6b4e42739306c50b333a995a5a225dbc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-nano-5.24.1.tar.xz">plasma-nano-5.24.1</a></td>
   <td align="right">64kB</td>
   <td><tt>95299f2acc9c9205d93951263d5b499487ee10d00d097393f167d234ac01163f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-nm-5.24.1.tar.xz">plasma-nm-5.24.1</a></td>
   <td align="right">901kB</td>
   <td><tt>99f135762313631078af107b61f75818752e23c102a435c6ccf84eb64837d30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-pa-5.24.1.tar.xz">plasma-pa-5.24.1</a></td>
   <td align="right">129kB</td>
   <td><tt>6c2ae9e93f79143b928f475be1684eb5e97108445b2047a68395bb5d45a9802e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-sdk-5.24.1.tar.xz">plasma-sdk-5.24.1</a></td>
   <td align="right">254kB</td>
   <td><tt>52d758dd238bc46294c285b572f8ea74a0838465bd20f039ef49f19b4bc0637e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-systemmonitor-5.24.1.tar.xz">plasma-systemmonitor-5.24.1</a></td>
   <td align="right">147kB</td>
   <td><tt>c0f2b38b4c015bc07d90ca5023d3d9cbe81d126b51fa4cde60a6081448981251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-tests-5.24.1.tar.xz">plasma-tests-5.24.1</a></td>
   <td align="right">1kB</td>
   <td><tt>1fcd3def8ece82f6e2667874d34c19a064ffe1b776fe58ca93a338d20da2e516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-thunderbolt-5.24.1.tar.xz">plasma-thunderbolt-5.24.1</a></td>
   <td align="right">65kB</td>
   <td><tt>bbe912a2a768fff7f1b9b78eec38d4bd701146231fb15c4fc9405045aaa7bb89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-vault-5.24.1.tar.xz">plasma-vault-5.24.1</a></td>
   <td align="right">173kB</td>
   <td><tt>0be5c86dd09a90d178977acfb30ab3cd17a972f32aabb9a31409b6716cc4d42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-workspace-5.24.1.tar.xz">plasma-workspace-5.24.1</a></td>
   <td align="right">17MB</td>
   <td><tt>c79627fed9430c84502ed6917b91372423955ce5ce32abba409350de7b2d8f27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plasma-workspace-wallpapers-5.24.1.tar.xz">plasma-workspace-wallpapers-5.24.1</a></td>
   <td align="right">69MB</td>
   <td><tt>8085b42ee2f18b6459ef88ced94430a4e82087509b2ec341af63f82edff7154f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/plymouth-kcm-5.24.1.tar.xz">plymouth-kcm-5.24.1</a></td>
   <td align="right">38kB</td>
   <td><tt>3f3d2f66857d760a0b8a1554632f46f37b0ff52f7b734d21e439f50f29cfc88a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/polkit-kde-agent-1-5.24.1.tar.xz">polkit-kde-agent-1-5.24.1</a></td>
   <td align="right">47kB</td>
   <td><tt>2f3d5aab3ad42823474713f8916bc897ac469c9b3322989bccd3f7980696e738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/powerdevil-5.24.1.tar.xz">powerdevil-5.24.1</a></td>
   <td align="right">616kB</td>
   <td><tt>f437e099685865a0386419976bddcb733c5f1fdcf400b8f486e094a55ac72a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/qqc2-breeze-style-5.24.1.tar.xz">qqc2-breeze-style-5.24.1</a></td>
   <td align="right">65kB</td>
   <td><tt>1eb9fb6fee330f9cf002e8b06a7fe893dfccdd89a362b86dfe28904af35436e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/sddm-kcm-5.24.1.tar.xz">sddm-kcm-5.24.1</a></td>
   <td align="right">79kB</td>
   <td><tt>c1fa49c7c8dcc2c4f037c549e107e1ba169de83c917a485b1728cc7e3b1fa3b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/systemsettings-5.24.1.tar.xz">systemsettings-5.24.1</a></td>
   <td align="right">200kB</td>
   <td><tt>b356b7c3bd4c73f6374ee14b9a9b4e0c8aabe3c7f2ae8f7b007d6d0f17dbcc72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.1/xdg-desktop-portal-kde-5.24.1.tar.xz">xdg-desktop-portal-kde-5.24.1</a></td>
   <td align="right">86kB</td>
   <td><tt>96373b6132b4b70fb9a8c446a7b9362ae7f7cb77dd382545f9c4736afab398b9</tt></td>
</tr>

</table>
