<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadi-22.08.0.tar.xz">akonadi-22.08.0</a></td>
   <td align="right">1592kB</td>
   <td><tt>9b1802fd7453714c9ef18fef2edb66e65194a8d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadi-calendar-22.08.0.tar.xz">akonadi-calendar-22.08.0</a></td>
   <td align="right">385kB</td>
   <td><tt>d5f828d94ab45833d1d4b3773065f20fe7a36a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadi-calendar-tools-22.08.0.tar.xz">akonadi-calendar-tools-22.08.0</a></td>
   <td align="right">232kB</td>
   <td><tt>9f5a78081750a5c3f2b32d539c39a676d0b816fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadiconsole-22.08.0.tar.xz">akonadiconsole-22.08.0</a></td>
   <td align="right">195kB</td>
   <td><tt>d4f072ec940fc9d706051181ef984ca5c8719cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadi-contacts-22.08.0.tar.xz">akonadi-contacts-22.08.0</a></td>
   <td align="right">417kB</td>
   <td><tt>3a78066e8fa5e78ab550d2d94b0a9290dc490e00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadi-import-wizard-22.08.0.tar.xz">akonadi-import-wizard-22.08.0</a></td>
   <td align="right">500kB</td>
   <td><tt>a95f15ffb49a364fe969368e14bb7cf5e867b149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadi-mime-22.08.0.tar.xz">akonadi-mime-22.08.0</a></td>
   <td align="right">146kB</td>
   <td><tt>eec99a5e64f1da320b84be1203ba4b7772927582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadi-notes-22.08.0.tar.xz">akonadi-notes-22.08.0</a></td>
   <td align="right">26kB</td>
   <td><tt>d9272dcfda0903e589868a1715d47fef615626f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akonadi-search-22.08.0.tar.xz">akonadi-search-22.08.0</a></td>
   <td align="right">97kB</td>
   <td><tt>8b8149564a6b47f44681a777fecfb5e9b87520bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/akregator-22.08.0.tar.xz">akregator-22.08.0</a></td>
   <td align="right">2200kB</td>
   <td><tt>72a336127dd71f4d3ded7845a764215ae96f468c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/analitza-22.08.0.tar.xz">analitza-22.08.0</a></td>
   <td align="right">340kB</td>
   <td><tt>1f4d82d8b91817aec40ed3f76716792aa0eeb2a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ark-22.08.0.tar.xz">ark-22.08.0</a></td>
   <td align="right">2717kB</td>
   <td><tt>14620f499e825f0bfd17377ced6696cb1a3ab31e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/artikulate-22.08.0.tar.xz">artikulate-22.08.0</a></td>
   <td align="right">1071kB</td>
   <td><tt>b7f9942f6fa46dec912f403441dd71c927931944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/audiocd-kio-22.08.0.tar.xz">audiocd-kio-22.08.0</a></td>
   <td align="right">514kB</td>
   <td><tt>9d18fb31b14dccf28eefd6d2aaa73989cb319c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/baloo-widgets-22.08.0.tar.xz">baloo-widgets-22.08.0</a></td>
   <td align="right">266kB</td>
   <td><tt>f67bab4afd7e0dd54861dc39674addb2d44fd6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/blinken-22.08.0.tar.xz">blinken-22.08.0</a></td>
   <td align="right">2651kB</td>
   <td><tt>f11d4408e50c88b351b178e4810a3d0c14e04559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/bomber-22.08.0.tar.xz">bomber-22.08.0</a></td>
   <td align="right">815kB</td>
   <td><tt>08f575dbc57b94cf1c7f819c582f230f26ddcb57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/bovo-22.08.0.tar.xz">bovo-22.08.0</a></td>
   <td align="right">205kB</td>
   <td><tt>6474631cbb89377973dc6c4de3c24b1cd31fbc81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/calendarsupport-22.08.0.tar.xz">calendarsupport-22.08.0</a></td>
   <td align="right">733kB</td>
   <td><tt>ad90e2927b49e0f0fb70f248603f8a4385e3daed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/cantor-22.08.0.tar.xz">cantor-22.08.0</a></td>
   <td align="right">9004kB</td>
   <td><tt>a57bd012164ef8e1caed11e6e3ff7d35d09f1fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/cervisia-22.08.0.tar.xz">cervisia-22.08.0</a></td>
   <td align="right">1869kB</td>
   <td><tt>bdd1dd8bef539d9ca9be518615c7b7fdc6e2c4ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/dolphin-22.08.0.tar.xz">dolphin-22.08.0</a></td>
   <td align="right">5242kB</td>
   <td><tt>c876f9fe74be6a8d6c3e25ddfb8d913103e23aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/dolphin-plugins-22.08.0.tar.xz">dolphin-plugins-22.08.0</a></td>
   <td align="right">251kB</td>
   <td><tt>2879638b226409aecbd57df312637b0631a726e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/dragon-22.08.0.tar.xz">dragon-22.08.0</a></td>
   <td align="right">1627kB</td>
   <td><tt>515f9effed8fddae5e90ad1d0199064692878987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/elisa-22.08.0.tar.xz">elisa-22.08.0</a></td>
   <td align="right">1726kB</td>
   <td><tt>82d98474c46fbf6b0cbe8dab559c8f81330ba570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/eventviews-22.08.0.tar.xz">eventviews-22.08.0</a></td>
   <td align="right">449kB</td>
   <td><tt>683ffbca38500e6a8b42c41321f19fc9eeea4880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/falkon-22.08.0.tar.xz">falkon-22.08.0</a></td>
   <td align="right">2440kB</td>
   <td><tt>c40a4d79379b409dde8d3a009e24a4a83bcb98a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ffmpegthumbs-22.08.0.tar.xz">ffmpegthumbs-22.08.0</a></td>
   <td align="right">30kB</td>
   <td><tt>642d007b126eedbfe0034e92cbd94fc4869824c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/filelight-22.08.0.tar.xz">filelight-22.08.0</a></td>
   <td align="right">681kB</td>
   <td><tt>8ae36c27e4fd4131324fa2fabf058d9c3838b349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/granatier-22.08.0.tar.xz">granatier-22.08.0</a></td>
   <td align="right">2057kB</td>
   <td><tt>c50e881bd4f0c7749d05354f12123cbcdf200f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/grantlee-editor-22.08.0.tar.xz">grantlee-editor-22.08.0</a></td>
   <td align="right">109kB</td>
   <td><tt>eadcee44f90f1cf1369d1fde39552240813553f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/grantleetheme-22.08.0.tar.xz">grantleetheme-22.08.0</a></td>
   <td align="right">60kB</td>
   <td><tt>9333ad40e298b31a524878a5421e6b67ca0f8385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/gwenview-22.08.0.tar.xz">gwenview-22.08.0</a></td>
   <td align="right">6665kB</td>
   <td><tt>dc1e54a18fd30c4c0defd0ac1e023d81777a0b64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/incidenceeditor-22.08.0.tar.xz">incidenceeditor-22.08.0</a></td>
   <td align="right">546kB</td>
   <td><tt>94e7328a7f696ebec9b002f7f105362f26c68130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/itinerary-22.08.0.tar.xz">itinerary-22.08.0</a></td>
   <td align="right">553kB</td>
   <td><tt>3933eea64b260b19fa55dc54f6eaf1c7dfd301bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/juk-22.08.0.tar.xz">juk-22.08.0</a></td>
   <td align="right">1968kB</td>
   <td><tt>7fb1df2360371d61413de0868508792da8d8403e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/k3b-22.08.0.tar.xz">k3b-22.08.0</a></td>
   <td align="right">10495kB</td>
   <td><tt>35e440f4c61c2dcc05cc84042624629fde0ddeff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kaccounts-integration-22.08.0.tar.xz">kaccounts-integration-22.08.0</a></td>
   <td align="right">86kB</td>
   <td><tt>57069599961c7cc3371e3d7aefc48c102a1e4ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kaccounts-providers-22.08.0.tar.xz">kaccounts-providers-22.08.0</a></td>
   <td align="right">63kB</td>
   <td><tt>7433dcf81e63319727c90c0f902c973500ad9e0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kaddressbook-22.08.0.tar.xz">kaddressbook-22.08.0</a></td>
   <td align="right">3254kB</td>
   <td><tt>955b81e020868935df5398e08ac299b8ad2ff16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kajongg-22.08.0.tar.xz">kajongg-22.08.0</a></td>
   <td align="right">4459kB</td>
   <td><tt>81e64fdd629ebfd767bba92317f0cd336b6b7b49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kalarm-22.08.0.tar.xz">kalarm-22.08.0</a></td>
   <td align="right">2310kB</td>
   <td><tt>b9c42228cc528b65c064e3f0a7fd59cf8a0dd88c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kalendar-22.08.0.tar.xz">kalendar-22.08.0</a></td>
   <td align="right">449kB</td>
   <td><tt>4ba8f366e824baa6a7ba65a9a723c1a6d0131431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kalgebra-22.08.0.tar.xz">kalgebra-22.08.0</a></td>
   <td align="right">1008kB</td>
   <td><tt>6c6f59bf7e6e0869d1daa181722605c54ae93f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kalzium-22.08.0.tar.xz">kalzium-22.08.0</a></td>
   <td align="right">23880kB</td>
   <td><tt>b0feeb2fd625f60d12088082d92eba223df113c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kamera-22.08.0.tar.xz">kamera-22.08.0</a></td>
   <td align="right">116kB</td>
   <td><tt>295d1170c421166cff70a43a96d029fd6a84c7ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kamoso-22.08.0.tar.xz">kamoso-22.08.0</a></td>
   <td align="right">221kB</td>
   <td><tt>981f4731fd0e16778c3cf831bdf9f38039b37724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kanagram-22.08.0.tar.xz">kanagram-22.08.0</a></td>
   <td align="right">7856kB</td>
   <td><tt>92e29fb84c30a665d51a9634344d13084593aed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kapman-22.08.0.tar.xz">kapman-22.08.0</a></td>
   <td align="right">2418kB</td>
   <td><tt>19bcc588e57d07349b75afb9862983ca55c70e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kapptemplate-22.08.0.tar.xz">kapptemplate-22.08.0</a></td>
   <td align="right">326kB</td>
   <td><tt>9bf6a0b51f83dc6ea26547ef369ca88800f5b3cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kate-22.08.0.tar.xz">kate-22.08.0</a></td>
   <td align="right">7475kB</td>
   <td><tt>737fd58b4e48e3fc8e666fd47993ec683ed2bcf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/katomic-22.08.0.tar.xz">katomic-22.08.0</a></td>
   <td align="right">1403kB</td>
   <td><tt>3440fe08181aabb63d72efe5b97c2ada85b1061d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kbackup-22.08.0.tar.xz">kbackup-22.08.0</a></td>
   <td align="right">383kB</td>
   <td><tt>bfbf2b31261cc5ffdc4f8c44ccf3808f78ff3032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kblackbox-22.08.0.tar.xz">kblackbox-22.08.0</a></td>
   <td align="right">516kB</td>
   <td><tt>7f07421043ec0b4e217371e36e72fe0cc3a69cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kblocks-22.08.0.tar.xz">kblocks-22.08.0</a></td>
   <td align="right">2054kB</td>
   <td><tt>1ec1772168e0ba83205da53740bed27042021ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kbounce-22.08.0.tar.xz">kbounce-22.08.0</a></td>
   <td align="right">3450kB</td>
   <td><tt>ddc4e8700c567ed7a9365d9f576c7b1d0130e5ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kbreakout-22.08.0.tar.xz">kbreakout-22.08.0</a></td>
   <td align="right">2494kB</td>
   <td><tt>55b39011340f8e20b55ca3a8db9e233fcea7e38a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kbruch-22.08.0.tar.xz">kbruch-22.08.0</a></td>
   <td align="right">5501kB</td>
   <td><tt>f6eb1b29ae5255949452e288a8767f33bedd0df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kcachegrind-22.08.0.tar.xz">kcachegrind-22.08.0</a></td>
   <td align="right">858kB</td>
   <td><tt>bafe6c070df6c09b23da4011b6ccafdd6fe9857f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kcalc-22.08.0.tar.xz">kcalc-22.08.0</a></td>
   <td align="right">385kB</td>
   <td><tt>74ea4b1ad11ad575418c773e60e9c80e44adaed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kcalutils-22.08.0.tar.xz">kcalutils-22.08.0</a></td>
   <td align="right">340kB</td>
   <td><tt>b52602d3143d149c8b761d8c3d958749b96b9be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kcharselect-22.08.0.tar.xz">kcharselect-22.08.0</a></td>
   <td align="right">366kB</td>
   <td><tt>e5ff108aba61dd5910e5f9a970c5aa2f1ff3f496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kcolorchooser-22.08.0.tar.xz">kcolorchooser-22.08.0</a></td>
   <td align="right">30kB</td>
   <td><tt>59750fa986355174b59909ec276238ac88e0524b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kcron-22.08.0.tar.xz">kcron-22.08.0</a></td>
   <td align="right">895kB</td>
   <td><tt>fd239bd2906a9c7e8542d3360e26f6b7364f725d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdebugsettings-22.08.0.tar.xz">kdebugsettings-22.08.0</a></td>
   <td align="right">91kB</td>
   <td><tt>f0b27f3593cf9eb362a9d5b37d3b78af0f304d3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdeconnect-kde-22.08.0.tar.xz">kdeconnect-kde-22.08.0</a></td>
   <td align="right">604kB</td>
   <td><tt>47f7123857ff410150c6c644498edc61fc4994f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kde-dev-scripts-22.08.0.tar.xz">kde-dev-scripts-22.08.0</a></td>
   <td align="right">358kB</td>
   <td><tt>65adfbd3033e2953519fd6341cafca76438df018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kde-dev-utils-22.08.0.tar.xz">kde-dev-utils-22.08.0</a></td>
   <td align="right">66kB</td>
   <td><tt>5e9f0ef2c5e00e22444bb98e629bcd77ab0696be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdeedu-data-22.08.0.tar.xz">kdeedu-data-22.08.0</a></td>
   <td align="right">328kB</td>
   <td><tt>4c589a0af6b60a5bc0eb01b2c9278def7bd549da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdegraphics-mobipocket-22.08.0.tar.xz">kdegraphics-mobipocket-22.08.0</a></td>
   <td align="right">12kB</td>
   <td><tt>f3cc1bd42c99855aa146732cd03655223d8a22dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdegraphics-thumbnailers-22.08.0.tar.xz">kdegraphics-thumbnailers-22.08.0</a></td>
   <td align="right">47kB</td>
   <td><tt>43201f9ebb0447cbcd51836f3e528ad2989a0f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdenetwork-filesharing-22.08.0.tar.xz">kdenetwork-filesharing-22.08.0</a></td>
   <td align="right">369kB</td>
   <td><tt>ff2367bbe20b912b4d4981391312043b322beac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdenlive-22.08.0.tar.xz">kdenlive-22.08.0</a></td>
   <td align="right">12135kB</td>
   <td><tt>fe3ae7ecebde9559b8b33ba5b1ada99438163dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdepim-addons-22.08.0.tar.xz">kdepim-addons-22.08.0</a></td>
   <td align="right">2235kB</td>
   <td><tt>00977dbdf127628e65f3b7bbc1d1a5e68be2caa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdepim-runtime-22.08.0.tar.xz">kdepim-runtime-22.08.0</a></td>
   <td align="right">1754kB</td>
   <td><tt>5bf47d97a1ae4ec26787fb7a87c54f8b2406f77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdesdk-kio-22.08.0.tar.xz">kdesdk-kio-22.08.0</a></td>
   <td align="right">38kB</td>
   <td><tt>aba151120508bc2427e64dde0d012daff72f4a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdesdk-thumbnailers-22.08.0.tar.xz">kdesdk-thumbnailers-22.08.0</a></td>
   <td align="right">26kB</td>
   <td><tt>353f7345fc83fe7dc17d6a4b126cbc14aab5dbc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdevelop-22.08.0.tar.xz">kdevelop-22.08.0</a></td>
   <td align="right">8247kB</td>
   <td><tt>0eeaf57727de4dfe170e34137e0d4888784a9ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdev-php-22.08.0.tar.xz">kdev-php-22.08.0</a></td>
   <td align="right">1055kB</td>
   <td><tt>567c595a9d114d6c75678a8721679d1688d1445c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdev-python-22.08.0.tar.xz">kdev-python-22.08.0</a></td>
   <td align="right">1065kB</td>
   <td><tt>8a5b80e22bf51defa70a163e0a76cc46b352de9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdf-22.08.0.tar.xz">kdf-22.08.0</a></td>
   <td align="right">466kB</td>
   <td><tt>c8458b137cc9245d51ba5cf29bdd3edd5d19a1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdialog-22.08.0.tar.xz">kdialog-22.08.0</a></td>
   <td align="right">113kB</td>
   <td><tt>bb0306aa3728227e44f90c95efd61da6eab2b220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kdiamond-22.08.0.tar.xz">kdiamond-22.08.0</a></td>
   <td align="right">4593kB</td>
   <td><tt>f4efef108e58831f1f5e5ddd2026f0c85ed09350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/keditbookmarks-22.08.0.tar.xz">keditbookmarks-22.08.0</a></td>
   <td align="right">199kB</td>
   <td><tt>d9d50a4ab5f3d9f89345b4946a20728c25cfbd8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kfind-22.08.0.tar.xz">kfind-22.08.0</a></td>
   <td align="right">283kB</td>
   <td><tt>6ca9856b5320d743c465fff9e1595f4cc6ca7864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kfloppy-22.08.0.tar.xz">kfloppy-22.08.0</a></td>
   <td align="right">208kB</td>
   <td><tt>1853f4f5b83d553e40d7d9ef9c7ebaeaeece7939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kfourinline-22.08.0.tar.xz">kfourinline-22.08.0</a></td>
   <td align="right">705kB</td>
   <td><tt>57286188a60b314093c25f3c8887efd11557d342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kgeography-22.08.0.tar.xz">kgeography-22.08.0</a></td>
   <td align="right">10825kB</td>
   <td><tt>387cdaeb802ba42d0bdde0568e193c43f0e63b8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kget-22.08.0.tar.xz">kget-22.08.0</a></td>
   <td align="right">5316kB</td>
   <td><tt>779f9c62d9539424396d5f529bc1429e49e8cf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kgoldrunner-22.08.0.tar.xz">kgoldrunner-22.08.0</a></td>
   <td align="right">4675kB</td>
   <td><tt>f9ab209290bcd5ee608fbe3a399c1dd3f871f5f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kgpg-22.08.0.tar.xz">kgpg-22.08.0</a></td>
   <td align="right">2883kB</td>
   <td><tt>c71d3982ea760acd51aa2923bc1273ca56107037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/khangman-22.08.0.tar.xz">khangman-22.08.0</a></td>
   <td align="right">7249kB</td>
   <td><tt>8c06a75f01e303b38ac432463df22546d4b98f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/khelpcenter-22.08.0.tar.xz">khelpcenter-22.08.0</a></td>
   <td align="right">4208kB</td>
   <td><tt>c40b658ec5f0bc292ca69a4fafa1810fab52b5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kidentitymanagement-22.08.0.tar.xz">kidentitymanagement-22.08.0</a></td>
   <td align="right">155kB</td>
   <td><tt>2652832ca35c15426aec20211910d2692902016e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kig-22.08.0.tar.xz">kig-22.08.0</a></td>
   <td align="right">3109kB</td>
   <td><tt>89e6a27d5a4d56a485b325dd177891cd51d95fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kigo-22.08.0.tar.xz">kigo-22.08.0</a></td>
   <td align="right">5132kB</td>
   <td><tt>c998c37741e14a7199b0a35bf3d87b0aec55fb75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/killbots-22.08.0.tar.xz">killbots-22.08.0</a></td>
   <td align="right">1169kB</td>
   <td><tt>1adc0bbb9f41df00e914aa126df97dda45629dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kimagemapeditor-22.08.0.tar.xz">kimagemapeditor-22.08.0</a></td>
   <td align="right">1065kB</td>
   <td><tt>213a7ae0f17d7f0dd98e909e834082170effa36f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kimap-22.08.0.tar.xz">kimap-22.08.0</a></td>
   <td align="right">127kB</td>
   <td><tt>5dea7ffd674b7aeecbdab77b7fda10b06e985455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kio-extras-22.08.0.tar.xz">kio-extras-22.08.0</a></td>
   <td align="right">628kB</td>
   <td><tt>a82048f4373ef2e7a55768bd76ec2daf9b0e8acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kio-gdrive-22.08.0.tar.xz">kio-gdrive-22.08.0</a></td>
   <td align="right">71kB</td>
   <td><tt>7177867b4645733f04e0508862786fa73c7aa61e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kio-zeroconf-22.08.0.tar.xz">kio-zeroconf-22.08.0</a></td>
   <td align="right">38kB</td>
   <td><tt>a92ee5715b2d07ef69f1ace8f16512467b3df817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kipi-plugins-22.08.0.tar.xz">kipi-plugins-22.08.0</a></td>
   <td align="right">1488kB</td>
   <td><tt>9d99a5f8fd01984f48a90c06926dc44a346b7470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kirigami-gallery-22.08.0.tar.xz">kirigami-gallery-22.08.0</a></td>
   <td align="right">333kB</td>
   <td><tt>e334c0f2903fad30d0124469e830519959e7c302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kiriki-22.08.0.tar.xz">kiriki-22.08.0</a></td>
   <td align="right">357kB</td>
   <td><tt>3cbdbaeacafc4ec5c01f484f8f8f910abcb2b80f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kiten-22.08.0.tar.xz">kiten-22.08.0</a></td>
   <td align="right">11050kB</td>
   <td><tt>c32b8a34684ea8c21ab54807478de3316eb89fed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kitinerary-22.08.0.tar.xz">kitinerary-22.08.0</a></td>
   <td align="right">1649kB</td>
   <td><tt>db10a66442dc2571cfadc590adf8b2ef1e3ab963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kjumpingcube-22.08.0.tar.xz">kjumpingcube-22.08.0</a></td>
   <td align="right">317kB</td>
   <td><tt>b87a27bbb489f40a18195ffb049b5e03681fea43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kldap-22.08.0.tar.xz">kldap-22.08.0</a></td>
   <td align="right">168kB</td>
   <td><tt>be95b0a0090b0b0184ea8b56e267b4c720fcfa6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kleopatra-22.08.0.tar.xz">kleopatra-22.08.0</a></td>
   <td align="right">2321kB</td>
   <td><tt>6d7059855e28bbb397214970a16d746be8653f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/klettres-22.08.0.tar.xz">klettres-22.08.0</a></td>
   <td align="right">46081kB</td>
   <td><tt>a847de303ac9123cd1842420446ab16ecaf57e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/klickety-22.08.0.tar.xz">klickety-22.08.0</a></td>
   <td align="right">1460kB</td>
   <td><tt>a70e1812d8179bcdaa6765c2edbcb243eaf7ed1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/klines-22.08.0.tar.xz">klines-22.08.0</a></td>
   <td align="right">1687kB</td>
   <td><tt>f045e81962f6b6c19b1bb40b6d4a88a741dd86fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmag-22.08.0.tar.xz">kmag-22.08.0</a></td>
   <td align="right">693kB</td>
   <td><tt>0e4f8c104da302708e7cd408fdf24319b2f0bbbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmahjongg-22.08.0.tar.xz">kmahjongg-22.08.0</a></td>
   <td align="right">3977kB</td>
   <td><tt>bf46b10c7b8623c7594f0ba5e4c9d0009d90f5cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmail-22.08.0.tar.xz">kmail-22.08.0</a></td>
   <td align="right">6947kB</td>
   <td><tt>c864f2703e3ff425a16119236a6f8d2d4d3420e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmail-account-wizard-22.08.0.tar.xz">kmail-account-wizard-22.08.0</a></td>
   <td align="right">170kB</td>
   <td><tt>0e8287d8020c992a39f83db4512ce707523cc4f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmailtransport-22.08.0.tar.xz">kmailtransport-22.08.0</a></td>
   <td align="right">173kB</td>
   <td><tt>8e948cd5ab19ce2d6eee2976f286d9a75d3ae364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmbox-22.08.0.tar.xz">kmbox-22.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>d6896a850b10a250907aefb0ab43e09205f7b82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmime-22.08.0.tar.xz">kmime-22.08.0</a></td>
   <td align="right">152kB</td>
   <td><tt>8db05c9ddd625932a90bf033d13764c684919daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmines-22.08.0.tar.xz">kmines-22.08.0</a></td>
   <td align="right">970kB</td>
   <td><tt>84487408ad5b23ffe80c47496152016c95065b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmix-22.08.0.tar.xz">kmix-22.08.0</a></td>
   <td align="right">1136kB</td>
   <td><tt>ebbec4f685742a4038bf580d6c03a9d21369330d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmousetool-22.08.0.tar.xz">kmousetool-22.08.0</a></td>
   <td align="right">119kB</td>
   <td><tt>f1e87c00dde1d4a6330bd969f55c5198e94d864a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmouth-22.08.0.tar.xz">kmouth-22.08.0</a></td>
   <td align="right">2006kB</td>
   <td><tt>228803c78082688539afaf22a9ac049b9b50dbd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kmplot-22.08.0.tar.xz">kmplot-22.08.0</a></td>
   <td align="right">2975kB</td>
   <td><tt>908adc4cffd8e1afcac87cc5730c426959aae004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/knavalbattle-22.08.0.tar.xz">knavalbattle-22.08.0</a></td>
   <td align="right">1348kB</td>
   <td><tt>e0a5618a3177ef2d3210e9ea614e04aacadffe61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/knetwalk-22.08.0.tar.xz">knetwalk-22.08.0</a></td>
   <td align="right">1071kB</td>
   <td><tt>7687c65534094059ae7acebe9fc3053c90787d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/knights-22.08.0.tar.xz">knights-22.08.0</a></td>
   <td align="right">3246kB</td>
   <td><tt>9535cc3315f111bf889c15f216022cc82c8d0f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/knotes-22.08.0.tar.xz">knotes-22.08.0</a></td>
   <td align="right">336kB</td>
   <td><tt>6e317ddb769835cfe4a4caa6494cc546c92a2dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kolf-22.08.0.tar.xz">kolf-22.08.0</a></td>
   <td align="right">1026kB</td>
   <td><tt>709ed34d196ffd8186dba40899e19d6ef2d2f565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kollision-22.08.0.tar.xz">kollision-22.08.0</a></td>
   <td align="right">295kB</td>
   <td><tt>819997dcedcb9c7acfd99a61ec06828c1fabc883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kolourpaint-22.08.0.tar.xz">kolourpaint-22.08.0</a></td>
   <td align="right">5584kB</td>
   <td><tt>2408b99093fd0c7cf3ddc8b0bdfee7e7f4a8c7ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kompare-22.08.0.tar.xz">kompare-22.08.0</a></td>
   <td align="right">928kB</td>
   <td><tt>935c779ac9845a2cd391243104c101cb9f57f96c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/konqueror-22.08.0.tar.xz">konqueror-22.08.0</a></td>
   <td align="right">7488kB</td>
   <td><tt>b521597bb6ece85c79ad3bc1a0ff971d6c4f84ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/konquest-22.08.0.tar.xz">konquest-22.08.0</a></td>
   <td align="right">842kB</td>
   <td><tt>31c07a5629b4bab13f2af02853977db4ca9003f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/konsole-22.08.0.tar.xz">konsole-22.08.0</a></td>
   <td align="right">1466kB</td>
   <td><tt>11f8b99854051af1b42993027e2e9ac63eef98c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kontact-22.08.0.tar.xz">kontact-22.08.0</a></td>
   <td align="right">805kB</td>
   <td><tt>32e432b8e9cbd15bb0c2b1aa31213e7da086c55c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kontactinterface-22.08.0.tar.xz">kontactinterface-22.08.0</a></td>
   <td align="right">39kB</td>
   <td><tt>e40df91dd952749a9aa700bb1f327c13b8cc60a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kontrast-22.08.0.tar.xz">kontrast-22.08.0</a></td>
   <td align="right">124kB</td>
   <td><tt>83a3c3eae8b9639aa05807e70b14cc4eff8b2607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/konversation-22.08.0.tar.xz">konversation-22.08.0</a></td>
   <td align="right">4185kB</td>
   <td><tt>c669fcb2bb237dc1b80842660b16ff0485cd65fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kopeninghours-22.08.0.tar.xz">kopeninghours-22.08.0</a></td>
   <td align="right">68kB</td>
   <td><tt>eb5e56a9b69ac115c031c55bfa06a0a2302969b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kopete-22.08.0.tar.xz">kopete-22.08.0</a></td>
   <td align="right">9439kB</td>
   <td><tt>787d9dca678f2011943687f6b632f693d16c8c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/korganizer-22.08.0.tar.xz">korganizer-22.08.0</a></td>
   <td align="right">2266kB</td>
   <td><tt>96b107fc3403098bd2531501186bc81bb38c6589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kosmindoormap-22.08.0.tar.xz">kosmindoormap-22.08.0</a></td>
   <td align="right">347kB</td>
   <td><tt>4b963c79a9643e40c0923875e371fab823812210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kpat-22.08.0.tar.xz">kpat-22.08.0</a></td>
   <td align="right">3643kB</td>
   <td><tt>86499966977cb4577bff5122d97875b555d94f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kpimtextedit-22.08.0.tar.xz">kpimtextedit-22.08.0</a></td>
   <td align="right">211kB</td>
   <td><tt>1ddaa7bcf389c362ce0877d5edabbae0c317d6c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kpkpass-22.08.0.tar.xz">kpkpass-22.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a6d99814ff42f4b697c652b54854fbd44fbc3ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kpmcore-22.08.0.tar.xz">kpmcore-22.08.0</a></td>
   <td align="right">580kB</td>
   <td><tt>992953e6a66ed1a8c7d32e57577c284b619e2352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kpublictransport-22.08.0.tar.xz">kpublictransport-22.08.0</a></td>
   <td align="right">476kB</td>
   <td><tt>555159c4f9925da8d2dd932c096d1c4d61f034bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kqtquickcharts-22.08.0.tar.xz">kqtquickcharts-22.08.0</a></td>
   <td align="right">29kB</td>
   <td><tt>0df70c87d885e45ed96b173b93cc130f78108eab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/krdc-22.08.0.tar.xz">krdc-22.08.0</a></td>
   <td align="right">1539kB</td>
   <td><tt>6c13b65fd8c8456290abd6a4375fd6fd8cf98b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kreversi-22.08.0.tar.xz">kreversi-22.08.0</a></td>
   <td align="right">1038kB</td>
   <td><tt>985492516782406bc6b75c4dc44997a83c20ff44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/krfb-22.08.0.tar.xz">krfb-22.08.0</a></td>
   <td align="right">1265kB</td>
   <td><tt>3185a7a55be6b0ae8c816e9960715af09ff5062b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kross-interpreters-22.08.0.tar.xz">kross-interpreters-22.08.0</a></td>
   <td align="right">148kB</td>
   <td><tt>d12939d051a7d428deea376863b81be73845503c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kruler-22.08.0.tar.xz">kruler-22.08.0</a></td>
   <td align="right">269kB</td>
   <td><tt>77db45f1323e6efe569e59d231462d4a3910a6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ksanecore-22.08.0.tar.xz">ksanecore-22.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>e1c15842fac627eff938485b4513c9f4cf5dd34b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kshisen-22.08.0.tar.xz">kshisen-22.08.0</a></td>
   <td align="right">970kB</td>
   <td><tt>44dbc7b277a3f494a937f164c842bf577f328467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ksirk-22.08.0.tar.xz">ksirk-22.08.0</a></td>
   <td align="right">6843kB</td>
   <td><tt>6abd9860136d39baa79f8a022e02f8d29d0ccd13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ksmtp-22.08.0.tar.xz">ksmtp-22.08.0</a></td>
   <td align="right">47kB</td>
   <td><tt>85b3cb28a9a83220008490b89f34fe468a87503d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ksnakeduel-22.08.0.tar.xz">ksnakeduel-22.08.0</a></td>
   <td align="right">593kB</td>
   <td><tt>905d9a9773b88adf93244231c8e17b3b8f9a9f64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kspaceduel-22.08.0.tar.xz">kspaceduel-22.08.0</a></td>
   <td align="right">636kB</td>
   <td><tt>11ab931aab3b0c2457cacccb22fbfc823f7f78c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ksquares-22.08.0.tar.xz">ksquares-22.08.0</a></td>
   <td align="right">301kB</td>
   <td><tt>cc1bb72e6cf79ef36a9ffe6d014df854d18cea35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ksudoku-22.08.0.tar.xz">ksudoku-22.08.0</a></td>
   <td align="right">1650kB</td>
   <td><tt>57da1b23eda54a4c8bb511a8f3aed5b204f811d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ksystemlog-22.08.0.tar.xz">ksystemlog-22.08.0</a></td>
   <td align="right">1923kB</td>
   <td><tt>4d6e5890dd02c2f0da8069795b49a92b1407ddf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kteatime-22.08.0.tar.xz">kteatime-22.08.0</a></td>
   <td align="right">295kB</td>
   <td><tt>95ec87de6a9192e3b54b9e0447e0e8a5071826dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktimer-22.08.0.tar.xz">ktimer-22.08.0</a></td>
   <td align="right">385kB</td>
   <td><tt>34bb73f37b05e83984958975d17a900844207822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktnef-22.08.0.tar.xz">ktnef-22.08.0</a></td>
   <td align="right">296kB</td>
   <td><tt>998e56073665a3e78f5b3b7675366d3465c431e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktorrent-22.08.0.tar.xz">ktorrent-22.08.0</a></td>
   <td align="right">2006kB</td>
   <td><tt>2dc99d8cc3dc86fb132cfcb2e6187bf439a2312c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktouch-22.08.0.tar.xz">ktouch-22.08.0</a></td>
   <td align="right">4872kB</td>
   <td><tt>d84ad93a8957fb996ecfd918afec1b2a1ab941a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-accounts-kcm-22.08.0.tar.xz">ktp-accounts-kcm-22.08.0</a></td>
   <td align="right">260kB</td>
   <td><tt>e19409396440abdf27cd51d0a288ecd228b7316a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-approver-22.08.0.tar.xz">ktp-approver-22.08.0</a></td>
   <td align="right">37kB</td>
   <td><tt>0a49ebcee1a2cde2b5d7ae7a70928bd04c3e7030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-auth-handler-22.08.0.tar.xz">ktp-auth-handler-22.08.0</a></td>
   <td align="right">46kB</td>
   <td><tt>2463d6cfb2a8e88c5bc300e0e469f788c0b12018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-call-ui-22.08.0.tar.xz">ktp-call-ui-22.08.0</a></td>
   <td align="right">96kB</td>
   <td><tt>e51cbafe65e11fda320b2d48cb8df75a98131ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-common-internals-22.08.0.tar.xz">ktp-common-internals-22.08.0</a></td>
   <td align="right">440kB</td>
   <td><tt>bf03642687fea406921daa7c3c5f0215903e8c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-contact-list-22.08.0.tar.xz">ktp-contact-list-22.08.0</a></td>
   <td align="right">151kB</td>
   <td><tt>d38aba054809297639b0a0729a0145013bc8f75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-contact-runner-22.08.0.tar.xz">ktp-contact-runner-22.08.0</a></td>
   <td align="right">43kB</td>
   <td><tt>987d995e8199e82df8bbe161371be31e7117a622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-desktop-applets-22.08.0.tar.xz">ktp-desktop-applets-22.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>654178f615d2168f378f12cd45ad386cc0c4403d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-filetransfer-handler-22.08.0.tar.xz">ktp-filetransfer-handler-22.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>e0985848ad777c4a10853e1936223028993bf4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-kded-module-22.08.0.tar.xz">ktp-kded-module-22.08.0</a></td>
   <td align="right">98kB</td>
   <td><tt>935343380d46d9b47210d74147c332154bccf257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-send-file-22.08.0.tar.xz">ktp-send-file-22.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>2d5577afac82d96adfaa112d42c1afe27ad35e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktp-text-ui-22.08.0.tar.xz">ktp-text-ui-22.08.0</a></td>
   <td align="right">463kB</td>
   <td><tt>0b8458b57beb8f306281327d5dd16762f7482616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/ktuberling-22.08.0.tar.xz">ktuberling-22.08.0</a></td>
   <td align="right">69755kB</td>
   <td><tt>3fd83ac634deff4660bf6f82a2b40917dc4f4cf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kturtle-22.08.0.tar.xz">kturtle-22.08.0</a></td>
   <td align="right">1921kB</td>
   <td><tt>04940ef76b13a50e7e44efc26a2f47e703e7ae74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kubrick-22.08.0.tar.xz">kubrick-22.08.0</a></td>
   <td align="right">335kB</td>
   <td><tt>ec711abcaddc301f4a39cdef118a4ed772b8f7ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kwalletmanager-22.08.0.tar.xz">kwalletmanager-22.08.0</a></td>
   <td align="right">783kB</td>
   <td><tt>9ba2eab33844162bef1b434f4e27c792159c07b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kwave-22.08.0.tar.xz">kwave-22.08.0</a></td>
   <td align="right">6793kB</td>
   <td><tt>d1333b5e61bcb85cb388b38d76b634790b383971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/kwordquiz-22.08.0.tar.xz">kwordquiz-22.08.0</a></td>
   <td align="right">4117kB</td>
   <td><tt>244d29634d15c01a95a5b61ab158596309b38fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libgravatar-22.08.0.tar.xz">libgravatar-22.08.0</a></td>
   <td align="right">35kB</td>
   <td><tt>0d3b022c96cb2b3ba6abd861a8e67bf7e6401500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkcddb-22.08.0.tar.xz">libkcddb-22.08.0</a></td>
   <td align="right">425kB</td>
   <td><tt>7c61e9f53f348438debf3c17d4e1fdfdeea16393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkcompactdisc-22.08.0.tar.xz">libkcompactdisc-22.08.0</a></td>
   <td align="right">95kB</td>
   <td><tt>ecbad89adde9d2e970300c8e1096337b946a06ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkdcraw-22.08.0.tar.xz">libkdcraw-22.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>fa4ea9009bc51380256ad566ad1bb31990c17a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkdegames-22.08.0.tar.xz">libkdegames-22.08.0</a></td>
   <td align="right">5814kB</td>
   <td><tt>89ee9ea3966f7adc5700af8b43858c1c83fa7ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkdepim-22.08.0.tar.xz">libkdepim-22.08.0</a></td>
   <td align="right">242kB</td>
   <td><tt>f2b1a460f901dffb0163fcdb4240b280926be44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkeduvocdocument-22.08.0.tar.xz">libkeduvocdocument-22.08.0</a></td>
   <td align="right">209kB</td>
   <td><tt>6ca84d4dd826431086bc5a85a280c91bb6daac1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkexiv2-22.08.0.tar.xz">libkexiv2-22.08.0</a></td>
   <td align="right">58kB</td>
   <td><tt>d2620a32861deb7e5f67f987903ff666d10401a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkgapi-22.08.0.tar.xz">libkgapi-22.08.0</a></td>
   <td align="right">236kB</td>
   <td><tt>42e499fe5071177c337c20383a927da4abcc1c58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkipi-22.08.0.tar.xz">libkipi-22.08.0</a></td>
   <td align="right">86kB</td>
   <td><tt>ab875c05b90381306b806579cb0df602bbdf30e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkleo-22.08.0.tar.xz">libkleo-22.08.0</a></td>
   <td align="right">458kB</td>
   <td><tt>8792471a16969c2d9a54bcee77a00ba8f7282942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkmahjongg-22.08.0.tar.xz">libkmahjongg-22.08.0</a></td>
   <td align="right">1646kB</td>
   <td><tt>a1bad931508cd409be26c735ad9b3293298a2bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libkomparediff2-22.08.0.tar.xz">libkomparediff2-22.08.0</a></td>
   <td align="right">165kB</td>
   <td><tt>28272fff2e1938f23094e321fe4dbc0331ced789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libksane-22.08.0.tar.xz">libksane-22.08.0</a></td>
   <td align="right">144kB</td>
   <td><tt>487c0cab6984aecb1d5359161564deea75ca889f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libksieve-22.08.0.tar.xz">libksieve-22.08.0</a></td>
   <td align="right">563kB</td>
   <td><tt>bd1f43705b29bf07ffbaf1e256e073d5004dc6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/libktorrent-22.08.0.tar.xz">libktorrent-22.08.0</a></td>
   <td align="right">581kB</td>
   <td><tt>810f3a68f34a232a0c2bf23a0464262abcbbac91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/lokalize-22.08.0.tar.xz">lokalize-22.08.0</a></td>
   <td align="right">2021kB</td>
   <td><tt>58146b956f96ceccc0f3e684848c6d68c21e3f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/lskat-22.08.0.tar.xz">lskat-22.08.0</a></td>
   <td align="right">1206kB</td>
   <td><tt>1fd205f944c26568a858ada603e0c2d418fd8b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/mailcommon-22.08.0.tar.xz">mailcommon-22.08.0</a></td>
   <td align="right">726kB</td>
   <td><tt>59c6fc4bef49cc2244d16245b37acf928ada4faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/mailimporter-22.08.0.tar.xz">mailimporter-22.08.0</a></td>
   <td align="right">546kB</td>
   <td><tt>135cdf2d8dd2cd20854cd82f1278c7abf8172d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/marble-22.08.0.tar.xz">marble-22.08.0</a></td>
   <td align="right">52405kB</td>
   <td><tt>8aed12959b5e3fb52770a25852623ecc9eab1f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/markdownpart-22.08.0.tar.xz">markdownpart-22.08.0</a></td>
   <td align="right">29kB</td>
   <td><tt>6d1ae7897fb85243da834ec83470f2bae763bd99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/mbox-importer-22.08.0.tar.xz">mbox-importer-22.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>440e6fa7ad7bbc4b50a1d8dd62a62ff3bb78d662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/messagelib-22.08.0.tar.xz">messagelib-22.08.0</a></td>
   <td align="right">10528kB</td>
   <td><tt>390bc8cd1f9bafaef0c433e6770b06fba85e9383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/minuet-22.08.0.tar.xz">minuet-22.08.0</a></td>
   <td align="right">27027kB</td>
   <td><tt>10a48f832a09494bd6246ec4e9817d0033c7bb9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/okular-22.08.0.tar.xz">okular-22.08.0</a></td>
   <td align="right">8030kB</td>
   <td><tt>137430140f213b6d77f9c5fe88305ddb36b142db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/palapeli-22.08.0.tar.xz">palapeli-22.08.0</a></td>
   <td align="right">2052kB</td>
   <td><tt>d67c9913808053091df0c2430341a283df3519f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/parley-22.08.0.tar.xz">parley-22.08.0</a></td>
   <td align="right">8285kB</td>
   <td><tt>f2a035297a06d9c453a8bb22a4853e86f4644009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/partitionmanager-22.08.0.tar.xz">partitionmanager-22.08.0</a></td>
   <td align="right">2051kB</td>
   <td><tt>4ee4239e0e49eec0d4ea4e0d05f1ed0873b33f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/picmi-22.08.0.tar.xz">picmi-22.08.0</a></td>
   <td align="right">1502kB</td>
   <td><tt>121037a5a059f6dddb42672b33a5f343dd24b8b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/pimcommon-22.08.0.tar.xz">pimcommon-22.08.0</a></td>
   <td align="right">362kB</td>
   <td><tt>8b3ba14e3d852eefa9ad2180ea47028b6312e2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/pim-data-exporter-22.08.0.tar.xz">pim-data-exporter-22.08.0</a></td>
   <td align="right">406kB</td>
   <td><tt>95a849f392383ca01c3f086b0cc288f7258fb602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/pim-sieve-editor-22.08.0.tar.xz">pim-sieve-editor-22.08.0</a></td>
   <td align="right">447kB</td>
   <td><tt>20d67bb15b91c51743b469b1a53e04fcb6b6ba78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/poxml-22.08.0.tar.xz">poxml-22.08.0</a></td>
   <td align="right">43kB</td>
   <td><tt>64e9cd38c7e36a690cd2037f39a1e53f59f105d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/print-manager-22.08.0.tar.xz">print-manager-22.08.0</a></td>
   <td align="right">269kB</td>
   <td><tt>6c7b2bf970d530ce91326316577238ae5aecc6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/rocs-22.08.0.tar.xz">rocs-22.08.0</a></td>
   <td align="right">1526kB</td>
   <td><tt>6e8d98b1e531d5a32486ffd5fe32e9fe35add1e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/signon-kwallet-extension-22.08.0.tar.xz">signon-kwallet-extension-22.08.0</a></td>
   <td align="right">10kB</td>
   <td><tt>a09aeed7f0850e50282c29e8be32be0045fa6485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/skanlite-22.08.0.tar.xz">skanlite-22.08.0</a></td>
   <td align="right">2384kB</td>
   <td><tt>2f742483c5c920315a938bc2de7e49a311002df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/skanpage-22.08.0.tar.xz">skanpage-22.08.0</a></td>
   <td align="right">1260kB</td>
   <td><tt>f7bfc21db62a0695e3e1916a5394554112a6c4d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/spectacle-22.08.0.tar.xz">spectacle-22.08.0</a></td>
   <td align="right">1225kB</td>
   <td><tt>927d36d9e737b524c0ef512fa3c2cba7a36dda07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/step-22.08.0.tar.xz">step-22.08.0</a></td>
   <td align="right">915kB</td>
   <td><tt>db5efc34b5b6ae4a2f5b52c8ea8402eca5492dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/svgpart-22.08.0.tar.xz">svgpart-22.08.0</a></td>
   <td align="right">26kB</td>
   <td><tt>e2ed05378858d950a26985e7212de47e31e65e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/sweeper-22.08.0.tar.xz">sweeper-22.08.0</a></td>
   <td align="right">369kB</td>
   <td><tt>761ceb98ba6d61712dc59c5d9ff23ffea9c26fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/umbrello-22.08.0.tar.xz">umbrello-22.08.0</a></td>
   <td align="right">5548kB</td>
   <td><tt>bc5d5a2c260b2f1537fff76ed20e6691e1668381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/yakuake-22.08.0.tar.xz">yakuake-22.08.0</a></td>
   <td align="right">403kB</td>
   <td><tt>aed3584f770bd19d98962470f8c1abf65348bc1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.0/src/zanshin-22.08.0.tar.xz">zanshin-22.08.0</a></td>
   <td align="right">346kB</td>
   <td><tt>72c2278504eb2b20057fff18f9989780a187fe8d</tt></td>
</tr>

</table>
