<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/bluedevil-5.21.1.tar.xz">bluedevil-5.21.1</a></td>
   <td align="right">157kB</td>
   <td><tt>56aae53637129110e4b77cf4e569bf140d8c9919524c91aa1874b172997ac92c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/breeze-5.21.1.tar.xz">breeze-5.21.1</a></td>
   <td align="right">25MB</td>
   <td><tt>65d95562489f2dc66240b690882f467a4a7990885fd7185337a5006709d3b7f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/breeze-grub-5.21.1.tar.xz">breeze-grub-5.21.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>6764b9523ea4e6cd208bb54604ec242e835c8502faf6409c383ed248719b1370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/breeze-gtk-5.21.1.tar.xz">breeze-gtk-5.21.1</a></td>
   <td align="right">46kB</td>
   <td><tt>6736f681411912b1347c4996aa05e24cf7beaf73331424cc3822216bd211b893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/breeze-plymouth-5.21.1.tar.xz">breeze-plymouth-5.21.1</a></td>
   <td align="right">106kB</td>
   <td><tt>c9de0bd6ec13f0a8f3ccdc7dc3a5baeec7dd5a583aab9360c9e84bfb0aacfd75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/discover-5.21.1.tar.xz">discover-5.21.1</a></td>
   <td align="right">8.0MB</td>
   <td><tt>7447b09460189752144b2f2af500b4ac9e9dc76b19bfd283dd53c6a369ac3ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/drkonqi-5.21.1.tar.xz">drkonqi-5.21.1</a></td>
   <td align="right">750kB</td>
   <td><tt>2b567213aeb0a2dd6b449cbb49baaeb92aa83d529b53c558b2bec4555e4d13c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kactivitymanagerd-5.21.1.tar.xz">kactivitymanagerd-5.21.1</a></td>
   <td align="right">97kB</td>
   <td><tt>43b605ad194884a058f31eef315bbf2397edaa309c7e79968a1a9349bd9ffcf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kde-cli-tools-5.21.1.tar.xz">kde-cli-tools-5.21.1</a></td>
   <td align="right">595kB</td>
   <td><tt>63d1d47b0419ff44098c32c8c206e4e0bbe57c15ab4bdb3e9c6aac9587186520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kdecoration-5.21.1.tar.xz">kdecoration-5.21.1</a></td>
   <td align="right">44kB</td>
   <td><tt>05945d947e9852ee80e6e846478bd349e2e5bfce1a7c76e41e5945bc2122c8e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kde-gtk-config-5.21.1.tar.xz">kde-gtk-config-5.21.1</a></td>
   <td align="right">67kB</td>
   <td><tt>ac21ddf13c90a52829a48c51b05408228445ce0999c0221ffcde52977a20075b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kdeplasma-addons-5.21.1.tar.xz">kdeplasma-addons-5.21.1</a></td>
   <td align="right">611kB</td>
   <td><tt>c82d0d955316bcf466a6cf7da2e7b72dbda82358ba83ee2277a4b6a56688f376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kgamma5-5.21.1.tar.xz">kgamma5-5.21.1</a></td>
   <td align="right">80kB</td>
   <td><tt>828e4b46e6df4696ff9e187fd5a1c140b64ade506b87a9730d641129c7a1268c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/khotkeys-5.21.1.tar.xz">khotkeys-5.21.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0783a904a4bfe94aca9487b8a606df2041cf2d86c5b7c8c92fd2fcff70d0e6ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kinfocenter-5.21.1.tar.xz">kinfocenter-5.21.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>ad586c8b213443777bab0a0b3044d76acd5b120363b9668ad9c97de20a4ac5bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kmenuedit-5.21.1.tar.xz">kmenuedit-5.21.1</a></td>
   <td align="right">878kB</td>
   <td><tt>053030cb11fc7766bb6f9dd340afaffb04942c78f5d347ad34a9d7649df17ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kscreen-5.21.1.tar.xz">kscreen-5.21.1</a></td>
   <td align="right">111kB</td>
   <td><tt>834b148d45c876bb6efd260923b78a73cac06f54b7ec13e23c7b9f17414f2970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kscreenlocker-5.21.1.tar.xz">kscreenlocker-5.21.1</a></td>
   <td align="right">114kB</td>
   <td><tt>db2f1507409dd56418761dc2efdd207e06f6878b217b4c725cc02f76b6f6f5e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/ksshaskpass-5.21.1.tar.xz">ksshaskpass-5.21.1</a></td>
   <td align="right">23kB</td>
   <td><tt>f3b75a913643504e8f71eb5135367c3f26d8ee8c3260dde645786a8c079b5b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/ksysguard-5.21.1.tar.xz">ksysguard-5.21.1</a></td>
   <td align="right">589kB</td>
   <td><tt>95f7c9072fe0f0e3dd03b05f820bff07928ede00bc728e56db772c02b464ccba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kwallet-pam-5.21.1.tar.xz">kwallet-pam-5.21.1</a></td>
   <td align="right">19kB</td>
   <td><tt>eb9f228ad1c019f04f41d06b6a039f81d42fbe939d1a6904ded7bb7ba9f26d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kwayland-integration-5.21.1.tar.xz">kwayland-integration-5.21.1</a></td>
   <td align="right">22kB</td>
   <td><tt>6421c57e6f07058e4cf4ba21d997fc38f7fdf0af922dd48681528fed98a40f68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kwayland-server-5.21.1.tar.xz">kwayland-server-5.21.1</a></td>
   <td align="right">214kB</td>
   <td><tt>350937f9c426523f1fce5445db290bbb50de6cbf3c11ebbd8081cb815123a101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kwin-5.21.1.tar.xz">kwin-5.21.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5a044450ffdc1610a73d5db3f3f50d2513de930f4be5c167da703cc7d23abc0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/kwrited-5.21.1.tar.xz">kwrited-5.21.1</a></td>
   <td align="right">20kB</td>
   <td><tt>03665581469869162ce4ec355ab3d3882804dfba986caee4bf1c918efb94ba97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/libkscreen-5.21.1.tar.xz">libkscreen-5.21.1</a></td>
   <td align="right">82kB</td>
   <td><tt>5f149e038259d840a8c0e043c9d245520e34bfb7fe05c94b686597edb7ad2f43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/libksysguard-5.21.1.tar.xz">libksysguard-5.21.1</a></td>
   <td align="right">689kB</td>
   <td><tt>e846b0ebf1a347e6f8637a70866c17b1aa8e806c910085729b0fcf08ae74ea93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/milou-5.21.1.tar.xz">milou-5.21.1</a></td>
   <td align="right">42kB</td>
   <td><tt>ae2883686592d3e583461d1f3222478f8b0bd8abe80e57f8e48e6491ca99b524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/oxygen-5.21.1.tar.xz">oxygen-5.21.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8fc30be19b5bbb10f294329733178620de7dd8ac3f6715177925145a64fbabe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-browser-integration-5.21.1.tar.xz">plasma-browser-integration-5.21.1</a></td>
   <td align="right">198kB</td>
   <td><tt>e3fa9a9e322f33ea6cb47ad4bc60e321259ad6bbeafc729b5e5e8c74088d2955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-desktop-5.21.1.tar.xz">plasma-desktop-5.21.1</a></td>
   <td align="right">15MB</td>
   <td><tt>a514664e50f3213b8afde0dab9b8d6a2b097238d2aad4dcdd359aaa16ff02fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-disks-5.21.1.tar.xz">plasma-disks-5.21.1</a></td>
   <td align="right">68kB</td>
   <td><tt>d48a58311f876ea2e5760479c745c74a5bc68ad2b62f991120a52f4cb930c65f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-firewall-5.21.1.tar.xz">plasma-firewall-5.21.1</a></td>
   <td align="right">321kB</td>
   <td><tt>0b06c722d040031c6587f2d2ee24f7c0470078642ae73b5ad1efc81d6ae207a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-integration-5.21.1.tar.xz">plasma-integration-5.21.1</a></td>
   <td align="right">59kB</td>
   <td><tt>0743ace10d5fe1eb685a276e9f5926d636de304f4612acc23733b9296b7ea144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-nano-5.21.1.tar.xz">plasma-nano-5.21.1</a></td>
   <td align="right">63kB</td>
   <td><tt>f53790fa9a5152fd8f328f037904b35f0c70e92705cd4703ab685e6a6b26e163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-nm-5.21.1.tar.xz">plasma-nm-5.21.1</a></td>
   <td align="right">871kB</td>
   <td><tt>c4ab9a208ae3fb8324f59ff8727a2fc4dc5fd132664b444cbce5294ae674e951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-pa-5.21.1.tar.xz">plasma-pa-5.21.1</a></td>
   <td align="right">110kB</td>
   <td><tt>396ed88423c9ef8cd6c2ea65425d6387f7cd2224698f29c434048f18f3de7d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-phone-components-5.21.1.tar.xz">plasma-phone-components-5.21.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>312493d23613a096c1d6cca94a63b43f3d7f801ca8629770e7c802d203e3f2bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-sdk-5.21.1.tar.xz">plasma-sdk-5.21.1</a></td>
   <td align="right">262kB</td>
   <td><tt>48ec922d4e1b07da05bd3d7dc84b11c818a806569ca38c934e56a985eea32868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-systemmonitor-5.21.1.tar.xz">plasma-systemmonitor-5.21.1</a></td>
   <td align="right">119kB</td>
   <td><tt>caf40d632c31097e09d98e913dfb9802c8d3aecaf041115be6c447a1b4a5d5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-tests-5.21.1.tar.xz">plasma-tests-5.21.1</a></td>
   <td align="right">1kB</td>
   <td><tt>791e22939344974a5f7f407c758624ec09f0f8b9b8a5b6a7f1fde1c9fbe6b4e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-thunderbolt-5.21.1.tar.xz">plasma-thunderbolt-5.21.1</a></td>
   <td align="right">55kB</td>
   <td><tt>fd3b506c321fec4875d263a18fab644fed5daa4ef69f1a9c41f972306697deec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-vault-5.21.1.tar.xz">plasma-vault-5.21.1</a></td>
   <td align="right">155kB</td>
   <td><tt>0de439fe7941d675fa64a653a026a56ee44c6780cdd616d1c3f10a3d6cadd255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-workspace-5.21.1.tar.xz">plasma-workspace-5.21.1</a></td>
   <td align="right">9.2MB</td>
   <td><tt>4a30f9b5cb8f24be75f818a01c3fa8a3b70aff3c4552add6f88fcaa85109022b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plasma-workspace-wallpapers-5.21.1.tar.xz">plasma-workspace-wallpapers-5.21.1</a></td>
   <td align="right">45MB</td>
   <td><tt>76685909cb48456731b548e56f36e70a86ad763e91fff832fcec350eddffcfdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/plymouth-kcm-5.21.1.tar.xz">plymouth-kcm-5.21.1</a></td>
   <td align="right">42kB</td>
   <td><tt>3c7ea9337f3cf23dd66acddef2e705e8616603867d5517817e7991d5805185c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/polkit-kde-agent-1-5.21.1.tar.xz">polkit-kde-agent-1-5.21.1</a></td>
   <td align="right">44kB</td>
   <td><tt>629dd8700c8ae74bb4667f8792fec261c4969b0c6862e50f77b4464707cda6d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/powerdevil-5.21.1.tar.xz">powerdevil-5.21.1</a></td>
   <td align="right">600kB</td>
   <td><tt>8b9c24b0bec1b62923b8c3ef5d64d4cb1bd6b6420aa2413e06955d7a12e54921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/qqc2-breeze-style-5.21.1.tar.xz">qqc2-breeze-style-5.21.1</a></td>
   <td align="right">60kB</td>
   <td><tt>3deae6bfc73b96c3b41f87b5c7b81d3b5a7fe0841c291a5fda62fab560a19fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/sddm-kcm-5.21.1.tar.xz">sddm-kcm-5.21.1</a></td>
   <td align="right">61kB</td>
   <td><tt>5007b3a73decb7c01c0643232d3a1aad36951421d1beb0bf84c264612bffe648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/systemsettings-5.21.1.tar.xz">systemsettings-5.21.1</a></td>
   <td align="right">193kB</td>
   <td><tt>794eff1ffec90e2aad2c588b4fa643fd9a5dff440f048dcbe27438a1541eef4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.1/xdg-desktop-portal-kde-5.21.1.tar.xz">xdg-desktop-portal-kde-5.21.1</a></td>
   <td align="right">80kB</td>
   <td><tt>46aae42065cefae0488ef2959c7768de60a6d0cf3ad65372f83a149c99e7d6f5</tt></td>
</tr>

</table>
