<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/bluedevil-5.22.1.tar.xz">bluedevil-5.22.1</a></td>
   <td align="right">158kB</td>
   <td><tt>710da1a705d4212c78a673fd6df957a3239612aa6ff33ea698244d4516b9b6fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/breeze-5.22.1.tar.xz">breeze-5.22.1</a></td>
   <td align="right">32MB</td>
   <td><tt>1339dd8617e76a21f80600162b6640da79e7abf2e05dc5684b5d2cc6a7a4a464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/breeze-grub-5.22.1.tar.xz">breeze-grub-5.22.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8d9dd94e029fa1df8499ca31349faf3e1d78deaa5b42fbe341eab51843533ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/breeze-gtk-5.22.1.tar.xz">breeze-gtk-5.22.1</a></td>
   <td align="right">46kB</td>
   <td><tt>07661452c7fd177210d4416f4e44f83d6f5194670dd4ced151cdedb3fa21e922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/breeze-plymouth-5.22.1.tar.xz">breeze-plymouth-5.22.1</a></td>
   <td align="right">106kB</td>
   <td><tt>beb58ff9075b46c4db2dffba94812e9002edb1bf672e8917258567d8236e60a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/discover-5.22.1.tar.xz">discover-5.22.1</a></td>
   <td align="right">8.0MB</td>
   <td><tt>593ef8c026c07f1a045672b169d299ea0696fd38216117a1859284728bcd2e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/drkonqi-5.22.1.tar.xz">drkonqi-5.22.1</a></td>
   <td align="right">764kB</td>
   <td><tt>8af584eee19b984a6aa6dd2a795eb6b6ea0ebe1b03e69f8321a5f3c88ca7cf39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kactivitymanagerd-5.22.1.tar.xz">kactivitymanagerd-5.22.1</a></td>
   <td align="right">100kB</td>
   <td><tt>12d69a2297003dec914a608b07cea786edec10ad54d679f0964ca24478f408f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kde-cli-tools-5.22.1.tar.xz">kde-cli-tools-5.22.1</a></td>
   <td align="right">611kB</td>
   <td><tt>02c5c90136a026194d7ec8500757b6aa0efa2dcc02b0f63b4e87d99b12bdeea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kdecoration-5.22.1.tar.xz">kdecoration-5.22.1</a></td>
   <td align="right">45kB</td>
   <td><tt>939a09ddf73c098f258e6448b7551639b8d94253c083a23c5c8fc3507d08a259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kde-gtk-config-5.22.1.tar.xz">kde-gtk-config-5.22.1</a></td>
   <td align="right">69kB</td>
   <td><tt>7093ba1c0a33de261e8fcd3d09534601c32b2514f64d45bdc62a196208c67319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kdeplasma-addons-5.22.1.tar.xz">kdeplasma-addons-5.22.1</a></td>
   <td align="right">618kB</td>
   <td><tt>576c95e795d4a90c276b83f8596499776111da37ce551542c5704bd0ef550610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kgamma5-5.22.1.tar.xz">kgamma5-5.22.1</a></td>
   <td align="right">80kB</td>
   <td><tt>43413d51c56b6328f90cad23ea7f34a6c04cbb22382421d3fb443d0baa85f083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/khotkeys-5.22.1.tar.xz">khotkeys-5.22.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>39e5bf9790962c8b5bda0181e9da6eedace47014395cc718996cefb2f7a04e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kinfocenter-5.22.1.tar.xz">kinfocenter-5.22.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ae2ce89549af7e096d663a04c1eb22383c0e8c71bf2699f1bc9697ee2019854d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kmenuedit-5.22.1.tar.xz">kmenuedit-5.22.1</a></td>
   <td align="right">878kB</td>
   <td><tt>4aaf25c64be71693a2dab0b4a022e6beafd39fd94261a6c20fca500b89f92b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kscreen-5.22.1.tar.xz">kscreen-5.22.1</a></td>
   <td align="right">113kB</td>
   <td><tt>6221362567866d8fce6cfa298fc4e9c249c1cdf8e8c6a0de9b9d86c682d0723c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kscreenlocker-5.22.1.tar.xz">kscreenlocker-5.22.1</a></td>
   <td align="right">113kB</td>
   <td><tt>9803b976b6cc14fa5216de17481609ebf46d28c314284d9e74e8f9b181cb9bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/ksshaskpass-5.22.1.tar.xz">ksshaskpass-5.22.1</a></td>
   <td align="right">23kB</td>
   <td><tt>f4da702de3113b7a64831f5d8dd86614b7763229ba6eff0f4a2feb76ecab2385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/ksystemstats-5.22.1.tar.xz">ksystemstats-5.22.1</a></td>
   <td align="right">83kB</td>
   <td><tt>904b64c3cb1e61ddfb968d720d41ad1f4e94927049419d74b16700956879befb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kwallet-pam-5.22.1.tar.xz">kwallet-pam-5.22.1</a></td>
   <td align="right">19kB</td>
   <td><tt>10d8912d064e2c97896f23202467fe57107c01d5c2523690cb0f49661fe56e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kwayland-integration-5.22.1.tar.xz">kwayland-integration-5.22.1</a></td>
   <td align="right">22kB</td>
   <td><tt>bc66626bd92902060e45344491cf33cb7c7206318b2f065dc33bc5ca17fa35d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kwayland-server-5.22.1.tar.xz">kwayland-server-5.22.1</a></td>
   <td align="right">214kB</td>
   <td><tt>8c76ed9a33e729b58901fbe36e1c8c0c7c79f9582504f9ccee8e0174a6c2953d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kwin-5.22.1.tar.xz">kwin-5.22.1</a></td>
   <td align="right">6.1MB</td>
   <td><tt>5506ee878e151734893bbcc0a70d6499c894b8986488c9c57285de1deb422850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/kwrited-5.22.1.tar.xz">kwrited-5.22.1</a></td>
   <td align="right">19kB</td>
   <td><tt>c33ca150c8f3f0f75b10731718679a5746bb832e2fba7bc7d45016c9dcf69ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/layer-shell-qt-5.22.1.tar.xz">layer-shell-qt-5.22.1</a></td>
   <td align="right">17kB</td>
   <td><tt>60314e0b4253e4b8ce8359935b29659ac45d19f21941e771a7bc28a824b5a1d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/libkscreen-5.22.1.tar.xz">libkscreen-5.22.1</a></td>
   <td align="right">93kB</td>
   <td><tt>d99c59f752a2603e88ef58b09bc13f5e8a36d83f51752d14622d94e02dfd02b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/libksysguard-5.22.1.tar.xz">libksysguard-5.22.1</a></td>
   <td align="right">719kB</td>
   <td><tt>5a60639a385c3e83a40c17f1c6469b7473f5551fe9379543d98ec0068adca476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/milou-5.22.1.tar.xz">milou-5.22.1</a></td>
   <td align="right">51kB</td>
   <td><tt>98ed1f0fe0f4dbc73645a04512593d129a1ff5367b9fb43660922fa9540f0d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/oxygen-5.22.1.tar.xz">oxygen-5.22.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8c60030ee43f3a3c61aa1e53d55b06c6bf2fee3da61403c2df3a18b5a0137a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-browser-integration-5.22.1.tar.xz">plasma-browser-integration-5.22.1</a></td>
   <td align="right">208kB</td>
   <td><tt>f88543779964c46120541f01fbefdb13f8f06061fb3f3418454598087a2e5fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-desktop-5.22.1.tar.xz">plasma-desktop-5.22.1</a></td>
   <td align="right">15MB</td>
   <td><tt>9be7d61a042b5d74c1a65ecc8101c81390d45c2fec766b5115d5924b5dac0972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-disks-5.22.1.tar.xz">plasma-disks-5.22.1</a></td>
   <td align="right">82kB</td>
   <td><tt>250031132e1ed536d3fd785ae90b8eab1900691fc6eb72a7103d21e96294bb4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-firewall-5.22.1.tar.xz">plasma-firewall-5.22.1</a></td>
   <td align="right">331kB</td>
   <td><tt>c567fdce19cbd4b0548f4a408230256ca75fa2dca58c067113e7e998d90df8ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-integration-5.22.1.tar.xz">plasma-integration-5.22.1</a></td>
   <td align="right">63kB</td>
   <td><tt>fe14eefd7e4e2e7dbdca979bc0595dd3bc39b2c4b6e64161437db8154f654c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-nano-5.22.1.tar.xz">plasma-nano-5.22.1</a></td>
   <td align="right">63kB</td>
   <td><tt>a04485eb6e55b5c1ae128d2b6cc581cf22a3f6121d2186a5dfbb67a11032bbcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-nm-5.22.1.tar.xz">plasma-nm-5.22.1</a></td>
   <td align="right">878kB</td>
   <td><tt>89200e353e075b2877add4534c227d8cad37db27c9e38b962c9658cf8e02d8b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-pa-5.22.1.tar.xz">plasma-pa-5.22.1</a></td>
   <td align="right">124kB</td>
   <td><tt>bd8d5655ae3e188b1c48ac3c0019a0c303b95060576836f70232448b5955e9f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-phone-components-5.22.1.tar.xz">plasma-phone-components-5.22.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>aab379faa6313e22b09d4af8992e8b7fb32d65a05753791ec9979e4c229461d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-sdk-5.22.1.tar.xz">plasma-sdk-5.22.1</a></td>
   <td align="right">263kB</td>
   <td><tt>16e3c576705ed416881a126997bbcd2132cca34dfc1f0f48a8c655fbb1ab01b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-systemmonitor-5.22.1.tar.xz">plasma-systemmonitor-5.22.1</a></td>
   <td align="right">130kB</td>
   <td><tt>26a7be0b9e56d669257c55b414a3c386d43d4f8955b6eaf11656951ba4e01632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-tests-5.22.1.tar.xz">plasma-tests-5.22.1</a></td>
   <td align="right">1kB</td>
   <td><tt>470b662e8bf99aa3d21d1058cb92087383a1ed0e7da8c5102948a56322cf6eb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-thunderbolt-5.22.1.tar.xz">plasma-thunderbolt-5.22.1</a></td>
   <td align="right">62kB</td>
   <td><tt>f8650b5b814eeb19aaf30da939418010cb7591718b139027480aa9abbb9a11c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-vault-5.22.1.tar.xz">plasma-vault-5.22.1</a></td>
   <td align="right">166kB</td>
   <td><tt>5812c5f72c3728ad674c3f7ad5e234a44dfba75c633d2de0d887124b8cdc7491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-workspace-5.22.1.tar.xz">plasma-workspace-5.22.1</a></td>
   <td align="right">7.9MB</td>
   <td><tt>61ad5adab412c935ae156c4de3f38d1e2640752c95100ad6996b9e51e8539725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plasma-workspace-wallpapers-5.22.1.tar.xz">plasma-workspace-wallpapers-5.22.1</a></td>
   <td align="right">48MB</td>
   <td><tt>d752ceeb64bc67e1dfdc0dd2a21dae6a9a3b0c7da2023a5c6148d98a544e282e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/plymouth-kcm-5.22.1.tar.xz">plymouth-kcm-5.22.1</a></td>
   <td align="right">37kB</td>
   <td><tt>9f9000dee079d8bbc13cccd280818b14f9943e598b0052f23c34d98c6dad816c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/polkit-kde-agent-1-5.22.1.tar.xz">polkit-kde-agent-1-5.22.1</a></td>
   <td align="right">44kB</td>
   <td><tt>de9a6f1bdf434d013a8d6f0c1498257bc4a48349e652375b4dd036eb161214ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/powerdevil-5.22.1.tar.xz">powerdevil-5.22.1</a></td>
   <td align="right">603kB</td>
   <td><tt>04fe2206d6dee27de5035c05f2411cb0630ef717d830e4c4557ac669519bdcb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/qqc2-breeze-style-5.22.1.tar.xz">qqc2-breeze-style-5.22.1</a></td>
   <td align="right">64kB</td>
   <td><tt>617ea85228314a36f6d6eacd9276bf1edb51dc024905f577a0466d96cad24a2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/sddm-kcm-5.22.1.tar.xz">sddm-kcm-5.22.1</a></td>
   <td align="right">62kB</td>
   <td><tt>c4f4afbce00d7c280753f4b35998ae3df1e81d2f3bcee0d13f5be5fad2477e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/systemsettings-5.22.1.tar.xz">systemsettings-5.22.1</a></td>
   <td align="right">199kB</td>
   <td><tt>80364600d3ecb1611b88afbce34a75955f129c9aaa71ec4d9cfa418b2fd8e656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.1/xdg-desktop-portal-kde-5.22.1.tar.xz">xdg-desktop-portal-kde-5.22.1</a></td>
   <td align="right">85kB</td>
   <td><tt>1b0bcf6262b16cad7aef8aebe0b44689641c8b657bcfef529fd2894720494281</tt></td>
</tr>

</table>
