
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/attica-5.26.0.tar.xz">attica-5.26.0</a></td>
   <td align="right">58kB</td>
   <td><tt>d2da59183e63306df06da622015c811a8f52bcaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/baloo-5.26.0.tar.xz">baloo-5.26.0</a></td>
   <td align="right">183kB</td>
   <td><tt>58f5fcd7fe1c65e4d6d42a0457339d49be690157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/bluez-qt-5.26.0.tar.xz">bluez-qt-5.26.0</a></td>
   <td align="right">71kB</td>
   <td><tt>e85edbebe68a4105cb2d159f51150dd314a38600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/breeze-icons-5.26.0.tar.xz">breeze-icons-5.26.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b77cabbac3e05a48a3d9c4cb81eedc36ba6f2add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/extra-cmake-modules-5.26.0.tar.xz">extra-cmake-modules-5.26.0</a></td>
   <td align="right">279kB</td>
   <td><tt>a319af6406d630d729ebe79d8893fe9a435218e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/frameworkintegration-5.26.0.tar.xz">frameworkintegration-5.26.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4c0c5a5e318d97497b904afe4344b92cba7f3587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kactivities-5.26.0.tar.xz">kactivities-5.26.0</a></td>
   <td align="right">59kB</td>
   <td><tt>0bc604a07a682480e5716a5a9e4feaf74923b7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kactivities-stats-5.26.0.tar.xz">kactivities-stats-5.26.0</a></td>
   <td align="right">57kB</td>
   <td><tt>ee5d5b3d7ce4a1682539b4d33bb81383df05cca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kapidox-5.26.0.tar.xz">kapidox-5.26.0</a></td>
   <td align="right">208kB</td>
   <td><tt>8fa90ba69c4688a5d1f596a7e4e499132470a2b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/karchive-5.26.0.tar.xz">karchive-5.26.0</a></td>
   <td align="right">108kB</td>
   <td><tt>b89d1bc699cb7950f2b62bc4ee552dca98bf5e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kauth-5.26.0.tar.xz">kauth-5.26.0</a></td>
   <td align="right">80kB</td>
   <td><tt>3f16ff365c4f1d8814acb58bc37772d705b20b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kbookmarks-5.26.0.tar.xz">kbookmarks-5.26.0</a></td>
   <td align="right">112kB</td>
   <td><tt>6541e2fe5e8de0d109cea0dcba47073f52d53f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kcmutils-5.26.0.tar.xz">kcmutils-5.26.0</a></td>
   <td align="right">229kB</td>
   <td><tt>74327373f346f489c741700970b49cb91ecd0dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kcodecs-5.26.0.tar.xz">kcodecs-5.26.0</a></td>
   <td align="right">213kB</td>
   <td><tt>671b781bab9f40b05829d84d5689cb0d0efee859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kcompletion-5.26.0.tar.xz">kcompletion-5.26.0</a></td>
   <td align="right">113kB</td>
   <td><tt>2084c0c9092e5242283c74ead35b727cfb696789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kconfig-5.26.0.tar.xz">kconfig-5.26.0</a></td>
   <td align="right">221kB</td>
   <td><tt>9feb0b549aa1a59adabbf2c3a623ab2b77605a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kconfigwidgets-5.26.0.tar.xz">kconfigwidgets-5.26.0</a></td>
   <td align="right">358kB</td>
   <td><tt>6ea6378b4ca2aff30e24715493df4f2a60464ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kcoreaddons-5.26.0.tar.xz">kcoreaddons-5.26.0</a></td>
   <td align="right">323kB</td>
   <td><tt>3b095d16e27528118759e3f6087a10bf9a919811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kcrash-5.26.0.tar.xz">kcrash-5.26.0</a></td>
   <td align="right">19kB</td>
   <td><tt>12c76c6dc05c4441206afa41c42ce15893fd12be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kdbusaddons-5.26.0.tar.xz">kdbusaddons-5.26.0</a></td>
   <td align="right">33kB</td>
   <td><tt>77ca72c2053b2d1ae7b827f366ee46f2f1e285c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kdeclarative-5.26.0.tar.xz">kdeclarative-5.26.0</a></td>
   <td align="right">164kB</td>
   <td><tt>0596d33306c1f0a60e45531bd6accaa8d77f571c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kded-5.26.0.tar.xz">kded-5.26.0</a></td>
   <td align="right">35kB</td>
   <td><tt>0b1fdc8c72f62d1252ff40aeaa287d459fac9ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kdesignerplugin-5.26.0.tar.xz">kdesignerplugin-5.26.0</a></td>
   <td align="right">87kB</td>
   <td><tt>0f2dac5523e8ac540a18bd61d7fb4dda3a5b92f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kdesu-5.26.0.tar.xz">kdesu-5.26.0</a></td>
   <td align="right">43kB</td>
   <td><tt>14b8f3200cecda24c2ad69bf4708db75240d622f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kdewebkit-5.26.0.tar.xz">kdewebkit-5.26.0</a></td>
   <td align="right">28kB</td>
   <td><tt>1ea66caa3065448f7eb97438d4a291bf83ca3618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kdnssd-5.26.0.tar.xz">kdnssd-5.26.0</a></td>
   <td align="right">55kB</td>
   <td><tt>f1410d3b45d7980e3d699743f1418d1dd7ac9a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kdoctools-5.26.0.tar.xz">kdoctools-5.26.0</a></td>
   <td align="right">403kB</td>
   <td><tt>15c6fc589478c596fb3255039be534c1bca62b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kemoticons-5.26.0.tar.xz">kemoticons-5.26.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>867a6a172f1802dc6d49718b435fdea97adc3841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kfilemetadata-5.26.0.tar.xz">kfilemetadata-5.26.0</a></td>
   <td align="right">128kB</td>
   <td><tt>41f2aeecb7ff390fbb165f716c8eb126a80cd038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kglobalaccel-5.26.0.tar.xz">kglobalaccel-5.26.0</a></td>
   <td align="right">81kB</td>
   <td><tt>005c878c715f5c93cfcc8f12a604b4ab6ac58967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kguiaddons-5.26.0.tar.xz">kguiaddons-5.26.0</a></td>
   <td align="right">38kB</td>
   <td><tt>4fc5dd6e3c2b97285cacb9146667c29fb39dcd13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/ki18n-5.26.0.tar.xz">ki18n-5.26.0</a></td>
   <td align="right">589kB</td>
   <td><tt>0fe9920929c98cbe3c96997ed4e16211b3f1d716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kiconthemes-5.26.0.tar.xz">kiconthemes-5.26.0</a></td>
   <td align="right">199kB</td>
   <td><tt>42ba627398e48f84eb9edbf03bbf8b20ed88d297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kidletime-5.26.0.tar.xz">kidletime-5.26.0</a></td>
   <td align="right">25kB</td>
   <td><tt>96c381332507787fe6d4e5646a4be5e957beef45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kimageformats-5.26.0.tar.xz">kimageformats-5.26.0</a></td>
   <td align="right">199kB</td>
   <td><tt>25ceaf9290cf6bc170d56a319e3df81a4f342117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kinit-5.26.0.tar.xz">kinit-5.26.0</a></td>
   <td align="right">116kB</td>
   <td><tt>d1196e05d061b08a481546cb0478eaa434d8ce5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kio-5.26.0.tar.xz">kio-5.26.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>030b9f3791730b7b6a516f2395333aba712ccf2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kitemmodels-5.26.0.tar.xz">kitemmodels-5.26.0</a></td>
   <td align="right">379kB</td>
   <td><tt>74915732a4ce23590bac13c9acb3ce8ca73754fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kitemviews-5.26.0.tar.xz">kitemviews-5.26.0</a></td>
   <td align="right">72kB</td>
   <td><tt>647754745b86a7b82579b831f90a34cda66638dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kjobwidgets-5.26.0.tar.xz">kjobwidgets-5.26.0</a></td>
   <td align="right">86kB</td>
   <td><tt>26037934145081d170cdb8288d5aa20c97f89596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/knewstuff-5.26.0.tar.xz">knewstuff-5.26.0</a></td>
   <td align="right">842kB</td>
   <td><tt>84dac2624644840778adba36485a256a181dd09b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/knotifications-5.26.0.tar.xz">knotifications-5.26.0</a></td>
   <td align="right">93kB</td>
   <td><tt>5b3a2de35c92c3fec58139b2c1057c94a9ed6ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/knotifyconfig-5.26.0.tar.xz">knotifyconfig-5.26.0</a></td>
   <td align="right">81kB</td>
   <td><tt>120a9a0b71ad6e164456ebfe99e16df1345ee0bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kpackage-5.26.0.tar.xz">kpackage-5.26.0</a></td>
   <td align="right">109kB</td>
   <td><tt>cfadce0bbe502e74f57e166c8de4b1e22b82ba66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kparts-5.26.0.tar.xz">kparts-5.26.0</a></td>
   <td align="right">150kB</td>
   <td><tt>42794fba2a0c00e58fb05c9a03a3099d0b58fd84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kpeople-5.26.0.tar.xz">kpeople-5.26.0</a></td>
   <td align="right">57kB</td>
   <td><tt>880ab174c587918fa7e4fcf51ac119a9e3e13eab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kplotting-5.26.0.tar.xz">kplotting-5.26.0</a></td>
   <td align="right">28kB</td>
   <td><tt>28bd5fbfc98a7ebc31f6af128794fb6e0b1f1259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kpty-5.26.0.tar.xz">kpty-5.26.0</a></td>
   <td align="right">55kB</td>
   <td><tt>f105711346b7645f9da8ae12867c5d15ac845cbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/krunner-5.26.0.tar.xz">krunner-5.26.0</a></td>
   <td align="right">65kB</td>
   <td><tt>014781997d83e6bc8698b8d0ea07145c8d5f9d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kservice-5.26.0.tar.xz">kservice-5.26.0</a></td>
   <td align="right">239kB</td>
   <td><tt>c9a9490bd3e95453f669527da08fb0e2b2401389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/ktexteditor-5.26.0.tar.xz">ktexteditor-5.26.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b83c3418252d8907a7815777b6ab0ef0ee0a47e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/ktextwidgets-5.26.0.tar.xz">ktextwidgets-5.26.0</a></td>
   <td align="right">299kB</td>
   <td><tt>e3337aa5ca46b90a34fab68b4c4f0aadae4270df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kunitconversion-5.26.0.tar.xz">kunitconversion-5.26.0</a></td>
   <td align="right">608kB</td>
   <td><tt>51302397ac5a15a319b1156d04304a6265d2a318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kwallet-5.26.0.tar.xz">kwallet-5.26.0</a></td>
   <td align="right">295kB</td>
   <td><tt>15083a0d9915078a169d3e4ac83736a8a4aabdd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kwayland-5.26.0.tar.xz">kwayland-5.26.0</a></td>
   <td align="right">227kB</td>
   <td><tt>04be5f860a273a02899e82c40f02aceb873f3dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kwidgetsaddons-5.26.0.tar.xz">kwidgetsaddons-5.26.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3ef17bc1a175b2da162fd691e14553bd73ceeba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kwindowsystem-5.26.0.tar.xz">kwindowsystem-5.26.0</a></td>
   <td align="right">162kB</td>
   <td><tt>8bb3108360e49986b6653c75b887598f1b8f8bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kxmlgui-5.26.0.tar.xz">kxmlgui-5.26.0</a></td>
   <td align="right">852kB</td>
   <td><tt>c5b690c9094558ee063273de732275251f0ac407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/kxmlrpcclient-5.26.0.tar.xz">kxmlrpcclient-5.26.0</a></td>
   <td align="right">27kB</td>
   <td><tt>0dacb58e6e418d48630d77643f78ff9b88538bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/modemmanager-qt-5.26.0.tar.xz">modemmanager-qt-5.26.0</a></td>
   <td align="right">96kB</td>
   <td><tt>c6c98d1f7b78679677f3df2ee895c7c9b6a41d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/networkmanager-qt-5.26.0.tar.xz">networkmanager-qt-5.26.0</a></td>
   <td align="right">153kB</td>
   <td><tt>ab7e76acfe9897e334dc43c33123274672da00de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/oxygen-icons5-5.26.0.tar.xz">oxygen-icons5-5.26.0</a></td>
   <td align="right">222MB</td>
   <td><tt>7ab2d0b4584ca3a25211042627e9800d1377f680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/plasma-framework-5.26.0.tar.xz">plasma-framework-5.26.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>5fc07936731f9488f419ad1711e0b94c0382d1fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/solid-5.26.0.tar.xz">solid-5.26.0</a></td>
   <td align="right">239kB</td>
   <td><tt>a424e570b5779a6dcf2d7421b7a8c1ae9ccd8a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/sonnet-5.26.0.tar.xz">sonnet-5.26.0</a></td>
   <td align="right">277kB</td>
   <td><tt>8950e4c57afc9fa619d4ea13526a12420fab4ee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.26/threadweaver-5.26.0.tar.xz">threadweaver-5.26.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1f44ed5b3bdd18b7ec1ecc700af2af0ca2c198c2</tt></td>
</tr>

</table>
