<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadi-18.04.0.tar.xz">akonadi-18.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b8acae2f4f8de523f772d1c242d552b36af40f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadi-calendar-18.04.0.tar.xz">akonadi-calendar-18.04.0</a></td>
   <td align="right">327kB</td>
   <td><tt>f1302f8755f4e63b74f99d1d99b53392e15f9a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadi-calendar-tools-18.04.0.tar.xz">akonadi-calendar-tools-18.04.0</a></td>
   <td align="right">215kB</td>
   <td><tt>4bf601b2e4e4cbc65a3fc8cf78e4b41e82ca4eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadiconsole-18.04.0.tar.xz">akonadiconsole-18.04.0</a></td>
   <td align="right">181kB</td>
   <td><tt>e30c65c02dbda9c2ce7c40efa5c070423e7330eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadi-contacts-18.04.0.tar.xz">akonadi-contacts-18.04.0</a></td>
   <td align="right">381kB</td>
   <td><tt>3586f66f5f40bb47ceaf8ccec456055eae6ca042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadi-import-wizard-18.04.0.tar.xz">akonadi-import-wizard-18.04.0</a></td>
   <td align="right">425kB</td>
   <td><tt>f44595b0a48f5cdc3913c895f6485a0ab3a8668c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadi-mime-18.04.0.tar.xz">akonadi-mime-18.04.0</a></td>
   <td align="right">133kB</td>
   <td><tt>1aaeb00ad6930f31339d5445e8da8115642a5ba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadi-notes-18.04.0.tar.xz">akonadi-notes-18.04.0</a></td>
   <td align="right">23kB</td>
   <td><tt>1ac92a633044bcb8d45f478257e266b0f624e213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akonadi-search-18.04.0.tar.xz">akonadi-search-18.04.0</a></td>
   <td align="right">79kB</td>
   <td><tt>2ceaae32a5b718801e40b04a930eaff0df2593ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/akregator-18.04.0.tar.xz">akregator-18.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ef526e4c4a719b17d22d31715ef7fddc3588a298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/analitza-18.04.0.tar.xz">analitza-18.04.0</a></td>
   <td align="right">323kB</td>
   <td><tt>e3d8d4c9681b08607e6bd22b1a787721e7afeb9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ark-18.04.0.tar.xz">ark-18.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>dbb11a0a0fe9611a3b1adfb94edeaf86789333a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/artikulate-18.04.0.tar.xz">artikulate-18.04.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>cc65b18f07a6d21668cf0d1f10ca016502d98f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/audiocd-kio-18.04.0.tar.xz">audiocd-kio-18.04.0</a></td>
   <td align="right">242kB</td>
   <td><tt>dbc07e2a021645fe35db02e4472e17cdf43ac96d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/baloo-widgets-18.04.0.tar.xz">baloo-widgets-18.04.0</a></td>
   <td align="right">239kB</td>
   <td><tt>3446a5d1f93769c2fdac49f398bf53bea73bd335</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/blinken-18.04.0.tar.xz">blinken-18.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>193c628314978be24597ec846a9b7d23be0a35be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/bomber-18.04.0.tar.xz">bomber-18.04.0</a></td>
   <td align="right">736kB</td>
   <td><tt>df3836d4b8295e4c13a951655c76279b9a907c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/bovo-18.04.0.tar.xz">bovo-18.04.0</a></td>
   <td align="right">182kB</td>
   <td><tt>6090cabe13a80b4f05bfd20aefa51424047254a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/calendarsupport-18.04.0.tar.xz">calendarsupport-18.04.0</a></td>
   <td align="right">629kB</td>
   <td><tt>674222d909a13731077aa5f22f7ab8ff334e5870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/cantor-18.04.0.tar.xz">cantor-18.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>12e46200711ded57e2b5f315060df359557ac956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/cervisia-18.04.0.tar.xz">cervisia-18.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>19c572224c528bdbd0e69e48331af92333b50fb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/dolphin-18.04.0.tar.xz">dolphin-18.04.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>be52c34d6fdd3420a031da5294ef1c9557197440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/dolphin-plugins-18.04.0.tar.xz">dolphin-plugins-18.04.0</a></td>
   <td align="right">185kB</td>
   <td><tt>73a3f8a035454cb9caa059074f85985e0ca31767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/dragon-18.04.0.tar.xz">dragon-18.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2799e8fcbcb60dd413694e05cf07816abbcb37a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/eventviews-18.04.0.tar.xz">eventviews-18.04.0</a></td>
   <td align="right">430kB</td>
   <td><tt>79b1a798bf8f06fcad2ff9921e6cac2cc7fa1022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ffmpegthumbs-18.04.0.tar.xz">ffmpegthumbs-18.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>4e187f357f8b9db6b81271e78f7e3d5950cd40df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/filelight-18.04.0.tar.xz">filelight-18.04.0</a></td>
   <td align="right">642kB</td>
   <td><tt>a7bfaaee52efa949a565d169706264c67079d054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/granatier-18.04.0.tar.xz">granatier-18.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d108b52703b97d1c739fce10da5f09cbbb5873af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/grantlee-editor-18.04.0.tar.xz">grantlee-editor-18.04.0</a></td>
   <td align="right">108kB</td>
   <td><tt>492fb5887e812e7269ed6d0b04ddb49c5e956203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/grantleetheme-18.04.0.tar.xz">grantleetheme-18.04.0</a></td>
   <td align="right">50kB</td>
   <td><tt>600ac339f59d7bdea96578a8fa9d7f86c22f3a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/gwenview-18.04.0.tar.xz">gwenview-18.04.0</a></td>
   <td align="right">5.7MB</td>
   <td><tt>359431c0e737804929eb403a9b77b559f3533f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/incidenceeditor-18.04.0.tar.xz">incidenceeditor-18.04.0</a></td>
   <td align="right">514kB</td>
   <td><tt>d07436af3b73b2d0b026b7598bfb7ef32ab6f018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/juk-18.04.0.tar.xz">juk-18.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0dd7259af53714b2258572cdbeaddfd539dfed52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/k3b-18.04.0.tar.xz">k3b-18.04.0</a></td>
   <td align="right">10MB</td>
   <td><tt>2e3403e8e89371325e845c5aa39cf42156f86dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kaccounts-integration-18.04.0.tar.xz">kaccounts-integration-18.04.0</a></td>
   <td align="right">69kB</td>
   <td><tt>8b0205e32c0fcf2d0e72476918573728ae6610f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kaccounts-providers-18.04.0.tar.xz">kaccounts-providers-18.04.0</a></td>
   <td align="right">31kB</td>
   <td><tt>3d486453e1e51903c74d8537342f5472ea9af35a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kaddressbook-18.04.0.tar.xz">kaddressbook-18.04.0</a></td>
   <td align="right">534kB</td>
   <td><tt>9802e9993528b9f6d0950f30b04914745990d381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kajongg-18.04.0.tar.xz">kajongg-18.04.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>2069a4304d7fc6dfa4d0b139fabfec4611247fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kalarm-18.04.0.tar.xz">kalarm-18.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>154111c3310947a4a9d7624c3c279b320e74c684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kalarmcal-18.04.0.tar.xz">kalarmcal-18.04.0</a></td>
   <td align="right">533kB</td>
   <td><tt>aa4ef87bd34a2477e51f87d067ae7b1a4715a1f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kalgebra-18.04.0.tar.xz">kalgebra-18.04.0</a></td>
   <td align="right">690kB</td>
   <td><tt>54d32b79c4892f89f4ee210fece146848ec0c131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kalzium-18.04.0.tar.xz">kalzium-18.04.0</a></td>
   <td align="right">23MB</td>
   <td><tt>c4593901c26543b73282a9442cccaa8fd017d721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kamera-18.04.0.tar.xz">kamera-18.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>3a1424d03fbc765c4cec1f34cb16c5f90f69c052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kamoso-18.04.0.tar.xz">kamoso-18.04.0</a></td>
   <td align="right">181kB</td>
   <td><tt>398e249a54c53b1282c79043acf9a4c91486d81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kanagram-18.04.0.tar.xz">kanagram-18.04.0</a></td>
   <td align="right">7.1MB</td>
   <td><tt>0f96182011794a080987d4dec5f3f001260fa476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kapman-18.04.0.tar.xz">kapman-18.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a03f8e22fb629c6075cd4adc9ced9203c82e84c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kapptemplate-18.04.0.tar.xz">kapptemplate-18.04.0</a></td>
   <td align="right">344kB</td>
   <td><tt>d387620b40225339d0dac3ae7a7d99e049cfc6bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kate-18.04.0.tar.xz">kate-18.04.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>c05ab7896f26e2e745db4ab93a5e9a9303dffe24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/katomic-18.04.0.tar.xz">katomic-18.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>90d6e296f4cb4a1e8685f851e441540ead5a346c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kbackup-18.04.0.tar.xz">kbackup-18.04.0</a></td>
   <td align="right">329kB</td>
   <td><tt>f12d75a6cda7fb94fdd23fd8627ca764d19222d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kblackbox-18.04.0.tar.xz">kblackbox-18.04.0</a></td>
   <td align="right">393kB</td>
   <td><tt>9bbab4b496e0fbd7e963a559abc64b6d8bc57ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kblocks-18.04.0.tar.xz">kblocks-18.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e230e724d69dca7dc0dcbb1874fda7d33983b09d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kblog-18.04.0.tar.xz">kblog-18.04.0</a></td>
   <td align="right">70kB</td>
   <td><tt>1dd615ecba66ac2bb1089b41a2d497925924cd20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kbounce-18.04.0.tar.xz">kbounce-18.04.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>60c7dd9153bfebbb7e1d4cb643e7ee5418dcc42d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kbreakout-18.04.0.tar.xz">kbreakout-18.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>896e05332c635ebe9ee2f0d0b06f087c0555d448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kbruch-18.04.0.tar.xz">kbruch-18.04.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>777d005e89aaecaf8299a1b9ef0ba6eecf209e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kcachegrind-18.04.0.tar.xz">kcachegrind-18.04.0</a></td>
   <td align="right">793kB</td>
   <td><tt>0164549e247392b7bb6cb0a7f3c0cdee9e92eecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kcalc-18.04.0.tar.xz">kcalc-18.04.0</a></td>
   <td align="right">351kB</td>
   <td><tt>6efa20e5ca7a3d0eb2ff9a2ffe838eb155c835b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kcalcore-18.04.0.tar.xz">kcalcore-18.04.0</a></td>
   <td align="right">247kB</td>
   <td><tt>38467c13827e9c09da5e258d10127bd0aa05f3a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kcalutils-18.04.0.tar.xz">kcalutils-18.04.0</a></td>
   <td align="right">317kB</td>
   <td><tt>658a2851c08c4f857af4ac1a9fbf3731d64dd7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kcharselect-18.04.0.tar.xz">kcharselect-18.04.0</a></td>
   <td align="right">343kB</td>
   <td><tt>1b224ec19f6d15f50a03cca71e377514d9c043f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kcolorchooser-18.04.0.tar.xz">kcolorchooser-18.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>bf109fdfd3015a4da61ccf3679c0fdb9019b21cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kcontacts-18.04.0.tar.xz">kcontacts-18.04.0</a></td>
   <td align="right">202kB</td>
   <td><tt>da638c8dccf275acb96181104293e2aa251f86e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kcron-18.04.0.tar.xz">kcron-18.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>90a92708f9e9479da4049c82ad176b9fb06cc663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdav-18.04.0.tar.xz">kdav-18.04.0</a></td>
   <td align="right">47kB</td>
   <td><tt>fd1ff51a8bb9e272a7c05a459cd504aa7ca6c1ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdebugsettings-18.04.0.tar.xz">kdebugsettings-18.04.0</a></td>
   <td align="right">50kB</td>
   <td><tt>228e0dff07ccb13d37ef7db379959d966cf6ef72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kde-dev-scripts-18.04.0.tar.xz">kde-dev-scripts-18.04.0</a></td>
   <td align="right">368kB</td>
   <td><tt>da256812970453bfcf5c2b700e2f1fcdd3ac13a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kde-dev-utils-18.04.0.tar.xz">kde-dev-utils-18.04.0</a></td>
   <td align="right">59kB</td>
   <td><tt>02e930260968c876e9b4de46537ceb497de0ef4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdeedu-data-18.04.0.tar.xz">kdeedu-data-18.04.0</a></td>
   <td align="right">319kB</td>
   <td><tt>571788823647f902ceb07fd7c58c0c7f836f58c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdegraphics-mobipocket-18.04.0.tar.xz">kdegraphics-mobipocket-18.04.0</a></td>
   <td align="right">13kB</td>
   <td><tt>463369b62c847fb885e91ad84f2b61859ea22e0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdegraphics-thumbnailers-18.04.0.tar.xz">kdegraphics-thumbnailers-18.04.0</a></td>
   <td align="right">40kB</td>
   <td><tt>59754b675f172fe62b033562765c19d0eeea9cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdenetwork-filesharing-18.04.0.tar.xz">kdenetwork-filesharing-18.04.0</a></td>
   <td align="right">315kB</td>
   <td><tt>480ab0eddf5e9ea123e638964a0fa9f51e6634f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdenlive-18.04.0.tar.xz">kdenlive-18.04.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>393fc199048af8b7fefb85848b177fc0f2df38ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdepim-addons-18.04.0.tar.xz">kdepim-addons-18.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e6b58397bf10909332f82d0141b858160dd9d448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdepim-apps-libs-18.04.0.tar.xz">kdepim-apps-libs-18.04.0</a></td>
   <td align="right">71kB</td>
   <td><tt>e8236d0a983d4fac4c46dcc17ed1cdbdf1312b89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdepim-runtime-18.04.0.tar.xz">kdepim-runtime-18.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9a0f39a269fb6e2a072d56f959037d187bdd3aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdesdk-kioslaves-18.04.0.tar.xz">kdesdk-kioslaves-18.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>1a05e8c2d47eef001fef0e59d92947f920403a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdesdk-thumbnailers-18.04.0.tar.xz">kdesdk-thumbnailers-18.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>141060ecff0cdf8c6b88ea01123e4a89f8064197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdf-18.04.0.tar.xz">kdf-18.04.0</a></td>
   <td align="right">518kB</td>
   <td><tt>7b361f9ba0e6b1a706f8f22e72dc4835230f21bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdialog-18.04.0.tar.xz">kdialog-18.04.0</a></td>
   <td align="right">93kB</td>
   <td><tt>3637177c52b3427751b58539a14ddb640057edbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kdiamond-18.04.0.tar.xz">kdiamond-18.04.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>733457d4c5c42bc1661f36c4834395dbec0b5eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/keditbookmarks-18.04.0.tar.xz">keditbookmarks-18.04.0</a></td>
   <td align="right">178kB</td>
   <td><tt>b11363c5fd1cc790767f145c51f927306a452004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kfind-18.04.0.tar.xz">kfind-18.04.0</a></td>
   <td align="right">204kB</td>
   <td><tt>a4a76ab8c679e54b4f8af6c3d59e641896ac81d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kfloppy-18.04.0.tar.xz">kfloppy-18.04.0</a></td>
   <td align="right">194kB</td>
   <td><tt>c5db016cf2d069d0228467287dcf353b5c7a4b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kfourinline-18.04.0.tar.xz">kfourinline-18.04.0</a></td>
   <td align="right">559kB</td>
   <td><tt>9259c326bf030d08ab4cfd9851290609509c63b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kgeography-18.04.0.tar.xz">kgeography-18.04.0</a></td>
   <td align="right">10MB</td>
   <td><tt>5cad9c468caa81dfbeab3827966bdbe66c66efbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kget-18.04.0.tar.xz">kget-18.04.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>6c8741b60f1c3fe8ca0891a4ce15518e2be09749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kgoldrunner-18.04.0.tar.xz">kgoldrunner-18.04.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>77872beb56c18fc64c6c61e71bde8af08b3b8d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kgpg-18.04.0.tar.xz">kgpg-18.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>684a32527ba953b641390492113db1902f3a600e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/khangman-18.04.0.tar.xz">khangman-18.04.0</a></td>
   <td align="right">6.1MB</td>
   <td><tt>22170fe815bc4c5e611a4349901181f99b7c45b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/khelpcenter-18.04.0.tar.xz">khelpcenter-18.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8fa4839edcf84faedd24742d4fc1271f17dc7818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kidentitymanagement-18.04.0.tar.xz">kidentitymanagement-18.04.0</a></td>
   <td align="right">144kB</td>
   <td><tt>d22e2538419262e107a54320657945f262110b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kig-18.04.0.tar.xz">kig-18.04.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>13631bc015775377f07bb85dc436fe942653794e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kigo-18.04.0.tar.xz">kigo-18.04.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>47d54deff18e417a971b252045968c0ce9a97dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/killbots-18.04.0.tar.xz">killbots-18.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fc388307129dcf0470ba387924e7060f17d1a01d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kimagemapeditor-18.04.0.tar.xz">kimagemapeditor-18.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>64b0135aaa69121e835897ded5aa3b2e674f5349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kimap-18.04.0.tar.xz">kimap-18.04.0</a></td>
   <td align="right">115kB</td>
   <td><tt>dbde55bfa92be9ab78ff316445ffbd0961cdc306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kio-extras-18.04.0.tar.xz">kio-extras-18.04.0</a></td>
   <td align="right">537kB</td>
   <td><tt>586e87b4d024ea65afb18b7f541ae96d0d1f13dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kiriki-18.04.0.tar.xz">kiriki-18.04.0</a></td>
   <td align="right">318kB</td>
   <td><tt>3918e5fcf9a287c5f7b7ab958662685730c34c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kiten-18.04.0.tar.xz">kiten-18.04.0</a></td>
   <td align="right">11MB</td>
   <td><tt>89a45c8883ceb508f0f9394f7316f9f8a578ffed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kjumpingcube-18.04.0.tar.xz">kjumpingcube-18.04.0</a></td>
   <td align="right">286kB</td>
   <td><tt>1e6a6320648344a2625d393b558e33f240d758ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kldap-18.04.0.tar.xz">kldap-18.04.0</a></td>
   <td align="right">150kB</td>
   <td><tt>fce67e9c346eb4077bfb1ed330f4122b00e21219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kleopatra-18.04.0.tar.xz">kleopatra-18.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>dced657b38c4700e8a0ef3182fc54f11ec9e2cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/klettres-18.04.0.tar.xz">klettres-18.04.0</a></td>
   <td align="right">20MB</td>
   <td><tt>77a2637c74588ff5b391a00909596aa511e2b68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/klickety-18.04.0.tar.xz">klickety-18.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>24216cd9ace4e4a07b200ff33fe650f9d2e36d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/klines-18.04.0.tar.xz">klines-18.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>79245c0074cd7f78425255ce64df47db29b4b0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmag-18.04.0.tar.xz">kmag-18.04.0</a></td>
   <td align="right">574kB</td>
   <td><tt>a580684cace8f1e2a5896a91e2d19a19434e8c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmahjongg-18.04.0.tar.xz">kmahjongg-18.04.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>060cff9335c6661eff234be846be842bfa05831e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmail-18.04.0.tar.xz">kmail-18.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>5a4a1f6b35e68b125013b8e74f43bcef57b88a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmail-account-wizard-18.04.0.tar.xz">kmail-account-wizard-18.04.0</a></td>
   <td align="right">150kB</td>
   <td><tt>ec3b32a6f1108be586a3a3f58dc2a9e772985cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmailtransport-18.04.0.tar.xz">kmailtransport-18.04.0</a></td>
   <td align="right">160kB</td>
   <td><tt>3659c63bc714cb648d754f20875c879a86853919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmbox-18.04.0.tar.xz">kmbox-18.04.0</a></td>
   <td align="right">23kB</td>
   <td><tt>ccffc0af543e03624a0bcd59645bb259f3f51a84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmime-18.04.0.tar.xz">kmime-18.04.0</a></td>
   <td align="right">143kB</td>
   <td><tt>e34dcf8b58771a1e1b01f171f3ec48ed949bf848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmines-18.04.0.tar.xz">kmines-18.04.0</a></td>
   <td align="right">861kB</td>
   <td><tt>732a0d6dc0262960ca90fe09cf9f7360505d039c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmix-18.04.0.tar.xz">kmix-18.04.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b4bfc9a56ef3afd737f96655791efd85b196bddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmousetool-18.04.0.tar.xz">kmousetool-18.04.0</a></td>
   <td align="right">109kB</td>
   <td><tt>a3a3774d1630e8a75332e5297ccf2f292b1ef890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmouth-18.04.0.tar.xz">kmouth-18.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>91c65cead711b0b4e66c26c6fcec4b46ba4299f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kmplot-18.04.0.tar.xz">kmplot-18.04.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>58b62567e8b1fec6389a7e9bae1c19da85c9ebf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/knavalbattle-18.04.0.tar.xz">knavalbattle-18.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a0e6641b1e06521266fddfb76380fa1185031555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/knetwalk-18.04.0.tar.xz">knetwalk-18.04.0</a></td>
   <td align="right">958kB</td>
   <td><tt>5083da5338a67ea32e1e8350323ee15b2c46c5f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/knotes-18.04.0.tar.xz">knotes-18.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>5eceb6c44ea13748f8f86ba7b35bc60f3fa2aa14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kolf-18.04.0.tar.xz">kolf-18.04.0</a></td>
   <td align="right">902kB</td>
   <td><tt>2dd42990e17acd5bf73ef2ddef6d204b8b726187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kollision-18.04.0.tar.xz">kollision-18.04.0</a></td>
   <td align="right">265kB</td>
   <td><tt>74453116cfa726bc9be4ce81b4613dc20507a7a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kolourpaint-18.04.0.tar.xz">kolourpaint-18.04.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>7fd82c8e762b7736ce0b452dea5cb79b93e93fb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kompare-18.04.0.tar.xz">kompare-18.04.0</a></td>
   <td align="right">694kB</td>
   <td><tt>b198338bba93c38f157e95d1a204eefd59476e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/konqueror-18.04.0.tar.xz">konqueror-18.04.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>4426faf7b134609898e16c6f31f6e90bd1457b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/konquest-18.04.0.tar.xz">konquest-18.04.0</a></td>
   <td align="right">642kB</td>
   <td><tt>5b788db24846534852f45ac45f1dc5bc6029d689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/konsole-18.04.0.tar.xz">konsole-18.04.0</a></td>
   <td align="right">1015kB</td>
   <td><tt>b7b3ef35d3575d6a544e8b9f8a3f37d201f6f77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kontact-18.04.0.tar.xz">kontact-18.04.0</a></td>
   <td align="right">841kB</td>
   <td><tt>0152527b8a6bbe175c249dda4564db6f0221e5a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kontactinterface-18.04.0.tar.xz">kontactinterface-18.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>965fe03104e8ed162bfe6d03a134a0078f4ccfae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kopete-18.04.0.tar.xz">kopete-18.04.0</a></td>
   <td align="right">9.2MB</td>
   <td><tt>8af539a51496005580896becfb60c53056e3e771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/korganizer-18.04.0.tar.xz">korganizer-18.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>493371c3f6da71b1c472f839c9cb49ed80e16ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kpat-18.04.0.tar.xz">kpat-18.04.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>790ed73010844943bd89ce368d1cd4f753677502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kpimtextedit-18.04.0.tar.xz">kpimtextedit-18.04.0</a></td>
   <td align="right">139kB</td>
   <td><tt>b172294ab0e7e1a20196b42d6d6310002683e57b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kqtquickcharts-18.04.0.tar.xz">kqtquickcharts-18.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>172b7d77c59295ccb44ee7cf24c795f31e55b41b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/krdc-18.04.0.tar.xz">krdc-18.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8c112137b22a6f91a81c057982a6307192fa6224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kreversi-18.04.0.tar.xz">kreversi-18.04.0</a></td>
   <td align="right">891kB</td>
   <td><tt>b06493c93685dbc2e86957a0445bfdc71d400806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/krfb-18.04.0.tar.xz">krfb-18.04.0</a></td>
   <td align="right">971kB</td>
   <td><tt>aa8d2322e74943f8d64a429372a1e337df964981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kross-interpreters-18.04.0.tar.xz">kross-interpreters-18.04.0</a></td>
   <td align="right">141kB</td>
   <td><tt>23fcfb7a1241dfce8959755116c3f668a900ac84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kruler-18.04.0.tar.xz">kruler-18.04.0</a></td>
   <td align="right">288kB</td>
   <td><tt>96846f80e7950172ad17fb106d7a7c949fc42b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kshisen-18.04.0.tar.xz">kshisen-18.04.0</a></td>
   <td align="right">694kB</td>
   <td><tt>d2a309d3bd707507e121b4e929e3e915820a33aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ksirk-18.04.0.tar.xz">ksirk-18.04.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>93fd80fb32096c022fec80024f40f5034cb03e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ksmtp-18.04.0.tar.xz">ksmtp-18.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>ab23deaeb0d491f2fde3495d37a5813277bd7839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ksnakeduel-18.04.0.tar.xz">ksnakeduel-18.04.0</a></td>
   <td align="right">591kB</td>
   <td><tt>0c8abd06a83bf9a53d9ee38bff9facbf2504fe8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kspaceduel-18.04.0.tar.xz">kspaceduel-18.04.0</a></td>
   <td align="right">595kB</td>
   <td><tt>ab18aa9f5bf3b6eb1b5b6aa8275fef191e8c0d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ksquares-18.04.0.tar.xz">ksquares-18.04.0</a></td>
   <td align="right">210kB</td>
   <td><tt>89c812372fc584a5bb22eca41447492d84b0b28f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ksudoku-18.04.0.tar.xz">ksudoku-18.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>70a81a755557e5b66a2be052addacf3bfb47202c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ksystemlog-18.04.0.tar.xz">ksystemlog-18.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0856c0a5bd6f5c5d2430036e510021f1dcfa1372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kteatime-18.04.0.tar.xz">kteatime-18.04.0</a></td>
   <td align="right">290kB</td>
   <td><tt>b5f6d7b8113e8af019b14b401d72c906a73604fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktimer-18.04.0.tar.xz">ktimer-18.04.0</a></td>
   <td align="right">443kB</td>
   <td><tt>9d58848eefd7a6711d1c1bee30573d2d9b801a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktnef-18.04.0.tar.xz">ktnef-18.04.0</a></td>
   <td align="right">293kB</td>
   <td><tt>b260f9fe962bf471034812e590d5575b27fca4e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktouch-18.04.0.tar.xz">ktouch-18.04.0</a></td>
   <td align="right">4.8MB</td>
   <td><tt>6a6df4e6e05d09b1806495fd47882df7115abf23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-accounts-kcm-18.04.0.tar.xz">ktp-accounts-kcm-18.04.0</a></td>
   <td align="right">256kB</td>
   <td><tt>6c0e0a5cc5ccd853fea08bab7d759904bb5fabb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-approver-18.04.0.tar.xz">ktp-approver-18.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>ab91365b199e3f06eb5777fb61b032848493d102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-auth-handler-18.04.0.tar.xz">ktp-auth-handler-18.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>4f24975487010276245a92ee9f41d57fce7ba568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-call-ui-18.04.0.tar.xz">ktp-call-ui-18.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>ecd3c4048f21d1ec163e9a97b900413fa1767119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-common-internals-18.04.0.tar.xz">ktp-common-internals-18.04.0</a></td>
   <td align="right">431kB</td>
   <td><tt>6530336d7602008077a325c66bd752f6b339929a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-contact-list-18.04.0.tar.xz">ktp-contact-list-18.04.0</a></td>
   <td align="right">141kB</td>
   <td><tt>ce77897b7983cfd0c98256e6eaf93c378909d10a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-contact-runner-18.04.0.tar.xz">ktp-contact-runner-18.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>19f963e6ba67d43cdb847147d11194992738c647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-desktop-applets-18.04.0.tar.xz">ktp-desktop-applets-18.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>3f2c3eafb43c677dadbc2c523aa1422999da29a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-filetransfer-handler-18.04.0.tar.xz">ktp-filetransfer-handler-18.04.0</a></td>
   <td align="right">44kB</td>
   <td><tt>2313ef21fe62a5c904f06b323c6a2961f15dc929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-kded-module-18.04.0.tar.xz">ktp-kded-module-18.04.0</a></td>
   <td align="right">89kB</td>
   <td><tt>2ae90d56107f24156c563ff1d1882ff22cfd3b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-send-file-18.04.0.tar.xz">ktp-send-file-18.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>b7fe7b0d0e7486aa89c6eaa14fb69106edeebf1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktp-text-ui-18.04.0.tar.xz">ktp-text-ui-18.04.0</a></td>
   <td align="right">458kB</td>
   <td><tt>8276197f34a119a5d269773a0346dd045eb496f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/ktuberling-18.04.0.tar.xz">ktuberling-18.04.0</a></td>
   <td align="right">31MB</td>
   <td><tt>c20cf0df9909259389443c88f57863b0eadddc6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kturtle-18.04.0.tar.xz">kturtle-18.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>eebdebe33fad29ff111248cd2bb231534849d455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kubrick-18.04.0.tar.xz">kubrick-18.04.0</a></td>
   <td align="right">299kB</td>
   <td><tt>df642111561c607132620e613a2add43837e0b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kwalletmanager-18.04.0.tar.xz">kwalletmanager-18.04.0</a></td>
   <td align="right">760kB</td>
   <td><tt>b1a3ddc3e916cf613021be6b73648c946c63fde5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kwave-18.04.0.tar.xz">kwave-18.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>21a4b0fcf81c766557b3cb52b8907eec896372cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/kwordquiz-18.04.0.tar.xz">kwordquiz-18.04.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>de1bf0c8e920110f0648c1f1b9d3dc1111a16087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libgravatar-18.04.0.tar.xz">libgravatar-18.04.0</a></td>
   <td align="right">29kB</td>
   <td><tt>d311c910d0e60d4d145eaf89d1ace5296466c1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkcddb-18.04.0.tar.xz">libkcddb-18.04.0</a></td>
   <td align="right">414kB</td>
   <td><tt>3ddd0fe2df1e6533f337048be94da4ad66854c1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkcompactdisc-18.04.0.tar.xz">libkcompactdisc-18.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>b01984732ef9b05bc05bb88027109ee2c097bca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkdcraw-18.04.0.tar.xz">libkdcraw-18.04.0</a></td>
   <td align="right">40kB</td>
   <td><tt>d4589144b08d5f04514f56868896155929a07010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkdegames-18.04.0.tar.xz">libkdegames-18.04.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>ca22c9f03fe1a28eed82fc597712458eabe20b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkdepim-18.04.0.tar.xz">libkdepim-18.04.0</a></td>
   <td align="right">332kB</td>
   <td><tt>76cc7a093157d9d0adfde7dae9b9f4b9daf8e263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkeduvocdocument-18.04.0.tar.xz">libkeduvocdocument-18.04.0</a></td>
   <td align="right">204kB</td>
   <td><tt>6ed7ff437a225fdeb31fa213d75ce141ecb8781d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkexiv2-18.04.0.tar.xz">libkexiv2-18.04.0</a></td>
   <td align="right">62kB</td>
   <td><tt>51b656405137e3ff309cf6291bc0e8f8246ec5a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkgapi-18.04.0.tar.xz">libkgapi-18.04.0</a></td>
   <td align="right">172kB</td>
   <td><tt>4538105ccf5df41efb7c9b5a049907ef2bb1ae35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkgeomap-18.04.0.tar.xz">libkgeomap-18.04.0</a></td>
   <td align="right">146kB</td>
   <td><tt>f59c71a1bcf882d522da1d1662e52a0bfecc2741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkipi-18.04.0.tar.xz">libkipi-18.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>d7cb67bb996ba625453d4234ffe1a9155c78988b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkleo-18.04.0.tar.xz">libkleo-18.04.0</a></td>
   <td align="right">310kB</td>
   <td><tt>65a2db549e9b5829d24abf40b736c32da7e4aef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkmahjongg-18.04.0.tar.xz">libkmahjongg-18.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>789f21734b8218a2b9b1bbfbd8adb91a1d345c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libkomparediff2-18.04.0.tar.xz">libkomparediff2-18.04.0</a></td>
   <td align="right">172kB</td>
   <td><tt>9c50b076ed8917f7068631590f8c61899b90200b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libksane-18.04.0.tar.xz">libksane-18.04.0</a></td>
   <td align="right">134kB</td>
   <td><tt>9b73005aa9c340bd40cbf98a64ff12ac92336233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/libksieve-18.04.0.tar.xz">libksieve-18.04.0</a></td>
   <td align="right">536kB</td>
   <td><tt>47807b06c616513f1cf4338b12250a8d61de2d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/lokalize-18.04.0.tar.xz">lokalize-18.04.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0cb1c9da70f0d3cb3ddf18f6f31b42ed0bdb1644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/lskat-18.04.0.tar.xz">lskat-18.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5e4ed26d8b19a40245e78e1f442f259eb480b948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/mailcommon-18.04.0.tar.xz">mailcommon-18.04.0</a></td>
   <td align="right">675kB</td>
   <td><tt>c28634826e09662e7240450efd371872946f3a22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/mailimporter-18.04.0.tar.xz">mailimporter-18.04.0</a></td>
   <td align="right">528kB</td>
   <td><tt>947a307707a0453eebd84d4c8ed5c961e32ae333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/marble-18.04.0.tar.xz">marble-18.04.0</a></td>
   <td align="right">49MB</td>
   <td><tt>c78b0c46d3e198b95c7569bfdfc0240f4e8041ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/mbox-importer-18.04.0.tar.xz">mbox-importer-18.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>31409c6199f2e91fb081afff37c00ba4b3dbbe7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/messagelib-18.04.0.tar.xz">messagelib-18.04.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>f7e61d93ce4c4e9d3d3f614d5e9de48674ca744e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/minuet-18.04.0.tar.xz">minuet-18.04.0</a></td>
   <td align="right">26MB</td>
   <td><tt>2685942d7213a1635ebd036efaecb91fc740fad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/okular-18.04.0.tar.xz">okular-18.04.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>cc4ba0fc464d1e9795916514252d301687fd2fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/palapeli-18.04.0.tar.xz">palapeli-18.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a993bb1ba6b72864ebe16bcfc903d075ea6723e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/parley-18.04.0.tar.xz">parley-18.04.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>a4510c20d94d737e7b71e47ce9b3ab688e1ce115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/picmi-18.04.0.tar.xz">picmi-18.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fc6a770c5e5ca9f8a6477b4d899a457b191fe591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/pimcommon-18.04.0.tar.xz">pimcommon-18.04.0</a></td>
   <td align="right">287kB</td>
   <td><tt>2795bdae184caea3ec728c4588a53fd93a879f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/pim-data-exporter-18.04.0.tar.xz">pim-data-exporter-18.04.0</a></td>
   <td align="right">262kB</td>
   <td><tt>25948f5b0d1dbde159784cf10d5c218815d16efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/pim-sieve-editor-18.04.0.tar.xz">pim-sieve-editor-18.04.0</a></td>
   <td align="right">435kB</td>
   <td><tt>79f7b2bf9dbe31845df1be30791428e12ca6e8bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/poxml-18.04.0.tar.xz">poxml-18.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>ecd5119c9f09a0ee749442a46ad661d0bfcc4dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/print-manager-18.04.0.tar.xz">print-manager-18.04.0</a></td>
   <td align="right">232kB</td>
   <td><tt>e46cb184072f072dcb1100bd4c23b0d07428ff19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/rocs-18.04.0.tar.xz">rocs-18.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>11c9d8d8fc5d1cf80b5549c7d039c15fcab7b571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/signon-kwallet-extension-18.04.0.tar.xz">signon-kwallet-extension-18.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>1f607b32468738692ca3d11c3e1d1ba2020d25a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/spectacle-18.04.0.tar.xz">spectacle-18.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>48e5d8f801ed155465c372ce41c898a9a9c604f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/step-18.04.0.tar.xz">step-18.04.0</a></td>
   <td align="right">842kB</td>
   <td><tt>13dea57a3b415b6bd9d1512f400d24b7315936df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/svgpart-18.04.0.tar.xz">svgpart-18.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>e3e71f3d7923d38bfb23550766cb8b1921bc4f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/sweeper-18.04.0.tar.xz">sweeper-18.04.0</a></td>
   <td align="right">359kB</td>
   <td><tt>2db81ee86b7f5fe8abdb087d6abad3af3cfb6ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/syndication-18.04.0.tar.xz">syndication-18.04.0</a></td>
   <td align="right">156kB</td>
   <td><tt>d84d8dcd45b41a694c3eb618965d1a5474decc47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/umbrello-18.04.0.tar.xz">umbrello-18.04.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>64378c06b7e7b7b5d5175b0fa931354ba9a3d827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.0/src/zeroconf-ioslave-18.04.0.tar.xz">zeroconf-ioslave-18.04.0</a></td>
   <td align="right">37kB</td>
   <td><tt>39a85ada52f783f08e828283c16a0d432d9f03f1</tt></td>
</tr>

</table>
