
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/attica-5.38.0.tar.xz">attica-5.38.0</a></td>
   <td align="right">59kB</td>
   <td><tt>f5e6fdbafa3dd42bc2deef728933a8eb140e5028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/baloo-5.38.0.tar.xz">baloo-5.38.0</a></td>
   <td align="right">193kB</td>
   <td><tt>50715f74a47317536403ccbbfd4578ba5cf3ca57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/bluez-qt-5.38.0.tar.xz">bluez-qt-5.38.0</a></td>
   <td align="right">73kB</td>
   <td><tt>4b8a95a78488ff63e1d0c0dac0561c385fc23b27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/breeze-icons-5.38.0.tar.xz">breeze-icons-5.38.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7c485ddad951e141317fbf78f758cf40643bd5d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/extra-cmake-modules-5.38.0.tar.xz">extra-cmake-modules-5.38.0</a></td>
   <td align="right">305kB</td>
   <td><tt>182b711a758d96014231fd37b7fdb8bb3084edeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/frameworkintegration-5.38.0.tar.xz">frameworkintegration-5.38.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>01efa4af306a7f4a5693af51fd62e0af37bc11c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kactivities-5.38.0.tar.xz">kactivities-5.38.0</a></td>
   <td align="right">59kB</td>
   <td><tt>5cde3aa7ba27b56913230ab384dda5805bd8bcfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kactivities-stats-5.38.0.tar.xz">kactivities-stats-5.38.0</a></td>
   <td align="right">59kB</td>
   <td><tt>936067c8cc68dc8ef1992361c033148296ef3d5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kapidox-5.38.0.tar.xz">kapidox-5.38.0</a></td>
   <td align="right">386kB</td>
   <td><tt>02fe187bf9f440d0c2ba785e36a1111c4414d880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/karchive-5.38.0.tar.xz">karchive-5.38.0</a></td>
   <td align="right">110kB</td>
   <td><tt>67e210a9043329faf64a52f8a2fb1b83b96b3632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kauth-5.38.0.tar.xz">kauth-5.38.0</a></td>
   <td align="right">82kB</td>
   <td><tt>d71e698f90585055e895b66cdf9d891fd45ce956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kbookmarks-5.38.0.tar.xz">kbookmarks-5.38.0</a></td>
   <td align="right">114kB</td>
   <td><tt>d591af270b49a2fa65989d2bc7f0efdac4e3a8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kcmutils-5.38.0.tar.xz">kcmutils-5.38.0</a></td>
   <td align="right">229kB</td>
   <td><tt>0f9115f28e6678421f4fc9d9c1572db6333b9129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kcodecs-5.38.0.tar.xz">kcodecs-5.38.0</a></td>
   <td align="right">213kB</td>
   <td><tt>a3a21bca6501806844d4ba1869411f43a6d2576a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kcompletion-5.38.0.tar.xz">kcompletion-5.38.0</a></td>
   <td align="right">115kB</td>
   <td><tt>2c43c36d91ad080488c2c738b4c563c94af4887b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kconfig-5.38.0.tar.xz">kconfig-5.38.0</a></td>
   <td align="right">228kB</td>
   <td><tt>a815564f68db4e934deb6fa3746661043191328d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kconfigwidgets-5.38.0.tar.xz">kconfigwidgets-5.38.0</a></td>
   <td align="right">366kB</td>
   <td><tt>7c5d89cc639bd39c28089c88e9f65225615a9b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kcoreaddons-5.38.0.tar.xz">kcoreaddons-5.38.0</a></td>
   <td align="right">340kB</td>
   <td><tt>07bb40d5d0ea15f0036ad934873bc48db5748e60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kcrash-5.38.0.tar.xz">kcrash-5.38.0</a></td>
   <td align="right">21kB</td>
   <td><tt>f37e98215c3df1e21d76f21357da2c27c3c33971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kdbusaddons-5.38.0.tar.xz">kdbusaddons-5.38.0</a></td>
   <td align="right">35kB</td>
   <td><tt>bbdb079d004df108e0a0c1bd02e3df75205d8a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kdeclarative-5.38.0.tar.xz">kdeclarative-5.38.0</a></td>
   <td align="right">165kB</td>
   <td><tt>8a97c501233fb4c175d14292b3f8246f9cea76c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kded-5.38.0.tar.xz">kded-5.38.0</a></td>
   <td align="right">37kB</td>
   <td><tt>823d353a40d3bf0b517d55ace801add3234dbdfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kdesignerplugin-5.38.0.tar.xz">kdesignerplugin-5.38.0</a></td>
   <td align="right">88kB</td>
   <td><tt>7750fd99df5b5c500c4c1702ce00a43a5d486085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kdesu-5.38.0.tar.xz">kdesu-5.38.0</a></td>
   <td align="right">43kB</td>
   <td><tt>821da18fd4cff0380c74a8663280fe2edb4b7bc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kdewebkit-5.38.0.tar.xz">kdewebkit-5.38.0</a></td>
   <td align="right">28kB</td>
   <td><tt>76198e4433ad4d37f4a4c0dce830af227e025ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kdnssd-5.38.0.tar.xz">kdnssd-5.38.0</a></td>
   <td align="right">55kB</td>
   <td><tt>a46e631d7f5f2e46d1b21d184b6a23b7c2b5b003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kdoctools-5.38.0.tar.xz">kdoctools-5.38.0</a></td>
   <td align="right">411kB</td>
   <td><tt>fa980a95956d931d1908205155f52f8aa232639a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kemoticons-5.38.0.tar.xz">kemoticons-5.38.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>676a575391b40a2bc01197ae1d1d85db814962dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kfilemetadata-5.38.0.tar.xz">kfilemetadata-5.38.0</a></td>
   <td align="right">214kB</td>
   <td><tt>a58cf32830d49db270852b45ee6055dd3ef6a54f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kglobalaccel-5.38.1.tar.xz">kglobalaccel-5.38.1</a></td>
   <td align="right">81kB</td>
   <td><tt>fbadac6c9b7a934ef114df948425ab537a58a555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kguiaddons-5.38.0.tar.xz">kguiaddons-5.38.0</a></td>
   <td align="right">39kB</td>
   <td><tt>e17b9820221d9bdbc600c3d96db863214e7714d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/ki18n-5.38.0.tar.xz">ki18n-5.38.0</a></td>
   <td align="right">573kB</td>
   <td><tt>4dc1b6a00176cad05b56736802d3c403bfa64342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kiconthemes-5.38.0.tar.xz">kiconthemes-5.38.0</a></td>
   <td align="right">200kB</td>
   <td><tt>771031df691f9bb229b52c392edb3d03fdf3fc0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kidletime-5.38.0.tar.xz">kidletime-5.38.0</a></td>
   <td align="right">25kB</td>
   <td><tt>d7b710f5741e26207ccf12ace32cf9637227ae97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kimageformats-5.38.0.tar.xz">kimageformats-5.38.0</a></td>
   <td align="right">199kB</td>
   <td><tt>e4b4b90f9a57a486b7768811084b8162a5804093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kinit-5.38.0.tar.xz">kinit-5.38.0</a></td>
   <td align="right">118kB</td>
   <td><tt>781c59e28b6d2963b969c32b6f2d5a76cdcd92ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kio-5.38.0.tar.xz">kio-5.38.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>841327e432cc09450a08277ae8ebf833b6279aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kirigami2-5.38.0.tar.xz">kirigami2-5.38.0</a></td>
   <td align="right">272kB</td>
   <td><tt>3722c32d2cdf9d789aa3e22b2e44a39e8e7d4637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kitemmodels-5.38.0.tar.xz">kitemmodels-5.38.0</a></td>
   <td align="right">380kB</td>
   <td><tt>c5a59ea184994879505f284382b474a8ae51835f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kitemviews-5.38.0.tar.xz">kitemviews-5.38.0</a></td>
   <td align="right">73kB</td>
   <td><tt>2d41ace571de65aeec71f92eccd29d60f82666c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kjobwidgets-5.38.0.tar.xz">kjobwidgets-5.38.0</a></td>
   <td align="right">87kB</td>
   <td><tt>518a4e49e64beca7a86d8dca1f2033ae616e981c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/knewstuff-5.38.0.tar.xz">knewstuff-5.38.0</a></td>
   <td align="right">871kB</td>
   <td><tt>7ad66b0736e929407d7773c2e8658b6d21f54aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/knotifications-5.38.0.tar.xz">knotifications-5.38.0</a></td>
   <td align="right">97kB</td>
   <td><tt>b68fd3d14141e60dcdfe79b3f61d4a2f81cef1ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/knotifyconfig-5.38.0.tar.xz">knotifyconfig-5.38.0</a></td>
   <td align="right">81kB</td>
   <td><tt>78eb5069d4d96283bcad72fe0360744e60523b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kpackage-5.38.0.tar.xz">kpackage-5.38.0</a></td>
   <td align="right">122kB</td>
   <td><tt>2c00a7e89f2b0ee0596137ed7c0abcd8a456534b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kparts-5.38.0.tar.xz">kparts-5.38.0</a></td>
   <td align="right">171kB</td>
   <td><tt>9a8fe39ffae933e268182d611cfd2c0a7558690d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kpeople-5.38.0.tar.xz">kpeople-5.38.0</a></td>
   <td align="right">58kB</td>
   <td><tt>84e187ade94f615ba8bf42d726691b32b89d862a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kplotting-5.38.0.tar.xz">kplotting-5.38.0</a></td>
   <td align="right">28kB</td>
   <td><tt>6b43a18cc7a176e9b7a562d2e639d6c60606b133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kpty-5.38.0.tar.xz">kpty-5.38.0</a></td>
   <td align="right">56kB</td>
   <td><tt>251d0731758d5ee4f7a89add3881d499b75c9819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/krunner-5.38.0.tar.xz">krunner-5.38.0</a></td>
   <td align="right">69kB</td>
   <td><tt>5f9589fad59648a3b02e4d4a277c56e5bc482c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kservice-5.38.0.tar.xz">kservice-5.38.0</a></td>
   <td align="right">244kB</td>
   <td><tt>23fd769ba471bf3bd5700577c23459b88d228a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/ktexteditor-5.38.0.tar.xz">ktexteditor-5.38.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>71a3e1b0e88ca376302a05835c9fe539e9a1055e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/ktextwidgets-5.38.0.tar.xz">ktextwidgets-5.38.0</a></td>
   <td align="right">301kB</td>
   <td><tt>ad4689e5fa5f099686c01929344bb89b9efc7bdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kunitconversion-5.38.0.tar.xz">kunitconversion-5.38.0</a></td>
   <td align="right">752kB</td>
   <td><tt>4d2cb935b180a714237b1ca6e5f3619dcd2b6faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kwallet-5.38.0.tar.xz">kwallet-5.38.0</a></td>
   <td align="right">296kB</td>
   <td><tt>033d3677a31b2f9e13f342fa0bd5e95d2df0847d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kwayland-5.38.0.tar.xz">kwayland-5.38.0</a></td>
   <td align="right">256kB</td>
   <td><tt>84497e17261dacdc1d77206b61e959e439073bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kwidgetsaddons-5.38.0.tar.xz">kwidgetsaddons-5.38.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f9fa9fda33faa24dfa8b9b393d371067a7e6a048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kwindowsystem-5.38.0.tar.xz">kwindowsystem-5.38.0</a></td>
   <td align="right">164kB</td>
   <td><tt>de47c8174bf33387ad9de3743050b463da51a8ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kxmlgui-5.38.0.tar.xz">kxmlgui-5.38.0</a></td>
   <td align="right">863kB</td>
   <td><tt>002288a935248fbb2933e916647b94491808ea18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/kxmlrpcclient-5.38.0.tar.xz">kxmlrpcclient-5.38.0</a></td>
   <td align="right">28kB</td>
   <td><tt>e4d49ce61064dbb661a8677809e87ddd5383342b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/modemmanager-qt-5.38.0.tar.xz">modemmanager-qt-5.38.0</a></td>
   <td align="right">96kB</td>
   <td><tt>bea505599695090b3712dc46279982ca5d890559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/networkmanager-qt-5.38.0.tar.xz">networkmanager-qt-5.38.0</a></td>
   <td align="right">159kB</td>
   <td><tt>0657db0fd98b0ddfa03182630161cf2bf25a15b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/oxygen-icons5-5.38.0.tar.xz">oxygen-icons5-5.38.0</a></td>
   <td align="right">223MB</td>
   <td><tt>d1d16427c6b7817a813da5407d04061a6e9df440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/plasma-framework-5.38.0.tar.xz">plasma-framework-5.38.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>aadb652d6872decb732ed5fa505067c8efbeb362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/prison-5.38.0.tar.xz">prison-5.38.0</a></td>
   <td align="right">13kB</td>
   <td><tt>75973659bf1024910e2eec9e20d5a88cdb2e062c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/solid-5.38.0.tar.xz">solid-5.38.0</a></td>
   <td align="right">242kB</td>
   <td><tt>94c859f0fa36214b52f932b1a846391da433f7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/sonnet-5.38.0.tar.xz">sonnet-5.38.0</a></td>
   <td align="right">277kB</td>
   <td><tt>06cba5119b60b976617d4ed440a90adc2d0ab7d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/syntax-highlighting-5.38.0.tar.xz">syntax-highlighting-5.38.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4fc28f2207e2e65fce0930ab9575ccf010f7a62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.38/threadweaver-5.38.0.tar.xz">threadweaver-5.38.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5cc630845950dc22a342ac3d325ff3db1a6815e4</tt></td>
</tr>

</table>
