<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/baloo-5.0.1.tar.xz">baloo-5.0.1</a></td>
   <td align="right">214kB</td>
   <td><tt>6cae868ea553935a67883f4c6b39880bfa48b49a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/breeze-5.0.1.tar.xz">breeze-5.0.1</a></td>
   <td align="right">15MB</td>
   <td><tt>a37726fc81aedb7c4c8b8173b4f35616273e55fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/kde-cli-tools-5.0.1.tar.xz">kde-cli-tools-5.0.1</a></td>
   <td align="right">456kB</td>
   <td><tt>1dc6e02498eefd980978653ffb76d2575c8f62d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/kfilemetadata-5.0.1.tar.xz">kfilemetadata-5.0.1</a></td>
   <td align="right">83kB</td>
   <td><tt>7edc6a0e69358a7fe0a5e428938dce893876bce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/khelpcenter-5.0.1.tar.xz">khelpcenter-5.0.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e9e8c0aba9a333414dbc7672395a97dd20c1e0cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/khotkeys-5.0.1.tar.xz">khotkeys-5.0.1</a></td>
   <td align="right">726kB</td>
   <td><tt>55e5e80e767c6d55e5782af9b626b4af8b8f0467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/kinfocenter-5.0.1.tar.xz">kinfocenter-5.0.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>520b125a7d3548611b1a435f0a2e8f2ece5abb71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/kio-extras-5.0.1.tar.xz">kio-extras-5.0.1</a></td>
   <td align="right">562kB</td>
   <td><tt>bd84f1ccc2d5ed26e991e9ab485384199f0b96e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/kmenuedit-5.0.1.tar.xz">kmenuedit-5.0.1</a></td>
   <td align="right">334kB</td>
   <td><tt>178cbfde4af6ac7b6bd663ca74988776995673a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/ksysguard-5.0.1.tar.xz">ksysguard-5.0.1</a></td>
   <td align="right">430kB</td>
   <td><tt>b106790fb8283cf9ee70a802ed33c46beb0a2b6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/kwin-5.0.1.tar.xz">kwin-5.0.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>18cd0403508f8ec2fffd10e129d077ee5817e6fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/kwrited-5.0.1.tar.xz">kwrited-5.0.1</a></td>
   <td align="right">18kB</td>
   <td><tt>ee07372be3573a8d67a1e7762f9352c973d6c3da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/libkscreen-5.0.92.tar.xz">libkscreen-5.0.92</a></td>
   <td align="right">55kB</td>
   <td><tt>d7b6d375e3f6bf25c5150b05d31320063ab70f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/libksysguard-5.0.1.tar.xz">libksysguard-5.0.1</a></td>
   <td align="right">537kB</td>
   <td><tt>d9f723f09bd4d49abfa28a4f109f5abe7de2aef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/libmm-qt-5.0.92.tar.xz">libmm-qt-5.0.92</a></td>
   <td align="right">73kB</td>
   <td><tt>f942a784b403d5c738263969cd701428e274384c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/libnm-qt-5.0.92.tar.xz">libnm-qt-5.0.92</a></td>
   <td align="right">138kB</td>
   <td><tt>3465343a9b4f16d6f75d0405af6ce2e873815f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/milou-5.0.1.tar.xz">milou-5.0.1</a></td>
   <td align="right">36kB</td>
   <td><tt>b02e2d732949f8bc7308598e2954a43b6b6ab39d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/oxygen-5.0.1.tar.xz">oxygen-5.0.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>36dba7ac2d9bcc680a9e725baf15ae2f91e774cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/oxygen-fonts-0.4.0.1.tar.xz">oxygen-fonts-0.4.0.1</a></td>
   <td align="right">477kB</td>
   <td><tt>37276f6640d08eb9ff0d5da81a1c22819bbb6632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/plasma-desktop-5.0.1.tar.xz">plasma-desktop-5.0.1</a></td>
   <td align="right">5.7MB</td>
   <td><tt>834d03eb97d55b47dbb94b40e7245094312fbcc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/plasma-nm-5.0.1.tar.xz">plasma-nm-5.0.1</a></td>
   <td align="right">446kB</td>
   <td><tt>48effdde2a72af7081e431c382a13262774df6ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/plasma-workspace-5.0.1.tar.xz">plasma-workspace-5.0.1</a></td>
   <td align="right">5.8MB</td>
   <td><tt>ba87ef993fa7e7bfe194cbf80f4efad748de5d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/plasma-workspace-wallpapers-5.0.1.tar.xz">plasma-workspace-wallpapers-5.0.1</a></td>
   <td align="right">27MB</td>
   <td><tt>668511826328ca1d621b09440097b2916be41a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/powerdevil-5.0.1.tar.xz">powerdevil-5.0.1</a></td>
   <td align="right">406kB</td>
   <td><tt>57d787934c67b43d1444de6727382939e237ed90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.1/systemsettings-5.0.1.tar.xz">systemsettings-5.0.1</a></td>
   <td align="right">133kB</td>
   <td><tt>fc90e5a8964923b95a7175fcd7c2804836a3af3f</tt></td>
</tr>

</table>
