<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadi-20.12.2.tar.xz">akonadi-20.12.2</a></td>
   <td align="right">1556kB</td>
   <td><tt>407f0b7bd76f00a818687d05d228f47e1b458f73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadi-calendar-20.12.2.tar.xz">akonadi-calendar-20.12.2</a></td>
   <td align="right">334kB</td>
   <td><tt>0b62afdaef1b7d38b8da9469db277be09bf61087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadi-calendar-tools-20.12.2.tar.xz">akonadi-calendar-tools-20.12.2</a></td>
   <td align="right">219kB</td>
   <td><tt>2f5d60c8797f5292414664adddf045013caa6d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadiconsole-20.12.2.tar.xz">akonadiconsole-20.12.2</a></td>
   <td align="right">193kB</td>
   <td><tt>f1f359033b647fdfd8260cf7b0d414bf8ee7d704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadi-contacts-20.12.2.tar.xz">akonadi-contacts-20.12.2</a></td>
   <td align="right">404kB</td>
   <td><tt>152b870f4439f1a0c0d80fce836726ced19bf860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadi-import-wizard-20.12.2.tar.xz">akonadi-import-wizard-20.12.2</a></td>
   <td align="right">494kB</td>
   <td><tt>ce4a4d345871b36129fb2bad0cd90d826dcde8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadi-mime-20.12.2.tar.xz">akonadi-mime-20.12.2</a></td>
   <td align="right">132kB</td>
   <td><tt>f314eba96e606ca2b88c2c09c4f004e9b3886463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadi-notes-20.12.2.tar.xz">akonadi-notes-20.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>210f888cf151ac6468ba83436be7967693fb65a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akonadi-search-20.12.2.tar.xz">akonadi-search-20.12.2</a></td>
   <td align="right">91kB</td>
   <td><tt>423078e884690521ff26414744d6ed889bc0e1b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/akregator-20.12.2.tar.xz">akregator-20.12.2</a></td>
   <td align="right">2153kB</td>
   <td><tt>17e879fb58f368c7f24d173d7212c094288e6894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/analitza-20.12.2.tar.xz">analitza-20.12.2</a></td>
   <td align="right">333kB</td>
   <td><tt>ca6497bebf6469878270ef7bb584fcacf1b8300f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ark-20.12.2.tar.xz">ark-20.12.2</a></td>
   <td align="right">2653kB</td>
   <td><tt>1a4ef2b25e6895ddff60364df0abebac302e5df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/artikulate-20.12.2.tar.xz">artikulate-20.12.2</a></td>
   <td align="right">1059kB</td>
   <td><tt>48332654f26838960dbef2dc528d69be1aab908d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/audiocd-kio-20.12.2.tar.xz">audiocd-kio-20.12.2</a></td>
   <td align="right">488kB</td>
   <td><tt>c86e4d1211b35f45b2b7c7f183bf170e686470ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/baloo-widgets-20.12.2.tar.xz">baloo-widgets-20.12.2</a></td>
   <td align="right">255kB</td>
   <td><tt>f6e16dbd28fe0f17271c640ea8684cce3bc7a856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/blinken-20.12.2.tar.xz">blinken-20.12.2</a></td>
   <td align="right">2478kB</td>
   <td><tt>82ae7dfe33e276a0858ab56f12e0caffe69863b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/bomber-20.12.2.tar.xz">bomber-20.12.2</a></td>
   <td align="right">805kB</td>
   <td><tt>ae4345f919a5153566d408bc6ef7c719d69e62e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/bovo-20.12.2.tar.xz">bovo-20.12.2</a></td>
   <td align="right">201kB</td>
   <td><tt>f356b578d37220aacdede7ffd7ea8535b5102787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/calendarsupport-20.12.2.tar.xz">calendarsupport-20.12.2</a></td>
   <td align="right">649kB</td>
   <td><tt>df78e1e0d74685a83f56e90a53f7eda01f9c1a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/cantor-20.12.2.tar.xz">cantor-20.12.2</a></td>
   <td align="right">8913kB</td>
   <td><tt>136bc693db28b9a458437c0d6b80ac6870569f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/cervisia-20.12.2.tar.xz">cervisia-20.12.2</a></td>
   <td align="right">1844kB</td>
   <td><tt>e7e81a6159a728056b77bd292cde9f2c7bcedc6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/dolphin-20.12.2.tar.xz">dolphin-20.12.2</a></td>
   <td align="right">5000kB</td>
   <td><tt>abda26562b40241e151f536cfc784a1144073f58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/dolphin-plugins-20.12.2.tar.xz">dolphin-plugins-20.12.2</a></td>
   <td align="right">233kB</td>
   <td><tt>c3aa0d21036f720f88b2dac822a193a34de63dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/dragon-20.12.2.tar.xz">dragon-20.12.2</a></td>
   <td align="right">1617kB</td>
   <td><tt>9c69475ceb701ee2b603813cdb0568956997853e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/elisa-20.12.2.tar.xz">elisa-20.12.2</a></td>
   <td align="right">1622kB</td>
   <td><tt>08ae7cd79b6ae3ada95d9005989f67a3296929b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/eventviews-20.12.2.tar.xz">eventviews-20.12.2</a></td>
   <td align="right">433kB</td>
   <td><tt>0bde627d4ecd81ce196a224863e5dad3a2179e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ffmpegthumbs-20.12.2.tar.xz">ffmpegthumbs-20.12.2</a></td>
   <td align="right">33kB</td>
   <td><tt>2b2cd9dbe7e8f42b158b07159bc9bedbc9f4cdaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/filelight-20.12.2.tar.xz">filelight-20.12.2</a></td>
   <td align="right">655kB</td>
   <td><tt>85901e0e4d56bd8f0aa2bfd829cd2504b86c4a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/granatier-20.12.2.tar.xz">granatier-20.12.2</a></td>
   <td align="right">1906kB</td>
   <td><tt>639130598c375d6b8ef85fa437ba6a5b741168c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/grantlee-editor-20.12.2.tar.xz">grantlee-editor-20.12.2</a></td>
   <td align="right">104kB</td>
   <td><tt>3ae1ec93d8eab7128a40461ab5988913e559327e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/grantleetheme-20.12.2.tar.xz">grantleetheme-20.12.2</a></td>
   <td align="right">55kB</td>
   <td><tt>8c05573333cfdcd0175ee8512d99795580160822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/gwenview-20.12.2.tar.xz">gwenview-20.12.2</a></td>
   <td align="right">6587kB</td>
   <td><tt>2d9f84224c60b882acd0657311c4b6df92691c20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/incidenceeditor-20.12.2.tar.xz">incidenceeditor-20.12.2</a></td>
   <td align="right">533kB</td>
   <td><tt>85f5845d81830ec0dcbce947bf0631a880de049e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/itinerary-20.12.2.tar.xz">itinerary-20.12.2</a></td>
   <td align="right">326kB</td>
   <td><tt>54f2389234350b5359da406e55fa161fc8c4d380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/juk-20.12.2.tar.xz">juk-20.12.2</a></td>
   <td align="right">1950kB</td>
   <td><tt>0ae8b2891e54fca2b31d547695354850943cf254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/k3b-20.12.2.tar.xz">k3b-20.12.2</a></td>
   <td align="right">10434kB</td>
   <td><tt>aa878e4f0dc9ed7a61c5f8a87be139a7119f457d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kaccounts-integration-20.12.2.tar.xz">kaccounts-integration-20.12.2</a></td>
   <td align="right">82kB</td>
   <td><tt>9ffcba3b6fe5b1d605ea78e1584028a499a9a3c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kaccounts-providers-20.12.2.tar.xz">kaccounts-providers-20.12.2</a></td>
   <td align="right">60kB</td>
   <td><tt>9edbc37707276d6b923e01a197db427d4b5fd885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kaddressbook-20.12.2.tar.xz">kaddressbook-20.12.2</a></td>
   <td align="right">3180kB</td>
   <td><tt>20f1d81acb7f07fd096e4be42b686dd40a83e4f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kajongg-20.12.2.tar.xz">kajongg-20.12.2</a></td>
   <td align="right">4367kB</td>
   <td><tt>96c99a6a6014428d10706dafc77fafe248d05cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kalarm-20.12.2.tar.xz">kalarm-20.12.2</a></td>
   <td align="right">2031kB</td>
   <td><tt>64d465fa2b5d79215e7ccba1c0a208b89399ecbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kalarmcal-20.12.2.tar.xz">kalarmcal-20.12.2</a></td>
   <td align="right">563kB</td>
   <td><tt>9ac69562d4ea195855f3342bc9c1ab259e54a9ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kalgebra-20.12.2.tar.xz">kalgebra-20.12.2</a></td>
   <td align="right">996kB</td>
   <td><tt>9c7183ec87e0813f6c4b3d39862ec162b6826ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kalzium-20.12.2.tar.xz">kalzium-20.12.2</a></td>
   <td align="right">23947kB</td>
   <td><tt>7f25b7002ee37b6cb94d027eb8a7faa829013a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kamera-20.12.2.tar.xz">kamera-20.12.2</a></td>
   <td align="right">106kB</td>
   <td><tt>fc9f1c46cb7b4ffb048df17baf0c36233fba906c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kamoso-20.12.2.tar.xz">kamoso-20.12.2</a></td>
   <td align="right">206kB</td>
   <td><tt>d8166211a4bd3450c68350e3fcc3e4915d2febaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kanagram-20.12.2.tar.xz">kanagram-20.12.2</a></td>
   <td align="right">7841kB</td>
   <td><tt>a2201b2593b3df4722748838054b9d7cc5d52192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kapman-20.12.2.tar.xz">kapman-20.12.2</a></td>
   <td align="right">2472kB</td>
   <td><tt>f9c084a60a2af40d9afe498c8b47be0ea3785273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kapptemplate-20.12.2.tar.xz">kapptemplate-20.12.2</a></td>
   <td align="right">327kB</td>
   <td><tt>b7df0dfdb47d6f9a4052a3bb270dab1ed9ae1365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kate-20.12.2.tar.xz">kate-20.12.2</a></td>
   <td align="right">5724kB</td>
   <td><tt>33c5f36214685c8ddc1645dc8e7b39825d42a312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/katomic-20.12.2.tar.xz">katomic-20.12.2</a></td>
   <td align="right">1395kB</td>
   <td><tt>ea8b867d97dc0cb0161952aadf93bc0ad0b8ec08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kbackup-20.12.2.tar.xz">kbackup-20.12.2</a></td>
   <td align="right">371kB</td>
   <td><tt>ebd7de36ffd72ea8b28b14dac3a3da471913f253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kblackbox-20.12.2.tar.xz">kblackbox-20.12.2</a></td>
   <td align="right">439kB</td>
   <td><tt>87a370f1d71955dabb251316c8cc7c2abb5e8cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kblocks-20.12.2.tar.xz">kblocks-20.12.2</a></td>
   <td align="right">1863kB</td>
   <td><tt>a904fc2d3965b111a7167d9f6f374a732bad940e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kbounce-20.12.2.tar.xz">kbounce-20.12.2</a></td>
   <td align="right">3362kB</td>
   <td><tt>24bdb52f3e6d62d9f85198c52b7303da3e56b559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kbreakout-20.12.2.tar.xz">kbreakout-20.12.2</a></td>
   <td align="right">2230kB</td>
   <td><tt>1d6d61bc9bbd356ada63361e8325e916310acdb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kbruch-20.12.2.tar.xz">kbruch-20.12.2</a></td>
   <td align="right">5483kB</td>
   <td><tt>c13b4e78350aa3f3dd8e0578a5f5c316fe010c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kcachegrind-20.12.2.tar.xz">kcachegrind-20.12.2</a></td>
   <td align="right">798kB</td>
   <td><tt>d57c2de7768c5bb15c55fc1cb44757e6c95a344c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kcalc-20.12.2.tar.xz">kcalc-20.12.2</a></td>
   <td align="right">371kB</td>
   <td><tt>c2b7b725bfd85ec3e2708fa62be8f8b6de1dcafb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kcalutils-20.12.2.tar.xz">kcalutils-20.12.2</a></td>
   <td align="right">317kB</td>
   <td><tt>515e4a60bd010e5ef5cf563af9037bda66d40435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kcharselect-20.12.2.tar.xz">kcharselect-20.12.2</a></td>
   <td align="right">358kB</td>
   <td><tt>0375544e89b22c47d44d24372394976ef8b997e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kcolorchooser-20.12.2.tar.xz">kcolorchooser-20.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>db47d08fc7e8f2e1a5c5b6b670f6a3703170b284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kcron-20.12.2.tar.xz">kcron-20.12.2</a></td>
   <td align="right">877kB</td>
   <td><tt>615363b41da7f67ab28575403fc58421cbcd4343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdebugsettings-20.12.2.tar.xz">kdebugsettings-20.12.2</a></td>
   <td align="right">66kB</td>
   <td><tt>3f6be61280849bee89a00413026c4ad5df0477f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdeconnect-kde-20.12.2.tar.xz">kdeconnect-kde-20.12.2</a></td>
   <td align="right">537kB</td>
   <td><tt>2dd8ff1f367b4027e4b3cf28e579f9819f249466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kde-dev-scripts-20.12.2.tar.xz">kde-dev-scripts-20.12.2</a></td>
   <td align="right">357kB</td>
   <td><tt>a61ee3adb8f65a761c794f53584697a80a10a01e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kde-dev-utils-20.12.2.tar.xz">kde-dev-utils-20.12.2</a></td>
   <td align="right">64kB</td>
   <td><tt>8814c98915d682a35217f2ec2ee3bbd579ee66b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdeedu-data-20.12.2.tar.xz">kdeedu-data-20.12.2</a></td>
   <td align="right">327kB</td>
   <td><tt>b05604e3a82cb225463dd37ea176e2171f16ad33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdegraphics-mobipocket-20.12.2.tar.xz">kdegraphics-mobipocket-20.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>36e6048ebd4525bf6f52c8e857ba3f0fe8e8dc59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdegraphics-thumbnailers-20.12.2.tar.xz">kdegraphics-thumbnailers-20.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>9acab44537559247f3428af899b124d4b8745a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdenetwork-filesharing-20.12.2.tar.xz">kdenetwork-filesharing-20.12.2</a></td>
   <td align="right">338kB</td>
   <td><tt>7f3ba4db722967282c67b7bcc42a3c113007a839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdenlive-20.12.2.tar.xz">kdenlive-20.12.2</a></td>
   <td align="right">11227kB</td>
   <td><tt>4b4d510cd9bbad14ab7b7d05322ba0ffc185c6a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdepim-addons-20.12.2.tar.xz">kdepim-addons-20.12.2</a></td>
   <td align="right">2095kB</td>
   <td><tt>c52d88271e3f35b8f9ea465b360828ff223afa3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdepim-runtime-20.12.2.tar.xz">kdepim-runtime-20.12.2</a></td>
   <td align="right">1759kB</td>
   <td><tt>3b025074ee032b969e78b70631cb72f16a380a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdesdk-kioslaves-20.12.2.tar.xz">kdesdk-kioslaves-20.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>4de0443b6b5c77af86f3967261b5bb50c06797f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdesdk-thumbnailers-20.12.2.tar.xz">kdesdk-thumbnailers-20.12.2</a></td>
   <td align="right">17kB</td>
   <td><tt>db9187350f2561d9b1d85aec8a973aa6a4af5d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdf-20.12.2.tar.xz">kdf-20.12.2</a></td>
   <td align="right">456kB</td>
   <td><tt>85b9622d1461d84d7287a74c86b74f5ca4efdbe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdialog-20.12.2.tar.xz">kdialog-20.12.2</a></td>
   <td align="right">105kB</td>
   <td><tt>064e5549cdeb19b3390d8b8582dad7e871a7a30f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kdiamond-20.12.2.tar.xz">kdiamond-20.12.2</a></td>
   <td align="right">4587kB</td>
   <td><tt>16a1b07160387dc43c9e400876d5b1a570130429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/keditbookmarks-20.12.2.tar.xz">keditbookmarks-20.12.2</a></td>
   <td align="right">186kB</td>
   <td><tt>e14629195511cc34206d33f0b850c6e60911a3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kfind-20.12.2.tar.xz">kfind-20.12.2</a></td>
   <td align="right">272kB</td>
   <td><tt>8f68c0dcf31bea886ade929568ce20d6ea81e14f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kfloppy-20.12.2.tar.xz">kfloppy-20.12.2</a></td>
   <td align="right">199kB</td>
   <td><tt>997313d19fba4930e0f9cea36ad97016eacbcc2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kfourinline-20.12.2.tar.xz">kfourinline-20.12.2</a></td>
   <td align="right">628kB</td>
   <td><tt>c73fbbffc5a3f2c367310738aa68e7b77155ed8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kgeography-20.12.2.tar.xz">kgeography-20.12.2</a></td>
   <td align="right">10511kB</td>
   <td><tt>806b217759b87dcf809e1a863403a28e3546cfd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kget-20.12.2.tar.xz">kget-20.12.2</a></td>
   <td align="right">5452kB</td>
   <td><tt>9c6c0a297d5655e41cde2965f4868281fbf95fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kgoldrunner-20.12.2.tar.xz">kgoldrunner-20.12.2</a></td>
   <td align="right">4340kB</td>
   <td><tt>e6ef95d98a440c81dab8a42ef49a35f81455ef69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kgpg-20.12.2.tar.xz">kgpg-20.12.2</a></td>
   <td align="right">2816kB</td>
   <td><tt>9a8b2f020cbd530645f38a980c08ebc1cff804a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/khangman-20.12.2.tar.xz">khangman-20.12.2</a></td>
   <td align="right">7232kB</td>
   <td><tt>94337ff7886da707fd07c2fe02efbd6f5d5ae371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/khelpcenter-20.12.2.tar.xz">khelpcenter-20.12.2</a></td>
   <td align="right">4150kB</td>
   <td><tt>5200be77b35c1bec5c5a56d7a43aa7a847963eee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kidentitymanagement-20.12.2.tar.xz">kidentitymanagement-20.12.2</a></td>
   <td align="right">148kB</td>
   <td><tt>4039559315cd806cfe7be710f178d668ec73ed51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kig-20.12.2.tar.xz">kig-20.12.2</a></td>
   <td align="right">3049kB</td>
   <td><tt>7a7a4ab27b5f2b1a0e40b01eaad13d6266375d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kigo-20.12.2.tar.xz">kigo-20.12.2</a></td>
   <td align="right">5111kB</td>
   <td><tt>bf8432bd56d73bc91d696aebda12f7143da44e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/killbots-20.12.2.tar.xz">killbots-20.12.2</a></td>
   <td align="right">1158kB</td>
   <td><tt>c84d4a93b6626b77a4c27b4d70a115c06ddddc36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kimagemapeditor-20.12.2.tar.xz">kimagemapeditor-20.12.2</a></td>
   <td align="right">1052kB</td>
   <td><tt>b5e31d9fe5807e3b94c46da8d7519166eebd8c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kimap-20.12.2.tar.xz">kimap-20.12.2</a></td>
   <td align="right">121kB</td>
   <td><tt>d97c6ccb8da9a644d1e04f033cb56b508c733070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kio-extras-20.12.2.tar.xz">kio-extras-20.12.2</a></td>
   <td align="right">619kB</td>
   <td><tt>3048c0dea67750a8b68412dad52d03376710b644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kio-gdrive-20.12.2.tar.xz">kio-gdrive-20.12.2</a></td>
   <td align="right">63kB</td>
   <td><tt>20e98061a5a18c73a5c985aaf5c1379609355c54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kipi-plugins-20.12.2.tar.xz">kipi-plugins-20.12.2</a></td>
   <td align="right">1606kB</td>
   <td><tt>c21e2f23769df453faf2fac5364a8c3581f3837f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kirigami-gallery-20.12.2.tar.xz">kirigami-gallery-20.12.2</a></td>
   <td align="right">320kB</td>
   <td><tt>8d261b99638da98450ebdf8fdfe8c05af9e7808f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kiriki-20.12.2.tar.xz">kiriki-20.12.2</a></td>
   <td align="right">369kB</td>
   <td><tt>363607e59c176f038f27c570688e045fb02926b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kiten-20.12.2.tar.xz">kiten-20.12.2</a></td>
   <td align="right">11032kB</td>
   <td><tt>b68eb0a95dcc9dce6fe9b954010808c5043ac47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kitinerary-20.12.2.tar.xz">kitinerary-20.12.2</a></td>
   <td align="right">1772kB</td>
   <td><tt>dbbca07e19aa2164adb72de126c9135cc805db26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kjumpingcube-20.12.2.tar.xz">kjumpingcube-20.12.2</a></td>
   <td align="right">283kB</td>
   <td><tt>76e40517c5165dd6a6656281d97dcdbfb6511a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kldap-20.12.2.tar.xz">kldap-20.12.2</a></td>
   <td align="right">160kB</td>
   <td><tt>0d0d69ed1683c1d5658ebb33ea01e5811631dcc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kleopatra-20.12.2.tar.xz">kleopatra-20.12.2</a></td>
   <td align="right">1953kB</td>
   <td><tt>3ba00c75ea4030702697dfc118a6a1bd7dcd5801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/klettres-20.12.2.tar.xz">klettres-20.12.2</a></td>
   <td align="right">45953kB</td>
   <td><tt>9b2152d7cd5e333cfc45f9dcaef8a7bfa61bc347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/klickety-20.12.2.tar.xz">klickety-20.12.2</a></td>
   <td align="right">1362kB</td>
   <td><tt>0763d51023cf335bca7d84ea0c36008c64ee115d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/klines-20.12.2.tar.xz">klines-20.12.2</a></td>
   <td align="right">1748kB</td>
   <td><tt>2ae216ecb1dcdd9c6d0d228838f771a7d34739a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmag-20.12.2.tar.xz">kmag-20.12.2</a></td>
   <td align="right">681kB</td>
   <td><tt>860f6e36c1d5b88ac2fb6845cc7c3f1699e97667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmahjongg-20.12.2.tar.xz">kmahjongg-20.12.2</a></td>
   <td align="right">3354kB</td>
   <td><tt>8f220786b62a20222324d886f5a4992d1e5a5465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmail-20.12.2.tar.xz">kmail-20.12.2</a></td>
   <td align="right">4561kB</td>
   <td><tt>45a493c02d4b1c2cb10c78a1ffcd162053a92c88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmail-account-wizard-20.12.2.tar.xz">kmail-account-wizard-20.12.2</a></td>
   <td align="right">156kB</td>
   <td><tt>0753033a601bb13b5fab75f29c7752194c0e4fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmailtransport-20.12.2.tar.xz">kmailtransport-20.12.2</a></td>
   <td align="right">164kB</td>
   <td><tt>0a08b0329f49f4cfb652f03802a88d503f6b3ffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmbox-20.12.2.tar.xz">kmbox-20.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>ac68500500e014d00aa2afec48c2dc13829e4629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmime-20.12.2.tar.xz">kmime-20.12.2</a></td>
   <td align="right">147kB</td>
   <td><tt>ec8791c62b61b6eef363e510b8819b915d610c43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmines-20.12.2.tar.xz">kmines-20.12.2</a></td>
   <td align="right">936kB</td>
   <td><tt>af86fa5698986bf97b66817ae65e3adc9c4e3860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmix-20.12.2.tar.xz">kmix-20.12.2</a></td>
   <td align="right">1123kB</td>
   <td><tt>7fb2662b3bdb458d328546bdd837f7abc83abb95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmousetool-20.12.2.tar.xz">kmousetool-20.12.2</a></td>
   <td align="right">113kB</td>
   <td><tt>f6e44cf15c76049b63683312037661c9595cef92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmouth-20.12.2.tar.xz">kmouth-20.12.2</a></td>
   <td align="right">2034kB</td>
   <td><tt>a328db1990abb8865cf54667dbaf02593e6b01bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kmplot-20.12.2.tar.xz">kmplot-20.12.2</a></td>
   <td align="right">2984kB</td>
   <td><tt>b1ea0fcfc55a070915222ff8987a30958c7f8915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/knavalbattle-20.12.2.tar.xz">knavalbattle-20.12.2</a></td>
   <td align="right">1260kB</td>
   <td><tt>7773fcb54890ba07fe339e2ae38bb2caa6a2af53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/knetwalk-20.12.2.tar.xz">knetwalk-20.12.2</a></td>
   <td align="right">1237kB</td>
   <td><tt>a056479414e0eee510a89329ad11b28efef5a3db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/knights-20.12.2.tar.xz">knights-20.12.2</a></td>
   <td align="right">3452kB</td>
   <td><tt>a55476a3a490bba1dcb1563c4b20f1d1a521da9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/knotes-20.12.2.tar.xz">knotes-20.12.2</a></td>
   <td align="right">321kB</td>
   <td><tt>c94479c548acc6b6dbf67293ebc3fc6f02d566af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kolf-20.12.2.tar.xz">kolf-20.12.2</a></td>
   <td align="right">1005kB</td>
   <td><tt>e67cbf47ffdf30d25a161538d6e7bf4029cfd8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kollision-20.12.2.tar.xz">kollision-20.12.2</a></td>
   <td align="right">283kB</td>
   <td><tt>5f8b03a4d44cfc8aee667833c5555699a21504f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kolourpaint-20.12.2.tar.xz">kolourpaint-20.12.2</a></td>
   <td align="right">5553kB</td>
   <td><tt>1d545cf3f346ee44a981fe38910313c595c34b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kompare-20.12.2.tar.xz">kompare-20.12.2</a></td>
   <td align="right">900kB</td>
   <td><tt>504c4c3bf518458a80e0efe44f26f39d98d29a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/konqueror-20.12.2.tar.xz">konqueror-20.12.2</a></td>
   <td align="right">7072kB</td>
   <td><tt>d202d13763456d8ed12c3ebba89aec6e41f463ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/konquest-20.12.2.tar.xz">konquest-20.12.2</a></td>
   <td align="right">650kB</td>
   <td><tt>590c933ab0dc3e6fb8abfd81f5e918dc51d323f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/konsole-20.12.2.tar.xz">konsole-20.12.2</a></td>
   <td align="right">1210kB</td>
   <td><tt>a650b368d6273b2fb637581fe251da6f1a71cc9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kontact-20.12.2.tar.xz">kontact-20.12.2</a></td>
   <td align="right">772kB</td>
   <td><tt>fda43fb0b668147f8afdb3c43ae1121e88142782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kontactinterface-20.12.2.tar.xz">kontactinterface-20.12.2</a></td>
   <td align="right">35kB</td>
   <td><tt>56ecb8f9d15f80946c25a938bc53d06b1a4b2516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kontrast-20.12.2.tar.xz">kontrast-20.12.2</a></td>
   <td align="right">119kB</td>
   <td><tt>083960d07a0f3aeb8f52e0d51809d2ee9df6ae04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/konversation-20.12.2.tar.xz">konversation-20.12.2</a></td>
   <td align="right">4123kB</td>
   <td><tt>39c17f07491f60597d5a6ca0873ce449fb4c54c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kopete-20.12.2.tar.xz">kopete-20.12.2</a></td>
   <td align="right">9160kB</td>
   <td><tt>ac79db6bb66221dc4198f88bf319209011e6b686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/korganizer-20.12.2.tar.xz">korganizer-20.12.2</a></td>
   <td align="right">2193kB</td>
   <td><tt>5b0ea63a6b6b963f94b5f7e2d3cb7af15b99717b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kosmindoormap-20.12.2.tar.xz">kosmindoormap-20.12.2</a></td>
   <td align="right">305kB</td>
   <td><tt>8412775a0c22f17f7c52235fb2ba1833157bc105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kpat-20.12.2.tar.xz">kpat-20.12.2</a></td>
   <td align="right">3500kB</td>
   <td><tt>51c44084b4596401c959063776af97b166d1500b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kpimtextedit-20.12.2.tar.xz">kpimtextedit-20.12.2</a></td>
   <td align="right">196kB</td>
   <td><tt>8c4c2150035c0b7c7066a35c995fbbd6c4f9d1e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kpkpass-20.12.2.tar.xz">kpkpass-20.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>3bc3d4bbe2e5290882ce9e5c49a38c3ae8a68f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kpmcore-20.12.2.tar.xz">kpmcore-20.12.2</a></td>
   <td align="right">570kB</td>
   <td><tt>2cbdb0ca8b643b4bcfa281e2807c143b6dbc593b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kpublictransport-20.12.2.tar.xz">kpublictransport-20.12.2</a></td>
   <td align="right">337kB</td>
   <td><tt>14d72dcb3829e81fd928a13e4fc92d1f958fe1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kqtquickcharts-20.12.2.tar.xz">kqtquickcharts-20.12.2</a></td>
   <td align="right">29kB</td>
   <td><tt>ef9793f90229b047b978657156a491776ba70751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/krdc-20.12.2.tar.xz">krdc-20.12.2</a></td>
   <td align="right">1527kB</td>
   <td><tt>1e09ad67a9caad561c1f2a05a19e7f6130f460f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kreversi-20.12.2.tar.xz">kreversi-20.12.2</a></td>
   <td align="right">931kB</td>
   <td><tt>7fcf6c079c6af60d9a02ba4ec2e34849dd84f03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/krfb-20.12.2.tar.xz">krfb-20.12.2</a></td>
   <td align="right">1250kB</td>
   <td><tt>b7393a10f69369b3b0625f66670c8abc128a807a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kross-interpreters-20.12.2.tar.xz">kross-interpreters-20.12.2</a></td>
   <td align="right">147kB</td>
   <td><tt>fc57b7caa5a5806ee94f1a0dbfb27d413340e442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kruler-20.12.2.tar.xz">kruler-20.12.2</a></td>
   <td align="right">266kB</td>
   <td><tt>6a49cfe0dce80048dae75330b613eff844708b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kshisen-20.12.2.tar.xz">kshisen-20.12.2</a></td>
   <td align="right">807kB</td>
   <td><tt>b7d0772cc9b1394580412b86be10610d04f99c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ksirk-20.12.2.tar.xz">ksirk-20.12.2</a></td>
   <td align="right">6829kB</td>
   <td><tt>311aed085cf44734aed9e15b556195af67f80e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ksmtp-20.12.2.tar.xz">ksmtp-20.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>2dec9b2e98637bfafb3ae64c1c608d5856c4675a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ksnakeduel-20.12.2.tar.xz">ksnakeduel-20.12.2</a></td>
   <td align="right">531kB</td>
   <td><tt>c2e7fe1b7e0a5112537a333c58b7e29ae495e7a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kspaceduel-20.12.2.tar.xz">kspaceduel-20.12.2</a></td>
   <td align="right">603kB</td>
   <td><tt>6a0e53afd58c5bbac177eaf717d941e822f7de72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ksquares-20.12.2.tar.xz">ksquares-20.12.2</a></td>
   <td align="right">260kB</td>
   <td><tt>e189b54713ef02e9afd9f7167dd0e8592c207414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ksudoku-20.12.2.tar.xz">ksudoku-20.12.2</a></td>
   <td align="right">1636kB</td>
   <td><tt>2d207a9db1922d46bd4c0f726e7f167c50408be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ksystemlog-20.12.2.tar.xz">ksystemlog-20.12.2</a></td>
   <td align="right">1890kB</td>
   <td><tt>edf9673b5bbae6003c9fc2e3dd05ef920d0e9d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kteatime-20.12.2.tar.xz">kteatime-20.12.2</a></td>
   <td align="right">287kB</td>
   <td><tt>7b2c97bd3e268b843e110f7d0d99027265a30404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktimer-20.12.2.tar.xz">ktimer-20.12.2</a></td>
   <td align="right">376kB</td>
   <td><tt>83fa408695e3fce978cdaa748749a25106292f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktnef-20.12.2.tar.xz">ktnef-20.12.2</a></td>
   <td align="right">292kB</td>
   <td><tt>aa9d06ca5ba13dd3f1a1d69149935baf8dcb821c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktorrent-20.12.2.tar.xz">ktorrent-20.12.2</a></td>
   <td align="right">2091kB</td>
   <td><tt>f5768bab58160fd5898bce4d7b2369bf76300833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktouch-20.12.2.tar.xz">ktouch-20.12.2</a></td>
   <td align="right">4826kB</td>
   <td><tt>eb0ffaa96e6b36552c77f4a724235598344d4180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-accounts-kcm-20.12.2.tar.xz">ktp-accounts-kcm-20.12.2</a></td>
   <td align="right">256kB</td>
   <td><tt>0b76ad6b2ecf827a66bb055cd30370d954f0cfe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-approver-20.12.2.tar.xz">ktp-approver-20.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>d528909b98bb359fa117e67859159b28e08090c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-auth-handler-20.12.2.tar.xz">ktp-auth-handler-20.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>75ebc600c851e9eee775810958c5f9601f0b093a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-call-ui-20.12.2.tar.xz">ktp-call-ui-20.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>69a693930e1b2fccd98cc0d4a4d416b0c58a4c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-common-internals-20.12.2.tar.xz">ktp-common-internals-20.12.2</a></td>
   <td align="right">439kB</td>
   <td><tt>f2f0fa69ebfb18d9839aa74fa2f201e73f3339bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-contact-list-20.12.2.tar.xz">ktp-contact-list-20.12.2</a></td>
   <td align="right">146kB</td>
   <td><tt>4c8728183ae667a46b10091f61a76965ad8aa78a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-contact-runner-20.12.2.tar.xz">ktp-contact-runner-20.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>17d2ea0caecfb877d956abcae855beb200106d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-desktop-applets-20.12.2.tar.xz">ktp-desktop-applets-20.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>b6d5152242f6be8fda722762b0b95135c8f25b53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-filetransfer-handler-20.12.2.tar.xz">ktp-filetransfer-handler-20.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>d5e7da0cffee9af3fc8027cd31414946b064655e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-kded-module-20.12.2.tar.xz">ktp-kded-module-20.12.2</a></td>
   <td align="right">95kB</td>
   <td><tt>4a1056bf5cced85b66973be4555f0ee29d70619e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-send-file-20.12.2.tar.xz">ktp-send-file-20.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>44a7e95ddf5eb45dee43fd3f82a8571475bdd2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktp-text-ui-20.12.2.tar.xz">ktp-text-ui-20.12.2</a></td>
   <td align="right">460kB</td>
   <td><tt>7f68f9d26a706856a480e3f0ba1045c7fba11da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/ktuberling-20.12.2.tar.xz">ktuberling-20.12.2</a></td>
   <td align="right">69048kB</td>
   <td><tt>24ca901f2fbce4006bdc2a72f968625266a2fbce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kturtle-20.12.2.tar.xz">kturtle-20.12.2</a></td>
   <td align="right">1794kB</td>
   <td><tt>ba4220a6063ccd07246f65fe901029914404320d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kubrick-20.12.2.tar.xz">kubrick-20.12.2</a></td>
   <td align="right">331kB</td>
   <td><tt>e7e32d979f39b356f9a9e600c7b70a66bba557b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kwalletmanager-20.12.2.tar.xz">kwalletmanager-20.12.2</a></td>
   <td align="right">755kB</td>
   <td><tt>a79eee6107af5d88480a7cb44f5f330f35db95db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kwave-20.12.2.tar.xz">kwave-20.12.2</a></td>
   <td align="right">6720kB</td>
   <td><tt>da5f2ad7d8e854ad4358f47b91d2146e02838600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/kwordquiz-20.12.2.tar.xz">kwordquiz-20.12.2</a></td>
   <td align="right">4089kB</td>
   <td><tt>7286d90115b9003fefd5e834d0b846b246da2e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libgravatar-20.12.2.tar.xz">libgravatar-20.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>2f84001e4a323abe655d15255bbacf30da1457d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkcddb-20.12.2.tar.xz">libkcddb-20.12.2</a></td>
   <td align="right">415kB</td>
   <td><tt>f9003b81b80041e2cc964ef5efc3545a4404c9ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkcompactdisc-20.12.2.tar.xz">libkcompactdisc-20.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>1afe2a81e0a74fcbf6d6784a9dd652b98986e4dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkdcraw-20.12.2.tar.xz">libkdcraw-20.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>37a7bf7e07277ff903ef8ed0e8f3c031931dfa51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkdegames-20.12.2.tar.xz">libkdegames-20.12.2</a></td>
   <td align="right">6239kB</td>
   <td><tt>3fd4e5c9ec72247b23536aeac9f8fd19ffb2c858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkdepim-20.12.2.tar.xz">libkdepim-20.12.2</a></td>
   <td align="right">232kB</td>
   <td><tt>6475d2d2fc4a09decba92ff5b2f45e5388b5c9fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkeduvocdocument-20.12.2.tar.xz">libkeduvocdocument-20.12.2</a></td>
   <td align="right">206kB</td>
   <td><tt>76ed3e4f6f8f80d99a51f9c420af9c3491374611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkexiv2-20.12.2.tar.xz">libkexiv2-20.12.2</a></td>
   <td align="right">63kB</td>
   <td><tt>a99df9d427c53846a64ea12b5910f874f16f50ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkgapi-20.12.2.tar.xz">libkgapi-20.12.2</a></td>
   <td align="right">240kB</td>
   <td><tt>cc52846d03c781473018ce81355e8e0f46f44a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkipi-20.12.2.tar.xz">libkipi-20.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>2d553d77ee54a49190890f8d618f43c4038be184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkleo-20.12.2.tar.xz">libkleo-20.12.2</a></td>
   <td align="right">350kB</td>
   <td><tt>fc5f81227ce115cf3d4c4e18364f4e28cf4cb116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkmahjongg-20.12.2.tar.xz">libkmahjongg-20.12.2</a></td>
   <td align="right">1651kB</td>
   <td><tt>5ff1483cf983d60d06d2191dd7157f3789de4801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libkomparediff2-20.12.2.tar.xz">libkomparediff2-20.12.2</a></td>
   <td align="right">155kB</td>
   <td><tt>f0c91cac9c104d617220a1cbbf64b7c204b17060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libksane-20.12.2.tar.xz">libksane-20.12.2</a></td>
   <td align="right">142kB</td>
   <td><tt>c29e4dd4ec9bbf9791f85d1e3c7586134cea2417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libksieve-20.12.2.tar.xz">libksieve-20.12.2</a></td>
   <td align="right">545kB</td>
   <td><tt>bef85cdf974f99f48cb7f0674f9494bf60ea9018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/libktorrent-20.12.2.tar.xz">libktorrent-20.12.2</a></td>
   <td align="right">590kB</td>
   <td><tt>9c71fa37d5d5998b4f1079948262dfa668a1c8c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/lokalize-20.12.2.tar.xz">lokalize-20.12.2</a></td>
   <td align="right">1947kB</td>
   <td><tt>3bdf31628862e338fbbdb4fc021d42df220e0f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/lskat-20.12.2.tar.xz">lskat-20.12.2</a></td>
   <td align="right">1196kB</td>
   <td><tt>ac731cc5157bf65d72212a9ce9dbee7a0987983b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/mailcommon-20.12.2.tar.xz">mailcommon-20.12.2</a></td>
   <td align="right">706kB</td>
   <td><tt>3f7f4e7481eb02a8cd3f157118d0afb428bd7add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/mailimporter-20.12.2.tar.xz">mailimporter-20.12.2</a></td>
   <td align="right">535kB</td>
   <td><tt>4a73831bbbe49e49c894c4d1e50aafa702fb06e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/marble-20.12.2.tar.xz">marble-20.12.2</a></td>
   <td align="right">51014kB</td>
   <td><tt>d75875eaa274ac2b8f3e05ddcd38425c5429ffc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/markdownpart-20.12.2.tar.xz">markdownpart-20.12.2</a></td>
   <td align="right">26kB</td>
   <td><tt>a542fa82a20b59d5703331ce06bdb200d158f952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/mbox-importer-20.12.2.tar.xz">mbox-importer-20.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>bdad880dbdb59824e4743f7b5422a0e3569eef52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/messagelib-20.12.2.tar.xz">messagelib-20.12.2</a></td>
   <td align="right">10295kB</td>
   <td><tt>353414586748364dfe8f70c11797e7d05d72207f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/minuet-20.12.2.tar.xz">minuet-20.12.2</a></td>
   <td align="right">27075kB</td>
   <td><tt>87fc5f35631c34ec4207a261af9986f54414e55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/okular-20.12.2.tar.xz">okular-20.12.2</a></td>
   <td align="right">7700kB</td>
   <td><tt>7152c8d9e97f8f0cd20c42149251a86d266124cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/palapeli-20.12.2.tar.xz">palapeli-20.12.2</a></td>
   <td align="right">2030kB</td>
   <td><tt>d2544b00264303b5a5a08a2f1bd2840e39e98553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/parley-20.12.2.tar.xz">parley-20.12.2</a></td>
   <td align="right">8635kB</td>
   <td><tt>a68978f47aadd7cbdc557a1d6e22cc15135ae30b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/partitionmanager-20.12.2.tar.xz">partitionmanager-20.12.2</a></td>
   <td align="right">2036kB</td>
   <td><tt>e86fa0ea0162cb366842cdd102f1d6d603194ca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/picmi-20.12.2.tar.xz">picmi-20.12.2</a></td>
   <td align="right">1335kB</td>
   <td><tt>94b6525b1a10d0b26336a0a2d01271b7ede7a750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/pimcommon-20.12.2.tar.xz">pimcommon-20.12.2</a></td>
   <td align="right">355kB</td>
   <td><tt>1ca062a93976974f6f156a2ad0c0bb2007457769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/pim-data-exporter-20.12.2.tar.xz">pim-data-exporter-20.12.2</a></td>
   <td align="right">390kB</td>
   <td><tt>b4a8d9d72a0b76be36f36864a3d2b7419c01371c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/pim-sieve-editor-20.12.2.tar.xz">pim-sieve-editor-20.12.2</a></td>
   <td align="right">444kB</td>
   <td><tt>5f0d07ce3bb0d86c8f571eb7fd61c8ae393fbe9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/poxml-20.12.2.tar.xz">poxml-20.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>c859697a1b807c6f28779c04c0df1d47c58f33cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/print-manager-20.12.2.tar.xz">print-manager-20.12.2</a></td>
   <td align="right">252kB</td>
   <td><tt>9ebb0eeab599d4d6f948cfd2912c1b68a2629e62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/rocs-20.12.2.tar.xz">rocs-20.12.2</a></td>
   <td align="right">1457kB</td>
   <td><tt>6288194d13df687c76b16b6373b348dadff32f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/signon-kwallet-extension-20.12.2.tar.xz">signon-kwallet-extension-20.12.2</a></td>
   <td align="right">10kB</td>
   <td><tt>f28402b42645bfd4d6a522347ff5d889a5e78073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/spectacle-20.12.2.tar.xz">spectacle-20.12.2</a></td>
   <td align="right">1136kB</td>
   <td><tt>e69df5b498ac07eab870a53a3e9a61b33a869f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/step-20.12.2.tar.xz">step-20.12.2</a></td>
   <td align="right">933kB</td>
   <td><tt>b3be50e5e861acd7010309beccd2a20ca74bd13e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/svgpart-20.12.2.tar.xz">svgpart-20.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>d65aa489f5fa6ac04b475a029449c4e041765123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/sweeper-20.12.2.tar.xz">sweeper-20.12.2</a></td>
   <td align="right">363kB</td>
   <td><tt>3755f8b0e3104bbf975b224cd0a97a150ee804ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/umbrello-20.12.2.tar.xz">umbrello-20.12.2</a></td>
   <td align="right">5425kB</td>
   <td><tt>a12cddad0a2f4461ced81a13cc11fe9a873ddedc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/yakuake-20.12.2.tar.xz">yakuake-20.12.2</a></td>
   <td align="right">373kB</td>
   <td><tt>c28d557f88b2b74f1e706fde4d386452dad9e5c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.2/src/zeroconf-ioslave-20.12.2.tar.xz">zeroconf-ioslave-20.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>8d7cfbe1611640db572a66be249079f4b1231c31</tt></td>
</tr>

</table>
