<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/baloo-5.1.1.tar.xz">baloo-5.1.1</a></td>
   <td align="right">227kB</td>
   <td><tt>76ef497547edf2f268d5364a05fe44a72e5846a3945a8495aeb33e175984eb16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/breeze-5.1.1.tar.xz">breeze-5.1.1</a></td>
   <td align="right">16MB</td>
   <td><tt>ebbf8f9f229a6188e03ad4436c330bbaa4b668e57d0d933941229aa40820d7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kde-cli-tools-5.1.1.tar.xz">kde-cli-tools-5.1.1</a></td>
   <td align="right">465kB</td>
   <td><tt>eeb0040bda18fa6d5dbc1e2e44d7616b22f380749e4006870d425ca4833a6d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kdeplasma-addons-5.1.1.tar.xz">kdeplasma-addons-5.1.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2ef81e86cd2f1362ec81de8ff793911383b8fc35ac3bf14b2bd5a0f1ba68d2ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kfilemetadata-5.1.1.tar.xz">kfilemetadata-5.1.1</a></td>
   <td align="right">84kB</td>
   <td><tt>d0b428d19faa25b43d28dae2aba04f096d91ff536b40e241d584f6cfb184873b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/khelpcenter-5.1.1.tar.xz">khelpcenter-5.1.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>39886f1dd91fef841a2801ff4d6e8effcc3b7e10f171c722f39d14e8d5757873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/khotkeys-5.1.1.tar.xz">khotkeys-5.1.1</a></td>
   <td align="right">725kB</td>
   <td><tt>079a9786f5fdc6d1b377842449e7e3228955b04e8c5a7a472ea45728137a8a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kinfocenter-5.1.1.tar.xz">kinfocenter-5.1.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1dab8b88106846498c299261c5598b03a675525facbbf347867fe3804006035a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kio-extras-5.1.1.tar.xz">kio-extras-5.1.1</a></td>
   <td align="right">474kB</td>
   <td><tt>a97b519bdb83a721c83732dee5fa72dc2116eb3e5a3eb1904d8f66fb6d0a1b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kmenuedit-5.1.1.tar.xz">kmenuedit-5.1.1</a></td>
   <td align="right">333kB</td>
   <td><tt>346b75f1b4f8e8ec5dee7fdd8a1fb2926df59f798441e42a2ff0576a619738c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/ksysguard-5.1.1.tar.xz">ksysguard-5.1.1</a></td>
   <td align="right">429kB</td>
   <td><tt>8cfc488de043be60f1290fafca12c85276968ff421a9380a152ae75c55cf7b68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kwayland-5.1.1.tar.xz">kwayland-5.1.1</a></td>
   <td align="right">58kB</td>
   <td><tt>05dafb3715f65893a543247293e5b194cc9e3bcf1aa0de719ce7580dad7b6783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kwin-5.1.1.tar.xz">kwin-5.1.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>9faf2cf9a8885e69884e8e96bec1569ed9e1a6c4c1c23da3eff22e0f0c2035b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/kwrited-5.1.1.tar.xz">kwrited-5.1.1</a></td>
   <td align="right">18kB</td>
   <td><tt>da198cdf882e7be6173a0147d2e6a8b09b11b2b76d8c3569cfd6eef0efecdf74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/libkscreen-5.1.1.tar.xz">libkscreen-5.1.1</a></td>
   <td align="right">59kB</td>
   <td><tt>d5ef37dcaf23819f6cecf3f967cb3fe8b913e418da325d2399aa008a3820f040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/libksysguard-5.1.1.tar.xz">libksysguard-5.1.1</a></td>
   <td align="right">534kB</td>
   <td><tt>824e6662b07d9be9ac982090fa86dab49e7067f015eab3ae748a4cdb1730a266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/libmm-qt-5.1.1.tar.xz">libmm-qt-5.1.1</a></td>
   <td align="right">74kB</td>
   <td><tt>ea6d44530f4c40bed2480a75fe9608ecc93ac29a169ca311395a05a6bbdf10ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/libnm-qt-5.1.1.tar.xz">libnm-qt-5.1.1</a></td>
   <td align="right">138kB</td>
   <td><tt>97c4aacea6d59ecff59cc6de1b1d7493cd9bb0d63285507b95a850cb8fb6848b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/milou-5.1.1.tar.xz">milou-5.1.1</a></td>
   <td align="right">48kB</td>
   <td><tt>0222508cb694b696b397210059f9d44bb0d3eb3264ffe3dd5723ffddfece3c2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/oxygen-5.1.1.tar.xz">oxygen-5.1.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>f4d244a97ab5042cfd9439150e79ae7302f0e2da3b476b062bd7b960102328ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/oxygen-fonts-5.1.1.tar.xz">oxygen-fonts-5.1.1</a></td>
   <td align="right">157kB</td>
   <td><tt>5c029e858e44432d29736b811ba5296029fb4af28f54cc9fd025eef767c6487f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/plasma-desktop-5.1.1.tar.xz">plasma-desktop-5.1.1</a></td>
   <td align="right">5.7MB</td>
   <td><tt>bb02d15b0e0a23558ed197923faa4518bd6613f12f3d413e8b52d4c016e7b184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/plasma-nm-5.1.1.tar.xz">plasma-nm-5.1.1</a></td>
   <td align="right">479kB</td>
   <td><tt>913652b66ce1d9627a961116f41f6486d1e453b84ff88a10ccba22dcf7b13535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/plasma-workspace-5.1.1.tar.xz">plasma-workspace-5.1.1</a></td>
   <td align="right">6.2MB</td>
   <td><tt>fe1b4d7bc13073985a9aa8a0e346c49d039e6c4ed1e38f6784dbada624d9f79f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/plasma-workspace-wallpapers-5.1.1.tar.xz">plasma-workspace-wallpapers-5.1.1</a></td>
   <td align="right">27MB</td>
   <td><tt>62f897e0e78ef7d9b1250a4cd47d178cf1d6aef2af882b85c0ad3ae7134c9398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/powerdevil-5.1.1.tar.xz">powerdevil-5.1.1</a></td>
   <td align="right">409kB</td>
   <td><tt>99b12c65fc32e15be5b33d16f2d044dd359c22d7ec174f3c2be2f7ffcf5883fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.1/systemsettings-5.1.1.tar.xz">systemsettings-5.1.1</a></td>
   <td align="right">132kB</td>
   <td><tt>7b9a5581d370277429e8ed891228a98c2ce016bf197da0dedb67f961b64c947b</tt></td>
</tr>

</table>
