<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdeaccessibility-4.2.2.tar.bz2">kdeaccessibility-4.2.2</a></td><td align="right">6,3MB</td><td><tt>e814f633653f19d65366df1bc4e7fed3dc24e33b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdeadmin-4.2.2.tar.bz2">kdeadmin-4.2.2</a></td><td align="right">1,9MB</td><td><tt>3bf8f689d6fcafcfdfb2bea4c6003e56c80c4601</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdeartwork-4.2.2.tar.bz2">kdeartwork-4.2.2</a></td><td align="right">22MB</td><td><tt>306eede44f62fdef0892ad40988ada51f06bfa73</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdebase-4.2.2.tar.bz2">kdebase-4.2.2</a></td><td align="right">4,1MB</td><td><tt>10309413767b856d303102155911518519e5b57e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdebase-runtime-4.2.2.tar.bz2">kdebase-runtime-4.2.2</a></td><td align="right">67MB</td><td><tt>0b100ceb77fa2e8cbe5303f7fea28b02117c7658</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdebase-workspace-4.2.2.tar.bz2">kdebase-workspace-4.2.2</a></td><td align="right">49MB</td><td><tt>9397220827f378cedf38e800e06e9ca8b1a1235d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdebindings-4.2.2.tar.bz2">kdebindings-4.2.2</a></td><td align="right">4,6MB</td><td><tt>1d5eb1bb92f68172d0a0345070b1120c2601ab8c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdeedu-4.2.2.tar.bz2">kdeedu-4.2.2</a></td><td align="right">57MB</td><td><tt>c6aaf3639188e66d14da0d404a9b5d5fb95e7df5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdegames-4.2.2.tar.bz2">kdegames-4.2.2</a></td><td align="right">37MB</td><td><tt>ffd4dde8c10f14de9da4e44d22b2ac19c8bfce9b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdegraphics-4.2.2.tar.bz2">kdegraphics-4.2.2</a></td><td align="right">3,5MB</td><td><tt>cb7bda631b6e5b1866b07c622c7dc54771a87760</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdelibs-4.2.2.tar.bz2">kdelibs-4.2.2</a></td><td align="right">9,6MB</td><td><tt>7769bac38b27d8726c27eb3bb0b79f370f77457f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdemultimedia-4.2.2.tar.bz2">kdemultimedia-4.2.2</a></td><td align="right">1,5MB</td><td><tt>bacbf584cd38be5234bb5a4419a275c6f4164721</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdenetwork-4.2.2.tar.bz2">kdenetwork-4.2.2</a></td><td align="right">6,9MB</td><td><tt>335a09012602400318d6e703fdcc390f5a2f7761</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdepim-4.2.2.tar.bz2">kdepim-4.2.2</a></td><td align="right">12MB</td><td><tt>abd6d9e7777cf192aa7919dce56644e942d8e2e9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdepimlibs-4.2.2.tar.bz2">kdepimlibs-4.2.2</a></td><td align="right">1,6MB</td><td><tt>895ae97d393ec47386de71bbe76fb5a685d3850f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdeplasma-addons-4.2.2.tar.bz2">kdeplasma-addons-4.2.2</a></td><td align="right">4,1MB</td><td><tt>6b4afe369597b8cdeff05e1b0feda0d48aea59d6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdesdk-4.2.2.tar.bz2">kdesdk-4.2.2</a></td><td align="right">5,3MB</td><td><tt>ea610bc2cf3f5beb37f03ac6ff7822fca5234003</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdetoys-4.2.2.tar.bz2">kdetoys-4.2.2</a></td><td align="right">1,3MB</td><td><tt>5057ae39c77be8792fb1c23fd8cf1e3ac06942cf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdeutils-4.2.2.tar.bz2">kdeutils-4.2.2</a></td><td align="right">2,3MB</td><td><tt>98e388776b1c270fc6a629c94455024e08bb85b4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.2/src/kdewebdev-4.2.2.tar.bz2">kdewebdev-4.2.2</a></td><td align="right">2,5MB</td><td><tt>fe43dad60a72bcaaafa0d0384fa5635c6a9c4795</tt></td></tr>
</table>
