
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/attica-5.74.0.tar.xz">attica-5.74.0</a></td>
   <td align="right">64kB</td>
   <td><tt>6670612241c7c0bad5bd982f5ab310d66e5dfeea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/baloo-5.74.0.tar.xz">baloo-5.74.0</a></td>
   <td align="right">279kB</td>
   <td><tt>25497c52eefaa5945fecaf2b284c066e7070e641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/bluez-qt-5.74.0.tar.xz">bluez-qt-5.74.0</a></td>
   <td align="right">99kB</td>
   <td><tt>dc4b67b72488e1b584163dbe429cb4ff0815017d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/breeze-icons-5.74.0.tar.xz">breeze-icons-5.74.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2cd38dc8e8e8fc3b36bc1529e1349d1170ddc939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/extra-cmake-modules-5.74.0.tar.xz">extra-cmake-modules-5.74.0</a></td>
   <td align="right">336kB</td>
   <td><tt>afdbe987efb8e8d669077e445ed8c7e2c1d5d227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/frameworkintegration-5.74.0.tar.xz">frameworkintegration-5.74.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c7478fff53941c82653d8b43f43cd8ed81cc9195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kactivities-5.74.0.tar.xz">kactivities-5.74.0</a></td>
   <td align="right">70kB</td>
   <td><tt>112c1eb40fc2d06f2ebd6f645cd47628becac7da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kactivities-stats-5.74.0.tar.xz">kactivities-stats-5.74.0</a></td>
   <td align="right">80kB</td>
   <td><tt>05c98cf2631e2219edb951d2ae04ff18c517e47c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kapidox-5.74.0.tar.xz">kapidox-5.74.0</a></td>
   <td align="right">155kB</td>
   <td><tt>2be35920d16085b352ca1630eae206ad7b7e95f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/karchive-5.74.0.tar.xz">karchive-5.74.0</a></td>
   <td align="right">960kB</td>
   <td><tt>0a28cbe354b9d81667e04b8e4ca177bc27065ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kauth-5.74.0.tar.xz">kauth-5.74.0</a></td>
   <td align="right">85kB</td>
   <td><tt>3404a1c8f95c2ef3520b58db9ee6b21ca07f7386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kbookmarks-5.74.0.tar.xz">kbookmarks-5.74.0</a></td>
   <td align="right">123kB</td>
   <td><tt>8cac876cee03711422ecebfdfad44c613dfd71e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kcalendarcore-5.74.0.tar.xz">kcalendarcore-5.74.0</a></td>
   <td align="right">249kB</td>
   <td><tt>4f73353cac49c46c692db972f0f02c2be686ae18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kcmutils-5.74.0.tar.xz">kcmutils-5.74.0</a></td>
   <td align="right">250kB</td>
   <td><tt>0e23c23fdaea483b7b814f72b25ab8083a722a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kcodecs-5.74.0.tar.xz">kcodecs-5.74.0</a></td>
   <td align="right">222kB</td>
   <td><tt>bce97d7390fdc88c10d21e2c28ab1afb8805fac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kcompletion-5.74.0.tar.xz">kcompletion-5.74.0</a></td>
   <td align="right">118kB</td>
   <td><tt>516112565898f270eab73523c6ad08f3f0ff5fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kconfig-5.74.0.tar.xz">kconfig-5.74.0</a></td>
   <td align="right">255kB</td>
   <td><tt>5ae0d17a3977c0f39258211f709bb2cc04652a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kconfigwidgets-5.74.0.tar.xz">kconfigwidgets-5.74.0</a></td>
   <td align="right">377kB</td>
   <td><tt>aba9d94808aab333cfa369a91a1ecfb7f76c3151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kcontacts-5.74.0.tar.xz">kcontacts-5.74.0</a></td>
   <td align="right">530kB</td>
   <td><tt>5615f52c550e62696de696880bec6b842e132327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kcoreaddons-5.74.0.tar.xz">kcoreaddons-5.74.0</a></td>
   <td align="right">397kB</td>
   <td><tt>d0f67190a6296cdce29b6cd9a1ea88b4e71f4d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kcrash-5.74.0.tar.xz">kcrash-5.74.0</a></td>
   <td align="right">21kB</td>
   <td><tt>1c846b5e0475c473468bfeafdb9738cb5b679eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kdav-5.74.0.tar.xz">kdav-5.74.0</a></td>
   <td align="right">57kB</td>
   <td><tt>4147fe147c66c53c3273f367af3ef55785dcc2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kdbusaddons-5.74.0.tar.xz">kdbusaddons-5.74.0</a></td>
   <td align="right">41kB</td>
   <td><tt>cb8bddbfb9352f4b36549648a5fb41ac59c9d7d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kdeclarative-5.74.0.tar.xz">kdeclarative-5.74.0</a></td>
   <td align="right">185kB</td>
   <td><tt>514cdff19f3edeeeb4e11c201a493231693d2218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kded-5.74.0.tar.xz">kded-5.74.0</a></td>
   <td align="right">35kB</td>
   <td><tt>0d74824281e5b74b6e5217cc000d4090f9815ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kdesu-5.74.0.tar.xz">kdesu-5.74.0</a></td>
   <td align="right">50kB</td>
   <td><tt>2f85eef7fc8e90555da9679b8bb406afa02e566f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kdnssd-5.74.0.tar.xz">kdnssd-5.74.0</a></td>
   <td align="right">56kB</td>
   <td><tt>0fbe52db05f19fea83f3cbea55821c204f4a7e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kdoctools-5.74.0.tar.xz">kdoctools-5.74.0</a></td>
   <td align="right">420kB</td>
   <td><tt>43ba9389e35b46103ce22be08d6373417b1e0874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kemoticons-5.74.0.tar.xz">kemoticons-5.74.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>61441fdfb5a9676ac578ab9451d0ca5225c9b613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kfilemetadata-5.74.0.tar.xz">kfilemetadata-5.74.0</a></td>
   <td align="right">412kB</td>
   <td><tt>9f88913e18e617666fb72c20af1df950a89ba99f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kglobalaccel-5.74.0.tar.xz">kglobalaccel-5.74.0</a></td>
   <td align="right">85kB</td>
   <td><tt>5b974446549b2b2bb74f7355fbc176a973655985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kguiaddons-5.74.0.tar.xz">kguiaddons-5.74.0</a></td>
   <td align="right">50kB</td>
   <td><tt>a31878545b231c12d65d47205b16941cb898ec07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kholidays-5.74.0.tar.xz">kholidays-5.74.0</a></td>
   <td align="right">218kB</td>
   <td><tt>88a11b931dd640d68b5b61cec2e800e9733d629c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/ki18n-5.74.0.tar.xz">ki18n-5.74.0</a></td>
   <td align="right">575kB</td>
   <td><tt>c66378a1cfc749adb85ac6633308a26626abfa6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kiconthemes-5.74.0.tar.xz">kiconthemes-5.74.0</a></td>
   <td align="right">216kB</td>
   <td><tt>ab6b2b23563a4edfd502aae8a8e130e40641dd65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kidletime-5.74.0.tar.xz">kidletime-5.74.0</a></td>
   <td align="right">24kB</td>
   <td><tt>b5ea96fd9abab9cf3361a85739f06c0cf75c3555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kimageformats-5.74.0.tar.xz">kimageformats-5.74.0</a></td>
   <td align="right">397kB</td>
   <td><tt>f4db272c67165816ca1b8dbf86b3d52583828cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kinit-5.74.0.tar.xz">kinit-5.74.0</a></td>
   <td align="right">118kB</td>
   <td><tt>afe8c040518912eedb566986961e7f858f2da30c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kio-5.74.0.tar.xz">kio-5.74.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>806be23e9e79cbd5d7e347848a6018d9c816328c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kirigami2-5.74.0.tar.xz">kirigami2-5.74.0</a></td>
   <td align="right">276kB</td>
   <td><tt>1b3719349a4f09659dc1fab8e881da2d1785a557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kitemmodels-5.74.0.tar.xz">kitemmodels-5.74.0</a></td>
   <td align="right">389kB</td>
   <td><tt>0cb1732d9a61ffb83078ec37ef23921ea11edc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kitemviews-5.74.0.tar.xz">kitemviews-5.74.0</a></td>
   <td align="right">73kB</td>
   <td><tt>2f9c47799eb175ee6e61d4fa03b228c2a6aa7b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kjobwidgets-5.74.0.tar.xz">kjobwidgets-5.74.0</a></td>
   <td align="right">90kB</td>
   <td><tt>e95cd180685334ef8d69aea83a7a518f5dd1c0b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/knewstuff-5.74.0.tar.xz">knewstuff-5.74.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>34aad9c423ee35576965820f135662ec8b76fdac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/knotifications-5.74.0.tar.xz">knotifications-5.74.0</a></td>
   <td align="right">117kB</td>
   <td><tt>e0569f21353f0eb85b512148ee08646dc448d9df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/knotifyconfig-5.74.0.tar.xz">knotifyconfig-5.74.0</a></td>
   <td align="right">82kB</td>
   <td><tt>3b640d904f5db047cd9cb61e15d4c4ed68a23ba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kpackage-5.74.0.tar.xz">kpackage-5.74.0</a></td>
   <td align="right">137kB</td>
   <td><tt>980d0fa8f524ba94620ceed0372df1ac52f73774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kparts-5.74.0.tar.xz">kparts-5.74.0</a></td>
   <td align="right">185kB</td>
   <td><tt>b50723d582a397290b1eb6ab728e224cd3f866c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kpeople-5.74.0.tar.xz">kpeople-5.74.0</a></td>
   <td align="right">60kB</td>
   <td><tt>7eb581424bb8606a581e274e824c48e18c82e2a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kplotting-5.74.0.tar.xz">kplotting-5.74.0</a></td>
   <td align="right">30kB</td>
   <td><tt>c9baa7d9ec67d861c8ec5ba5ea53ab0f22a4fb34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kpty-5.74.0.tar.xz">kpty-5.74.0</a></td>
   <td align="right">55kB</td>
   <td><tt>8c2854730098c7dc307b86f700bd87de83913409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kquickcharts-5.74.0.tar.xz">kquickcharts-5.74.0</a></td>
   <td align="right">93kB</td>
   <td><tt>e64ebb45f5d71fc2b6883fe48dd245340bb4e3a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/krunner-5.74.0.tar.xz">krunner-5.74.0</a></td>
   <td align="right">66kB</td>
   <td><tt>dee667dcdc4ab109320728047bea6966b9bcc80e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kservice-5.74.0.tar.xz">kservice-5.74.0</a></td>
   <td align="right">252kB</td>
   <td><tt>fad230d9677d86dbaa1ebf6c28889a4fd5dc54c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/ktexteditor-5.74.0.tar.xz">ktexteditor-5.74.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5d79125da1823baa03905249d96250825c73d631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/ktextwidgets-5.74.0.tar.xz">ktextwidgets-5.74.0</a></td>
   <td align="right">317kB</td>
   <td><tt>540575d1eb09a360e228aa2b655c75193acdca0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kunitconversion-5.74.0.tar.xz">kunitconversion-5.74.0</a></td>
   <td align="right">834kB</td>
   <td><tt>e9998efaf4b147fb45da911ca04f5c6abdbb0d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kwallet-5.74.0.tar.xz">kwallet-5.74.0</a></td>
   <td align="right">292kB</td>
   <td><tt>131396a01226961112b957a0d73977df62c43c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kwayland-5.74.0.tar.xz">kwayland-5.74.0</a></td>
   <td align="right">336kB</td>
   <td><tt>9b19a98a656e125056d28c5d0d40486fb1415599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kwidgetsaddons-5.74.0.tar.xz">kwidgetsaddons-5.74.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>da517a46ce3d42e87a2fffb88e55b94b9c5eae37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kwindowsystem-5.74.0.tar.xz">kwindowsystem-5.74.0</a></td>
   <td align="right">173kB</td>
   <td><tt>3a7e2fd3ab923274141245c2f658db9ff010049c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/kxmlgui-5.74.0.tar.xz">kxmlgui-5.74.0</a></td>
   <td align="right">844kB</td>
   <td><tt>edeca5e90e3c619d5947f111fbd9b185e0bf8fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/modemmanager-qt-5.74.0.tar.xz">modemmanager-qt-5.74.0</a></td>
   <td align="right">109kB</td>
   <td><tt>0a6940e9675237dd800cc30156e3ad1c37e19ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/networkmanager-qt-5.74.0.tar.xz">networkmanager-qt-5.74.0</a></td>
   <td align="right">190kB</td>
   <td><tt>9ce9d95c473bdcbc1f4e5eafb4869e73c065be7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/oxygen-icons5-5.74.0.tar.xz">oxygen-icons5-5.74.0</a></td>
   <td align="right">225MB</td>
   <td><tt>275a23029b683f50ffebb2023c26415d606b144c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/plasma-framework-5.74.0.tar.xz">plasma-framework-5.74.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>126df2ccc901306c2e8823be131a51a871b98624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/prison-5.74.0.tar.xz">prison-5.74.0</a></td>
   <td align="right">40kB</td>
   <td><tt>82194fb6891a04e96ba698d93f0a8c4fd21b3c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/purpose-5.74.0.tar.xz">purpose-5.74.0</a></td>
   <td align="right">152kB</td>
   <td><tt>c0d5304987e0eb0bfbfe153e2825985869a59b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/qqc2-desktop-style-5.74.0.tar.xz">qqc2-desktop-style-5.74.0</a></td>
   <td align="right">57kB</td>
   <td><tt>099b4416d86aad966991b74f8ec2512cd5e0b817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/solid-5.74.0.tar.xz">solid-5.74.0</a></td>
   <td align="right">262kB</td>
   <td><tt>996d0983ea8dd12c10c5f4f7f480ad010da6b395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/sonnet-5.74.0.tar.xz">sonnet-5.74.0</a></td>
   <td align="right">286kB</td>
   <td><tt>d4483cdf52d681ed8f44badca6605763bac0f80c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/syndication-5.74.0.tar.xz">syndication-5.74.0</a></td>
   <td align="right">496kB</td>
   <td><tt>47e224ab30a2623f5a7d5aaa5a060ecc5e0a5849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/syntax-highlighting-5.74.0.tar.xz">syntax-highlighting-5.74.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c9a885731fbfefa4116dd7efd11fff320ac23609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.74/threadweaver-5.74.0.tar.xz">threadweaver-5.74.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e27f1901be29bb63ba9683b6d331a39d9e4233ba</tt></td>
</tr>

</table>
