<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/bluedevil-5.8.8.tar.xz">bluedevil-5.8.8</a></td>
   <td align="right">141kB</td>
   <td><tt>e07363d41890f64a886e2ca6d7b0891b4fe394c12447c5c2bcc3d892be55c090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/breeze-5.8.8.tar.xz">breeze-5.8.8</a></td>
   <td align="right">31MB</td>
   <td><tt>9fe6a21c3f605ff9b9882d38c2224b11959940e3683d035553e66ff48e8e321a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/breeze-grub-5.8.8.tar.xz">breeze-grub-5.8.8</a></td>
   <td align="right">2.9MB</td>
   <td><tt>96f789b4833ddbeb483e0c268624240babe6e4f63bd9c40d18c5ca98d3537c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/breeze-gtk-5.8.8.tar.xz">breeze-gtk-5.8.8</a></td>
   <td align="right">207kB</td>
   <td><tt>5924f31f3e009da6f048ea9d73e1278a08e82720065012ed92eb3a783508fca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/breeze-plymouth-5.8.8.tar.xz">breeze-plymouth-5.8.8</a></td>
   <td align="right">92kB</td>
   <td><tt>5fc2674f2be27a893efd174f09b9d4dc5c8163f61dd7cf5d0d843f36875362af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/discover-5.8.8.tar.xz">discover-5.8.8</a></td>
   <td align="right">8.7MB</td>
   <td><tt>418e275b0eedb87a481f32127cfb171618a82a6b800cb2dcb7458dac3647400f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kactivitymanagerd-5.8.8.tar.xz">kactivitymanagerd-5.8.8</a></td>
   <td align="right">81kB</td>
   <td><tt>de2acb5c213d1791d96ae30c7b380eb2961baf9618b3d4d9dfb27d8aa158b60d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kde-cli-tools-5.8.8.tar.xz">kde-cli-tools-5.8.8</a></td>
   <td align="right">480kB</td>
   <td><tt>fa90a1f887f1b5ac66fa05e04084aa57aed765f457f057af05e7cdedece7653f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kdecoration-5.8.8.tar.xz">kdecoration-5.8.8</a></td>
   <td align="right">34kB</td>
   <td><tt>3fd38868c5b1f701f95d2f2be985525d53c2fe7dcc18ec9c90b496fb76f8577a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kde-gtk-config-5.8.8.tar.xz">kde-gtk-config-5.8.8</a></td>
   <td align="right">148kB</td>
   <td><tt>22932fb472a5697fe9096915f27f1265b97f52f3513f7d72486a7872cb32fa1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kdeplasma-addons-5.8.8.tar.xz">kdeplasma-addons-5.8.8</a></td>
   <td align="right">1.9MB</td>
   <td><tt>293122163cfe1bcdb67cb1d2a9ffd3160b461e456e92a89f6d65060c6139f32f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kgamma5-5.8.8.tar.xz">kgamma5-5.8.8</a></td>
   <td align="right">59kB</td>
   <td><tt>e7b993f91a3db30d54d533eb2229fd9bd06cd017e5ce97b7ae44497a89846def</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/khotkeys-5.8.8.tar.xz">khotkeys-5.8.8</a></td>
   <td align="right">591kB</td>
   <td><tt>a8bf902d0308f6400da47e0c0e06b31a90e7750ed1bdb88e28b3f905db925409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kinfocenter-5.8.8.tar.xz">kinfocenter-5.8.8</a></td>
   <td align="right">1.2MB</td>
   <td><tt>aa6dec3746f8a345f4b5c70fd324a9c9ef21aae3b8a889c656e06fe24133a45a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kmenuedit-5.8.8.tar.xz">kmenuedit-5.8.8</a></td>
   <td align="right">638kB</td>
   <td><tt>9a7fbe16aa9c2252d1dc6cc4c258a0d8bc28eac43709b65bfa40a9885c45b33f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kscreen-5.8.8.tar.xz">kscreen-5.8.8</a></td>
   <td align="right">111kB</td>
   <td><tt>eabb3d3086cd98faf8270ab53c793da1b9091892df8a770883cb8499c2666b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kscreenlocker-5.8.8.tar.xz">kscreenlocker-5.8.8</a></td>
   <td align="right">106kB</td>
   <td><tt>70f25182eb1d995141a4aa8644a1cd161fb70292b80bccc5b4bde2aea5ce41d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/ksshaskpass-5.8.8.tar.xz">ksshaskpass-5.8.8</a></td>
   <td align="right">19kB</td>
   <td><tt>83bbb1751a0d53304b5b77df1c29cfbdb01907d48cdd1f708b4d7e0fcfc5b77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/ksysguard-5.8.8.tar.xz">ksysguard-5.8.8</a></td>
   <td align="right">481kB</td>
   <td><tt>3ceab2fe3db4c53915d8e07c65f44ea5bcfb79f8228dd247f99ba7774bc14e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kwallet-pam-5.8.8.tar.xz">kwallet-pam-5.8.8</a></td>
   <td align="right">17kB</td>
   <td><tt>0e68deb0b3bdd17c55ed92f5798334cea2511f97531cea2d664078af30613662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kwayland-integration-5.8.8.tar.xz">kwayland-integration-5.8.8</a></td>
   <td align="right">17kB</td>
   <td><tt>48590967b24eea98dfce5aeb8fca53c405ce5cf20a5756a4e3502cbf09d8dccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kwin-5.8.8.tar.xz">kwin-5.8.8</a></td>
   <td align="right">3.8MB</td>
   <td><tt>d0515a4b329b0864bbdfb113b6318c83eba04adda4ecab6c51fb21d6d2a338ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/kwrited-5.8.8.tar.xz">kwrited-5.8.8</a></td>
   <td align="right">19kB</td>
   <td><tt>8c1330d71e8a1742207ee51cbecbf4cae124aa9987fd3020cdf412ccd4db807a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/libkscreen-5.8.8.tar.xz">libkscreen-5.8.8</a></td>
   <td align="right">91kB</td>
   <td><tt>8f26f3ac9d72aed55f5ebd14a170533e41d3adb0bf2d10a0b34699c3a8d67ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/libksysguard-5.8.8.tar.xz">libksysguard-5.8.8</a></td>
   <td align="right">562kB</td>
   <td><tt>d252804f08de47c6c5c55e347db70c2d89d3b06ae8bc8b8f0c1cf106545067a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/milou-5.8.8.tar.xz">milou-5.8.8</a></td>
   <td align="right">53kB</td>
   <td><tt>2b67fb16fcc2ecc0a21d0c5604489b3d21f4a56936453bf016c7baead4e00404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/oxygen-5.8.8.tar.xz">oxygen-5.8.8</a></td>
   <td align="right">4.2MB</td>
   <td><tt>3bacbe14b54ba817bd86ea560ec4137afb8523b99e123808ca84210a6cda8380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/plasma-desktop-5.8.8.tar.xz">plasma-desktop-5.8.8</a></td>
   <td align="right">6.1MB</td>
   <td><tt>c0076ea27a7e03b4a252c5ba5c8c9a7ea5b35cedf61796f6cc2acb7bc5657998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/plasma-integration-5.8.8.tar.xz">plasma-integration-5.8.8</a></td>
   <td align="right">49kB</td>
   <td><tt>50100e5afaa5e75851847d18f9a8a8c1ad88bfa5a5696d309e41bddd0a33a98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/plasma-nm-5.8.8.tar.xz">plasma-nm-5.8.8</a></td>
   <td align="right">649kB</td>
   <td><tt>da4847ac5c248cdcf8e7c3ec92375d6770b13235469016adb2e92b014fd29e39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/plasma-pa-5.8.8.tar.xz">plasma-pa-5.8.8</a></td>
   <td align="right">69kB</td>
   <td><tt>cb8b829fac20cc3e1a34db3fd6af6c758010d9334fa722cf298e796341b9fbb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/plasma-sdk-5.8.8.tar.xz">plasma-sdk-5.8.8</a></td>
   <td align="right">708kB</td>
   <td><tt>6c6d25443754855a64eb0c736e586204d8f25b0776f42c6cfc686aa5ea8813df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/plasma-tests-5.8.8.tar.xz">plasma-tests-5.8.8</a></td>
   <td align="right">1kB</td>
   <td><tt>b80de67a5761737f20e40be4d84e72fa5febc0ac52d6218dd4b4321db88af02d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/plasma-workspace-5.8.8.tar.xz">plasma-workspace-5.8.8</a></td>
   <td align="right">6.6MB</td>
   <td><tt>f3b367366d7035f49e098cd515ccc9a67cbe8f204102030667c75fea62bb8f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/plasma-workspace-wallpapers-5.8.8.tar.xz">plasma-workspace-wallpapers-5.8.8</a></td>
   <td align="right">43MB</td>
   <td><tt>7e4a168136aa5de4349f367401e198ac4d2ced3abbceec3bb7b33ac53fbe5651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/polkit-kde-agent-1-5.8.8.tar.xz">polkit-kde-agent-1-5.8.8</a></td>
   <td align="right">40kB</td>
   <td><tt>d5cf1968f5bcc2cc7681522f8bfe3c9ffd27c2adf9b4ea868384ce975f341958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/powerdevil-5.8.8.tar.xz">powerdevil-5.8.8</a></td>
   <td align="right">350kB</td>
   <td><tt>84da97b86bc2cba20a08678dc3549b49cef68f31565cc134951fc655056ac489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/sddm-kcm-5.8.8.tar.xz">sddm-kcm-5.8.8</a></td>
   <td align="right">48kB</td>
   <td><tt>a459685a81ce25fb3c50f2d4e8674862e8c516b06a80957031984b586f43719d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/systemsettings-5.8.8.tar.xz">systemsettings-5.8.8</a></td>
   <td align="right">155kB</td>
   <td><tt>6b24cd44fdf04e36697ac18ae7f98e7a4b69dc5c1be7b61c209f9720b72471a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.8/user-manager-5.8.8.tar.xz">user-manager-5.8.8</a></td>
   <td align="right">531kB</td>
   <td><tt>7d93cb0c499ede29d3b36af877cf621a009e469e6dbf88c78999e34dd101d243</tt></td>
</tr>

</table>
