<div class="d-flex gap-3 mb-5">
  {{- $theme := cond (isset .Params "dark") "dark" "light" -}}
  {{- $centered := isset .Params "centered" -}}

  {{- with .Get "download" }}<a href="{{ . }}" class="btn btn-{{ $theme }} btn-lg {{ if $centered }}ms-auto{{ end }}">{{ i18n "get-it" }}</a>{{ end -}}
  {{- with .Get "fund" }}<a href="{{ . }}" class="btn btn-outline-{{ $theme }} btn-lg">{{ i18n "fund-it" }}</a>{{ end -}}
  {{- with .Get "learn" }}<a href="{{ . }}" class="btn btn-outline-{{ $theme }} btn-lg {{ if $centered }}me-auto{{ end }}">{{ i18n "learn-more" }}</a>{{ end -}}
</div>
